Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

[fix] corrected region identifier in readme and added multi-region explanation to README
  examples/science/af3-slurm/README.md
Due: addlicense

Remove redundant http provider from kubectl apply
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/providers.tf
  modules/management/kubectl-apply/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix Ubuntu and Debian Chrome Remote Desktop solutions after #4167
  community/modules/remote-desktop/chrome-remote-desktop/scripts/configure-grid-drivers.yml
Due: addlicense

fix permissions for compute_sa, disable public ips
  examples/hpc-enterprise-slurm.yaml
Due: addlicense

Added Verbose flag in the Integration tests in test-gke-a3-mega.yml file
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-mega.yml
Due: addlicense

make integration test logs verbose
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-mega.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-ultra.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a4.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-cluster-provisioning.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-job.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-managed-hyperdisk.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-managed-parallelstore.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-ray.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-ml-gke-e2e-validation.yml
Due: addlicense

replace extended_reservation with reservation for TPU
  community/examples/gke-tpu-v6/README.md
  community/examples/gke-tpu-v6/gke-tpu-v6-deployment.yaml
  community/examples/gke-tpu-v6/gke-tpu-v6.yaml
Due: addlicense

deprecate imex and dra driver manifests
  modules/management/kubectl-apply/manifests/gpu-operator-crd-v25.3.0.yaml
  modules/management/kubectl-apply/manifests/gpu-operator-namespace-v25.3.0.yaml
  modules/management/kubectl-apply/manifests/gpu-operator-v25.3.0.yaml
  modules/management/kubectl-apply/manifests/imex.yaml
  modules/management/kubectl-apply/manifests/nvidia-dra-driver.yaml
Due: addlicense

Add gke a4x blueprint and related configs
  examples/gke-a4x/README.md
  examples/gke-a4x/gke-a4x-deployment.yaml
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-a4x/imex.yaml
  examples/gke-a4x/kueue-configuration.yaml.tftpl
  examples/gke-a4x/mglru-disable.yaml
  examples/gke-a4x/nccl-rdma-installer.yaml
  examples/gke-a4x/nvidia-dra-driver.yaml
Due: duplicate-diff, addlicense

Fix indentation
  examples/gke-a4x/nccl-rdma-installer.yaml
Due: addlicense

Update validation config
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Improve handling of unexpected values for `upcomingMaintenance`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

[fix] added missing apptainer_cloudbuild.yaml and related README
  examples/science/af3-slurm/README.md
  examples/science/af3-slurm/adm/apptainer_cloudbuild.yaml
Due: addlicense

[fix] performance wording adjusted
  examples/science/af3-slurm/README.md
Due: addlicense

[fix] wrong path in simple_service_launcher/README.md fixed
  examples/science/af3-slurm/examples/simple_service_launcher/README.md
Due: addlicense

[fix] added step to switch to 'cloudnext25' branch in README
  examples/science/af3-slurm/README.md
Due: addlicense

[fix] corrected paths for deployment in README
  examples/science/af3-slurm/README.md
Due: addlicense

fix: corrected path in README
  examples/science/af3-slurm/examples/simple_service_launcher/README.md
Due: addlicense

fix: added forward reference to launcher examples in README
  examples/science/af3-slurm/README.md
Due: addlicense

Improve Slurm tests
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  tools/python-integration-tests/deployment.py
  tools/python-integration-tests/slurm_reconfig_size.py
  tools/python-integration-tests/slurm_simple_job_completion.py
  tools/python-integration-tests/slurm_topology.py
  tools/python-integration-tests/ssh.py
  tools/python-integration-tests/test.py
Due: addlicense

Improve API consumption while `_handle_bulk_insert_op`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Update readme
  examples/gke-a4x/README.md
Due: addlicense

Fix test-gke-a2-highgpu-kueue
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue.yml
Due: addlicense

Update readme and gke a4x blueprint
  examples/gke-a4x/README.md
  examples/gke-a4x/gke-a4x.yaml
Due: addlicense

add authorized_cidr to deployment vars in gke integration tests
  tools/cloud-build/daily-tests/tests/gke-inactive-reservation.yml
  tools/cloud-build/daily-tests/tests/gke.yml
Due: addlicense

add jobset for a4x
  examples/gke-a4x/nccl-jobset-example.yaml
Due: addlicense

Fixing the missing comma between the mount_options config for gcs A3U and A4
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
Due: addlicense

add persistence to A3 Mega
  examples/machine-learning/a3-megagpu-8g/deployment-image-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu-cluster.yml
Due: addlicense

Remove comments from gcs-checkpointing mount options for A3U and A4 as they don't get parsed correctly.
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
Due: addlicense

feat: add skip_reservation_validation option to schedmd-slurm-gcp-v6-nodeset
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  examples/hpc-slurm-static.yaml
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-gcsfuse-lssd-cluster.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-vm.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/README.md
  tools/validate_configs/golden_copies/expectations/igc_tf/one/README.md
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/README.md
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/README.md
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Avoid "drop user" noise in setup.log
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

Fix the fio-bench-job-template
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
Due: addlicense

cleanup gcs fuse blueprint and fix fio-job-template permission issues
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
Due: addlicense

speed up deployment of GKE clusters
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE: local development environment
  community/front-end/ofe/README.md
  community/front-end/ofe/deploy.sh
  community/front-end/ofe/docs/developer_guide.md
  community/front-end/ofe/docs/local_development.md
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/front-end/ofe/script/local_setup.sh
  community/front-end/ofe/website/ghpcfe/adapters.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/c2.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/cloud_info.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/filesystem.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/image.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/mock_cloud_data.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/utils.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/validate_credential.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/vpc.py
  community/front-end/ofe/website/ghpcfe/context_processors.py
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/grafana.py
  community/front-end/ofe/website/ghpcfe/models.py
  community/front-end/ofe/website/ghpcfe/templates/base_generic.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/list.html
  community/front-end/ofe/website/ghpcfe/templates/credential/create_form.html
  community/front-end/ofe/website/ghpcfe/templates/credential/update_form.html
  community/front-end/ofe/website/ghpcfe/templates/vpc/virtual_subnet.html
  community/front-end/ofe/website/ghpcfe/views/asyncview.py
  community/front-end/ofe/website/ghpcfe/views/vpc.py
  community/front-end/ofe/website/templates/registration/login.html
  community/front-end/ofe/website/website/settings.py
Due: duplicate-diff, addlicense

fix for Docker install script on Rocky
  modules/scripts/startup-script/files/install_docker.yml
Due: addlicense

pre-commit
  community/front-end/ofe/deploy.sh
  community/front-end/ofe/docs/local_development.md
  community/front-end/ofe/script/local_setup.sh
  community/front-end/ofe/website/ghpcfe/cluster_manager/mock_cloud_data.py
Due: duplicate-diff, addlicense

refactor a3m slurm ubuntu solutions into 1 blueprint
  examples/machine-learning/a3-megagpu-8g/README.md
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-deployment.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/debian/README.md
  examples/machine-learning/a3-megagpu-8g/debian/deployment-base.yaml
  examples/machine-learning/a3-megagpu-8g/debian/deployment-image-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/debian/slurm-a3mega-base.yaml
  examples/machine-learning/a3-megagpu-8g/debian/slurm-a3mega-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-gcsfuse-lssd-cluster.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-cluster.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu-image.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

updating a3m lssd slurm blueprint
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
Due: addlicense
