Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.76.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: ['terraform']
    exclude: \.terraform\/.*$
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    pass_filenames: true
    require_serial: true
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-lint
  - id: go-imports
  - id: go-cyclo
    args: [-over=15]
  - id: go-unit-tests
  - id: go-build
  - id: go-mod-tidy
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
  - id: go-critic
    args: [-disable, "#experimental,sloppyTypeAssert"]
- repo: https://github.com/ansible/ansible-lint.git
  rev: v5.4.0
  hooks:
  - id: ansible-lint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.28.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.8
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: end-of-file-fixer

Add boot-time Windows config script for HTCondor
  community/modules/scheduler/htcondor-configure/README.md
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/outputs.tf
  community/modules/scheduler/htcondor-configure/templates/download-condor-config.ps1.tftpl
Due: terraform-readme

Ensure stability of HTCondor execute points
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
Due: terraform-readme

Add blueprint validation to tutorials and video blueprints
  tools/validate_configs/validate_configs.sh
Due: none

Convert spack-install script to ansible
  community/modules/scripts/spack-install/README.md
  community/modules/scripts/spack-install/main.tf
  community/modules/scripts/spack-install/scripts/install_spack_deps.yml
  community/modules/scripts/spack-install/templates/install_spack.tpl
  community/modules/scripts/spack-install/templates/spack_setup.yml.tpl
  community/modules/scripts/spack-install/variables.tf
Due: terraform-readme

Refactor ramble and spack install to share code
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/ramble-setup/templates/ramble_setup.yml.tpl
  community/modules/scripts/spack-install/main.tf
  community/modules/scripts/spack-install/templates/spack_setup.yml.tpl
  tools/duplicate-diff.py
Due: terraform-readme

Feedback #1531: no string compare, file rename, conditional profile, var naming
  .pre-commit-config.yaml
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/ramble-setup/templates/ramble_setup.yml.tftpl
  community/modules/scripts/spack-install/main.tf
  community/modules/scripts/spack-install/templates/spack_setup.yml.tftpl
  tools/duplicate-diff.py
Due: terraform-readme

gvnic not supported by ubuntu_containerd
  community/modules/compute/gke-node-pool/main.tf
Due: terraform-readme

rename ephemeral_storage_local_ssd_count -> local_ssd_count_ephemeral_storage
  community/modules/compute/gke-node-pool/README.md
  community/modules/compute/gke-node-pool/main.tf
  community/modules/compute/gke-node-pool/variables.tf
Due: terraform-readme

Include GCESysPrep in Windows image shutdown script
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme

Modify execute point IDTOKEN creation
  community/modules/scheduler/htcondor-configure/README.md
  community/modules/scheduler/htcondor-configure/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/outputs.tf
Due: terraform-readme

Disable dependabot OFE version update PRs
  .github/dependabot.yml
Due: none

Add boot-time IDTOKEN support to Windows-based HTCondor execute points
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/templates/download-condor-config.ps1.tftpl
Due: terraform-readme

Disable dependabot OFE version update PRs (#1547)
  .github/dependabot.yml
Due: none

Add Cloud hook configuration to Windows-based HTCondor execute points
  community/modules/scheduler/htcondor-configure/templates/download-condor-config.ps1.tftpl
  community/modules/scripts/htcondor-install/templates/install-htcondor.ps1.tftpl
Due: none

Select HTCondor node name attribute in Windows and Linux compatible fashion
  community/modules/scripts/htcondor-install/files/autoscaler.py
Due: none

Improve timestamp in HTCondor autoscaler logs
  community/modules/scripts/htcondor-install/files/autoscaler.py
Due: none

Update HTCondor tutorial
  docs/tutorials/htcondor.md
Due: none

Version update 1.19.1 -> 1.20.0
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-configure/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme

Version update 1.19.1 -> 1.20.0 (#1550)
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-configure/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme

Update Django 4.2.2 -> 4.2.3
  community/front-end/ofe/requirements.txt
Due: none

Restrict VM-instance network variables validation
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
Due: terraform-readme

Update Django 4.2.2 -> 4.2.3 (#1552)
  community/front-end/ofe/requirements.txt
Due: none

Update Slurm `var.disk_type` validation
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
Due: terraform-readme

Update Slurm `var.disk_type` validation (#1532)
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
Due: terraform-readme

Remove "null by ommiting value" from blueprints
  community/examples/hpc-slurm-local-ssd.yaml
  pkg/config/yaml.go
  pkg/config/yaml_test.go
  tools/validate_configs/test_configs/complex-data.yaml
  tools/validate_configs/test_configs/rocky-ss.yaml
  tools/validate_configs/test_configs/ubuntu-ss.yaml
Due: none

NVMe block storage
  community/modules/compute/gke-node-pool/README.md
  community/modules/compute/gke-node-pool/main.tf
  community/modules/compute/gke-node-pool/variables.tf
Due: terraform-readme

Fixes
  community/examples/hpc-slurm-local-ssd.yaml
  pkg/config/yaml_test.go
Due: none

Address comments
  modules/compute/vm-instance/main.tf
Due: terraform-readme

Remove "null by omitting value" from blueprints (#1555)
  community/examples/hpc-slurm-local-ssd.yaml
  pkg/config/yaml.go
  pkg/config/yaml_test.go
  tools/validate_configs/test_configs/complex-data.yaml
  tools/validate_configs/test_configs/rocky-ss.yaml
  tools/validate_configs/test_configs/ubuntu-ss.yaml
Due: none

Restrict VM-instance network variables validation (#1553)
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
Due: terraform-readme

Update google provider -> 4.73.0
  pkg/modulewriter/tfversions.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
Due: terraform-readme

Do not use network when explicitly setting network_interfaces
  community/examples/htc-htcondor.yaml
Due: none

Allow usage of expressions in `Blueprint.Vars` and references to other `vars`. (#1563)
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/dict.go
  pkg/config/expand.go
  pkg/config/expression.go
  pkg/config/validate.go
Due: none

Initial commit of HTCondor windows install script
  community/modules/scripts/htcondor-install/README.md
  community/modules/scripts/htcondor-install/main.tf
  community/modules/scripts/htcondor-install/outputs.tf
  community/modules/scripts/htcondor-install/templates/install-htcondor.ps1.tftpl
Due: terraform-readme

Cleanup unparsable HTCondor example job
  community/examples/htc-htcondor.yaml
Due: none
