Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Align variable name around gcluster to avoid mismatch
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/gather_startup_script_logs.yml
Due: addlicense

duplication fix
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
Due: addlicense

Copy `script_nodes.py` along slurm binaries (`/usr/local/bin`)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/sort_nodes.py
Due: addlicense

Add setting `allow_automatic_updates: false` to examples
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/client-google-cloud-storage.yaml
  community/examples/hpc-build-slurm-image.yaml
  community/examples/hpc-slurm-gromacs.yaml
  community/examples/hpc-slurm-local-ssd.yaml
  community/examples/hpc-slurm-ramble-gromacs.yaml
  community/examples/hpc-slurm-sharedvpc.yaml
  community/examples/hpc-slurm6-apptainer.yaml
  community/examples/hpc-slurm6-tpu-maxtext.yaml
  community/examples/htc-htcondor.yaml
  community/examples/htc-slurm.yaml
  community/examples/omnia-cluster.yaml
  community/examples/tutorial-fluent.yaml
  community/examples/tutorial-starccm.yaml
  examples/cae/cae-slurm.yaml
  examples/hcls-blueprint.yaml
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm-static.yaml
  examples/hpc-slurm.yaml
  examples/image-builder.yaml
  examples/pfs-lustre.yaml
  examples/ps-slurm.yaml
  examples/serverless-batch-mpi.yaml
  examples/serverless-batch.yaml
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/variables.tf
  tools/cloud-build/daily-tests/tests/slurm-v6-centos7.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Build is taking longer, extend timeout so test will pass while investigating
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
Due: addlicense

link changed in examples readme doc
  examples/README.md
Due: addlicense

Remove redundant pip install for pytest
  Makefile
Due: addlicense

SlurmGCP. Minor refactoring.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

SlurmGCP. Stop using global mutable `lkp`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/get_tpu_vmcount.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/load_bq.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Bump version from v1.37.2 to v1.38.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

SlurmGCP. Fetch config once during setup.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Update batch-job-template image to hpc-rocky-linux-8
  examples/serverless-batch.yaml
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Make controller to depend on "devel" only
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "Remove `docs/slurm-dws-flex.md`"
  docs/slurm-dws-flex.md
Due: addlicense

Fix bug of suppliying different `instance_properties`
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Merge pull request #2885 from GoogleCloudPlatform/dependabot/pip/community/front-end/ofe/django-4.2.15
  community/front-end/ofe/requirements.txt
Due: addlicense

SlurmGCP. Fix typo-bug `lookup -> lookup()`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
Due: addlicense

use preconditions for validating different variables together
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE: new go version released has moved previous package to archive. update to download url
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
Due: duplicate-diff, addlicense

Add dependabot scanning for Slurm v6 Controller module
  .github/dependabot.yml
Due: addlicense

Update `grpcio` to 1.56.2 and `requests` to 2.32.0
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
Due: addlicense

Add reservation support in slurm sync for scheduled maintenance
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Roll back changes in go.mod to release v1.37.2
  go.mod
  go.sum
Due: addlicense

Update permissions for local SSD mounts to allow non-superuser write access
  community/examples/hpc-slurm-local-ssd-v5-legacy.yaml
  community/examples/hpc-slurm-local-ssd.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
Due: addlicense

Store nodeset and partition config in separate files
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

SlurmGCP. Fix `datetime` usage.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
Due: addlicense

SlurmGCP. Store TPU and dynamic nodesets configs in separate files
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

SlurmGCP. Fetch GCS blobs once
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

An output enable_multi_networking added to multivpc module.
  modules/network/multivpc/README.md
  modules/network/multivpc/outputs.tf
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Upgrade to DAOS 2.6, skip installation if already installed
  modules/file-system/parallelstore/scripts/install-daos-client.sh
  modules/file-system/pre-existing-network-storage/scripts/install-daos-client.sh
Due: duplicate-diff, addlicense

Add RHEL support
  modules/file-system/parallelstore/scripts/install-daos-client.sh
  modules/file-system/pre-existing-network-storage/scripts/install-daos-client.sh
Due: duplicate-diff, addlicense

Change dependabot Golang package version update to monthly
  .github/dependabot.yml
Due: addlicense

Update A3H instructions: Python dependencies are no longer needed for v6
  examples/machine-learning/a3-highgpu-8g/README.md
Due: addlicense

Update parallelstore documentation to add section for supported operating systems
  modules/file-system/parallelstore/README.md
Due: addlicense

adding optional fields to redirect use of embedded modules to pull from github with versioned tags
  pkg/config/config.go
  pkg/config/expand.go
Due: addlicense

SlurmGCP. Clean up `get_nodes_status`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
Due: addlicense

Add `TopologySummary` to track changes to topology
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/requirements.txt
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_topology.py
Due: addlicense

Add physical topo. Update rules to trigger reconfiguration
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_topology.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense
