Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Babysit. Colorize output
  tools/cloud-build/babysit/cli_ui.py
  tools/cloud-build/babysit/runner.py
Due: addlicense

Trim SlurmGCP `instanceProperties`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: addlicense

SlurmGCP.setup don't take a `slurmd_feature` as an argument
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

TPU. Update JAX version and run in venv
  tools/cloud-build/daily-tests/ansible_playbooks/test-slurm-v6-tpu.yml
Due: addlicense

Remove `tests` from devel archive
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Move daos agent log to /var/log/daos_agent/
  modules/file-system/pre-existing-network-storage/scripts/install-daos-client.sh
Due: duplicate-diff, addlicense

Make user_managed_replication optional
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Make H3 partition default
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm.yaml
Due: addlicense

Babysit. Use short URL if using `hpc-toolkit-dev`
  tools/cloud-build/babysit/cli_ui.py
  tools/cloud-build/babysit/runner.py
Due: addlicense

Add local ssd RAID0 startup script
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/files/setup-raid.yml
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/variables.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update uses of HPC to include AI/ML
  README.md
  cmd/README.md
  modules/README.md
  tools/cloud-build/daily-tests/README.md
Due: addlicense

Also install the ghpc symlink to maintain parity
  Makefile
Due: addlicense

support for min_cpu_platform usage
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Apply suggestions to avoid inclusion in all instances of startup-script
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Roll version number to v1.37.0
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/pre-existing-gke-cluster/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update workflows to reference cluster-toolkit
  .github/workflows/dependency-review.yml
  .github/workflows/pr-label-validation.yml
Due: addlicense

Update to SlurmGCP 6.6.0
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/hpc-slurm-ubuntu2004.yaml
  community/examples/hpc-slurm6-apptainer.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  examples/cae/cae-slurm.yaml
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm-static.yaml
  examples/image-builder.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
  examples/ml-slurm.yaml
  tools/cloud-build/daily-tests/blueprints/lustre-slurm.yaml
  tools/cloud-build/daily-tests/tests/slurm-v6-centos7.yml
  tools/cloud-build/daily-tests/tests/slurm-v6-debian.yml
  tools/validate_configs/test_configs/node-groups.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update documentation to reflect rebrand to Cluster Toolkit
  README.md
  community/front-end/ofe/docs/admin_guide.md
  docs/tutorials/fsi-montecarlo-on-batch/README.md
  docs/videos/healthcare-and-life-sciences/README.md
  docs/videos/healthcare-and-life-sciences/lysozyme-example/README.md
  examples/cae/README.md
  examples/machine-learning/a3-highgpu-8g/README.md
Due: addlicense

Babysit. Make CLI UI less verbose
  tools/cloud-build/babysit/cli_ui.py
  tools/cloud-build/babysit/runner.py
Due: addlicense

Update integration tests to use gcluster
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/htcondor-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/multigroup-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_gcluster_failure.yml
Due: addlicense

SlurmGCP move to 5.12
  community/examples/AMD/hpc-amd-slurm-v5-legacy.yaml
  community/examples/hpc-slurm-chromedesktop-v5-legacy.yaml
  community/examples/hpc-slurm-ubuntu2004-v5-legacy.yaml
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  docs/hybrid-slurm-cluster/demo-with-cloud-controller-instructions.md
  docs/hybrid-slurm-cluster/deploy-instructions.md
  docs/hybrid-slurm-cluster/on-prem-instructions.md
  docs/image-building.md
  examples/cae/cae-slurm-v5-legacy.yaml
  examples/hpc-enterprise-slurm-v5-legacy.yaml
  examples/image-builder-v5-legacy.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
  examples/ml-slurm-v5-legacy.yaml
  tools/cloud-build/daily-tests/blueprints/lustre-slurm-v5-legacy.yaml
  tools/cloud-build/daily-tests/tests/slurm-v5-debian.yml
  tools/cloud-build/daily-tests/tests/slurm-v5-rocky8.yml
  tools/validate_configs/test_configs/node-groups-v5-legacy.yaml
  tools/validate_configs/test_configs/slurm-static-test-v5-legacy.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Stop using SlurmgGCP nodeset module
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Make user_managed_replication default to []
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Moving user_managed_replication to another locals block
  community/modules/database/slurm-cloudsql-federation/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Applying fmt
  community/modules/database/slurm-cloudsql-federation/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

comment placement
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm.yaml
Due: addlicense

Point to the moved repo
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/pr-go-build-test.tf
  tools/cloud-build/provision/pr-ofe-test.tf
  tools/cloud-build/provision/pr-ofe.tf
  tools/cloud-build/provision/pr-tests.tf
  tools/cloud-build/provision/pr-validation.tf
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Improve error handling in install-daos-client.sh script
  modules/file-system/parallelstore/scripts/install-daos-client.sh
Due: duplicate-diff, addlicense

Improve error handling in pre-existing-ns install-daos-client.sh script
  modules/file-system/pre-existing-network-storage/scripts/install-daos-client.sh
Due: duplicate-diff, addlicense

Add `instance_properties` var to `nodeset`
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Creates the log dir with -p to make it bullet proof.
  modules/file-system/parallelstore/scripts/install-daos-client.sh
Due: duplicate-diff, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
