Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Fix(slurm): resolve KeyError control_host in slurmdbd config templates (#5765)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
Due: addlicense

fix: add null check for controller_state_disk
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

feat(compute/slurm): enable reservation subblock support in nodeset module
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix regex
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix: escape swarnabm in image-builder to resolve toolkit reference error
  examples/image-builder.yaml
Due: addlicense

update code
  examples/image-builder.yaml
Due: addlicense

update readme
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
Due: addlicense

restrict cpu and memory check to only pathways job
  pkg/orchestrator/gke/gke_job_orchestrator.go
Due: addlicense

restrict cpu and memory check to only pathways job (#5769)
  pkg/orchestrator/gke/gke_job_orchestrator.go
Due: addlicense

feat(gke): expose network_policy as a variable
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(daily-tests): Update CHS config command syntax
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
Due: addlicense

fix(daily-tests): Update CHS config command syntax (#5773)
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
Due: addlicense

test a3m changes
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-onspot-slurm-ubuntu.yml
Due: addlicense

Address gemini comments
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

nit
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

refactor
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

feat: add hostname
  examples/image-builder.yaml
Due: addlicense

Enhance Slurm-GCP resilience to capacity constraints and quota errors
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/error_handler.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix: escape $(hostname -s) in image-builder to resolve toolkit reference error (#5777)
  examples/image-builder.yaml
Due: addlicense

address comments
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

fix regex
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

Address comments
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

Batching wait of jobs to avoid sequential delays
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: addlicense

deprecate ML Diagnostics module
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v6e/README.md
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-tpu-v6e/ml-diagnostics-sample-workload-test/Dockerfile
  examples/gke-tpu-v6e/ml-diagnostics-sample-workload-test/README.md
  examples/gke-tpu-v6e/ml-diagnostics-sample-workload-test/sample_job.yaml
  examples/gke-tpu-v6e/ml-diagnostics-sample-workload-test/sample_workload/sample_workload.py
  modules/management/mldiagnostics/README.md
  modules/management/mldiagnostics/main.tf
  modules/management/mldiagnostics/metadata.yaml
  modules/management/mldiagnostics/outputs.tf
  modules/management/mldiagnostics/providers.tf
  modules/management/mldiagnostics/variables.tf
  modules/management/mldiagnostics/versions.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/metadata.yaml
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/gke-cluster/variables.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-ml-diagnostics.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

deprecate ML Diagnostics module
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(ofe): add alt text to template images for accessibility
  community/front-end/ofe/website/ghpcfe/templates/application/container_detail.html
  community/front-end/ofe/website/ghpcfe/templates/application/detail.html
  community/front-end/ofe/website/ghpcfe/templates/application/list.html
  community/front-end/ofe/website/ghpcfe/templates/application/log.html
  community/front-end/ofe/website/ghpcfe/templates/application/spack_detail.html
  community/front-end/ofe/website/ghpcfe/templates/base_generic.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/detail.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/list.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/log.html
  community/front-end/ofe/website/ghpcfe/templates/credential/list.html
  community/front-end/ofe/website/ghpcfe/templates/filesystem/filestore_detail.html
  community/front-end/ofe/website/ghpcfe/templates/filesystem/list.html
  community/front-end/ofe/website/ghpcfe/templates/image/list.html
  community/front-end/ofe/website/ghpcfe/templates/job/detail.html
  community/front-end/ofe/website/ghpcfe/templates/job/list.html
  community/front-end/ofe/website/ghpcfe/templates/registry/_container_rows.html
  community/front-end/ofe/website/ghpcfe/templates/registry/detail.html
  community/front-end/ofe/website/ghpcfe/templates/registry/list.html
  community/front-end/ofe/website/ghpcfe/templates/vpc/detail.html
  community/front-end/ofe/website/ghpcfe/templates/vpc/list.html
  community/front-end/ofe/website/ghpcfe/templates/workbench/detail.html
  community/front-end/ofe/website/ghpcfe/templates/workbench/list.html
  community/front-end/ofe/website/ghpcfe/templates/workbench/update.html
Due: addlicense

docs: fix typos flagged by codespell
  community/front-end/ofe/website/ghpcfe/views/credentials.py
  examples/machine-learning/build-service-images/build.sh
  modules/compute/gke-node-pool/reservation_definitions.tf
  tools/cloud-build/provision/list_tests.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update documentation
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-v6e/README.md
Due: addlicense

fix(ofe): address review feedback on image alt text
  community/front-end/ofe/website/ghpcfe/templates/application/container_detail.html
  community/front-end/ofe/website/ghpcfe/templates/application/detail.html
  community/front-end/ofe/website/ghpcfe/templates/application/list.html
  community/front-end/ofe/website/ghpcfe/templates/application/log.html
  community/front-end/ofe/website/ghpcfe/templates/application/spack_detail.html
  community/front-end/ofe/website/ghpcfe/templates/base_generic.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/detail.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/list.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/log.html
  community/front-end/ofe/website/ghpcfe/templates/filesystem/filestore_detail.html
  community/front-end/ofe/website/ghpcfe/templates/filesystem/list.html
  community/front-end/ofe/website/ghpcfe/templates/image/list.html
  community/front-end/ofe/website/ghpcfe/templates/job/detail.html
  community/front-end/ofe/website/ghpcfe/templates/job/list.html
  community/front-end/ofe/website/ghpcfe/templates/registry/_container_rows.html
  community/front-end/ofe/website/ghpcfe/templates/registry/detail.html
  community/front-end/ofe/website/ghpcfe/templates/registry/list.html
  community/front-end/ofe/website/ghpcfe/templates/vpc/detail.html
  community/front-end/ofe/website/ghpcfe/templates/vpc/list.html
  community/front-end/ofe/website/ghpcfe/templates/workbench/detail.html
  community/front-end/ofe/website/ghpcfe/templates/workbench/list.html
  community/front-end/ofe/website/ghpcfe/templates/workbench/update.html
Due: addlicense

fix(ofe): close malformed </table> tags in image/list.html
  community/front-end/ofe/website/ghpcfe/templates/image/list.html
Due: addlicense

refactor(cmd): move expand helpers from create.go to expand.go
  cmd/create.go
  cmd/expand.go
Due: addlicense

fix(ofe): associate form labels and fix empty link for accessibility
  community/front-end/ofe/website/ghpcfe/templates/cluster/list.html
  community/front-end/ofe/website/ghpcfe/templates/filesystem/list.html
  community/front-end/ofe/website/ghpcfe/templates/registry/list.html
  community/front-end/ofe/website/ghpcfe/templates/vpc/list.html
  community/front-end/ofe/website/ghpcfe/templates/workbench/list.html
Due: addlicense

Support new mtls endpoints for overrides
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/scripts/cleanup_compute.sh
  modules/packer/custom-image/image.pkr.hcl
Due: packer-readme, duplicate-diff, addlicense

Update golden copies
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: none

Support custom mTLS Endpoint Overrides for Slurm (#5784)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/scripts/cleanup_compute.sh
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme, duplicate-diff, addlicense

(GKE) Remove ML Diagnostics module (#5748)
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v6e/README.md
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-tpu-v6e/ml-diagnostics-sample-workload-test/Dockerfile
  examples/gke-tpu-v6e/ml-diagnostics-sample-workload-test/README.md
  examples/gke-tpu-v6e/ml-diagnostics-sample-workload-test/sample_job.yaml
  examples/gke-tpu-v6e/ml-diagnostics-sample-workload-test/sample_workload/sample_workload.py
  modules/management/mldiagnostics/README.md
  modules/management/mldiagnostics/main.tf
  modules/management/mldiagnostics/metadata.yaml
  modules/management/mldiagnostics/outputs.tf
  modules/management/mldiagnostics/providers.tf
  modules/management/mldiagnostics/variables.tf
  modules/management/mldiagnostics/versions.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/metadata.yaml
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/gke-cluster/variables.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-ml-diagnostics.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update base image driver to 580 in a3m and a4x blueprint (#5484)
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
Due: addlicense

enable subslicing for TPUs
  pkg/config/hardware.go
  pkg/config/hardware_test.go
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/resource_resolver.go
  pkg/orchestrator/gke/resource_resolver_test.go
  pkg/orchestrator/gke/scheduling.go
  pkg/orchestrator/gke/scheduling_test.go
  pkg/orchestrator/gke/types.go
Due: addlicense
