Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

fix(test): update get_real_rack and get_slurm_rack with robust retries
  tools/python-integration-tests/slurm_topology.py
Due: addlicense

fix: improve tcpx kernel detection logic, add non-interactive apt install
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

chore: update A3 highgpu README with TCPX kernel details
  examples/machine-learning/a3-highgpu-8g/README.md
Due: addlicense

feat(gke): Unify A3 Mega blueprint with dynamic consumption models and align daily integration tests (#6068)
  examples/dws-sample-workloads/dws-queues.yaml.tftpl
  examples/dws-sample-workloads/sample-job-flex-queue.yaml
  examples/dws-sample-workloads/sample-job-flex.yaml
  examples/gke-a3-megagpu/README.md
  examples/gke-a3-megagpu/gke-a3-megagpu-deployment.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  examples/gke-a3-megagpu/nccl-jobset-flex-queue.yaml
  examples/gke-a3-megagpu/nccl-jobset-flex.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
  tools/cloud-build/daily-tests/builds/gke-g4.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-highgpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu-onspot.yml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
  tools/cloud-build/daily-tests/tests/gke-g4.yml
  tools/cloud-build/daily-tests/tests/gke-h4d.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-jbvms.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Remove redundant daily tests build files
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
  tools/cloud-build/daily-tests/builds/gke-g4.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-highgpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
  tools/cloud-build/daily-tests/tests/gke-g4.yml
  tools/cloud-build/daily-tests/tests/gke-h4d.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-jbvms.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
Due: addlicense

feat: improve Kueue test reliability with batch Cloud Build status queries, dynamic project configuration, and corrected heredoc indentation.
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-reaper-pod.yaml
  tools/cloud-build/daily-tests/validate_kueue_tests.py
  tools/cloud-build/provision/apply_kueue_locks.sh
  tools/cloud-build/provision/kueue-locks.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(examples,docs): migrate e2 instances to n2d across blueprints and documentation (#6240)
  community/examples/client-google-cloud-storage.yaml
  community/examples/flux-framework/flux-cluster.yaml
  community/examples/gcloud-example.yaml
  community/examples/hpc-slinky/hpc-slinky.yaml
  community/examples/slurm-gke/slurm-gke.yaml
  community/examples/xpk-n2-filestore/xpk-n2-filestore.yaml
  community/front-end/ofe/tf/README.md
  community/front-end/ofe/tf/variables.tf
  community/modules/scheduler/slinky/README.md
  community/modules/scripts/gcloud/README.md
  examples/gke-a3-highgpu-inference-gateway.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-consumption-options/dws-flex-start-compact-placement/gke-h4d/gke-h4d.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu.yaml
  examples/gke-consumption-options/dws-flex-start/gke-a3-ultragpu.yaml
  examples/gke-g4/gke-g4.yaml
  examples/gke-h4d/gke-h4d.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/science/af3-slurm/README.md
  modules/README.md
  modules/compute/resource-policy/README.md
  pkg/telemetry/collector_test.go
  tools/validate_configs/os_compatibility_tests/vm-lustre.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove redundant daily tests build files (#6245)
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
  tools/cloud-build/daily-tests/builds/gke-g4.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-highgpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
  tools/cloud-build/daily-tests/tests/gke-g4.yml
  tools/cloud-build/daily-tests/tests/gke-h4d.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-jbvms.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
Due: addlicense

NetApp Volumes: mount large-capacity volumes via Cloud DNS
  community/examples/eda/README.md
  community/examples/eda/eda-all-on-cloud.yaml
  community/examples/eda/eda-hybrid-cloud.yaml
  docs/network_storage.md
  examples/README.md
  examples/netapp-volumes-slurm.yaml
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/dns.tf
  modules/file-system/netapp-volume/main.tf
  modules/file-system/netapp-volume/metadata.yaml
  modules/file-system/netapp-volume/outputs.tf
  modules/file-system/netapp-volume/variables.tf
  modules/file-system/pre-existing-network-storage/README.md
  modules/file-system/pre-existing-network-storage/variables.tf
  modules/network/dns-managed-zone/README.md
  modules/network/dns-managed-zone/main.tf
  modules/network/dns-managed-zone/outputs.tf
  modules/network/dns-managed-zone/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

refactor: migrate null_resource to terraform_data, add dependency checks to Kueue scripts, and improve validation robustness
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-reaper-pod.yaml
  tools/cloud-build/daily-tests/validate_kueue_tests.py
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/apply_kueue_locks.sh
  tools/cloud-build/provision/kueue-locks.tf
  tools/cloud-build/provision/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

address review comments
  community/examples/hpc-slurm-google-cloud-dedicated/hpc-slurm-google-cloud-dedicated.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

fix: improve Kueue test validation, file encoding, and cluster detection robustness
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-reaper-pod.yaml
  tools/cloud-build/daily-tests/validate_kueue_tests.py
  tools/cloud-build/provision/apply_kueue_locks.sh
  tools/cloud-build/provision/generate_kueue_locks.py
Due: duplicate-diff, addlicense

chore: update TCPX_KERNEL_VERSION syntax in a3high-slurm-blueprint
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

Rename folder
  community/examples/fsi/ibm-symphony-on-gce/.pre-commit-config.yaml
  community/examples/fsi/ibm-symphony-on-gce/README.md
  community/examples/fsi/ibm-symphony-on-gce/resources/google-ops-agent-config.yaml
  community/examples/fsi/ibm-symphony-on-gce/resources/hostProviderPlugins.json
  community/examples/fsi/ibm-symphony-on-gce/resources/hostProviders.json
  community/examples/fsi/ibm-symphony-on-gce/resources/hostRequestors.json
  community/examples/fsi/ibm-symphony-on-gce/resources/sym_mig_provider.py
  community/examples/fsi/ibm-symphony-on-gce/scripts/gcpgceinstprov_config_json.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/gcpgceinstprov_templates_json.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/google_ops_agent_config.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/hf-gce_symphony.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/hostfactoryconf_json.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/install_symphony.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/mig-templates.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/sym_compute.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/sym_master.sh
  community/examples/fsi/ibm-symphony-on-gce/symphony.yaml
  community/examples/fsi/ibm-symphony-on-gce/symphony_deployment.yaml
  community/examples/fsi/ibm-symphony-on-gcp/images/data_files.png
  community/examples/fsi/ibm-symphony-on-gke/README.md
  community/examples/fsi/ibm-symphony-on-gke/images/data_files.png
Due: duplicate-diff, addlicense

After first AI review
  community/examples/fsi/ibm-symphony-on-gce/.pre-commit-config.yaml
  community/examples/fsi/ibm-symphony-on-gce/scripts/hf-gce_symphony.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/install_symphony.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/mig-templates.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/sym_compute.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/sym_master.sh
  community/examples/fsi/ibm-symphony-on-gce/symphony.yaml
  community/examples/fsi/ibm-symphony-on-gke/.pre-commit-config.yaml
  community/examples/fsi/ibm-symphony-on-gke/README.md
  community/examples/fsi/ibm-symphony-on-gke/resources/Dockerfile.sym-compute
  community/examples/fsi/ibm-symphony-on-gke/resources/google-ops-agent-config.yaml
  community/examples/fsi/ibm-symphony-on-gke/scripts/hf-gke_symphony.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/install_symphony.sh
  community/examples/fsi/ibm-symphony-on-gke/symphony.yaml
Due: duplicate-diff, addlicense

README fix
  community/examples/fsi/ibm-symphony-on-gce/README.md
  community/examples/fsi/ibm-symphony-on-gke/README.md
Due: addlicense

README Updated
  community/examples/fsi/ibm-symphony-on-gce/README.md
  community/examples/fsi/ibm-symphony-on-gke/README.md
Due: addlicense

Update go.mod
  go.mod
Due: addlicense

feat(job): dynamically suggest Artifact Registry repositories on missing env var
  cmd/job/artifact_registry.go
  cmd/job/submit.go
  cmd/job/submit_test.go
Due: addlicense

chore: update cloud-sdk image to latest
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-reaper-pod.yaml
Due: addlicense

update terraform-provider version to >= 6.9.0, <= 8.0.0 (#6229)
  pkg/config/expand.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

use existing fn
  cmd/job/submit.go
Due: addlicense

using shell fn to extract region and improving build_context fn
  cmd/job/artifact_registry.go
  cmd/job/submit.go
Due: addlicense

Update Ramble repository cloning URL to https://github.com/Ramble-Project/ramble
  community/h4d-hpc-benchmarks/install-hpl-dependencies.sh
  community/modules/scripts/ramble-execute/README.md
  community/modules/scripts/ramble-setup/README.md
  community/modules/scripts/ramble-setup/variables.tf
  examples/gke-a3-ultragpu/system_benchmarks/README.md
  examples/gke-a3-ultragpu/system_benchmarks/ramble-hpl.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nccl.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nemo.yaml
  examples/machine-learning/a4-highgpu-8g/system_benchmarks/README.md
  examples/machine-learning/a4-highgpu-8g/system_benchmarks/run-nccl-tests-via-ramble.sh
  examples/machine-learning/a4x-highgpu-4g/system_benchmarks/README.md
  examples/machine-learning/a4x-highgpu-4g/system_benchmarks/run-nccl-tests-via-ramble.sh
  examples/machine-learning/a4x-maxgpu-4g-metal/system_benchmarks/README.md
  examples/machine-learning/a4x-maxgpu-4g-metal/system_benchmarks/run-nccl-tests-via-ramble.sh
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

using shell commands and gemini comments nit
  cmd/job/artifact_registry.go
  cmd/job/submit.go
Due: addlicense

Update Ramble repository cloning URL to https://github.com/Ramble-Project/ramble (#6250)
  community/h4d-hpc-benchmarks/install-hpl-dependencies.sh
  community/modules/scripts/ramble-execute/README.md
  community/modules/scripts/ramble-setup/README.md
  community/modules/scripts/ramble-setup/variables.tf
  examples/gke-a3-ultragpu/system_benchmarks/README.md
  examples/gke-a3-ultragpu/system_benchmarks/ramble-hpl.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nccl.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nemo.yaml
  examples/machine-learning/a4-highgpu-8g/system_benchmarks/README.md
  examples/machine-learning/a4-highgpu-8g/system_benchmarks/run-nccl-tests-via-ramble.sh
  examples/machine-learning/a4x-highgpu-4g/system_benchmarks/README.md
  examples/machine-learning/a4x-highgpu-4g/system_benchmarks/run-nccl-tests-via-ramble.sh
  examples/machine-learning/a4x-maxgpu-4g-metal/system_benchmarks/README.md
  examples/machine-learning/a4x-maxgpu-4g-metal/system_benchmarks/run-nccl-tests-via-ramble.sh
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

testing
  tools/cleanup.sh
  tools/cloud-build/project-cleanup.yaml
Due: duplicate-diff, addlicense

refactor: standardize deployment naming, add termination grace period, and improve test lock and rescue task configuration
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_gcluster_failure.yml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/vm-storage.yaml
  tools/cloud-build/provision/generate_kueue_locks.py
Due: addlicense

fix: add error handling for TCPX kernel version lookup
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

Add missing changes
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/trigger_failure_triage_agent.yml
  tools/cloud-build/daily-tests/builds/ansible-vm.yaml
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop.yaml
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x-max-bm.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/builds/hcls.yaml
  tools/cloud-build/daily-tests/builds/hpc-build-slurm-image.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/htcondor.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm.yaml
  tools/cloud-build/daily-tests/builds/monitoring.yaml
  tools/cloud-build/daily-tests/builds/ofe-deployment.yaml
  tools/cloud-build/daily-tests/builds/packer.yaml
  tools/cloud-build/daily-tests/builds/slurm-gke.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
  tools/cloud-build/trigger_triage_agent.py
  tools/cloud-build/wait_for_triage_agent.py
Due: addlicense

Make GetUniqueGcsBuckets fail-fast on invalid bucket configs (#6234)
  cmd/create_test.go
  cmd/deploy_test.go
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
Due: addlicense

Review comments
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/trigger_failure_triage_agent.yml
  tools/cloud-build/trigger_triage_agent.py
  tools/cloud-build/wait_for_triage_agent.py
Due: addlicense

fix(gke-cluster): emit confidential_nodes only when enabled
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Review comments
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/trigger_failure_triage_agent.yml
Due: addlicense

feat: add turnkey Slurm support for Google Cloud Dedicated environments (#6144)
  community/examples/hpc-slurm-google-cloud-dedicated/README.md
  community/examples/hpc-slurm-google-cloud-dedicated/hpc-slurm-google-cloud-dedicated.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  examples/README.md
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

fix(orchestrator): pause for poll interval after pod deletion in restart fallback
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
Due: addlicense

fix(iam): resolve service account eventual consistency propagation & cold start failures in GKE blueprints (#6237)
  examples/ml-gke.yaml
  examples/storage-gke.yaml
  modules/project/service-account/README.md
  modules/project/service-account/main.tf
  modules/project/service-account/outputs.tf
  modules/project/service-account/versions.tf
  modules/scheduler/gke-cluster/main.tf
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  tools/cloud-build/daily-tests/blueprints/ml-gke-e2e.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
