Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Adding new configurations to support imex in slurm
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update install_ansible script to change packages for Ubuntu 24
  modules/scripts/startup-script/files/install_ansible.sh
Due: duplicate-diff, addlicense

Enable hpc tollkit for google cloud netapp volume
  examples/hpc-gcnv-nfs-slurm.yaml
  examples/hpc-gcnv-smb-slurm.yaml
  modules/file-system/gcnv/nfs/main.tf
  modules/file-system/gcnv/nfs/outputs.tf
  modules/file-system/gcnv/nfs/variables.tf
  modules/file-system/gcnv/nfs/versions.tf
  modules/file-system/gcnv/scripts/install-nfs-client.sh
  modules/file-system/gcnv/scripts/mount.sh
  modules/file-system/gcnv/scripts/mount.yaml
  modules/file-system/gcnv/smb/main.tf
  modules/file-system/gcnv/smb/outputs.tf
  modules/file-system/gcnv/smb/variables.tf
  modules/file-system/gcnv/smb/versions.tf
  modules/network/netapp-vpc-peering/main.tf
  modules/network/netapp-vpc-peering/outputs.tf
  modules/network/netapp-vpc-peering/variables.tf
  modules/network/netapp-vpc-peering/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Enable hpc tollkit for Google cloud netapp volume
  examples/hpc-gcnv-nfs-slurm.yaml
  examples/hpc-gcnv-smb-slurm.yaml
  modules/file-system/gcnv/nfs/main.tf
  modules/file-system/gcnv/nfs/outputs.tf
  modules/file-system/gcnv/nfs/variables.tf
  modules/file-system/gcnv/nfs/versions.tf
  modules/file-system/gcnv/scripts/install-nfs-client.sh
  modules/file-system/gcnv/scripts/mount.sh
  modules/file-system/gcnv/scripts/mount.yaml
  modules/file-system/gcnv/smb/main.tf
  modules/file-system/gcnv/smb/outputs.tf
  modules/file-system/gcnv/smb/variables.tf
  modules/file-system/gcnv/smb/versions.tf
  modules/network/netapp-vpc-peering/main.tf
  modules/network/netapp-vpc-peering/outputs.tf
  modules/network/netapp-vpc-peering/variables.tf
  modules/network/netapp-vpc-peering/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Initial commit for removing DDN-Exascaler (deprecated)
  community/examples/htc-slurm.yaml
  community/modules/file-system/DDN-EXAScaler/README.md
  community/modules/file-system/DDN-EXAScaler/main.tf
  community/modules/file-system/DDN-EXAScaler/metadata.yaml
  community/modules/file-system/DDN-EXAScaler/outputs.tf
  community/modules/file-system/DDN-EXAScaler/variables.tf
  community/modules/file-system/DDN-EXAScaler/versions.tf
  docs/network_storage.md
  docs/videos/build-your-own-blueprint/batch-high-io.yaml
  docs/vm-images.md
  examples/README.md
  examples/cae/cae-slurm.yaml
  examples/hpc-enterprise-slurm.yaml
  examples/pfs-lustre.yaml
  modules/README.md
  modules/file-system/pre-existing-network-storage/README.md
  modules/file-system/pre-existing-network-storage/outputs.tf
  modules/file-system/pre-existing-network-storage/templates/ddn_exascaler_luster_client_install.tftpl
  modules/file-system/pre-existing-network-storage/variables.tf
  pkg/modulereader/metadata_legacy.go
  tools/cloud-build/daily-tests/blueprints/lustre-slurm.yaml
  tools/cloud-build/daily-tests/blueprints/lustre-vm.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/htc-slurm.yaml
  tools/cloud-build/daily-tests/builds/lustre-slurm.yaml
  tools/cloud-build/daily-tests/builds/lustre-vm.yaml
  tools/cloud-build/daily-tests/tests/lustre-slurm.yml
  tools/cloud-build/daily-tests/tests/lustre-vm.yml
  tools/validate_configs/os_compatibility_tests/batch-lustre.yaml
  tools/validate_configs/os_compatibility_tests/vm-lustre.yaml
  tools/validate_configs/test_configs/exascaler-existing-vpc.yaml
  tools/validate_configs/test_configs/exascaler-new-vpc.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase version to 1.52.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

deprecate old gke a3 mega blueprint
  examples/gke-a3-megagpu.yaml
Due: addlicense

switch region to us-east4 due to no enought resource and changing the network name in the test to avoid collision with hidden resource
  tools/cloud-build/daily-tests/builds/gke-managed-parallelstore.yaml
  tools/cloud-build/daily-tests/tests/gke-managed-parallelstore.yml
Due: addlicense

GG
  modules/scripts/startup-script/files/install_ansible.sh
Due: duplicate-diff, addlicense

Add support for TPU V5e, V5p and V6e
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance_template/files/startup_sh_unlinted
  community/modules/internal/slurm-gcp/nodeset_tpu/README.md
  community/modules/internal/slurm-gcp/nodeset_tpu/main.tf
  community/modules/internal/slurm-gcp/nodeset_tpu/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tpu.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  modules/scripts/startup-script/templates/startup-script-custom.tftpl
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Review fixes
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tpu-startup.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tpu.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Align versions to slurm-gcp requirements.txt
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
Due: addlicense

Add support for startup scripts on TPU nodesets
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tpu.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Reduce number of TPU API calls
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tpu.py
Due: addlicense

New way to timeout on dpkg
  modules/scripts/startup-script/files/install_ansible.sh
Due: duplicate-diff, addlicense

New way to timeout on dpkg during `install_ansible`
  modules/scripts/startup-script/files/install_ansible.sh
Due: duplicate-diff, addlicense

Ansible installation: add Debian 12 test coverage
  tools/cloud-build/daily-tests/blueprints/ansible-vm.yaml
Due: addlicense

Fix typo in test name
  tools/cloud-build/daily-tests/builds/ansible-vm.yaml
Due: addlicense

Ansible installation: Add deployment_name prefix to debian 11 test
  tools/cloud-build/daily-tests/blueprints/ansible-vm.yaml
Due: addlicense

Ansible installation: drop CentOS 7 test coverage
  tools/cloud-build/daily-tests/blueprints/ansible-vm.yaml
  tools/cloud-build/daily-tests/tests/ansible-vm.yml
Due: addlicense

Ansible installation: drop CentOS 7 installation script
  modules/scripts/startup-script/files/install_ansible.sh
Due: duplicate-diff, addlicense

Ansible installation: Update Ansible release to max supported by Ubuntu 20.04
  modules/scripts/startup-script/files/install_ansible.sh
Due: duplicate-diff, addlicense

Ansible installation: add Ubuntu 24.04 test coverage
  tools/cloud-build/daily-tests/blueprints/ansible-vm.yaml
Due: addlicense

Ansible installation: Add support for Ubuntu 24.04
  modules/scripts/startup-script/files/install_ansible.sh
Due: duplicate-diff, addlicense

Do not fail `setup_controller` if `sync_instances` fails
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

Adding github username to toolkit writers list
  cluster-toolkit-writers.json
Due: addlicense

Ansible installation: remove system-wide pip upgrade
  modules/scripts/startup-script/files/install_ansible.sh
Due: duplicate-diff, addlicense

Use controller address instead of hostame when using network-attachment
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
Due: addlicense

Block broken release of nvidia-container-toolkit
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Improve Slurm GPU testing to include an invocation of enroot that tests GPU functionality
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gpus-slurm.yml
Due: addlicense

Add kueue dependency for nvidia dra driver
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update cluster-toolkit-writers.json
  cluster-toolkit-writers.json
Due: addlicense

Update cluster-tool-kit-writers-json
  cluster-toolkit-writers.json
Due: addlicense

Initial test of using gpu_topology
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
