Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

feat(examples): update cuda 13.2.2 and image family for a3u, a4, and a4x slurm blueprints
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/hpc-slurm6-apptainer.yaml
  community/front-end/ofe/website/ghpcfe/models.py
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm-h4d/hpc-slurm-h4d.yaml
  examples/image-builder.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  examples/pfs-managed-lustre-slurm.yaml
  examples/science/af3-slurm/af3-slurm.yaml
  tools/validate_configs/golden_copies/configs/versioned_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/terraform.tfvars
  tools/validate_configs/test_configs/node-groups.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(skills): correct slicing, num-cubes and CIDR mappings in xpk migration
  docs/migration/xpk_to_clustertoolkit.md
  skills/xpk-to-clustertoolkit/references/flag_mappings.md
  skills/xpk-to-clustertoolkit/scripts/parse_xpk_to_gcluster.py
  skills/xpk-to-clustertoolkit/scripts/parse_xpk_to_gcluster_test.py
Due: addlicense

fix(gke): inject default in-memory /dev/shm mount for standard workload containers
  pkg/orchestrator/gke/manifest_generator_test.go
  pkg/orchestrator/gke/templates/jobset.tmpl
Due: addlicense

fix: address review feedback on GCD Slurm bursting blueprints
  community/examples/hpc-slurm-google-cloud-dedicated/hpc-slurm-google-cloud-dedicated.yaml
  community/examples/hpc-slurm-google-cloud-dedicated/hybrid-slurm-cluster/README.md
  community/examples/hpc-slurm-google-cloud-dedicated/hybrid-slurm-cluster/burst-cluster.yaml
  community/examples/hpc-slurm-google-cloud-dedicated/hybrid-slurm-cluster/primary-cluster.yaml
Due: addlicense

fix(slurm): resolve NFS mount race condition during cluster node boot
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_setup_network_storage.py
Due: addlicense

fix(slurm): short-circuit DNS lookup in is_controller_mount to avoid boot delays
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_setup_network_storage.py
Due: addlicense

fix(slurm): harden NFS export verification with multi-tier probe
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_setup_network_storage.py
Due: addlicense

fix(slurm): apply defensive refinements to NFS probe engine
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_setup_network_storage.py
Due: addlicense

docs: update gcluster installation docs to reference secure versions
  README.md
  docs/migration/xpk_to_clustertoolkit.md
  tools/cloud-build/images/cluster-toolkit-dockerfile/README.md
Due: addlicense

fix: harden Tier 2 probe cleanup and case-insensitive fs_type check
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_setup_network_storage.py
Due: addlicense

fix(daily-tests): authenticate git clone of CHS repo using gcloud access token
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
Due: addlicense

gemini suggestion
  tools/cloud-build/dependency-checks/Dockerfile.packer
  tools/cloud-build/dependency-checks/Dockerfile.terraform
Due: addlicense

configure logsBucket for test-runner
  tools/cloud-build/images/test-runner/config.yaml
Due: addlicense

chore(examples): bump slurm-gcp git ref from 6.12.3 to 6.13.1
  community/examples/hpc-build-slurm-image.yaml
  community/examples/hpc-slurm-google-cloud-dedicated/hpc-slurm-google-cloud-dedicated.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
  examples/machine-learning/a4x-maxgpu-4g-metal/README.md
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
  examples/machine-learning/build-service-images/a4x/blueprint.yaml
  examples/machine-learning/build-service-images/shared.yaml
  examples/ml-slurm-g4-vgpu.yaml
  examples/ml-slurm-g4.yaml
Due: addlicense

Unify consumption options for GKE TPU 7x blueprint
  examples/dws-sample-workloads/tpu-dws-queues.yaml.tftpl
  examples/gke-tpu-7x/gke-tpu-7x-deployment.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
Due: duplicate-diff, addlicense

Unify consumption options for GKE TPU 7x advanced blueprint
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
Due: addlicense

update retriable errors list
  tools/cloud-build/check_retriable_error.sh
Due: duplicate-diff, addlicense

Update GKE TPU 7x daily test for unified consumption options
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
Due: addlicense

updated alignment
  tools/validate_configs/golden_copies/validate.sh
Due: none

Open Front End Bug Fixes (#6092)
  community/front-end/ofe/deploy.sh
  community/front-end/ofe/docs/ClusterCommandControl.md
  community/front-end/ofe/docs/WorkbenchUser.md
  community/front-end/ofe/docs/admin_guide.md
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_compute.sh
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_controller.sh
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_login.sh
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/files/ghpcfe_c2.service
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/files/ghpcfe_c2daemon.py
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/tasks/main.yaml
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/front-end/ofe/teardown.sh
  community/front-end/ofe/tf/main.tf
  community/front-end/ofe/website/ghpcfe/cluster_manager/c2.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/cloud_info.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/utils.py
  community/front-end/ofe/website/ghpcfe/models.py
  community/front-end/ofe/website/ghpcfe/templates/blueprint/artifact_registry_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cloudsql_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/filesystem_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/cluster/detail.html
  community/front-end/ofe/website/ghpcfe/views/clusters.py
  community/front-end/ofe/website/ghpcfe/views/vpc.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(network): address int-app-lb review comments
  community/modules/network/int-app-lb/README.md
  community/modules/network/int-app-lb/main.tf
  community/modules/network/int-app-lb/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Prefer active job state over stale terminal sacct row on requeue
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/files/ghpcfe_c2daemon.py
Due: addlicense

NetApp Volumes: mount large-capacity volumes via Cloud DNS
  community/examples/eda/README.md
  community/examples/eda/eda-all-on-cloud.yaml
  community/examples/eda/eda-hybrid-cloud.yaml
  docs/network_storage.md
  examples/README.md
  examples/netapp-volumes-slurm.yaml
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/dns.tf
  modules/file-system/netapp-volume/main.tf
  modules/file-system/netapp-volume/metadata.yaml
  modules/file-system/netapp-volume/outputs.tf
  modules/file-system/netapp-volume/variables.tf
  modules/file-system/pre-existing-network-storage/README.md
  modules/file-system/pre-existing-network-storage/variables.tf
  modules/network/dns-managed-zone/README.md
  modules/network/dns-managed-zone/main.tf
  modules/network/dns-managed-zone/outputs.tf
  modules/network/dns-managed-zone/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs: remove legacy binary zip installation instructions from README
  README.md
Due: addlicense

revert(ofe): drop resume_timeout raise (#118) from this PR per code review
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
Due: addlicense

revert(ofe): drop the resume_timeout raise from this PR
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
Due: addlicense

merge: nag-public/develop, restoring two fixes lost to merge proximity
  community/front-end/ofe/tf/main.tf
  community/front-end/ofe/website/ghpcfe/views/clusters.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(ofe): restore two fixes dropped by an earlier merge
  community/front-end/ofe/tf/main.tf
  community/front-end/ofe/website/ghpcfe/views/clusters.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(ofe): guard _normalize_slurm_state against a whitespace-only state
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/files/ghpcfe_c2daemon.py
Due: addlicense

fix(daily-tests): authenticate git clone of CHS repo using gcloud access token (#6297)
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
Due: addlicense

dynamically set project ID for weekly dependency checks (#6318)
  tools/cloud-build/dependency-checks/Dockerfile.packer
  tools/cloud-build/dependency-checks/Dockerfile.terraform
  tools/cloud-build/dependency-checks/hpc-toolkit-go-builder.yaml
Due: addlicense

ci: configure cloud build logging for image-test-runner (#6308)
  tools/cloud-build/images/test-runner/config.yaml
Due: addlicense

Update SKILL.md
  skills/xpk-to-clustertoolkit/SKILL.md
Due: addlicense

docs: address review feedback on bundle installation and compatibility matrix
  README.md
Due: addlicense

Fixes for OFE + Apptainer modules (#6047)
  community/examples/apptainer-artifact-registry-openfoam.yaml
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/files/ghpcfe_c2daemon.py
  community/modules/container/apptainer-app/README.md
  community/modules/container/apptainer-app/main.tf
  community/modules/container/apptainer-app/metadata.yaml
  community/modules/container/apptainer-app/outputs.tf
  community/modules/container/apptainer-app/variables.tf
  community/modules/container/apptainer-app/versions.tf
  community/modules/container/apptainer-runtime/README.md
  community/modules/container/apptainer-runtime/main.tf
  community/modules/container/apptainer-runtime/metadata.yaml
  community/modules/container/apptainer-runtime/outputs.tf
  community/modules/container/apptainer-runtime/variables.tf
  community/modules/container/apptainer-runtime/versions.tf
  examples/README.md
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs: restore bundle compatibility intro and remove execution platform sub-heading
  README.md
Due: addlicense

Apply suggestions from PR and update README with instructions for breaking changes.
  community/modules/container/artifact-registry/README.md
  community/modules/container/artifact-registry/main.tf
  community/modules/container/artifact-registry/outputs.tf
  community/modules/container/artifact-registry/validation.tf
  community/modules/container/artifact-registry/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
