Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

review comments
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-tpu-slurm.yml
  tools/cloud-build/daily-tests/builds/ml-tpu7x-onspot-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-tpu7x-onspot-slurm.yml
Due: addlicense

update lustre zone due to capacity shortage
  tools/cloud-build/daily-tests/builds/ml-tpu7x-onspot-slurm.yaml
Due: addlicense

fix(gpu-rdma-vpc): drop the always-true null check on network_profile
  modules/network/gpu-rdma-vpc/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(gke-inference-benchmarks): wait for hf-secret in stage-weights and bound wait-for-weights
  examples/gke-inference-benchmarks/README.md
  examples/gke-inference-benchmarks/g4-diffusiongemma-26b-a4b/README.md
  examples/gke-inference-benchmarks/g4-diffusiongemma-26b-a4b/manifests/stage-weights.yaml.tftpl
  examples/gke-inference-benchmarks/g4-diffusiongemma-26b-a4b/manifests/vllm-serve.yaml.tftpl
Due: duplicate-diff, addlicense

docs(gke-inference-benchmarks): use a consistent bullet style in the README
  examples/gke-inference-benchmarks/g4-diffusiongemma-26b-a4b/README.md
Due: addlicense

fix(gke): pin every kubectl call and the dynamic client to the configured kubeconfig context
  cmd/job/logs_test.go
  docs/gcluster_job_guide.md
  pkg/config/deprecation_validate.go
  pkg/orchestrator/gke/gke_cluster_orchestrator.go
  pkg/orchestrator/gke/gke_cluster_orchestrator_test.go
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/inspector.go
  pkg/orchestrator/gke/kube_auth.go
  pkg/orchestrator/gke/kube_auth_test.go
  pkg/orchestrator/gke/kueue.go
  pkg/orchestrator/gke/resource_resolver.go
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/types.go
Due: addlicense

Update README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
Due: addlicense

fix(gke-node-pool): add metadata validators for consumption options and reservations
  modules/compute/gke-node-pool/metadata.yaml
  pkg/validators/metadata_validators_test.go
Due: addlicense

fix(discovery-engine): append random suffix to datastore ID and cap engine_id length (#6426)
  community/modules/ai/discovery-engine/README.md
  community/modules/ai/discovery-engine/main.tf
  community/modules/ai/discovery-engine/variables.tf
  community/modules/ai/discovery-engine/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(gke): add metadata validators for consumption options (#6442)
  modules/compute/gke-node-pool/metadata.yaml
  pkg/validators/metadata_validators_test.go
Due: addlicense

reduce lustre size to avoid stockout
  tools/cloud-build/daily-tests/builds/ml-tpu7x-onspot-slurm.yaml
Due: addlicense

change lustre zone
  tools/cloud-build/daily-tests/builds/ml-tpu7x-onspot-slurm.yaml
Due: addlicense

fix(job): add in-memory /dev/shm to the Pathways head workload container
  pkg/orchestrator/gke/manifest_generator_test.go
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
Due: addlicense

test(job): reuse splitYAMLDocuments and pass pod specs by pointer
  pkg/orchestrator/gke/manifest_generator_test.go
Due: addlicense

Adding integration test for GCSFuse strorage profile in job submit (#6428)
  examples/README.md
  examples/storage-gke.yaml
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/storage_test.go
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gcluster-job-storage.yml
  tools/cloud-build/daily-tests/tests/gke-storage.yml
Due: addlicense

chore(job): bump default JobSet version for job submit to v0.12.0
  pkg/orchestrator/gke/infra_manager.go
Due: addlicense

fix(job): cap Pathways job names at 22 chars to fit coordinator label
  cmd/job/submit.go
  cmd/job/submit_test.go
Due: addlicense

fix(job): add in-memory /dev/shm to the Pathways head workload container (#6446)
  pkg/orchestrator/gke/manifest_generator_test.go
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
Due: addlicense

Revert "docs(a3-high): update TCPXO documentation and remove unused TCPX conf…"
  examples/gke-a3-highgpu/README.md
  examples/gke-a3-highgpu/multi-node-test-plan.md
  examples/gke-a3-highgpu/nccl-config.yaml
  examples/gke-a3-highgpu/nccl-tcpx-installer.yaml.tftpl
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: duplicate-diff, addlicense

[Slurm on TPU] Migrate TPU7x blueprint to ACI image (#6443)
  community/modules/compute/schedmd-slurm-gcp-v6-partition/main.tf
  examples/machine-learning/tpu7x-standard-4t/README.md
  examples/machine-learning/tpu7x-standard-4t/tpu7x-slurm-blueprint.yaml
  pkg/config/expand.go
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-tpu-slurm.yml
  tools/cloud-build/daily-tests/builds/ml-tpu7x-onspot-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-tpu7x-onspot-slurm.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "docs(a3-high): update TCPXO documentation and remove unused TCPX configs" (#6448)
  examples/gke-a3-highgpu/README.md
  examples/gke-a3-highgpu/multi-node-test-plan.md
  examples/gke-a3-highgpu/nccl-config.yaml
  examples/gke-a3-highgpu/nccl-tcpx-installer.yaml.tftpl
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: duplicate-diff, addlicense

Revert "a3 high tcpxo migration (#6397)"
  examples/gke-a3-highgpu/README.md
  examples/gke-a3-highgpu/gke-a3-highgpu.yaml
  examples/gke-a3-highgpu/nccl-tcpxo-installer.yaml.tftpl
  examples/gke-a3-highgpu/nccl-test.yaml
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-deployment.yaml
  examples/machine-learning/a3-highgpu-8g/nccl-tests/build-nccl-tests.sh
  examples/machine-learning/a3-highgpu-8g/nccl-tests/run-nccl-tests.sh
  examples/machine-learning/a3-highgpu-8g/nccl-tests/run-topological-nccl-tests.sh
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-nccl.yml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-onspot-slurm.yml
Due: duplicate-diff, addlicense

Revert "a3 high tcpxo migration" (#6449)
  examples/gke-a3-highgpu/README.md
  examples/gke-a3-highgpu/gke-a3-highgpu.yaml
  examples/gke-a3-highgpu/nccl-tcpxo-installer.yaml.tftpl
  examples/gke-a3-highgpu/nccl-test.yaml
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-deployment.yaml
  examples/machine-learning/a3-highgpu-8g/nccl-tests/build-nccl-tests.sh
  examples/machine-learning/a3-highgpu-8g/nccl-tests/run-nccl-tests.sh
  examples/machine-learning/a3-highgpu-8g/nccl-tests/run-topological-nccl-tests.sh
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-nccl.yml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-onspot-slurm.yml
Due: duplicate-diff, addlicense

fix(job): cap Pathways workload names at 22 chars and bump default JobSet to v0.12.0 (#6447)
  cmd/job/submit.go
  cmd/job/submit_test.go
  pkg/orchestrator/gke/infra_manager.go
Due: addlicense

update slurm-storage validation and mount checks
  examples/storage-slurm.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-slurm-storage.yml
  tools/cloud-build/daily-tests/tests/slurm-storage.yml
Due: addlicense

fix(job): scope --main-only logs to the main pod and its default container
  cmd/job/logs.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
Due: addlicense

fix permission denied error in test-mounts.yml by adding become: true
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-mounts.yml
Due: addlicense

fix htcondor job error when downscaling
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/scheduler/htcondor-access-point/templates/condor_config.tftpl
  community/modules/scripts/htcondor-install/files/autoscaler.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(job): scope --main-only logs to the main pod and its default container (#6422)
  cmd/job/logs.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
Due: addlicense

improve cross-platform timeout handling and error wrapping
  cmd/cluster/describe_test.go
  cmd/job/prereq.go
  cmd/job/prereq_test.go
  pkg/shell/common.go
  pkg/shell/common_test.go
Due: addlicense

chore(ci): support runtime blueprint project injection and fail-fast in reservation auth check
  tools/cloud-build/daily-tests/builds/gke-g4-confidential.yaml
  tools/cloud-build/wait_for_available_reservation.sh
  tools/tests/test_wait_for_available_reservation.py
Due: duplicate-diff, addlicense

fix(job): wait for pods before fetching logs and size follow stream limit
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
Due: addlicense

chore(job): remove no-op rbac-proxy rewrite and make Pathways name cap a constant
  cmd/job/submit.go
  cmd/job/submit_test.go
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
Due: addlicense

Update var.service_account description
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(examples): add EDA Slurm blueprint and workload examples for GCD
  community/examples/eda/README.md
  community/examples/hpc-slurm-google-cloud-dedicated/README.md
  community/examples/hpc-slurm-google-cloud-dedicated/eda/README.md
  community/examples/hpc-slurm-google-cloud-dedicated/eda/eda-gcd-cluster.yaml
  community/examples/hpc-slurm-google-cloud-dedicated/eda/verilator-nvdla.def
  examples/README.md
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

feat(examples): add AlphaEvolve community blueprints
  community/examples/alphaevolve/AGENT.md
  community/examples/alphaevolve/README.md
  community/examples/alphaevolve/alpha-evolve-deployment.yaml
  community/examples/alphaevolve/alpha-evolve-experiment.yaml
  community/examples/alphaevolve/alpha-evolve-infra.yaml
  community/examples/alphaevolve/build/cloud-build.yaml.tfpl
  examples/README.md
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

fix(alphaevolve): enable pipefail in cloud-build bash steps
  community/examples/alphaevolve/build/cloud-build.yaml.tfpl
Due: addlicense

use regional bucket for anywhere_cache in storage-slurm (#6390)
  examples/storage-slurm.yaml
  modules/file-system/cloud-storage-bucket/main.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-mounts.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-slurm-storage.yml
  tools/cloud-build/daily-tests/tests/slurm-storage.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

[infra-update] Upgrade slurm-gcp to 6.13.2
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/ml-slurm-g4.yaml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
