Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

Add blueprint used for Slurm static node testing (#1676)
  tools/validate_configs/test_configs/slurm-static-test.yaml
Due: none

Adding initial code for module verification hints. There is a reference setting suggestion set of code for future reference, but it will be removed for the PR.
  go.mod
  pkg/config/errors.go
  pkg/config/expand.go
Due: none

Quick update to comment for return value.
  pkg/config/expand.go
Due: none

Replace references to PREFIX with WORKSTATION_NAME for comment in PR
  tools/cloud-workstations/README.md
Due: none

Slurm tests. Wait for all partitions to became "UP"
  tools/cloud-build/daily-tests/ansible_playbooks/test-partitions.yml
Due: none

Improved HintErrors, moved Module errors to their own type. Added hints to module verification, and updates setting references.
  pkg/config/config.go
  pkg/config/errors.go
  pkg/config/expand.go
  pkg/config/expand_test.go
Due: none

Improve makefile to avoid build fail if tags are not found
  Makefile
Due: none

Add Shielded VM support to Packer module
  modules/packer/custom-image/README.md
  modules/packer/custom-image/image.pkr.hcl
  modules/packer/custom-image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: packer-readme

OFE Front-end: fixing images list template syntax mistake
  community/front-end/ofe/website/ghpcfe/templates/image/list.html
Due: none

OFE Backend: improving machine type API client
  community/front-end/ofe/website/ghpcfe/cluster_manager/cloud_info.py
Due: none

Bump version to v1.22.0
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/htcondor-setup/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme

Test commit for PR
  README.md
Due: none

Updated error checking and tests for Invalid Modules and Hint errors
  pkg/config/config.go
  pkg/config/errors.go
  pkg/config/expand_test.go
Due: none

Fixed a syntax issue.
  community/examples/tutorial-starccm-slurm.yaml
Due: none

Update shutdown logic
  tools/cloud-build/daily-tests/ansible_playbooks/test-partitions.yml
Due: none

Updated error checking to be more concise.
  pkg/config/expand_test.go
Due: none

Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix issues detected by new pre-commit hook releases
  community/front-end/ofe/infrastructure_files/vpc_tf/GCP/versions.tf
  community/front-end/ofe/infrastructure_files/workbench_tf/google/versions.tf
Due: terraform-readme

Added SSH configuration to startup script.
  community/examples/tutorial-starccm.yaml
Due: none

Refactor `cfg/validators` package
  cmd/create.go
  cmd/create_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/config/expand.go
  pkg/config/validate.go
  pkg/config/validator_test.go
  pkg/validators/validators.go
  pkg/validators/validators_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/.ghpc/artifacts/expanded_blueprint.yaml
Due: none

Add comment
  tools/cloud-build/daily-tests/ansible_playbooks/test-partitions.yml
Due: none

Slurm tests. Wait for all partitions to became "UP" (#1679)
  tools/cloud-build/daily-tests/ansible_playbooks/test-partitions.yml
Due: none

Partition and node group fixes for GPU nodes
  examples/hpc-enterprise-slurm.yaml
Due: none

Remove outputs from `file-system` modules that duplicate `network_storage`
  community/modules/file-system/DDN-EXAScaler/README.md
  community/modules/file-system/DDN-EXAScaler/outputs.tf
  community/modules/file-system/cloud-storage-bucket/README.md
  community/modules/file-system/cloud-storage-bucket/outputs.tf
  community/modules/file-system/nfs-server/README.md
  community/modules/file-system/nfs-server/main.tf
  community/modules/file-system/nfs-server/outputs.tf
  docs/network_storage.md
  modules/file-system/filestore/README.md
  modules/file-system/filestore/outputs.tf
  modules/file-system/pre-existing-network-storage/README.md
  modules/file-system/pre-existing-network-storage/outputs.tf
  modules/scripts/startup-script/README.md
  tools/cloud-build/daily-tests/blueprints/lustre-with-new-vpc.yaml
  tools/validate_configs/test_configs/cloud-batch-cft-instance-template.yaml
  tools/validate_configs/test_configs/hpc-cluster-simple.yaml
  tools/validate_configs/test_configs/test_outputs.yaml
Due: terraform-readme

Updates to version numbers for release candidate commit to develop
  pkg/modulewriter/tfversions.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
Due: terraform-readme

Add "release-bugfix" PR label
  .github/release.yml
Due: none

Add "release-bugfix" PR label (#1697)
  .github/release.yml
Due: none

Support network_storage runners in HTCondor modules
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/main.tf
Due: terraform-readme

Add integration test for hpc-slurm-chromedesk
  tools/cloud-build/babysit_tests.py
  tools/cloud-build/daily-tests/ansible_playbooks/test-crd.yml
  tools/cloud-build/daily-tests/builds/hpc-slurm-chromedesktop.yaml
  tools/cloud-build/daily-tests/tests/hpc-slurm-chromedesktop.yml
Due: none

Remove xterm library install.
  community/examples/tutorial-starccm-slurm.yaml
Due: none

Updated with fixes from comments on PR. Also added test cases for validateModuleSettingReference
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/config/expand.go
  pkg/config/expand_test.go
Due: none

Updated HintError to not suggest a specific string. Makes it more generic. May need a new way to say 'Did you mean ... ' more programmatically.
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/config/expand.go
Due: none

Quick update for PR comment
  pkg/config/config.go
Due: none

Update to hpc-enterprise-slurm blueprint with SuspendTime example
  examples/hpc-enterprise-slurm.yaml
Due: none

Remove unused `errorMessages`
  pkg/config/config.go
Due: none

Remove unused `errorMessages` (#1699)
  pkg/config/config.go
Due: none

Added preconditiont o check if a vm instance block has valid IPs.
  modules/compute/vm-instance/main.tf
Due: terraform-readme

Add Shielded VM support to htcondor-central-manager module
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  community/modules/scheduler/htcondor-central-manager/variables.tf
Due: terraform-readme

Add Shielded VM support to htcondor-access-point module
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-access-point/variables.tf
Due: terraform-readme

Add Shielded VM support to htcondor-execute-point module
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
Due: terraform-readme

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$, but not: \.terraform\/.*$
  packer-readme: any of: ^.*\.pkr\.hcl$
