Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

add warning about rxdm version
  modules/compute/gke-node-pool/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Added documentation on cloud-ops-agent installation and stackdriver removal
  modules/scripts/startup-script/README.md
Due: addlicense

Update module references to v1.39.0
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/pbspro-execution/README.md
  community/modules/compute/pbspro-execution/main.tf
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/main.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  community/modules/scheduler/htcondor-service-accounts/README.md
  community/modules/scheduler/htcondor-service-accounts/main.tf
  community/modules/scheduler/pbspro-client/README.md
  community/modules/scheduler/pbspro-client/main.tf
  community/modules/scheduler/pbspro-server/README.md
  community/modules/scheduler/pbspro-server/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scripts/ramble-execute/README.md
  community/modules/scripts/ramble-execute/main.tf
  community/modules/scripts/ramble-setup/README.md
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-execute/README.md
  community/modules/scripts/spack-execute/main.tf
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/main.tf
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/startup_from_network_storage.tf
  modules/network/multivpc/README.md
  modules/network/multivpc/main.tf
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/startup_from_network_storage.tf
  modules/scheduler/batch-login-node/README.md
  modules/scheduler/batch-login-node/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

only show gpu_direct instructions for a3/a3mega vm
  modules/compute/gke-node-pool/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix comment
  modules/compute/gke-node-pool/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Start daos-agent service in mount script
  modules/file-system/parallelstore/main.tf
  modules/file-system/parallelstore/scripts/install-daos-client.sh
  modules/file-system/parallelstore/scripts/mount-daos.sh
  modules/file-system/pre-existing-network-storage/outputs.tf
  modules/file-system/pre-existing-network-storage/scripts/install-daos-client.sh
  modules/file-system/pre-existing-network-storage/scripts/mount-daos.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "Disable PBS Pro test"
  tools/cloud-build/daily-tests/builds/pbspro.yaml
Due: addlicense

Remove remaining references to hpc-centos-7 image
  docs/vm-images.md
  modules/scheduler/batch-job-template/README.md
  tools/validate_configs/os_compatibility_tests/batch-lustre.yaml
  tools/validate_configs/test_configs/cloud-batch-cft-instance-template.yaml
Due: addlicense

Update PBS Pro CentOS 7 references to point to a specific image by name (not family)
  community/modules/compute/pbspro-execution/README.md
  community/modules/compute/pbspro-execution/variables.tf
  community/modules/scheduler/pbspro-client/README.md
  community/modules/scheduler/pbspro-client/variables.tf
  community/modules/scheduler/pbspro-server/README.md
  community/modules/scheduler/pbspro-server/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Re-enable PBS Pro test
  tools/cloud-build/daily-tests/builds/pbspro.yaml
Due: addlicense

SlurmGCP. Remove usage of `google_compute_default_service_account`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

SlurmGCP V6. Remove CentOS7 image support.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/source_image_logic.tf
  tools/cloud-build/daily-tests/blueprints/lustre-slurm.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-centos7.yaml
  tools/cloud-build/daily-tests/tests/lustre-slurm.yml
  tools/cloud-build/daily-tests/tests/slurm-v6-centos7.yml
  tools/validate_configs/test_configs/node-groups.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

support ghpc_stage function in kubectl-apply module
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/kubectl/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

removing deprecated variables from spack-setup
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "removing deprecated variables from spack-setup"
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Change zone to have valid reservation
  tools/cloud-build/daily-tests/tests/hpc-slurm-chromedesktop.yml
Due: addlicense

adding golden copy test for versioned blueprints feature
  tools/validate_configs/golden_copies/configs/versioned_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/DO_NOT_MODIFY_THIS_DIRECTORY
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/instructions.txt
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/main.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/outputs.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/providers.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/terraform.tfvars
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/variables.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: none

Retry mounting daos container
  modules/file-system/parallelstore/scripts/mount-daos.sh
  modules/file-system/pre-existing-network-storage/scripts/mount-daos.sh
Due: duplicate-diff, addlicense

SlurmGCP. Refactor reservation fetching logic
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Fix issues with TF provider 5.35+
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding gcloud path override for staging use
  community/modules/scripts/wait-for-startup/README.md
  community/modules/scripts/wait-for-startup/main.tf
  community/modules/scripts/wait-for-startup/scripts/wait-for-startup-status.sh
  community/modules/scripts/wait-for-startup/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add additional vpc validation for a3/a3mega machine
  modules/compute/gke-node-pool/gpu_direct.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix typo
  modules/compute/gke-node-pool/gpu_direct.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

adding unit test for version blueprint caching mechanism
  pkg/modulereader/resreader_test.go
Due: addlicense

make gke-node-pool variable additional_networks nullable false
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Install Kueue and Jobset as a setting on the kubectl apply module and also add to blueprints
  examples/gke-a3-highgpu.yaml
  examples/gke-a3-megagpu.yaml
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/manifests/jobset-v0.5.2.yaml
  modules/management/kubectl-apply/manifests/kueue-v0.8.1.yaml
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Make legacy test for A3 high blueprint compatible with deprecation of CentOS 7
  examples/machine-learning/a3-highgpu-8g/v5-legacy/README.md
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm-v5.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-cluster-legacy.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-image-legacy.yml
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/legacy-tests.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Move a3-highgpu-8g tests to us-west1-a due to available capacity for testing
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm-v5.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-image-legacy.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-image.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-image.yml
Due: addlicense

adding documentation for versioned blueprint feature
  examples/README.md
Due: addlicense

DRAFT
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add argparse dependency to cloud build
  tools/cloud-build/requirements.txt
Due: addlicense

Validate Reservations in GKE Blueprints
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/reservation_definitions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update readme for gpudirect
  examples/README.md
  modules/compute/gke-node-pool/README.md
Due: addlicense

fix comment
  examples/README.md
  modules/compute/gke-node-pool/README.md
Due: addlicense

Extract `cty.Value` YAML logic from `Dict`.
  pkg/config/yaml.go
  pkg/config/yaml_test.go
Due: addlicense

Add explicit project references
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/network/private-service-access/README.md
  community/modules/network/private-service-access/main.tf
  community/modules/network/private-service-access/variables.tf
  modules/file-system/parallelstore/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Added resource-policy module and maxtext-gke-a3 blueprint
  examples/README.md
  examples/maxtext-gke-a3-files/config-map.yaml.tftpl
  examples/maxtext-gke-a3-files/gpudirect-tcpxo/topology-scheduler/label-nodes-daemon.yaml
  examples/maxtext-gke-a3-files/gpudirect-tcpxo/topology-scheduler/schedule-daemon.yaml
  examples/maxtext-gke-a3-files/gpudirect-tcpxo/topology-scheduler/service-account.yaml
  examples/maxtext-gke-a3-files/gpudirect-tcpxo/topology-scheduler/topology-scheduler-scripts.yaml
  examples/maxtext-gke-a3-files/kueue-credentials.yaml.tftpl
  examples/maxtext-gke-a3.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/gpu_direct.tf
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/compute/resource-policy/README.md
  modules/compute/resource-policy/main.tf
  modules/compute/resource-policy/metadata.yaml
  modules/compute/resource-policy/outputs.tf
  modules/compute/resource-policy/variables.tf
  modules/compute/resource-policy/versions.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/pre-existing-gke-cluster/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

using table test
  pkg/modulereader/resreader_test.go
Due: addlicense
