Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Use gen 4 machines to create GKE system nodepool (#5402)
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove mentioning of HCS and rocky/ubuntu related OS notes in readme.md
  examples/hpc-slurm-h4d/system_benchmarks/README.md
  examples/hpc-slurm-h4d/system_benchmarks/install-hpl-dependencies.sh
Due: duplicate-diff, addlicense

Move benchmark from core to community folder
  community/h4d-hpc-benchmarks/README.md
  community/h4d-hpc-benchmarks/install-hpl-dependencies.sh
  community/h4d-hpc-benchmarks/run-hpl-workload.sh
Due: duplicate-diff, addlicense

Add HPL benchmark for H4D clusters.
  examples/hpc-slurm-h4d/system_benchmarks/README.md
  examples/hpc-slurm-h4d/system_benchmarks/install-hpl-dependencies.sh
  examples/hpc-slurm-h4d/system_benchmarks/run-hpl-workload.sh
Due: duplicate-diff, addlicense

Update guidance for G4 num_gpu value in deployment file (#5409)
  examples/gke-g4/gke-g4-deployment.yaml
Due: addlicense

Upgrade image to Debian 13 (Trixie)
  tools/cloud-build/images/test-runner/Dockerfile
Due: addlicense

feat(slurm): Add Customer-Managed Encryption Keys (CMEK) support
  LICENSE
  README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/login/README.md
  community/modules/internal/slurm-gcp/login/main.tf
  community/modules/internal/slurm-gcp/login/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  examples/README.md
  examples/hpc-slurm-kms.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: extend semver logic to support GKE build versions (#5375)
  modules/internal/semver_compare/main.tf
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: Introduce fail-open semantic version comparison module (#5375)
  modules/internal/semver_compare/README.md
  modules/internal/semver_compare/main.tf
  modules/internal/semver_compare/outputs.tf
  modules/internal/semver_compare/variables.tf
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs: update semver_compare README to reflect GKE build suffix logic
  modules/internal/semver_compare/README.md
Due: addlicense

Upgrade the DCGMI Version to 4.5.2 (#5408)
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

fix: correct fail-open edge cases and validation on min_version
  modules/internal/semver_compare/README.md
  modules/internal/semver_compare/main.tf
  modules/internal/semver_compare/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

refactor: simplify semver integer parsing with coalesce logic
  modules/internal/semver_compare/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: allow standalone major versions by making minor segment optional
  modules/internal/semver_compare/main.tf
  modules/internal/semver_compare/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix: add network interface to htcondor execute point module + update install ansible script
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  modules/scripts/startup-script/files/install_ansible.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: Declarative Kueue Super-slicing configuration
  modules/management/kubectl-apply/kueue/super-slicing.yaml.tftpl
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
  modules/management/kubectl-apply/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix: align kueue resources, names, and version checks with xpk
  modules/management/kubectl-apply/kueue/super-slicing.yaml.tftpl
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Hardcoding TPU7x change
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
Due: addlicense

Remove unwanted variable parsing and add propagate disk encryption key service account to controller disk
  LICENSE
  README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/internal/slurm-gcp/login/README.md
  community/modules/internal/slurm-gcp/login/main.tf
  community/modules/internal/slurm-gcp/login/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  examples/hpc-slurm-kms.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Hardcoding TPU7x region (#5412)
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
Due: addlicense

feat(kubectl-apply): implement Kueue super-slicing logic matching XPK standards
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

refactor(kubectl-apply): rename kueue_version_check and simplify condition
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update variables.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Removing chs v1 manifest files
  examples/gke-a3-megagpu/chs-cronjob.yaml.tftpl
  examples/gke-a3-megagpu/chs-permissions.yaml.tftpl
  examples/gke-a3-megagpu/chs-pvc.yaml.tftpl
  examples/gke-a3-megagpu/gke-a3-megagpu-deployment.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  examples/gke-a3-megagpu/read-chs-logs-job.yaml
  examples/gke-a3-ultragpu/chs-cronjob.yaml.tftpl
  examples/gke-a3-ultragpu/chs-permissions.yaml.tftpl
  examples/gke-a3-ultragpu/chs-pvc.yaml.tftpl
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/read-chs-logs-job.yaml
  examples/gke-a4/chs-cronjob.yaml.tftpl
  examples/gke-a4/chs-permissions.yaml.tftpl
  examples/gke-a4/chs-pvc.yaml.tftpl
  examples/gke-a4/gke-a4-deployment.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4/read-chs-logs-job.yaml
Due: duplicate-diff, addlicense

Fix Precommit
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove the vm instances changes
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
  modules/compute/vm-instance/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding Test for MW
  pkg/modulewriter/modulewriter_test.go
Due: addlicense

Fix
  pkg/modulewriter/modulewriter_test.go
Due: addlicense

update terraform-provider version to >= 6.9.0, <= 7.25.0
  pkg/config/expand.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

added pfs-managed-lustre-slurm readme
  examples/README.md
Due: addlicense

Pathways cluster config (#5370)
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-consumption-options/dws-flex-start/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/kueue/pathways.yaml.tftpl
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

move kms blueprint to community folder
  community/examples/hpc-slurm-kms.yaml
Due: addlicense

enable execution of external prolog/epilog for A4X (#5403)
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

Remove kms blueprint from examples readme
  examples/README.md
Due: addlicense

Update readme
  examples/README.md
Due: addlicense

feat(gke-node-pool): align DRANET support with XPK logic
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/gpu_direct.tf
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(gke-node-pool): handle conflict between DRANET and additional networks
  modules/compute/gke-node-pool/gpu_direct.tf
  modules/compute/gke-node-pool/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Support Customer-Managed Encryption Keys (CMEK) in Slurm GCP deployments (#5407)
  community/examples/hpc-slurm-kms.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance/main.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/internal/slurm-gcp/login/README.md
  community/modules/internal/slurm-gcp/login/main.tf
  community/modules/internal/slurm-gcp/login/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  examples/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
