Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Adding Lustre Support
  examples/hpc-slurm-h4d.yaml
Due: addlicense

slurm version upgrade
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

Removing used reference
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

Upgrade a3mega and a3 high slurm
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

Increasing helm timeout and undoing changes in validations
  modules/management/kubectl-apply/main.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-ultra.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-job.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue-config.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Undoing chnages in s3 deployment file
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
Due: addlicense

Support Compact Placement for H4D
  examples/gke-h4d/gke-h4d.yaml
Due: addlicense

fix(c4): validate disk type against machine type
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
  modules/internal/instance_validations/README.md
  modules/internal/instance_validations/main.tf
  modules/internal/instance_validations/variables.tf
  modules/internal/instance_validations/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

restart slurmctld.service before scontrol reconfigure
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Increase version to 1.65.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modified Variable name to be consistent across all blueprint
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

Create run-nccl-tests-via-ramble-unshared-filesystem.sh
  examples/machine-learning/a4-highgpu-8g/system_benchmarks/run-nccl-tests-via-ramble-unshared-filesystem.sh
Due: duplicate-diff, addlicense

Add sudo to systemctl restart
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

support use of other shared file locations for nccl
  examples/machine-learning/a4-highgpu-8g/system_benchmarks/run-nccl-tests-via-ramble.sh
  examples/machine-learning/a4x-highgpu-4g/system_benchmarks/run-nccl-tests-via-ramble.sh
Due: duplicate-diff, addlicense

Example PR for usage of hashicorp kubernetes provider
  examples/hpc-gke.yaml
  modules/management/kubernetes/main.tf
  modules/management/kubernetes/metadata.yaml
  modules/management/kubernetes/variables.tf
  modules/management/kubernetes/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updating daily build tests in temporal constraints
  tools/cloud-build/provision/list_tests.py
Due: addlicense

Refactoring in gke persistent module
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/outputs.tf
  modules/file-system/gke-persistent-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add saara-tyagi27 to writers.json
  cluster-toolkit-writers.json
Due: addlicense

fixed new line
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-0-base.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
Due: addlicense

making new test for nccl test
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-nccl.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu-nccl.yml
Due: addlicense

Update README.md
  README.md
Due: addlicense

increasing timeout
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-nccl.yaml
Due: addlicense

making new test for nccl test in gke a3 ultra
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-nccl.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu-nccl.yml
Due: addlicense

removing is_integ_test variable
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu-nccl.yml
Due: addlicense

integrating k8s module
  gcluster_debug.log
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/kubernetes/README.md
  modules/management/kubectl-apply/kubernetes/main.tf
  modules/management/kubectl-apply/kubernetes/metadata.yaml
  modules/management/kubectl-apply/kubernetes/variables.tf
  modules/management/kubectl-apply/kubernetes/versions.tf
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/providers.tf
  tools/cloud-build/daily-tests/blueprints/gke-a2-highgpu.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: install dcgm-4-dev package in A* slurm blueprints
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  examples/machine-learning/build-service-images/common/blueprint.yaml
Due: addlicense

feat: update H4D blueprint with automatic updates, image, and filestore changes
  examples/hpc-slurm-h4d.yaml
Due: addlicense

Blueprint and terraform validation changes for A4X Flex-Start support
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-deployment.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Merge pull request #4614 from alyssa-sm/sudoify
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Power down non-responding node if there is not instance attached
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
Due: addlicense

Update examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
Due: addlicense

Add mig code for A4 DWS-Flex support
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_a4.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Creating integration test and build files for tpu v6e
  community/examples/gke-tpu-v6/gke-tpu-v6-deployment.yaml
  community/examples/gke-tpu-v6/gke-tpu-v6.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-tpu-v6.yml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6.yml
Due: addlicense

modifying build file
  tools/cloud-build/daily-tests/builds/gke-tpu-v6.yaml
Due: addlicense

Update gke-cluster README.
  modules/scheduler/gke-cluster/README.md
Due: addlicense

Update gke-node-pool README to remove "experimental" note
  modules/compute/gke-node-pool/README.md
Due: addlicense

added install_manageed_uster flag
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
Due: addlicense

Removing is_integ_test variable and edit helm values.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/kueue/kueue-helm-values.test.yaml
  modules/management/kubectl-apply/kueue/kueue-helm-values.yaml
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu-nccl.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding inline helm values
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert A3 integ. tests changes
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
Due: addlicense
