Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

pre-commit fixes
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove redundant pip install from Github workflow since this is now park of make recipe
  .github/workflows/pr-precommit.yml
Due: addlicense

Comments resolved. gke-a3-highgpu example added.
  community/modules/compute/htcondor-execute-point/gpu_definition.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/gpu_definition.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/gpu_definition.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/gpu_definition.tf
  examples/README.md
  examples/gke-a3-highgpu.yaml
  examples/gke-a3-megagpu.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/gpu_definition.tf
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/compute/vm-instance/gpu_definition.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add `slurmgcp-managed` infix to resource policy name
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/scripts/cleanup_compute.sh
Due: duplicate-diff, addlicense

Fix bug of suppliying different `instance_properties`
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

renaming ghpc to gcluster
  community/examples/AMD/README.md
  community/examples/flux-framework/README.md
  community/examples/intel/README.md
  community/front-end/ofe/website/ghpcfe/cluster_manager/image.py
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  docs/blueprint-validation.md
  docs/hpc-slurm6-tpu-maxtext.md
  docs/hybrid-slurm-cluster/demo-with-cloud-controller-instructions.md
  docs/hybrid-slurm-cluster/deploy-instructions.md
  docs/hybrid-slurm-cluster/on-prem-instructions.md
  docs/tutorials/gromacs/spack-gromacs.md
  docs/tutorials/htcondor.md
  docs/tutorials/openfoam/spack-openfoam.md
  docs/tutorials/wrfv3/spack-wrfv3.md
  examples/README.md
  modules/README.md
  modules/compute/vm-instance/README.md
  tools/cloud-build/README.md
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/create_deployment_directory.yml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/monitoring.yaml
  tools/cloud-build/images/ghpc-docker/Dockerfile
  tools/cloud-build/images/test-runner/Dockerfile
  tools/validate_configs/golden_copies/validate.sh
  tools/validate_configs/test_configs/README.md
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Delete at most one resource policy at a time
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/scripts/cleanup_compute.sh
Due: duplicate-diff, addlicense

Add reservation support in slurm sync for scheduled maintenance
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Align variable name around gcluster to avoid mismatch
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/gather_startup_script_logs.yml
Due: addlicense

Build is taking longer, extend timeout so test will pass while investigating
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
Due: addlicense

Address comments
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: addlicense

add TODOs
  modules/compute/gke-node-pool/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix link in Packer README
  modules/packer/custom-image/README.md
Due: addlicense

Add setting `allow_automatic_updates: false` to examples
  community/examples/AMD/hpc-amd-slurm-v5-legacy.yaml
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/client-google-cloud-storage.yaml
  community/examples/hpc-build-slurm-image.yaml
  community/examples/hpc-slurm-chromedesktop-v5-legacy.yaml
  community/examples/hpc-slurm-gromacs.yaml
  community/examples/hpc-slurm-local-ssd-v5-legacy.yaml
  community/examples/hpc-slurm-local-ssd.yaml
  community/examples/hpc-slurm-ramble-gromacs.yaml
  community/examples/hpc-slurm-sharedvpc.yaml
  community/examples/hpc-slurm6-apptainer.yaml
  community/examples/hpc-slurm6-tpu-maxtext.yaml
  community/examples/htc-htcondor.yaml
  community/examples/htc-slurm.yaml
  community/examples/omnia-cluster.yaml
  community/examples/tutorial-fluent.yaml
  community/examples/tutorial-starccm-slurm.yaml
  community/examples/tutorial-starccm.yaml
  examples/cae/cae-slurm.yaml
  examples/hcls-blueprint.yaml
  examples/hpc-enterprise-slurm-v5-legacy.yaml
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm-static.yaml
  examples/hpc-slurm-v5-legacy.yaml
  examples/hpc-slurm.yaml
  examples/image-builder.yaml
  examples/ml-slurm-v5-legacy.yaml
  examples/pfs-lustre.yaml
  examples/ps-slurm.yaml
  examples/serverless-batch-mpi.yaml
  examples/serverless-batch.yaml
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/variables.tf
  tools/cloud-build/daily-tests/tests/slurm-v6-centos7.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

replacing centos7 with rocky8 in packer modules
  modules/packer/custom-image/README.md
  modules/packer/custom-image/variables.pkr.hcl
Due: packer-readme, addlicense

Updating vm instance to allow for RDMA nic-types (private preview only
  modules/compute/vm-instance/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

replacing centos7 with rocky8 in vm-instance modules
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

replacing centos7 with rocky8 in nfs-server modules
  community/modules/file-system/nfs-server/README.md
  community/modules/file-system/nfs-server/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update test files
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: none

Babysit. Show "less interesting" statuses first
  tools/cloud-build/babysit/cli_ui.py
Due: addlicense

Bump version `1.37.1 -> 1.37.2`
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/pre-existing-gke-cluster/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Defining replicas and regions for CloudSQL secret
  community/modules/database/slurm-cloudsql-federation/README.md
  community/modules/database/slurm-cloudsql-federation/main.tf
  community/modules/database/slurm-cloudsql-federation/outputs.tf
  community/modules/database/slurm-cloudsql-federation/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update README for Cloud SQL Slurm changes
  community/modules/database/slurm-cloudsql-federation/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
Due: addlicense

cleanup-build. Minor improvements
  tools/cleanup-build.py
Due: addlicense

fix passing additional networks to login nodes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix misuse of `log.exception`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

Add setting `allow_automatic_updates: false` to examples
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/client-google-cloud-storage.yaml
  community/examples/hpc-build-slurm-image.yaml
  community/examples/hpc-slurm-gromacs.yaml
  community/examples/hpc-slurm-local-ssd.yaml
  community/examples/hpc-slurm-ramble-gromacs.yaml
  community/examples/hpc-slurm-sharedvpc.yaml
  community/examples/hpc-slurm6-apptainer.yaml
  community/examples/hpc-slurm6-tpu-maxtext.yaml
  community/examples/htc-htcondor.yaml
  community/examples/htc-slurm.yaml
  community/examples/omnia-cluster.yaml
  community/examples/tutorial-fluent.yaml
  community/examples/tutorial-starccm.yaml
  examples/cae/cae-slurm.yaml
  examples/hcls-blueprint.yaml
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm-static.yaml
  examples/hpc-slurm.yaml
  examples/image-builder.yaml
  examples/pfs-lustre.yaml
  examples/ps-slurm.yaml
  examples/serverless-batch-mpi.yaml
  examples/serverless-batch.yaml
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/variables.tf
  tools/cloud-build/daily-tests/tests/slurm-v6-centos7.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

SlurmGCP. Remove global `cfg`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/load_bq.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Added support multivpc with GKE
  examples/README.md
  examples/gke-multi-vpc-a3-megagpu-8g.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/network/multivpc/main.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/variables.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

multivpc support added to gke-cluster module. example and doc updated.
  examples/README.md
  examples/gke-multi-vpc-a3-megagpu-8g.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

a variable description corrected
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

NO_RESERVATION to be the default reservation type
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove additional_networks from template, as it is always when instance is created
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

variable validations replaced with precondition in gke modules.
  examples/README.md
  examples/gke-a3-highgpu.yaml
  examples/gke-a3-megagpu.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

enable_multi_networking removed from gke-a3 blueprints
  examples/gke-a3-highgpu.yaml
  examples/gke-a3-megagpu.yaml
Due: addlicense

Updating vm instance to allow for RDMA nic-types (private preview only
  community/modules/compute/pbspro-execution/README.md
  community/modules/compute/pbspro-execution/variables.tf
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/variables.tf
  modules/compute/vm-instance/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE update
  community/front-end/ofe/README.md
  community/front-end/ofe/deploy.sh
  community/front-end/ofe/docs/developer_guide.md
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/files/ghpcfe_c2daemon.py
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/tasks/main.yaml
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/front-end/ofe/tf/README.md
  community/front-end/ofe/tf/variables.tf
  community/front-end/ofe/website/ghpcfe/cluster_manager/cloud_info.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/filesystem.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/image.py
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/models.py
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/cluster/update_form.html
  community/front-end/ofe/website/ghpcfe/views/clusters.py
  community/front-end/ofe/website/nginx.conf
  community/front-end/ofe/website/website/settings.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
