Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

irdma health check for h4d nodes on gke
  examples/gke-h4d/README.md
  examples/gke-h4d/irdma-health-check/README.md
  examples/gke-h4d/irdma-health-check/build-and-push-webhook.sh
  examples/gke-h4d/irdma-health-check/build-and-push.sh
  examples/gke-h4d/irdma-health-check/irdma-health-check.sh
  examples/gke-h4d/irdma-health-check/manifests/00-namespace.yaml
  examples/gke-h4d/irdma-health-check/manifests/01-cert-manager.yaml
  examples/gke-h4d/irdma-health-check/manifests/02-issuer.yaml
  examples/gke-h4d/irdma-health-check/manifests/03-certificate.yaml
  examples/gke-h4d/irdma-health-check/manifests/04-webhook-deployment.yaml
  examples/gke-h4d/irdma-health-check/manifests/05-webhook-service.yaml
  examples/gke-h4d/irdma-health-check/manifests/06-mutating-webhook-configuration.yaml
  examples/gke-h4d/irdma-health-check/manifests/07-rbac.yaml
  examples/gke-h4d/irdma-health-check/test-pod-trigger.yaml
  examples/gke-h4d/irdma-health-check/webhook/Dockerfile
  examples/gke-h4d/irdma-health-check/webhook/go.mod
  examples/gke-h4d/irdma-health-check/webhook/go.sum
  examples/gke-h4d/irdma-health-check/webhook/main.go
Due: duplicate-diff, addlicense

Parameterise gIB NCCL RDMA plugin installer in gke a4x
  .yamllint
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-a4x/nccl-installer.yaml.tftpl
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding integration test for A4X
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a4x-kueue-config.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a4x.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-job.yml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
  tools/cloud-build/daily-tests/tests/gke-a4x.yml
Due: addlicense

fixes issues found in #4583 review
  examples/README.md
  examples/netapp-volumes.yaml
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-storage-pool/variables.tf
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/scripts/install-nfs-client.sh
  modules/file-system/netapp-volume/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "Worked on ml- prefixed tests"
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-cluster.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-image.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-jbvms.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm-flex.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-gke-e2e.yml
  tools/cloud-build/daily-tests/tests/ml-gke.yml
  tools/cloud-build/daily-tests/tests/ml-slurm.yml
Due: addlicense

Increase version to 1.72.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

added more references and test validation
  examples/README.md
  examples/cae/cae-slurm.yaml
  examples/hpc-enterprise-slurm.yaml
  examples/pfs-managed-lustre-vm.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-managed-lustre-slurm.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-managed-lustre-vm.yml
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
  tools/cloud-build/daily-tests/tests/pfs-managed-lustre-slurm.yml
  tools/cloud-build/daily-tests/tests/pfs-managed-lustre-vm.yml
Due: addlicense

Enabling A4X and future NPI support in JBVM
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Initial Blueprint G4
  examples/ml-slurm-g4.yaml
Due: addlicense

Remove ml-a4-highgpu-slurm-flex build and test files
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-slurm-flex.yaml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm-flex.yml
Due: addlicense

Add DWS Flex Start feature for G4
  examples/gke-a3-ultragpu/gke-consumption-options/README.md
  examples/gke-a3-ultragpu/gke-consumption-options/dws-calendar.md
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start-queued-provisioning/README.md
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start-queued-provisioning/dws-queues.yaml.tftpl
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start-queued-provisioning/nccl-installer.yaml
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start-queued-provisioning/nccl-jobset-example.yaml
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start-queued-provisioning/sample-job.yaml
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start/README.md
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start/dws-flex-start.yaml
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start/nccl-installer.yaml
  examples/gke-a3-ultragpu/gke-consumption-options/dws-flex-start/nccl-jobset-example.yaml
  examples/gke-g4/gke-consumption-options/README.md
  examples/gke-g4/gke-consumption-options/dws-flex-start/README.md
  examples/gke-g4/gke-consumption-options/dws-flex-start/dws-flex-start.yaml
  examples/gke-g4/gke-consumption-options/dws-flex-start/gke-g4-deployment.yaml
  examples/gke-g4/gke-consumption-options/dws-flex-start/gke-g4.yaml
Due: duplicate-diff, addlicense

Adding necessary test files and changes to test using spot VMs
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-a3m-preemption.yml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-onspot-slurm-ubuntu.yml
  tools/cloud-build/test_spot_vm.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding to writers file
  cluster-toolkit-writers.json
Due: addlicense

Made fixes as suggested by initial and gemini reviews
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-a3m-preemption.yml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/test_spot_vm.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs: Fix broken link in examples README
  examples/README.md
Due: addlicense

fix: Correct test build path for a3-megagpu
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
Due: addlicense

Revert to the old multi-approver workflow
  .github/workflows/multi-approvers.yml
Due: addlicense

Parameterise gIB NCCL RDMA plugin installer in gke a4x
  .yamllint
  examples/gke-a3-ultragpu/nccl-installer.yaml.tftpl
  examples/gke-a4/nccl-installer.yaml.tftpl
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-a4x/nccl-installer.yaml.tftpl
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update terraform-provider version to v7.11.0
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Fix syntax
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modifying the tpu v6e files to add HdB support
  community/examples/gke-tpu-v6/README.md
  community/examples/gke-tpu-v6/gke-tpu-v6-advanced.yaml
Due: addlicense

Modifying the startup-script to fix test failures
  community/modules/scripts/wait-for-startup/scripts/wait-for-startup-status.sh
Due: duplicate-diff, addlicense

Adding rescue block for failures and adding machine type for preemption check
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fixing the machine type check
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-onspot-slurm-ubuntu.yml
Due: addlicense

Pinning A3 mega slurm blueprint to image v20250722
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

Forcing failure in rescue task to fail build if tests fail
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: addlicense

pinning base image version to v20251023
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

Temporary fix for hpc-enterprise-slurm test
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
Due: addlicense

Fixed deployment name clash for a3-megagpu and a3-ultragpu
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-jbvms.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
Due: addlicense

Fixed name clash for some tests
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
  tools/cloud-build/daily-tests/tests/htc-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-jbvms.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm-flex.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-gke-e2e.yml
  tools/cloud-build/daily-tests/tests/ml-slurm.yml
Due: addlicense

Add nccl integration test for A3 high
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-nccl.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm.yml
Due: addlicense

Updating Kueue default version to 0.14.4
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Resolved network name clash
  tools/cloud-build/daily-tests/tests/hcls.yml
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
  tools/cloud-build/daily-tests/tests/htc-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-slurm.yml
Due: addlicense

Increase version to 1.73.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding necessary test files and changes to test using spot VMs
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/add-labels.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-a3m-preemption.yml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-onspot-slurm-ubuntu.yml
  tools/cloud-build/test_spot_vm.sh
Due: duplicate-diff, addlicense

fix the root module input variable not set error by updating tpu parameters
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

adds support for Google Cloud NetApp Volumes as new file-system
  docs/network_storage.md
  examples/README.md
  examples/netapp-volumes.yaml
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-storage-pool/main.tf
  modules/file-system/netapp-storage-pool/metadata.yaml
  modules/file-system/netapp-storage-pool/outputs.tf
  modules/file-system/netapp-storage-pool/variables.tf
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/main.tf
  modules/file-system/netapp-volume/metadata.yaml
  modules/file-system/netapp-volume/outputs.tf
  modules/file-system/netapp-volume/scripts/install-nfs-client.sh
  modules/file-system/netapp-volume/scripts/mount.sh
  modules/file-system/netapp-volume/variables.tf
  modules/file-system/netapp-volume/versions.tf
  tools/cloud-build/daily-tests/builds/netapp-volumes.yaml
  tools/cloud-build/daily-tests/tests/netapp-volumes.yml
  tools/validate_configs/validate_configs.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add template files required to create a mutating webhook on gke
  modules/management/kubectl-apply/mutating-webhook/README.md
  modules/management/kubectl-apply/mutating-webhook/mutating-webhook-configuration.yaml.tftpl
  modules/management/kubectl-apply/mutating-webhook/webhook-deployment.yaml.tftpl
Due: duplicate-diff, addlicense

include mutating webhook info in the kubectl-apply readme
  modules/management/kubectl-apply/README.md
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
