Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

fix(skills): address review feedback on operational patterns, blast radius, and anti-impersonation
  tools/run_eval.py
  tools/tests/test_run_eval.py
Due: addlicense

feat(skills): add community skills framework, multi-root discovery, and safety boundaries
  .github/workflows/skills-lint.yml
  .pre-commit-config.yaml
  community/skills/README.md
  skills/README.md
  skills/gke-kueue-debugging/SKILL.md
  tools/run_eval.py
  tools/tests/test_run_eval.py
Due: addlicense

fix(skills): harden community detection, multiline proposed actions, and device redirection
  README.md
  tools/run_eval.py
  tools/tests/test_run_eval.py
Due: addlicense

fix(job): tokenise EDITOR string and safeguard empty JSON configs (#6266)
  cmd/job/artifact_registry.go
  cmd/job/artifact_registry_test.go
  cmd/job/config.go
  cmd/job/config_test.go
Due: addlicense

Add an agentgateway community blueprint for GKE
  .pre-commit-config.yaml
  community/examples/agentgateway-gke/README.md
  community/examples/agentgateway-gke/TESTING.md
  community/examples/agentgateway-gke/agentgateway-gke.yaml
  community/examples/agentgateway-gke/files/gateway.yaml.tftpl
  community/examples/agentgateway-gke/files/ingress.yaml.tftpl
  community/examples/agentgateway-gke/files/readiness.py
  community/examples/agentgateway-gke/files/readiness.yaml.tftpl
  community/examples/agentgateway-gke/smoke-test.py
  community/modules/project/agentgateway-identity/README.md
  community/modules/project/agentgateway-identity/main.tf
  community/modules/project/agentgateway-identity/metadata.yaml
  community/modules/project/agentgateway-identity/outputs.tf
  community/modules/project/agentgateway-identity/tests/identity.tftest.hcl
  community/modules/project/agentgateway-identity/variables.tf
  community/modules/project/agentgateway-identity/versions.tf
  community/modules/project/vertex-ai-prediction/README.md
  community/modules/project/vertex-ai-prediction/main.tf
  community/modules/project/vertex-ai-prediction/metadata.yaml
  community/modules/project/vertex-ai-prediction/tests/prediction.tftest.hcl
  community/modules/project/vertex-ai-prediction/variables.tf
  community/modules/project/vertex-ai-prediction/versions.tf
  examples/README.md
  modules/README.md
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/tests/gateway_api.tftest.hcl
  modules/scheduler/gke-cluster/variables.tf
  tests/test_agentgateway.py
  tools/cloud-build/daily-tests/ansible_playbooks/agentgateway-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/agentgateway/mock-provider.py
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/agentgateway/run-in-cluster.py
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/agentgateway/wait-for-http.py
  tools/cloud-build/daily-tests/tests/agentgateway.yml
  tools/validate_configs/agentgateway/validate-static.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update `service_account` validation condition to allow any valid email format in addition to a service account name, empty string, or null.
  community/modules/container/cloud-build/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Apply suggested change to sha256 hashing
  community/modules/container/cloud-build/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fixing LNet script runner in A4X-Max
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
  tools/validate_configs/golden_copies/configs/text_escape.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/defaults.auto.pkrvars.hcl
Due: addlicense

feat(job): add GCSFuse storage profiles and CSI volume attributes support
  cmd/job/submit.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/storage_test.go
  pkg/orchestrator/gke/templates/gcs_fuse_pv_pvc.tmpl
  pkg/orchestrator/gke/types.go
Due: addlicense

fix minor typos and grammatical errors
  community/examples/slurm-gke/nccl-tests/README.md
  community/front-end/ofe/docs/WorkbenchUser.md
  community/front-end/ofe/website/ghpcfe/templates/application/create_form.html
  community/front-end/ofe/website/ghpcfe/templates/application/custom_install_create_form.html
  community/front-end/ofe/website/ghpcfe/templates/application/spack_create_form.html
  docs/slurm-troubleshooting.md
  docs/vm-images.md
  examples/README.md
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/README.md
  examples/science/af3-slurm/af3-slurm-deployment.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/reservation_definitions.tf
  modules/compute/gke-node-pool/variables.tf
  modules/compute/resource-policy/variables.tf
  modules/compute/vm-instance/variables.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Quote all string injections in template file
  pkg/orchestrator/gke/storage_test.go
  pkg/orchestrator/gke/templates/gcs_fuse_pv_pvc.tmpl
Due: addlicense

Add support for PSC interfaces for Slurm nodesets and login nodes (#3926)
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance/README.md
  community/modules/internal/slurm-gcp/instance/main.tf
  community/modules/internal/slurm-gcp/instance/variables.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/internal/slurm-gcp/login/README.md
  community/modules/internal/slurm-gcp/login/main.tf
  community/modules/internal/slurm-gcp/login/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  pkg/inspect/modules_test.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

gemini suggestions
  examples/README.md
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/README.md
  modules/compute/gke-node-pool/README.md
  modules/compute/resource-policy/README.md
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/variables.tf
  modules/scheduler/gke-cluster/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

zone change to us-central1-c to us-central1-a (#6329)
  examples/image-builder.yaml
Due: addlicense

fix(slurm-controller): add HA single-active guard and defer scontrol (#6009)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Revert "chore(examples): bump slurm-gcp git ref from 6.12.3 to 6.13.1 (#6320)"
  community/examples/hpc-build-slurm-image.yaml
  community/examples/hpc-slurm-google-cloud-dedicated/hpc-slurm-google-cloud-dedicated.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
  examples/machine-learning/a4x-maxgpu-4g-metal/README.md
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
  examples/machine-learning/build-service-images/a4x/blueprint.yaml
  examples/machine-learning/build-service-images/shared.yaml
  examples/ml-slurm-g4-vgpu.yaml
  examples/ml-slurm-g4.yaml
Due: addlicense

Revert "chore(examples): bump slurm-gcp git ref from 6.12.3 to 6.13.1" (#6338)
  community/examples/hpc-build-slurm-image.yaml
  community/examples/hpc-slurm-google-cloud-dedicated/hpc-slurm-google-cloud-dedicated.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
  examples/machine-learning/a4x-maxgpu-4g-metal/README.md
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
  examples/machine-learning/build-service-images/a4x/blueprint.yaml
  examples/machine-learning/build-service-images/shared.yaml
  examples/ml-slurm-g4-vgpu.yaml
  examples/ml-slurm-g4.yaml
Due: addlicense

fix(cloud-build): add zone exclusion and dynamic retry for stockout mitigation (#6324)
  tools/cloud-build/README.md
  tools/cloud-build/check_retriable_error.sh
  tools/cloud-build/find_available_zone.sh
  tools/cloud-build/submit_and_monitor_kueue_job.sh
  tools/cloud-build/update_job_exclude_zones.py
  tools/tests/test_cloud_build_zone_retry.py
Due: duplicate-diff, addlicense

refactor(skills): adopt gated and autonomous modes with zero backward compatibility
  community/skills/README.md
  skills/README.md
  skills/gke-kueue-debugging/SKILL.md
  skills/xpk-to-clustertoolkit/SKILL.md
  tools/run_eval.py
  tools/tests/test_run_eval.py
Due: addlicense

guide updats
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/storage_test.go
Due: addlicense

adding labels for cleanup for filestore tmpl
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/storage_test.go
  pkg/orchestrator/gke/templates/filestore.tmpl
Due: addlicense

move types to types.go
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/types.go
Due: addlicense

chore(examples): bump slurm-gcp git ref from 6.12.3 to 6.13.2
  community/examples/hpc-build-slurm-image.yaml
  community/examples/hpc-slurm-google-cloud-dedicated/hpc-slurm-google-cloud-dedicated.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
  examples/machine-learning/a4x-maxgpu-4g-metal/README.md
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
  examples/machine-learning/build-service-images/a4x/blueprint.yaml
  examples/machine-learning/build-service-images/shared.yaml
  examples/ml-slurm-g4-vgpu.yaml
  examples/ml-slurm-g4.yaml
Due: addlicense

fix(kubectl-apply): use setunion instead of union for directory manifest filesets
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

log error for namespace mismatch
  pkg/orchestrator/gke/storage.go
Due: addlicense

add constants to the top
  pkg/orchestrator/gke/storage.go
Due: addlicense

fix(kubectl-apply): use setunion instead of union for directory manifest filesets (#6340)
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(gke): remove podFailurePolicy from Pathways worker and enforce Never restartPolicy (#6306)
  cmd/job/submit.go
  cmd/job/submit_test.go
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/manifest_generator_test.go
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
Due: addlicense

fix minor typos and grammatical errors (#6337)
  community/examples/slurm-gke/nccl-tests/README.md
  community/front-end/ofe/docs/WorkbenchUser.md
  community/front-end/ofe/website/ghpcfe/templates/application/create_form.html
  community/front-end/ofe/website/ghpcfe/templates/application/custom_install_create_form.html
  community/front-end/ofe/website/ghpcfe/templates/application/spack_create_form.html
  docs/slurm-troubleshooting.md
  docs/vm-images.md
  examples/README.md
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/README.md
  examples/science/af3-slurm/af3-slurm-deployment.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/reservation_definitions.tf
  modules/compute/gke-node-pool/variables.tf
  modules/compute/resource-policy/README.md
  modules/compute/resource-policy/variables.tf
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

remove golint and use @latest for deps
  Makefile
  tools/cloud-build/dependency-checks/Dockerfile.precommit
Due: addlicense

Unify consumption options for the GKE TPU v5p blueprint
  examples/gke-tpu-v5p/README.md
  examples/gke-tpu-v5p/gke-tpu-v5p-deployment.yaml
  examples/gke-tpu-v5p/gke-tpu-v5p.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v5p.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-v5p.yml
Due: addlicense

Fix xpk-to-clustertoolkit skill defects and update documentation
  docs/migration/xpk_to_clustertoolkit.md
  skills/xpk-to-clustertoolkit/references/flag_mappings.md
  skills/xpk-to-clustertoolkit/scripts/parse_xpk_to_gcluster.py
  skills/xpk-to-clustertoolkit/scripts/parse_xpk_to_gcluster_test.py
Due: addlicense

Disable default mount by default on hybrid installs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Prepare conf.py for hybrid setup
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
Due: addlicense

Fix logging for hybrid setup
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Avoid creating a controller in hybrid mode
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix UID and GID for slurm user in hybrid compute nodes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add hybrid_conf variable
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add hybrid setup function
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense
