Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

address gemini review
  tools/cloud-build/check_retriable_error.sh
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/monitor_kueue_job.sh
  tools/cloud-build/wait_for_available_zone.sh
Due: duplicate-diff, addlicense

fix: handle null instance metadata
  community/modules/internal/slurm-gcp/login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: Add Apptainer container modules and Artifact Registry pull-through example
  .terraform-version
  community/examples/apptainer-artifact-registry-openfoam.yaml
  community/modules/container/apptainer-app/README.md
  community/modules/container/apptainer-app/main.tf
  community/modules/container/apptainer-app/metadata.yaml
  community/modules/container/apptainer-app/outputs.tf
  community/modules/container/apptainer-app/variables.tf
  community/modules/container/apptainer-app/versions.tf
  community/modules/container/apptainer-runtime/README.md
  community/modules/container/apptainer-runtime/main.tf
  community/modules/container/apptainer-runtime/metadata.yaml
  community/modules/container/apptainer-runtime/outputs.tf
  community/modules/container/apptainer-runtime/variables.tf
  community/modules/container/apptainer-runtime/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

chore: Remove .terraform-version
  .terraform-version
Due: addlicense

docs: Trim OOD-scoped and v1-scope language from apptainer-app README
  community/modules/container/apptainer-app/README.md
Due: addlicense

Revert "Update update-dependencies.sh"
  tools/update-dependencies.sh
Due: duplicate-diff, addlicense

Revert "Update Dockerfile"
  tools/cloud-build/images/cluster-toolkit-dockerfile/Dockerfile
Due: addlicense

fix merge
  pkg/dependencies/checksums_generated.go
Due: addlicense

Revert PR 6026 to restore ACI integration (#6030)
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/blueprints/a3ultra-custom-image-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4x-highgpu-slurm.yaml
Due: addlicense

Testing auto assigment of PR reviewers
  sample.txt
Due: addlicense

Testing native github feature
  examples/sample.txt
Due: addlicense

feat(gha): add automatic reviewer assignee sync and 48-hour inactivity nudge workflows
  .github/workflows/pr-nudge.yml
  .github/workflows/sync-assignees.yml
Due: addlicense

fix(gha): remove review_request_removed handler
  .github/workflows/sync-assignees.yml
Due: addlicense

feat(gha): add review_request_removed handler back
  .github/workflows/sync-assignees.yml
Due: addlicense

chore(daily-tests): remove custom image blueprints and dependent tests
  tools/cloud-build/daily-tests/blueprints/a3ultra-custom-image-blueprint.yaml
  tools/cloud-build/daily-tests/blueprints/a4high-custom-image-blueprint.yaml
  tools/cloud-build/daily-tests/blueprints/a4x-custom-image-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-custom-2404-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-custom-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-custom-2404-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-custom-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a4x-highgpu-custom-blueprint-test.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-custom-blueprint-test.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-custom-blueprint-test.yml
  tools/cloud-build/daily-tests/tests/ml-a4x-highgpu-custom-blueprint-test.yml
Due: addlicense

timeout changed to 5hrs
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
Due: addlicense

Fix formatting and add license header for spack-gromacs.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
Due: addlicense

Enhance Terraform version error messages
  pkg/dependencies/resolver.go
Due: addlicense

[Docs] Address review comments 1 through 24 for PR #5981
  README.md
Due: addlicense

Enhance Terraform version error_messages
  pkg/dependencies/resolver.go
  pkg/dependencies/resolver_test.go
Due: addlicense

[Docs] Include Cloud Shell alongside local terminal and Cloud Workstations for ADC credentials setup in README.md
  README.md
Due: addlicense

Enhance Terraform version error_message
  pkg/dependencies/resolver.go
Due: addlicense

update image cleanup
  .pre-commit-config.yaml
  tools/cloud-build/check_retriable_error.sh
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8_old.yaml.bak
  tools/cloud-build/daily-tests/validate_daily_test_builds.py
  tools/cloud-build/wait_for_available_zone.sh
Due: duplicate-diff, addlicense

changes for high-priority
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
Due: addlicense

fix: address apptainer module review feedback
  community/modules/container/apptainer-app/main.tf
  community/modules/container/apptainer-runtime/main.tf
  examples/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove custom image blueprints and tests (#6044)
  tools/cloud-build/daily-tests/blueprints/a3ultra-custom-image-blueprint.yaml
  tools/cloud-build/daily-tests/blueprints/a4high-custom-image-blueprint.yaml
  tools/cloud-build/daily-tests/blueprints/a4x-custom-image-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-custom-2404-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-custom-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-custom-2404-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-custom-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a4x-highgpu-custom-blueprint-test.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-custom-blueprint-test.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-custom-blueprint-test.yml
  tools/cloud-build/daily-tests/tests/ml-a4x-highgpu-custom-blueprint-test.yml
Due: addlicense

space adjustment
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
Due: addlicense

[Docs] Ensure all headings across README.md use strict sentence case per Google Style Guide
  README.md
Due: addlicense

feat(job): Enable MTC at job submission stage (#5997)
  cmd/job/submit.go
  cmd/job/submit_test.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
  pkg/orchestrator/gke/types.go
  pkg/orchestrator/orchestrator.go
Due: addlicense

feat(gha): consolidate inactivity reminders, add targeted reviewer tagging, and fix assignee sync GraphQL field
  .github/workflows/pr-nudge.yml
  .github/workflows/sync-assignees.yml
  tools/github/inactive-pr-reminder.sh
Due: duplicate-diff, addlicense

fix(gha): fix yamllint indentation and trailing whitespace in sync-assignees.yml
  .github/workflows/sync-assignees.yml
Due: addlicense

feat(gha): use last-approver-merges UX for reviewer assignee sync
  .github/workflows/sync-assignees.yml
Due: addlicense

fix(tests): Increase spack-gromacs test timeout (#6046)
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
Due: addlicense

fix: correct storage-pool parameter to storage-pools in GKE StorageClasses
  modules/file-system/gke-storage/storage-class/hyperdisk-balanced-sc.yaml.tftpl
  modules/file-system/gke-storage/storage-class/hyperdisk-throughput-sc.yaml.tftpl
Due: duplicate-diff, addlicense

fix(gha): harden jq null safety, remind assignees on approval, and add cron tolerance buffer
  tools/github/inactive-pr-reminder.sh
Due: duplicate-diff, addlicense

Enhance Slurm-GCP resilience to capacity constraints and quota errors (#5776)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/error_handler.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_error_handler.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  docs/slurm-troubleshooting.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

nit
  examples/gke-tpu-v5p/gke-tpu-v5p.yaml
Due: addlicense

BYOSA policy requirement for Cloud Build triggers
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/daily-tests.tf
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
