Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Fixed deployment name for test to fit in size limit
  tools/cloud-build/daily-tests/tests/gke-a2-highgpu-kueue.yml
Due: addlicense

Updates to use variable provisioning_model for vm-instances
  community/modules/compute/pbspro-execution/main.tf
  community/modules/remote-desktop/chrome-remote-desktop/main.tf
  community/modules/scheduler/pbspro-client/main.tf
  community/modules/scheduler/pbspro-server/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update nccl plugin version to v1.0.3
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

update NCCL env vars
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/Dockerfile
Due: addlicense

update nccl plugin for hypercompute blueprint
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
Due: addlicense

Bumping toolkit docker default terraform version from 1.5.2 -> 1.5.7
  tools/cloud-build/images/cluster-toolkit-dockerfile/Dockerfile
  tools/cloud-build/images/cluster-toolkit-dockerfile/README.md
Due: addlicense

Add back changes from PR #3406 and bump toolkit docker default terraform version 1.5.2 -> 1.5.7
  community/modules/compute/gke-topology-scheduler/README.md
  community/modules/compute/gke-topology-scheduler/main.tf
  community/modules/compute/gke-topology-scheduler/variables.tf
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/variables.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/main.tf
  modules/file-system/gke-storage/variables.tf
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/providers.tf
  modules/management/kubectl-apply/variables.tf
  modules/management/kubectl-apply/versions.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/outputs.tf
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/cloud-build/images/cluster-toolkit-dockerfile/Dockerfile
  tools/cloud-build/images/cluster-toolkit-dockerfile/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix k8s SA message
  modules/scheduler/gke-cluster/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add missing indexes and a3U documentation in readme for gke blueprints
  examples/README.md
Due: addlicense

add code for topological pytorch docs move
  examples/machine-learning/a3-highgpu-8g/topological-pytorch/README.md
  examples/machine-learning/a3-highgpu-8g/topological-pytorch/install.sh
  examples/machine-learning/a3-highgpu-8g/topological-pytorch/topological_pytorch.py
  examples/machine-learning/a3-highgpu-8g/topological-pytorch/topological_pytorch.sh
  examples/machine-learning/a3-ultragpu-8g/topological-pytorch/README.md
  examples/machine-learning/a3-ultragpu-8g/topological-pytorch/install.sh
  examples/machine-learning/a3-ultragpu-8g/topological-pytorch/topological-pytorch.sh
  examples/machine-learning/a3-ultragpu-8g/topological-pytorch/topological_pytorch.py
Due: duplicate-diff, addlicense

Update spack default version to 0.22.3
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Handle new API format for upcomingMaintenance
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Initial checkin (to get feedback) for b392616348
  cmd/deploy.go
  cmd/deploy_test.go
  cmd/destroy.go
  cmd/export.go
  cmd/utils.go
  pkg/shell/terraform.go
Due: addlicense

Add provisioningModel for calendar future reservations
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Surface default MTU for RDMA network and change H4D machine type
  community/examples/hpc-slurm-h4d.yaml
  examples/h4d-vm.yaml
Due: addlicense

SlurmGCP. More MyPy fixes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_topology.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tpu.py
Due: addlicense

Update socket count and disable smt in slurm for h4d
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Increase version to v1.46.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

More MyPy fixes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/load_bq.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add in socket info for c4d
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add cuda-toolkit to a3ultra-jbvms blueprint
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
Due: addlicense

Updates A3 image blueprints to set omit_external_ip to false
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
Due: addlicense

update NeMo framework examples to 24.12
  examples/machine-learning/a3-highgpu-8g/nemo-framework/Dockerfile
  examples/machine-learning/a3-highgpu-8g/nemo-framework/README.md
  examples/machine-learning/a3-highgpu-8g/nemo-framework/setup_nemo.sh
  examples/machine-learning/a3-megagpu-8g/nemo-framework/Dockerfile
  examples/machine-learning/a3-megagpu-8g/nemo-framework/README.md
  examples/machine-learning/a3-megagpu-8g/nemo-framework/setup_nemo.sh
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/Dockerfile
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/README.md
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/setup_nemo.sh
Due: duplicate-diff, addlicense

Enhance deploy to output JSON instead of plain-english
  cmd/deploy.go
  cmd/deploy_test.go
  cmd/destroy.go
  cmd/export.go
  cmd/utils.go
  pkg/shell/terraform.go
Due: addlicense

Remove explicitly stated mtu in gke-a3-ultragpu as default mtu has same value
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
Due: addlicense

Add h4d blueprints into README and add firewall rule on rdma network
  community/examples/hpc-slurm-h4d.yaml
  examples/README.md
  examples/h4d-vm.yaml
Due: addlicense

Update chatqna-cluster.yaml
  examples/chatqna-cluster.yaml
Due: addlicense

Update codegen-cluster.yaml
  examples/codegen-cluster.yaml
Due: addlicense

Update examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
Due: addlicense

Add Kueue 0.10.1 support
  modules/management/kubectl-apply/manifests/kueue-v0.10.1.yaml
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

linting error
  examples/machine-learning/a3-megagpu-8g/README.md
Due: addlicense

Enhance deploy to output JSON instead of plain-english
  cmd/deploy.go
  cmd/utils.go
  pkg/shell/terraform.go
Due: addlicense

Enhance deploy to output JSON instead of plain-english
  pkg/shell/terraform.go
Due: addlicense

Fixes HPL benchmark test due to new env var required.
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-hpl.yaml
Due: addlicense

add gke dws flex start example and integration test
  examples/gke-dws-flex-start/README.md
  examples/gke-dws-flex-start/dws-queues.yaml
  examples/gke-dws-flex-start/gke-dws-flex-start.yaml
  examples/gke-dws-flex-start/sample-job.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-dws-flex-start.yml
  tools/cloud-build/daily-tests/builds/gke-dws-flex-start.yaml
  tools/cloud-build/daily-tests/tests/gke-dws-flex-start.yml
Due: addlicense

Reverting changes related to cluster and project id ref across gke modules
  community/modules/compute/gke-topology-scheduler/README.md
  community/modules/compute/gke-topology-scheduler/main.tf
  community/modules/compute/gke-topology-scheduler/variables.tf
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/variables.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/main.tf
  modules/file-system/gke-storage/variables.tf
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
  modules/management/kubectl-apply/versions.tf
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

remove extra breakline
  modules/file-system/gke-storage/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

bump provider for GKE cluster to 6.16
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
