Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

add detailed doc on multi-nic support in GKE
  docs/gke-multi-nic-policy-routing.md
Due: addlicense

feat: improve backport PR handling with auth token support, idempotency, and automated approval checks
  release-bot/clients.py
  release-bot/main.py
Due: addlicense

feat: add bash script to automatically remind or close inactive pull requests and update clients and main logic to support it.
  release-bot/clients.py
  release-bot/inactive-pr-reminder.sh
  release-bot/main.py
Due: duplicate-diff, addlicense

feat: implement Control Plane dashboard, start adhoc release, and state history archiving for ReleaseBot
  release-bot/.gitignore
  release-bot/history.json
  release-bot/index.html
  release-bot/main.py
  release-bot/server.py
  release-bot/state_manager.py
Due: addlicense

fix: set trigger_type to adhoc in start release handler
  release-bot/clients.py
  release-bot/index.html
  release-bot/main.py
  release-bot/server.py
  release-bot/state_manager.py
Due: addlicense

refactor: update repository references, sanitize environment variables for git operations, and improve release automation workflow stability.
  release-bot/clients.py
  release-bot/history.json
  release-bot/inactive-pr-reminder.sh
  release-bot/main.py
  release-bot/server.py
  release-bot/tools/create-release-candidate.sh
Due: duplicate-diff, addlicense

fix: reset start adhoc button state when release completes
  release-bot/index.html
Due: addlicense

fix: sort past releases descending by merge date
  release-bot/index.html
Due: addlicense

feat: load local .env variables at server startup
  release-bot/server.py
Due: addlicense

fix: keep launch button in launching state until release becomes active
  release-bot/index.html
Due: addlicense

fix: replace git-sed dependency with standard sed
  release-bot/tools/create-release-candidate.sh
Due: duplicate-diff, addlicense

style: rename dashboard and brands to ReleaseRobo
  release-bot/history.json
  release-bot/index.html
Due: addlicense

update terraform-provider version to >= 6.9.0, <= 7.39.0
  pkg/config/expand.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

update review instructions
  CONTRIBUTING.md
Due: addlicense

ui-fixes
  release-bot/aborted_history.json
  release-bot/clients.py
  release-bot/history.json
  release-bot/inactive-pr-reminder.sh
  release-bot/index.html
  release-bot/main.py
  release-bot/server.py
  release-bot/state_manager.py
Due: duplicate-diff, addlicense

comments
  pkg/config/hardware.go
  pkg/telemetry/collector.go
  pkg/telemetry/collector_test.go
  pkg/telemetry/types.go
Due: addlicense

Adding enroot fix
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
Due: addlicense

Updating the ip address range to static naming
  modules/network/private-service-access/README.md
  modules/network/private-service-access/main.tf
  modules/network/private-service-access/variables.tf
  modules/network/private-service-access/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

managing name convention and lenghth
  modules/network/private-service-access/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fixing managed lustre zone for remote node
  tools/cloud-build/daily-tests/builds/gke-managed-lustre.yaml
Due: addlicense

refactor(gke): simplify NAP validation fallback loops
  pkg/orchestrator/gke/nap.go
Due: addlicense

Add gift agent GCS bucket cleanup cron job
  tools/gift-agent-cleanup/Dockerfile.cleanup
  tools/gift-agent-cleanup/cleanup_triage_bucket.py
Due: addlicense

Add gift agent GCS bucket cleanup cron job
  tools/gift-agent-cleanup/Dockerfile
Due: addlicense

base
  cmd/root.go
  cmd/root_test.go
Due: addlicense

fix(gke-cluster): use system_node_pool_machine_type for initial default node pool
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Address comments
  modules/file-system/managed-lustre/README.md
  modules/file-system/managed-lustre/main.tf
  modules/file-system/managed-lustre/metadata.yaml
  modules/file-system/managed-lustre/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(gke-cluster): validate confidential machine type even when system pool disabled
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(slurm): fail over after GCE capacity errors
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/capacity_circuit.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_capacity_circuit.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(slurm): harden capacity circuit state reads
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/capacity_circuit.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_capacity_circuit.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
Due: addlicense

fix(slurm): replay circuit transitions safely
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/capacity_circuit.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_capacity_circuit.py
Due: addlicense

feat(gke-cluster): support dynamic default for system_node_pool_machine_type based on confidential nodes
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs(gke-cluster): update README.md with system_node_pool_machine_type changes
  modules/scheduler/gke-cluster/README.md
Due: addlicense

feat(gke): optimize daily maintenance window and exclusion start times
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
  modules/scheduler/gke-cluster/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

shell script formatting
  community/h4d-hpc-benchmarks/README.md
  community/h4d-hpc-benchmarks/install-hpl-dependencies.sh
  community/h4d-hpc-benchmarks/run-hpl-workload.sh
Due: duplicate-diff, addlicense

address gemini review
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
Due: addlicense

migrate parsing from text/template to safex/template
  go.mod
  go.sum
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/templates/jobset.tmpl
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
Due: addlicense

address validation errors
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
Due: addlicense

address gemini review: wrap remaining StructuralData calls in parentheses for consistency
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
Due: addlicense

address gemini review: replace StructuralData wrapper with quotes in pathways template
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
Due: addlicense

feat(gcluster): add repository link to rootCmd long help message
  cmd/root.go
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
