Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Add sudo via OS Login to all A3 solutions
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Add validation for workload policy in resource policy output
  modules/compute/resource-policy/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updating to fix network peering check
  modules/file-system/managed-lustre/README.md
  modules/file-system/managed-lustre/main.tf
  modules/file-system/managed-lustre/outputs.tf
  modules/file-system/managed-lustre/scripts/install-managed-lustre-client.sh
  modules/file-system/managed-lustre/variables.tf
  modules/file-system/pre-existing-network-storage/README.md
  tools/duplicate-diff.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add release notes section for "breaking changes"
  .github/release.yml
  .github/workflows/pr-label-validation.yml
Due: addlicense

Removing hydration for the time being
  modules/file-system/managed-lustre/README.md
  modules/file-system/managed-lustre/main.tf
  modules/file-system/managed-lustre/outputs.tf
  modules/file-system/managed-lustre/variables.tf
  modules/file-system/managed-lustre/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Apply suggestions from code review
  modules/file-system/managed-lustre/README.md
  modules/file-system/managed-lustre/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Make login nodes deployable independently of "controller"
  community/modules/internal/slurm-gcp/login/README.md
  community/modules/internal/slurm-gcp/login/main.tf
  community/modules/internal/slurm-gcp/login/outputs.tf
  community/modules/internal/slurm-gcp/login/variables.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove firewall rules from RDMA VPCs
  community/examples/hpc-slurm-h4d.yaml
  examples/h4d-vm.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-vm.yaml
  modules/network/gpu-rdma-vpc/README.md
  modules/network/gpu-rdma-vpc/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add bucket outputs to controller module
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix broken `login_network_storage`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
Due: addlicense

Fix name of step in A3 Mega Slurm integration test
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm.yaml
Due: addlicense

Update examples/README.md with AI Hypercomputer link
  examples/README.md
Due: addlicense

Enable specification of system node pool zones in the GKE Cluster module
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix a typo (a Filestore mention) in the GCS Fuse variable description (GKE Cluster module)
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update README
  community/examples/gke-tpu-v4-2x2x2/README.md
  community/examples/gke-tpu-v4-2x2x2/gke-tpu-v4-2x2x2.yaml
Due: addlicense

add info on variables
  community/examples/gke-tpu-v4-2x2x2/README.md
Due: addlicense

Add a simple XPK blueprint example
  community/examples/xpk-n2-filestore/config-map.yaml.tftpl
  community/examples/xpk-n2-filestore/kueue-xpk-configuration.yaml.tftpl
  community/examples/xpk-n2-filestore/storage-crd.yaml
  community/examples/xpk-n2-filestore/xpk-n2-filestore.yaml
  examples/README.md
Due: duplicate-diff, addlicense

Skip another folder with non-blueprint yaml manifests (xpk-n2-filestore) in the config validation script/test
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Make the Slinky example authorized CIDR fail earlier - making it clear it needs to be added via --vars or inline
  community/examples/hpc-slinky/hpc-slinky.yaml
Due: addlicense

fix filestore limit
  tools/cloud-build/check_running_build.sh
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/htc-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-debian.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ssd.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
  tools/cloud-build/daily-tests/tests/gke-storage.yml
  tools/cloud-build/daily-tests/tests/h4d-vm.yml
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
  tools/cloud-build/daily-tests/tests/htc-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-jbvms.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-slurm.yml
  tools/cloud-build/daily-tests/tests/slurm-v6-debian.yml
  tools/cloud-build/daily-tests/tests/slurm-v6-rocky8.yml
  tools/cloud-build/daily-tests/tests/slurm-v6-ssd.yml
  tools/cloud-build/daily-tests/tests/slurm-v6-ubuntu.yml
  tools/cloud-build/daily-tests/tests/spack-gromacs.yml
Due: duplicate-diff, addlicense

Tweak the Slinky example documentation language
  examples/README.md
Due: addlicense

Tweak formatting in the Slinky example blueprint
  community/examples/hpc-slinky/hpc-slinky.yaml
Due: addlicense

Update debian image and kernel header in a3m image blueprint
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
Due: addlicense

Elevate GCS permissions in the Slinky blueprint node pool service account (objectViewer→objectAdmin), in line with recent changes to GKE best practices in other blueprints
  community/examples/hpc-slinky/hpc-slinky.yaml
Due: addlicense

Clean up the Slinky blueprint example documentation, around nodeset+nodepool scaling structures
  examples/README.md
Due: addlicense

Update the Slinky module documentation to highlight a two-replica h3 nodeset (minimal, but sufficient for multi-node testing/exploration)
  community/modules/scheduler/slinky/README.md
Due: addlicense

Bump the Slinky scheduler module to Slinky v0.2.1, and remove a related v0.2.0 Slurm Exporter bug workaround (fixed in v0.2.1)
  community/examples/hpc-slinky/hpc-slinky.yaml
  community/modules/scheduler/slinky/README.md
  community/modules/scheduler/slinky/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove old signup form for dws flex
  docs/slurm-dws-flex.md
Due: addlicense

Add a kubectl nodeset scale in/out command to the Slinky blueprint documentation
  examples/README.md
Due: addlicense

Increase the Slinky h3 node pool initial_node_count to accelerate nodeset readiness
  community/examples/hpc-slinky/hpc-slinky.yaml
Due: addlicense

Further clarify the Slinky usage instructions, by providing a gcloud cluster connection command
  community/modules/scheduler/slinky/README.md
Due: addlicense

Separate nodeset from terraform "monolith"
  community/modules/internal/slurm-gcp/nodeset/main.tf
  community/modules/internal/slurm-gcp/nodeset/outputs.tf
  community/modules/internal/slurm-gcp/nodeset/variables.tf
  community/modules/internal/slurm-gcp/nodeset/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase version to v1.49.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update go.mod
  go.mod
Due: addlicense

remove toolchain
  go.mod
Due: addlicense

Update gpu-operator and nvidia-dra-driver
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/manifests/gpu-operator-v25.3.0.yaml
  modules/management/kubectl-apply/manifests/nvidia-dra-driver.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove firewall rules for VPCs that use roce network_profiles
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-vm.yaml
  modules/network/gpu-rdma-vpc/README.md
  modules/network/gpu-rdma-vpc/main.tf
  modules/network/gpu-rdma-vpc/variables.tf
  modules/network/multivpc/README.md
  modules/network/multivpc/variables.tf
  modules/network/vpc/README.md
  modules/network/vpc/main.tf
  modules/network/vpc/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adjust NFS Server Google provider version requirements, to avoid compute instance recreation during auto_delete boot disk changes (versions <6.14)
  community/modules/file-system/nfs-server/README.md
  community/modules/file-system/nfs-server/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

module change
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
Due: addlicense

module change
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
  community/front-end/ofe/website/ghpcfe/views/clusters.py
Due: addlicense
