Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Remove FileStore
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
Due: addlicense

Simplify the logic for PR check
  tools/cloud-build/check_running_build.sh
  tools/cloud-build/provision/pr-tests.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix source path in gke-a4x
  examples/gke-a4x/gke-a4x.yaml
Due: addlicense

fix: use relative path for slurm_files build_dir to avoid spurious terraform diffs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add missing nvidia-container-toolkit install
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

tag detection and gcs upload
  tools/publish_release.sh
Due: duplicate-diff, addlicense

Making network name static in test run(s)
  examples/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-highgpu-onspot.yml
Due: addlicense

Adding network name test
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-job.yml
Due: addlicense

Updating write method to handle deployment failure logs
  pkg/shell/writer.go
Due: addlicense

adding network var
  examples/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-highgpu-onspot.yml
Due: addlicense

fix gke test
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-job.yml
Due: addlicense

edit gke job
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-job.yml
Due: addlicense

removing redundant prefixes
  pkg/logging/logging.go
Due: addlicense

Module deprecation warning system
  cmd/create.go
  pkg/config/deprecation_validate.go
  pkg/config/deprecation_validate_test.go
  pkg/config/validate.go
  pkg/logging/logging.go
  pkg/modulereader/metadata.go
Due: addlicense

Migrating install_gib from gavinbunney to helm
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Resolving review comments
  examples/gke-a4x-max-bm/README.md
  examples/gke-a4x-max-bm/nccl-jobset-example.yaml
  modules/network/gpu-rdma-vpc/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

removing the depends on dependency from module
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Resolving review comments
  cmd/create.go
  pkg/config/deprecation_validate.go
  pkg/logging/logging.go
Due: addlicense

remove create_namespace setting
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Implement static namespace injection and GCS locking for integration tests
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/scripts/inject_static_names.py
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/create_deployment_directory.yml
  tools/cloud-build/daily-tests/builds/ansible-vm.yaml
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop.yaml
  tools/cloud-build/daily-tests/builds/cloud-batch.yaml
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
  tools/cloud-build/daily-tests/builds/gke-g4.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e-flex.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/builds/monitoring.yaml
  tools/cloud-build/daily-tests/builds/netapp-volumes.yaml
  tools/cloud-build/daily-tests/builds/pfs-managed-lustre-vm.yaml
Due: addlicense

Adding test_prefix in all integ. files
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/htcondor-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/multigroup-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/scripts/inject_static_names.py
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/release_lock.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/setup_lock.yml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/hcls.yaml
  tools/cloud-build/daily-tests/builds/hpc-build-slurm-image.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/htc-slurm.yaml
  tools/cloud-build/daily-tests/builds/htcondor.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-custom-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-custom-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm.yaml
  tools/cloud-build/daily-tests/builds/ofe-deployment.yaml
  tools/cloud-build/daily-tests/builds/packer.yaml
  tools/cloud-build/daily-tests/builds/pfs-managed-lustre-slurm.yaml
  tools/cloud-build/daily-tests/builds/slinky.yml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-debian.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ssd.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-startup-scripts.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-static.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-tpu.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/slurm-gke.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
Due: addlicense

adding corner cases support
  tools/cloud-build/daily-tests/ansible_playbooks/scripts/inject_static_names.py
Due: addlicense

Solving validator issue
  tools/cloud-build/daily-tests/ansible_playbooks/scripts/inject_static_names.py
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/create_deployment_directory.yml
Due: addlicense

solving bug in inject static names
  tools/cloud-build/daily-tests/ansible_playbooks/scripts/inject_static_names.py
Due: addlicense

making releasing lock process robust
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/htcondor-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/multigroup-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/create_deployment_directory.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/release_lock.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/setup_lock.yml
Due: addlicense

update readme instructions
  examples/machine-learning/a4-highgpu-8g/README.md
Due: addlicense

adding gke-cluster dependency
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated readme instructions
  examples/gke-g4/README.md
Due: addlicense

Update slurm_cluster_name regex
  community/modules/compute/gke-nodeset/variables.tf
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-deployment.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-deployment.yaml
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

modifying readme to remove k8s-operations path and add management module in modules readme.md
  community/modules/management/dependencies-installer/README.md
  community/modules/management/dependencies-installer/variables.tf
  examples/README.md
  modules/README.md
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add support for DualStack (IPv4/IPv6) networks (#5206)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  modules/network/vpc/README.md
  modules/network/vpc/main.tf
  modules/network/vpc/outputs.tf
  modules/network/vpc/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove k8s-operations references and add management module in readme (#5264)
  community/modules/management/dependencies-installer/README.md
  community/modules/management/dependencies-installer/variables.tf
  examples/README.md
  modules/README.md
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix selinux issue
  community/examples/hpc-build-slurm-image.yaml
Due: addlicense

Update readme of kubectl-apply with gib
  modules/management/kubectl-apply/README.md
Due: addlicense

testing
  tools/cleanup.sh
Due: duplicate-diff, addlicense

Added note in gke-managed-lustre
  examples/README.md
Due: addlicense

test
  tools/cleanup.sh
Due: duplicate-diff, addlicense

Revert "test"
  tools/cleanup.sh
Due: duplicate-diff, addlicense

Adding deletion of Manages Lustre to cleanup script
  tools/cleanup.sh
Due: duplicate-diff, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
