Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Fix docs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix comment
  examples/gke-storage-parallelstore.yaml
Due: addlicense

Drop validate flag to Docker daemon configuration
  modules/scripts/startup-script/files/install_docker.yml
Due: addlicense

Adopt local SSD storage for A3 docker images
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
Due: addlicense

Update slurm references to test changing default for subnetwork_project
  community/examples/hpc-build-slurm-image.yaml
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  docs/hybrid-slurm-cluster/demo-with-cloud-controller-instructions.md
  docs/hybrid-slurm-cluster/deploy-instructions.md
  docs/hybrid-slurm-cluster/on-prem-instructions.md
  docs/image-building.md
  examples/README.md
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
  examples/machine-learning/a3-highgpu-8g/v5-legacy/README.md
  examples/machine-learning/a3-highgpu-8g/v5-legacy/ml-slurm-a3-1-image-v5-legacy.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updates maintenance.py to support new format
  tools/maintenance/maintenance.py
Due: addlicense

SlurmGCP. Escape GCP error reasons that may cause malformed CLI args
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: addlicense

add gke hyperdisk support
  examples/gke-storage-hyperdisk.yaml
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/persistent-volume-claim/hyperdisk-balanced-pvc.yaml.tftpl
  modules/file-system/gke-storage/persistent-volume-claim/hyperdisk-extreme-pvc.yaml.tftpl
  modules/file-system/gke-storage/persistent-volume-claim/hyperdisk-throughput-pvc.yaml.tftpl
  modules/file-system/gke-storage/storage-class/hyperdisk-balanced-sc.yaml.tftpl
  modules/file-system/gke-storage/storage-class/hyperdisk-extreme-sc.yaml.tftpl
  modules/file-system/gke-storage/storage-class/hyperdisk-throughput-sc.yaml.tftpl
  modules/file-system/gke-storage/variables.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-storage-hyperdisk.yml
  tools/cloud-build/daily-tests/builds/gke-storage-hyperdisk.yaml
  tools/cloud-build/daily-tests/tests/gke-storage-hyperdisk.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update training job description
  examples/gke-storage-hyperdisk.yaml
Due: addlicense

Add c4a to the nosmt list
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

update readme descriptions
  modules/compute/gke-node-pool/README.md
  modules/scheduler/gke-cluster/README.md
Due: addlicense

Allow latest Terraform google plugin
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Increasing ml-slurm test timeout to 5hr
  tools/cloud-build/daily-tests/builds/ml-slurm-v5-legacy.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm.yaml
Due: addlicense

SlurmGCP. Add `set -e` to prolog mux
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/files/setup_external.sh
Due: duplicate-diff, addlicense

SlurmGCP. topology readme
  docs/slurm-topology.md
Due: addlicense

Refactor mount/mode setting for local SSD RAID
  modules/scripts/startup-script/files/setup-raid.yml
Due: addlicense

Add in socket count info for c-series VMs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

terraform docs
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

SlurmGCP. Do not create placementPoliciy for a single VM
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: addlicense

Support Extended Reservations
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/reservation_definitions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update commit hash; fixes b/377488571
  community/examples/flux-framework/flux-cluster.yaml
Due: addlicense

Update minimum Terraform release for gke-node-pool
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding retries to a3mega image blueprint
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
Due: addlicense

updating network_storage.md with Parallelstore info
  docs/network_storage.md
Due: addlicense

Add short build id to network to avoid resource alreadyExists error
  tools/cloud-build/daily-tests/tests/ml-slurm.yml
Due: addlicense

check networking_mode
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

check if not null
  modules/compute/gke-node-pool/main.tf
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

use networking_mode in cluster only
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add precondition
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

set networking_mode default value to VPC_NATIVE
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Cleanup Always when SSH Fails
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
Due: addlicense

Modernize ml-slurm v5 legacy example
  examples/ml-slurm-v5-legacy.yaml
Due: addlicense

Modernize ml-slurm example
  examples/ml-slurm.yaml
Due: addlicense

Update instructions for ml-slurm examples to explicitly request GPUs
  examples/README.md
Due: addlicense

Fix "too modern" type annotations
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: addlicense

TaskInclude does not have ignore_unreachable
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
Due: addlicense

remove local_ssd warning
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Improve caching job details and fetch more job details
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

update a3 machines local ssd to use nvme instead of scsi for better performance
  modules/compute/gke-node-pool/disk_definitions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix regex for Job name in fetching job details
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense
