Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

comments
  cmd/root.go
Due: addlicense

feat(gke): implement tabular workloads list in job inspector
  pkg/orchestrator/gke/inspector.go
  pkg/orchestrator/gke/inspector_test.go
  pkg/orchestrator/gke/types.go
Due: addlicense

fix typo of duplicate variable
  community/modules/scripts/htcondor-install/files/autoscaler.py
Due: addlicense

Fix Ansible playbook validation failure for private IP
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/wait-for-host.yml
Due: addlicense

Disable public IPs in pfs-managed-lustre-slurm for private IP testing
  examples/pfs-managed-lustre-slurm.yaml
Due: addlicense

Disable public IPs in hpc-enterprise-slurm for private IP testing
  examples/hpc-enterprise-slurm.yaml
Due: addlicense

Fix Gemini review comments: remove literal empty quotes in SSH args, guard hostvars lookup
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/wait-for-host.yml
Due: addlicense

refactor(gke): apply io.MultiWriter and dynamic namespace resolution in job inspector
  cmd/job/cancel_test.go
  pkg/config/machine_configs.go
  pkg/config/yaml.go
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/inspector.go
  pkg/orchestrator/gke/inspector_test.go
  pkg/orchestrator/gke/types.go
  pkg/shell/common.go
  pkg/telemetry/collector.go
Due: addlicense

feat(telemetry): support static node zonal multipliers and target size
  pkg/telemetry/collector.go.orig
  pkg/telemetry/collector.go.rej
  pkg/telemetry/collector_test.go
  pkg/telemetry/collector_util.go.orig
Due: addlicense

chore: remove unwanted .orig and .rej files
  pkg/telemetry/collector.go.orig
  pkg/telemetry/collector.go.rej
  pkg/telemetry/collector_util.go.orig
Due: addlicense

fix(git workflow): resolve GraphQL limit error in inactive PR script
  tools/github/inactive-pr-reminder.sh
Due: duplicate-diff, addlicense

fix(gke): restore missing closing bracket for kueueWorkloadList struct
  pkg/orchestrator/gke/types.go
Due: addlicense

fix(telemetry): broaden type checking for iterables in getZonalMultiplier
  pkg/telemetry/collector_util.go
Due: addlicense

comment1
  pkg/telemetry/collector_util.go
Due: addlicense

fix(telemetry): apply zonal multiplier to default static sizes for GKE
  pkg/telemetry/collector_util.go
Due: addlicense

feat(gke): add smart main-only logs retrieval for JobSets
  cmd/job/logs.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/orchestrator.go
Due: addlicense

adding commented filestore code
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

feat(slurm): add startup_script support to slurm login nodes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(telemetry): collect dynamic node capacities and multipliers
  pkg/telemetry/collector.go
  pkg/telemetry/collector_test.go
  pkg/telemetry/collector_util.go
  pkg/telemetry/types.go
Due: addlicense

refactor(telemetry): unify static and dynamic bounds logic and guard dot notation panics
  pkg/telemetry/collector_util.go
Due: addlicense

chore(telemetry): rename min max dynamic node count constants to plural
  pkg/telemetry/collector.go
  pkg/telemetry/types.go
Due: addlicense

.
  pkg/telemetry/types.go
Due: addlicense

feat: add STORAGE_TYPE to telemetry metrics
  pkg/telemetry/collector.go
  pkg/telemetry/collector_test.go
  pkg/telemetry/collector_util.go
  pkg/telemetry/types.go
Due: addlicense

refactor(telemetry): split getStorageType into smaller methods
  pkg/telemetry/collector.go
  pkg/telemetry/collector_util.go
Due: addlicense

refactor: apply PR feedback for SSD parsing and inline partition blocks
  pkg/telemetry/collector_util.go
Due: addlicense

test: verify extraction of explicit storage_class and filestore_tier definitions
  pkg/telemetry/collector_test.go
Due: addlicense

feat: prepend storage provider namespaces and support redis/spanner databases
  pkg/telemetry/collector_test.go
  pkg/telemetry/collector_util.go
Due: addlicense

Refactor resolveLogsSelector to decouple mainOnly logic and use dynamic generic Kubernetes indexing labels instead of hardcoded pod naming rules for JobSets
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
Due: addlicense

fix(telemetry): disable TPU static fallback for dynamic metrics and reduce cyclomatic complexity
  pkg/telemetry/collector_util.go
Due: addlicense

fix(tflint): wrap endswith condition in try block to prevent static evaluation null errors
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

refactor(telemetry): optimize storage type extraction by reducing complexity and duplication using a generic cty loop
  pkg/telemetry/collector_util.go
Due: addlicense

test(telemetry): add edge cases for storage extraction
  pkg/telemetry/collector_test.go
Due: addlicense

Revert "fix(tflint): wrap endswith condition in try block to prevent static evaluation null errors"
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

managing name convention and lenghth
  modules/network/private-service-access/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updating the ip address range to static naming
  modules/network/private-service-access/README.md
  modules/network/private-service-access/main.tf
  modules/network/private-service-access/variables.tf
  modules/network/private-service-access/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Address review comment: Update PSA name variable description. Combined with port mismatch and cleanup fixes.
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-nodeset/main.tf
  community/modules/compute/gke-nodeset/templates/nodeset-general.yaml.tftpl
  community/modules/compute/gke-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  modules/network/private-service-access/README.md
  modules/network/private-service-access/variables.tf
  tools/cleanup.sh
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_gcluster_failure.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Making VPC peering deletion logic more robust
  tools/cleanup.sh
Due: duplicate-diff, addlicense

Use exact network match filter in PSA cleanup to prevent accidental deletion of other tests' resources
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/cleanup_existing_psa.yml
Due: addlicense

Add pre-deploy and robust rescue cleanup for PSA resources in integration tests
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/cleanup_existing_psa.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_gcluster_failure.yml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
