Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Removing MGLRU dependency from cluster toolkit
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/mglru-disable.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4/mglru-disable.yaml
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-a4x/mglru-disable.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/mglru-disable.yaml
  examples/gke-consumption-options/dws-flex-start/gke-a3-ultragpu.yaml
  examples/gke-consumption-options/dws-flex-start/mglru-disable.yaml
Due: addlicense

add documentation and cleanup the code
  community/modules/management/dependencies-installer/kubernetes_manifest/README.md
  community/modules/management/dependencies-installer/kubernetes_manifest/main.tf
  community/modules/management/dependencies-installer/kubernetes_manifest/metadata.yaml
  community/modules/management/dependencies-installer/kubernetes_manifest/variables.tf
  community/modules/management/dependencies-installer/kubernetes_manifest/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

modify reservation variable name to accommodate different reservation options
  examples/gke-a3-megagpu/gke-a3-megagpu-deployment.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4-deployment.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4x/gke-a4x-deployment.yaml
  examples/gke-a4x/gke-a4x.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
  tools/cloud-build/daily-tests/tests/gke-a4.yml
Due: addlicense

Allo to supply custome startup script
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/login/README.md
  community/modules/internal/slurm-gcp/login/main.tf
  community/modules/internal/slurm-gcp/login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix job row insertion on load_bq.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/load_bq.py
Due: addlicense

Fix templates to point to right AccountingStorageHost
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/htc-slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/long-prolog-slurm.conf.tpl
Due: addlicense

Align GCSFuse configurations with best practices
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
Due: addlicense

Add functionality to export slurm config bucket as controller NFS
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

DO_NOT_MERGE use exported bucket to fetch devel.zip
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/files/login_startup.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Make `clean-resource-policies.sh` resilient to inevitable failures
  tools/clean-resource-policies.sh
Due: duplicate-diff, addlicense

add info for DWS Calendar reservation as GKE consumption option
  examples/gke-consumption-options/dws-calendar.md
Due: addlicense

update terraform-provider version to XXX
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Remove validation around gpu instances for DWS Flex
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update variable name as the nodepool is not of static type
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu.yaml
Due: addlicense

Allow setup using config/startup scripts from mounted NFS
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

remove the deprecated ubuntu-2004-lts image
  tools/cloud-build/daily-tests/blueprints/ansible-vm.yaml
Due: addlicense

Allow for use of DNS naming for controller
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Set install_cloud_rdma drivers to false
  examples/h4d-vm.yaml
  examples/hpc-slurm-h4d.yaml
Due: addlicense

SlurmGCP Resume Improvements
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume_wrapper.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
Due: duplicate-diff, addlicense

Add workload policy to mig
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/scripts/cleanup_compute.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fixed the instance template creation
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase version to 1.55.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove use of network attachment and controller_addr.yaml in Slurm-GCP
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

OFE: oauth
  community/front-end/ofe/CHANGELOG.md
  community/front-end/ofe/deploy.sh
  community/front-end/ofe/script/oauth_client.sh
  community/front-end/ofe/script/service_account.sh
  community/front-end/ofe/teardown.sh
  community/front-end/ofe/tf/main.tf
  community/front-end/ofe/tf/outputs.tf
  community/front-end/ofe/tf/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update debian image and kernel header in a3m and CRD
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/variables.tf
  examples/machine-learning/a3-megagpu-8g/debian/slurm-a3mega-image.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Use controller dns hostname when available instead of fqdn
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Adds prevalidation for missing roles
  modules/internal/iam-validator/README.md
  modules/internal/iam-validator/main.tf
  modules/internal/iam-validator/outputs.tf
  modules/internal/iam-validator/variables.tf
  modules/internal/iam-validator/versions.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

pre-commit fixes to docs
  community/front-end/ofe/CHANGELOG.md
  community/front-end/ofe/script/oauth_client.sh
  community/front-end/ofe/teardown.sh
  community/front-end/ofe/tf/README.md
  community/front-end/ofe/tf/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

pre-commit
  community/front-end/ofe/deploy.sh
  community/front-end/ofe/script/oauth_client.sh
Due: duplicate-diff, addlicense

ofe: sqlite fix
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
Due: duplicate-diff, addlicense

deprecation notice for branch 'cloudnext25'
  examples/science/af3-slurm/README.md
Due: addlicense

Reduce log pollution of failed Metadata fetch
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

[Bugfix] Applying K8 manifests to GKE clusters via URL
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/kubectl/README.md
  modules/management/kubectl-apply/kubectl/main.tf
  modules/management/kubectl-apply/kubectl/versions.tf
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

created chs-cronjob manifest
  examples/gke-a3-megagpu/chs-cronjob.yaml.tftpl
Due: duplicate-diff, addlicense

Create permissions_chs.yaml
  examples/gke-a3-megagpu/permissions_chs.yaml
Due: addlicense

nit
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update chs-cronjob.yaml.tftpl
  examples/gke-a3-megagpu/chs-cronjob.yaml.tftpl
Due: duplicate-diff, addlicense

Added deployment name to the output results file name
  examples/gke-a3-megagpu/chs-cronjob.yaml.tftpl
Due: duplicate-diff, addlicense

Fixed indentation in permissions_chs.yaml
  examples/gke-a3-megagpu/permissions_chs.yaml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
