Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Increase version to 1.40.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

nemo readme instructions for preloading gpt2 tokenizer
  examples/machine-learning/a3-megagpu-8g/nemo-framework/README.md
Due: addlicense

update a3-high readme
  examples/machine-learning/a3-highgpu-8g/nemo-framework/README.md
  examples/machine-learning/a3-megagpu-8g/nemo-framework/README.md
Due: addlicense

update NeMo 23.11 to 24.07
  examples/machine-learning/a3-megagpu-8g/nemo-framework/Dockerfile
  examples/machine-learning/a3-megagpu-8g/nemo-framework/README.md
  examples/machine-learning/a3-megagpu-8g/nemo-framework/setup_nemo.sh
Due: duplicate-diff, addlicense

Fix whitespace in NeMo README files
  examples/machine-learning/a3-highgpu-8g/nemo-framework/README.md
  examples/machine-learning/a3-megagpu-8g/nemo-framework/README.md
Due: addlicense

Modify triggers that run pre-commit validation
  .github/workflows/pr-precommit.yml
Due: addlicense

Require labels on pull requests directly to main and release-candidate branches
  .github/workflows/pr-label-validation.yml
Due: addlicense

Chrome Remote Desktop: update apt cache only if stale
  community/modules/remote-desktop/chrome-remote-desktop/scripts/configure-chrome-desktop.yml
Due: addlicense

Chrome Remote Desktop: increase retry time for apt
  community/modules/remote-desktop/chrome-remote-desktop/scripts/configure-chrome-desktop.yml
Due: addlicense

update blueprint to replicate issue
  examples/hpc-gke.yaml
Due: addlicense

Increase resume-timeout for TPU partition in blueprint
  community/examples/hpc-slurm6-tpu.yaml
Due: addlicense

wordings updated
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/gpu_direct.tf
  modules/compute/gke-node-pool/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

minor wording update
  modules/compute/gke-node-pool/gpu_direct.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

all working well
  cluster-x/primary/modules/embedded/modules/scheduler/gke-cluster/outputs.tf
  cluster-x/primary/outputs.tf
  cluster-x/primary/providers.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

all working well
  cluster-01/primary/modules/embedded/modules/management/kubectl-apply/kubectl/main.tf
  cluster-01/primary/versions.tf
  examples/hpc-gke.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add changes to toolkit modules
  cluster-x/primary/modules/embedded/modules/management/kubectl-apply/main.tf
  cluster-x/primary/modules/embedded/modules/scheduler/gke-cluster/outputs.tf
  cluster-x/primary/modules/embedded/modules/scheduler/gke-cluster/versions.tf
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/providers.tf
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/gke-cluster/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update output descriptions
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

remove updated blueprints
  examples/gke-a3-highgpu.yaml
  examples/ml-gke.yaml
Due: addlicense

remove updated blueprints
  modules/compute/gke-node-pool/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix validate hook
  modules/scheduler/pre-existing-gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix validate hook
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix validate hook
  examples/hpc-gke.yaml
Due: addlicense

Adopt Google terraform provider plugin 5.44.x
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Chunk BigQuery sacct row inserts
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/load_bq.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_load_bq.py
Due: addlicense

SlurmGCP. Do not put job_submit script into config.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/job_submit.lua.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/job_submit.lua.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify htcondor-execute-point to use local embedded module path
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify htcondor-access-point to use local embedded module path
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify htcondor-central-manager to use local embedded module path
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify htcondor-service-accounts to use local embedded module path
  community/modules/scheduler/htcondor-service-accounts/README.md
  community/modules/scheduler/htcondor-service-accounts/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify ramble-setup to use local embedded module path
  community/modules/scripts/ramble-setup/README.md
  community/modules/scripts/ramble-setup/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify ramble-execute to use local embedded module path
  community/modules/scripts/ramble-execute/README.md
  community/modules/scripts/ramble-execute/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify htcondor-setup to use local embedded module path
  community/modules/scheduler/htcondor-setup/README.md
  community/modules/scheduler/htcondor-setup/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify pbspro-server to use local embedded module path
  community/modules/scheduler/pbspro-server/README.md
  community/modules/scheduler/pbspro-server/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify pbspro-execution to use local embedded module path
  community/modules/compute/pbspro-execution/README.md
  community/modules/compute/pbspro-execution/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify chrome-remote-desktop to use local embedded module path
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
