Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Creating a new go file to improve code reusability
  pkg/logging/logging.go
  pkg/shell/terraform.go
  pkg/shell/writer.go
  pkg/shell/writer_test.go
Due: addlicense

Updating var name and description
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/helm_install/README.md
  modules/management/kubectl-apply/helm_install/main.tf
  modules/management/kubectl-apply/helm_install/variables.tf
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

review comments
  README.md
Due: addlicense

Support for DWS flex with Queued prov. in TPU v6e and 7x in GKE cluster toolkit
  examples/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/gke-tpu-7x-deployment.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/tpu-7x-test-job-gcs.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/tpu-7x-test-job.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/gke-tpu-v6e-deployment.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/tpu-v6e-test-job-gcs.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/tpu-v6e-test-job.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/tpu-dws-queues.yaml.tftpl
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-v6e/README.md
  modules/compute/gke-node-pool/main.tf
  modules/internal/tpu-definition/README.md
  modules/internal/tpu-definition/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

readme nits
  examples/README.md
Due: addlicense

removing spot labels for ondemand
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/add-instance-labels.yml
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
Due: addlicense

rcomments1
  README.md
Due: addlicense

Debugging logs for install_slurm
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Pin DCGM version for a3mega and a4high
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Check version dcgm pinning
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Increase instance state change timeout for testing
  modules/packer/custom-image/variables.pkr.hcl
Due: packer-readme, addlicense

Correction
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

corrections
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  modules/packer/custom-image/variables.pkr.hcl
Due: packer-readme, addlicense

Cleanup
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

rcomments2
  README.md
Due: addlicense

addressing comments.
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
Due: addlicense

fix space
  pkg/validators/metadata_validators.go
Due: addlicense

A4x Max BM slurm support. (#5222)
  examples/machine-learning/a4x-maxgpu-4g-metal/README.md
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-deployment.yaml
  examples/machine-learning/a4x-maxgpu-4g-metal/system_benchmarks/README.md
  examples/machine-learning/a4x-maxgpu-4g-metal/system_benchmarks/run-nccl-tests-via-ramble.sh
  modules/internal/gpu-definition/main.tf
  tools/validate_configs/validate_configs.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

rcomments3
  README.md
Due: addlicense

rcomments4
  README.md
Due: addlicense

remove failing validations
  modules/compute/gke-node-pool/metadata.yaml
Due: addlicense

Support timestamp granularity in cleanup labels (#5213)
  tools/cleanup.sh
Due: duplicate-diff, addlicense

remove comments
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Add reservation name check validator (#5185)
  pkg/validators/cloud.go
  pkg/validators/validators.go
  pkg/validators/validators_test.go
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Readme changes for prebuilt gcluster usage (#5153)
  README.md
Due: addlicense

add disk type in zone validator
  pkg/validators/cloud.go
  pkg/validators/cloud_discovery.go
  pkg/validators/validators.go
  pkg/validators/validators_test.go
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

fix pre-commit
  pkg/validators/cloud.go
Due: addlicense

A4X JBVM Readme & Topology Changes
  examples/machine-learning/a4x-highgpu-4g/README.md
  examples/machine-learning/a4x-highgpu-4g/a4x-vm-deployment.yaml
  examples/machine-learning/a4x-highgpu-4g/a4x-vm.yaml
Due: addlicense

Adding GKE TPU DWS Queued Provisioning support for v6e and 7x (#5218)
  examples/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/gke-tpu-7x-deployment.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/tpu-7x-test-job-gcs.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/tpu-7x-test-job.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/gke-tpu-v6e-deployment.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/tpu-v6e-test-job-gcs.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/tpu-v6e-test-job.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/tpu-dws-queues.yaml.tftpl
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-v6e/README.md
  modules/compute/gke-node-pool/main.tf
  modules/internal/tpu-definition/README.md
  modules/internal/tpu-definition/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

review1_precommit
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/add-instance-labels.yml
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

A4X comments resolve
  examples/machine-learning/a4x-highgpu-4g/a4x-vm-deployment.yaml
Due: addlicense

Update go files to add timestamps to gcluster logs (#5198)
  pkg/logging/logging.go
  pkg/shell/packer.go
  pkg/shell/terraform.go
  pkg/shell/writer.go
  pkg/shell/writer_test.go
Due: addlicense

Update wait flag and resolving helm_release deadlock destruction error (#5147)
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/helm_install/README.md
  modules/management/kubectl-apply/helm_install/main.tf
  modules/management/kubectl-apply/helm_install/variables.tf
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/outputs.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a4x-kueue-config.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue-config.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updating wait flag and robust destroy
  modules/management/kubectl-apply/main.tf
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_gcluster_failure.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding time buffer
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

adding kueue_config_content and configure_kueue vars to locals block for better code readability
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

removing time sleep and --robust flag
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/versions.tf
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_gcluster_failure.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

adding minor changes to module
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding time_sleep to solve kueue webhook errors
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

adding changes to module
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
