Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.76.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: ['terraform']
    exclude: \.terraform\/.*$
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    pass_filenames: true
    require_serial: true
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-lint
  - id: go-imports
  - id: go-cyclo
    args: [-over=15]
  - id: go-unit-tests
  - id: go-build
  - id: go-mod-tidy
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
  - id: go-critic
    args: [-disable, "#experimental,sloppyTypeAssert"]
- repo: https://github.com/ansible/ansible-lint.git
  rev: v5.4.0
  hooks:
  - id: ansible-lint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.28.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.8
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: end-of-file-fixer

Add Path specialization that can be extended with cty.Path
  pkg/config/path.go
  pkg/config/path_test.go
  pkg/config/validate.go
Due: none

Bake build config into trigger for Golang build tests
  tools/cloud-build/build-test-go.yaml
  tools/cloud-build/provision/pr-go-build-test.tf
Due: terraform-readme

Slurm V6. Add login module
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  tools/duplicate-diff.py
Due: terraform-readme

Bake build config into trigger for Golang build tests (#1894)
  tools/cloud-build/build-test-go.yaml
  tools/cloud-build/provision/pr-go-build-test.tf
Due: terraform-readme

Added git deploy option to deploy script
  community/front-end/ofe/deploy.sh
Due: none

Removed the need for GitHub SSH key
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
Due: none

Delimiter fix
  community/front-end/ofe/deploy.sh
Due: none

Default change
  community/front-end/ofe/deploy.sh
Due: none

Path changes
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
Due: none

Log path fix
  community/front-end/ofe/website/website/settings.py
Due: none

Fix git clone
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
Due: none

Printed git clone path updated
  community/front-end/ofe/deploy.sh
Due: none

Image paths fixed
  community/front-end/ofe/website/nginx.conf
  community/front-end/ofe/website/website/settings.py
Due: none

Add error level to GCP logs
  community/front-end/ofe/tf/main.tf
Due: terraform-readme

Tarball path fixed
  community/front-end/ofe/deploy.sh
Due: none

Static path change
  community/front-end/ofe/website/nginx.conf
Due: none

Docs updated
  community/front-end/ofe/deploy.sh
  community/front-end/ofe/docs/admin_guide.md
Due: none

Formatting
  community/front-end/ofe/deploy.sh
Due: none

Logging config removed
  community/front-end/ofe/tf/main.tf
Due: terraform-readme

Updates to use commit hashes so git_ref is fully functional
  community/modules/scripts/ramble-setup/templates/ramble_setup.yml.tftpl
  community/modules/scripts/spack-setup/templates/spack_setup.yml.tftpl
Due: none

OFE: Live cluster reconfiguration, simplified cluster creation
  community/front-end/ofe/website/ghpcfe/cluster_manager/cloud_info.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/models.py
  community/front-end/ofe/website/ghpcfe/signals.py
  community/front-end/ofe/website/ghpcfe/templates/cluster/create_form.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/detail.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/list.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/update_form.html
  community/front-end/ofe/website/ghpcfe/templates/image/image-create.html
  community/front-end/ofe/website/ghpcfe/urls.py
  community/front-end/ofe/website/ghpcfe/views/clusters.py
  community/modules/database/slurm-cloudsql-federation/main.tf
Due: terraform-readme

Git-ignore `expanded.yaml` (#1886)
  .gitignore
Due: none

Slurm V6. Add login module (#1890)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  tools/duplicate-diff.py
Due: terraform-readme

Add tool for checking quota minimums across multiple regions
  tools/cloud-build/quota-check/README.md
  tools/cloud-build/quota-check/bp.yaml
  tools/cloud-build/quota-check/check.py
Due: none

Add tool for checking quota minimums across multiple regions (#1885)
  tools/cloud-build/quota-check/README.md
  tools/cloud-build/quota-check/bp.yaml
  tools/cloud-build/quota-check/check.py
Due: none

Quota helpers. Proof of concept.
  pkg/config/config.go
  pkg/config/dict.go
  pkg/config/dict_test.go
  pkg/config/expression.go
  pkg/config/expression_test.go
  pkg/modulewriter/packerwriter.go
  pkg/shell/terraform.go
  pkg/validators/quota_func.go
  pkg/validators/quota_func_test.go
  pkg/validators/validators.go
Due: none

Making slurm cloudsql private ip name uquite to allow multiple deployments
  community/modules/database/slurm-cloudsql-federation/main.tf
Due: terraform-readme

Applied recommended changes to gcsfuse and nfs scripts to fix apt-get update
  community/modules/file-system/cloud-storage-bucket/scripts/install-gcs-fuse.sh
  community/modules/file-system/nfs-server/scripts/install-nfs-client.sh
  modules/file-system/filestore/scripts/install-nfs-client.sh
  modules/file-system/pre-existing-network-storage/scripts/install-gcs-fuse.sh
  modules/file-system/pre-existing-network-storage/scripts/install-nfs-client.sh
Due: none

Revert "Organize test files"
  tools/cloud-build/daily-tests/ansible_playbooks/test-batch-submission.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-crd.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-hello-world.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-htcondor-access-point.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-lustre-slurm.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-lustre-vm.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-monitoring.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-mounts.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-ofe-deployment.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-partitions.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-pbspro.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-spack.yml
  tools/cloud-build/daily-tests/tests/batch-mpi.yml
  tools/cloud-build/daily-tests/tests/cloud-batch.yml
  tools/cloud-build/daily-tests/tests/hcls.yml
  tools/cloud-build/daily-tests/tests/hello-world-vars.yml
  tools/cloud-build/daily-tests/tests/high-io-slurm-gcp-v5.yml
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
  tools/cloud-build/daily-tests/tests/hpc-high-io.yml
  tools/cloud-build/daily-tests/tests/hpc-slurm-chromedesktop.yml
  tools/cloud-build/daily-tests/tests/htcondor.yml
  tools/cloud-build/daily-tests/tests/lustre-new-vpc.yml
  tools/cloud-build/daily-tests/tests/lustre-slurm.yml
  tools/cloud-build/daily-tests/tests/lustre-vm.yml
  tools/cloud-build/daily-tests/tests/monitoring.yml
  tools/cloud-build/daily-tests/tests/ofe-deployment.yml
  tools/cloud-build/daily-tests/tests/pbspro.yml
  tools/cloud-build/daily-tests/tests/slurm-v5-hpc-centos7.yml
  tools/cloud-build/daily-tests/tests/slurm-v5-startup-scripts.yml
  tools/cloud-build/daily-tests/tests/slurm-v5-ubuntu.yml
  tools/cloud-build/daily-tests/tests/spack-gromacs.yml
Due: none

Valdiate runtime dependencies before doing `deploy`
  cmd/deploy.go
  pkg/shell/packer.go
  pkg/shell/terraform.go
Due: none

Valdiate runtime dependencies before doing `deploy` (#1875)
  cmd/deploy.go
  pkg/shell/packer.go
  pkg/shell/terraform.go
Due: none

Slurm6. Add basic integration test
  community/examples/hpc-slurm6.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/daily-tests/tests/slurm-v6-rocky8.yml
Due: none

Do not set role-label in expand, rely on module embedded labels
  modules/packer/custom-image/image.pkr.hcl
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/defaults.auto.pkrvars.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/main.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/main.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/main.tf
  tools/validate_configs/golden_copies/expectations/text_escape/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/defaults.auto.pkrvars.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: terraform-readme, packer-readme

Add TPU module for Slurm V6
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme

Slurm6. Add basic integration test (#1896)
  community/examples/hpc-slurm6.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/daily-tests/tests/slurm-v6-rocky8.yml
Due: none

Added failure to the rescue block, similar to setup section to propagate failures to cloud build
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: none

Modification to take into account logging delay
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/check_stockout.yml
Due: none

Revert "Re-raise error in rescue block of slurm integration test"
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: none

Adding FSI Monte Carlo for Tutorial
  community/examples/fsi-montecarlo-on-batch.yaml
  community/modules/compute/notebook/README.md
  community/modules/compute/notebook/files/FSI_MonteCarlo.ipynb
  community/modules/compute/notebook/files/iteration.sh
  community/modules/compute/notebook/files/mc_run.tpl.py
  community/modules/compute/notebook/files/mc_run.tpl.yaml
  community/modules/compute/notebook/files/mc_run_reqs.txt
  community/modules/compute/notebook/main.tf
  community/modules/compute/notebook/outputs.tf
  community/modules/compute/notebook/variables.tf
  community/modules/compute/notebook/versions.tf
  community/modules/database/bigquery_dataset/README.md
  community/modules/database/bigquery_dataset/main.tf
  community/modules/database/bigquery_dataset/outputs.tf
  community/modules/database/bigquery_dataset/variables.tf
  community/modules/database/bigquery_dataset/versions.tf
  community/modules/database/bigquery_table/README.md
  community/modules/database/bigquery_table/main.tf
  community/modules/database/bigquery_table/outputs.tf
  community/modules/database/bigquery_table/variables.tf
  community/modules/database/bigquery_table/versions.tf
  community/modules/pubsub/subscription/README.md
  community/modules/pubsub/subscription/main.tf
  community/modules/pubsub/subscription/outputs.tf
  community/modules/pubsub/subscription/variables.tf
  community/modules/pubsub/subscription/versions.tf
  community/modules/pubsub/topic/README.md
  community/modules/pubsub/topic/main.tf
  community/modules/pubsub/topic/outputs.tf
  community/modules/pubsub/topic/variables.tf
  community/modules/pubsub/topic/versions.tf
  examples/README.md
  notebook/.ghpc/artifacts/DO_NOT_MODIFY_THIS_DIRECTORY
  notebook/.ghpc/artifacts/expanded_blueprint.yaml
  notebook/instructions.txt
Due: terraform-readme

Fix issue with Ansible test files
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-batch-submission.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-crd.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-hello-world.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-htcondor-access-point.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-lustre-slurm.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-lustre-vm.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-monitoring.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-mounts.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-ofe-deployment.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-partitions.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-pbspro.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-spack.yml
  tools/cloud-build/daily-tests/tests/batch-mpi.yml
  tools/cloud-build/daily-tests/tests/cloud-batch.yml
  tools/cloud-build/daily-tests/tests/hcls.yml
  tools/cloud-build/daily-tests/tests/hello-world-vars.yml
  tools/cloud-build/daily-tests/tests/high-io-slurm-gcp-v5.yml
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
  tools/cloud-build/daily-tests/tests/hpc-high-io.yml
  tools/cloud-build/daily-tests/tests/hpc-slurm-chromedesktop.yml
  tools/cloud-build/daily-tests/tests/htcondor.yml
  tools/cloud-build/daily-tests/tests/lustre-new-vpc.yml
  tools/cloud-build/daily-tests/tests/lustre-slurm.yml
  tools/cloud-build/daily-tests/tests/lustre-vm.yml
  tools/cloud-build/daily-tests/tests/monitoring.yml
  tools/cloud-build/daily-tests/tests/ofe-deployment.yml
  tools/cloud-build/daily-tests/tests/pbspro.yml
  tools/cloud-build/daily-tests/tests/slurm-v5-debian.yml
  tools/cloud-build/daily-tests/tests/slurm-v5-hpc-centos7.yml
  tools/cloud-build/daily-tests/tests/slurm-v5-rocky8.yml
  tools/cloud-build/daily-tests/tests/slurm-v5-startup-scripts.yml
  tools/cloud-build/daily-tests/tests/slurm-v5-ubuntu.yml
  tools/cloud-build/daily-tests/tests/slurm-v6-rocky8.yml
  tools/cloud-build/daily-tests/tests/spack-gromacs.yml
Due: none
