Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Add missing indexes and a3U documentation in readme for gke blueprints
  examples/README.md
Due: addlicense

add gcs_bucket variable
  examples/machine-learning/a3-megagpu-8g/README.md
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-gcsfuse-lssd-cluster.yaml
Due: addlicense

Minor update on README.md for gke dws flex start
  examples/gke-dws-flex-start/README.md
Due: addlicense

add gke dws flex start example and integration test
  examples/gke-dws-flex-start/README.md
  examples/gke-dws-flex-start/dws-queues.yaml.tftpl
  examples/gke-dws-flex-start/gke-dws-flex-start.yaml
  examples/gke-dws-flex-start/sample-job.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-dws-flex-start.yml
  tools/cloud-build/daily-tests/builds/gke-dws-flex-start.yaml
  tools/cloud-build/daily-tests/tests/gke-dws-flex-start.yml
Due: duplicate-diff, addlicense

Update k8s service account name to make it configurable by the user
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add default value for k8s service account name in gke cluster
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add static name for networks
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
  modules/compute/gke-node-pool/gpu-direct-workload/scripts/enable-tcpx-in-workload.py
  modules/compute/gke-node-pool/gpu-direct-workload/scripts/enable-tcpxo-in-workload.py
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update README.md
  community/examples/intel/chatqna/README.md
Due: addlicense

Update README.md
  community/examples/intel/codegen/README.md
Due: addlicense

SlurmGCP. Fix TypeError: can't subtract offset-naive and offset-aware datetimes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Update datetime usage
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add startup script to set OFI env vars for Cloud RDMA workloads
  community/examples/hpc-slurm-h4d.yaml
  examples/h4d-vm.yaml
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add the 2 node GKE NCCL test for A3U back
  examples/gke-a3-ultragpu/nccl-test.yaml
Due: addlicense

Enhance deploy to output JSON instead of plain-english
  cmd/deploy.go
  cmd/deploy_test.go
  cmd/destroy.go
  cmd/export.go
  cmd/utils.go
  pkg/shell/terraform.go
Due: addlicense

Handle startup scripts individually per login group
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add internal module `vpc_peering`
  modules/internal/vpc_peering/README.md
  modules/internal/vpc_peering/main.tf
  modules/internal/vpc_peering/metadata.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix guest accelerators for GKE
  modules/internal/gpu-definition/README.md
  modules/internal/gpu-definition/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update GPU and disk definitions for A4
  modules/compute/gke-node-pool/disk_definitions.tf
  modules/internal/gpu-definition/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add module to mount WEKA filesystems
  community/modules/file-system/weka-client/README.md
  community/modules/file-system/weka-client/outputs.tf
  community/modules/file-system/weka-client/templates/enable-weka.sh.tftpl
  community/modules/file-system/weka-client/templates/install-weka-client.sh.tftpl
  community/modules/file-system/weka-client/templates/mount-weka.sh.tftpl
  community/modules/file-system/weka-client/templates/weka.service.tftpl
  community/modules/file-system/weka-client/variables.tf
  community/modules/file-system/weka-client/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE: update python to 3.12
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/front-end/ofe/website/ghpcfe/templates/registries/detail.html
Due: duplicate-diff, addlicense

Add scripts/wait module
  community/modules/scripts/wait/README.md
  community/modules/scripts/wait/main.tf
  community/modules/scripts/wait/outputs.tf
  community/modules/scripts/wait/variables.tf
  community/modules/scripts/wait/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Slurm + Weka blueprint
  community/examples/weka-slurm.yaml
Due: addlicense

Fix minor typo with PROJECT_ID env var
  examples/hypercompute_clusters/a3u-gke-gcs/README.md
Due: addlicense

Configure 2-Party Review on Github PRs from External Contributor
  .github/workflows/multi-approvers.yml
Due: addlicense

Fix boolean logic to prevent OFI tunables from always being set
  community/examples/hpc-slurm-h4d.yaml
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Roll version number from 1.46.0 to 1.46.1
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add provisioningModel for calendar future reservations
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Fix HTCondor config name conflict
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updating uses of type object to be more specific
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

making anyone with write permissions a CODEOWNER
  CODEOWNERS
Due: addlicense

Update k8s service account name to make it configurable by the user
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase version to v1.46.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add h4d blueprints into README and add firewall rule on rdma network
  community/examples/hpc-slurm-h4d.yaml
  examples/README.md
  examples/h4d-vm.yaml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
