Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

fix(gke): dynamically discover main container name for gcluster job logs stream
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
Due: addlicense

Persistent Disk Storage Pool Support for Slurm modules (#6012)
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/versions.tf
  community/modules/internal/slurm-gcp/login/README.md
  community/modules/internal/slurm-gcp/login/main.tf
  community/modules/internal/slurm-gcp/login/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

test(telemetry): add comprehensive tests, fix matching order hierarchy, and migrate getExtendedErrorType to util
  pkg/telemetry/collector.go
  pkg/telemetry/collector_test.go
  pkg/telemetry/collector_util.go
  pkg/telemetry/error_categories.go
Due: addlicense

style(telemetry): run go fmt on collector.go
  pkg/telemetry/collector.go
Due: addlicense

fix: restore terraform-docs table style in apptainer-app README
  community/modules/container/apptainer-app/README.md
Due: addlicense

Adds validation in metadata and variables.tf for invalid cidr, removing global cidr validation
  modules/scheduler/gke-cluster/metadata.yaml
  modules/scheduler/gke-cluster/variables.tf
  pkg/config/validate.go
  pkg/config/validator_test.go
  pkg/validators/metadata_validator_helpers.go
  pkg/validators/metadata_validators.go
  pkg/validators/metadata_validators_test.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated conditions in validtor helper
  pkg/validators/metadata_validator_helpers.go
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

feat(testing): cut over daily test suite to Kueue scheduling (#6125)
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-debian.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-debian_old.yaml.bak
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ssd.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ssd_old.yaml.bak
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ubuntu_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updating shorthand map in hardware.go
  pkg/config/hardware.go
  pkg/config/hardware_test.go
  pkg/orchestrator/gke/resource_resolver_test.go
Due: addlicense

Update auth/slurm ttl to fix node drain timeout
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/htc-slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/long-prolog-slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurm.conf.tpl
Due: addlicense

adding error for odd core counts
  pkg/config/hardware.go
  pkg/config/hardware_test.go
Due: addlicense

fix: use TensorCore count for TPU v4 and v5p shorthand mappings (#6129)
  pkg/config/hardware.go
  pkg/config/hardware_test.go
  pkg/orchestrator/gke/resource_resolver_test.go
Due: addlicense

feat(gke): decouple MTC and ramdisk directory flags
  cmd/job/submit.go
  cmd/job/submit_test.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
  pkg/orchestrator/gke/types.go
  pkg/orchestrator/orchestrator.go
Due: addlicense

fix(telemetry): address review feedback on case insensitivity and dead code
  pkg/telemetry/collector_test.go
  pkg/telemetry/collector_util.go
  pkg/telemetry/error_categories.go
Due: addlicense

fix(gke): require --ramdisk-dir to be an absolute path
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/storage_test.go
  pkg/orchestrator/gke/types.go
Due: addlicense

Performance improvements for string matching TAG=agy CONV=
  pkg/telemetry/collector.go
  pkg/telemetry/collector_util.go
  pkg/telemetry/error_categories.go
Due: addlicense

[Telemetry] Improve error categorization (#6126)
  pkg/telemetry/collector.go
  pkg/telemetry/collector_test.go
  pkg/telemetry/collector_util.go
  pkg/telemetry/error_categories.go
Due: addlicense

update terraform-provider version to >= 6.9.0, <= 7.44.0
  pkg/config/expand.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Adding integration tests for GKE A4X-Max
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a4x-max-bm-kueue-config.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a4x-max-bm.yml
  tools/cloud-build/daily-tests/builds/gke-a4x-max-bm.yaml
  tools/cloud-build/daily-tests/tests/gke-a4x-max-bm.yml
Due: addlicense

Update Contribution readme
  CONTRIBUTING.md
  docs/module-guidelines.md
Due: addlicense

update
  CONTRIBUTING.md
  docs/module-guidelines.md
Due: addlicense

nit update
  CONTRIBUTING.md
Due: addlicense

docs(gke-g4-confidential): document Spot and DWS Flex Start GPU consumption options
  examples/gke-g4-confidential/README.md
Due: addlicense

Cut over daily test suite to Kueue scheduling
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-onspot_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Centralize pod cleanup for kueue daily tests
  tools/cloud-build/kueue_cleanup_pod.sh
Due: duplicate-diff, addlicense

address gemini review
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
Due: addlicense

feat: optimize dependency management and improve UX (#6056)
  README.md
  cmd/dependencies.go
  cmd/dependencies_test.go
  cmd/deploy.go
  cmd/destroy.go
  cmd/export.go
  cmd/root.go
  cmd/utils.go
  pkg/dependencies/resolver.go
  pkg/dependencies/resolver_test.go
  pkg/shell/terraform.go
  pkg/sourcereader/goget.go
  pkg/validators/validators.go
Due: addlicense

Update TTL in auth/slurm to fix A3H node drain timeout (#6131)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/htc-slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/long-prolog-slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurm.conf.tpl
Due: addlicense

docs(ctk): add CMEK example blueprints
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  examples/README.md
Due: addlicense

fix(ctk): default kms-key to schedule key material for deletion on teardown
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  community/modules/security/kms-key/README.md
  community/modules/security/kms-key/main.tf
  community/modules/security/kms-key/variables.tf
  community/modules/security/pre-existing-kms-key/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(cmek): harden the KMS key listing and key_ring_id validation
  community/modules/security/kms-key/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(ctk): accept a CMEK key in Filestore, images and attached services
  community/modules/container/artifact-registry/main.tf
  community/modules/container/artifact-registry/variables.tf
  community/modules/database/slurm-cloudsql-federation/main.tf
  community/modules/database/slurm-cloudsql-federation/variables.tf
  modules/file-system/filestore/main.tf
  modules/file-system/filestore/variables.tf
  modules/packer/custom-image/image.pkr.hcl
  modules/packer/custom-image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

feat(ctk): add Cloud KMS modules for customer-managed encryption
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key-iam/main.tf
  community/modules/security/kms-key-iam/metadata.yaml
  community/modules/security/kms-key-iam/outputs.tf
  community/modules/security/kms-key-iam/variables.tf
  community/modules/security/kms-key-iam/versions.tf
  community/modules/security/kms-key/README.md
  community/modules/security/kms-key/main.tf
  community/modules/security/kms-key/metadata.yaml
  community/modules/security/kms-key/outputs.tf
  community/modules/security/kms-key/variables.tf
  community/modules/security/kms-key/versions.tf
  community/modules/security/pre-existing-kms-key/README.md
  community/modules/security/pre-existing-kms-key/main.tf
  community/modules/security/pre-existing-kms-key/metadata.yaml
  community/modules/security/pre-existing-kms-key/outputs.tf
  community/modules/security/pre-existing-kms-key/variables.tf
  community/modules/security/pre-existing-kms-key/versions.tf
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(cmek): address review findings across the KMS modules and OFE wiring
  community/modules/security/kms-key/variables.tf
  modules/file-system/filestore/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs(ctk): use placeholder key names in the CMEK examples
  community/examples/kms-key-per-service.yaml
  community/modules/security/pre-existing-kms-key/README.md
Due: addlicense

docs: regenerate module READMEs and drop trailing whitespace
  community/modules/container/artifact-registry/README.md
  community/modules/database/slurm-cloudsql-federation/README.md
  community/modules/security/kms-key-iam/README.md
  community/modules/security/pre-existing-kms-key/README.md
  modules/file-system/filestore/README.md
  modules/packer/custom-image/README.md
Due: addlicense

feat(ctk): enable cloudkms in the examples and add AR/Cloud SQL use aliases
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key-iam/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs(ctk): document per-module testing evidence in the CMEK module READMEs
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key/README.md
  community/modules/security/pre-existing-kms-key/README.md
Due: addlicense

added integration test and blueprint for vm storage pools
  examples/vm-storage.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-vm-storage.yml
  tools/cloud-build/daily-tests/builds/vm-storage.yaml
  tools/cloud-build/daily-tests/tests/vm-storage.yml
Due: addlicense
