Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.76.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: ['terraform']
    exclude: \.terraform\/.*$
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    pass_filenames: true
    require_serial: true
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-lint
  - id: go-imports
  - id: go-cyclo
    args: [-over=15]
  - id: go-unit-tests
  - id: go-build
  - id: go-mod-tidy
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
  - id: go-critic
    args: [-disable, "#experimental,sloppyTypeAssert"]
- repo: https://github.com/ansible/ansible-lint.git
  rev: v5.4.0
  hooks:
  - id: ansible-lint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.28.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.8
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: end-of-file-fixer

Fix panic while attempting to tokenize Null-value (#1468)
  pkg/modulewriter/hcl_utils.go
  pkg/modulewriter/hcl_utils_test.go
Due: none

Bump version to v1.19.1
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-configure/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme

Apply lifecycle config to not swap boot disk (and VM) each time a new disk image is available
  modules/compute/vm-instance/main.tf
Due: terraform-readme

Update "google", "google-beta" providers to 4.69.1 (#1464)
  pkg/modulewriter/tfversions.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
Due: terraform-readme

Add templating to gke-job-template for persistent volume claims
  community/modules/compute/gke-job-template/README.md
  community/modules/compute/gke-job-template/main.tf
  community/modules/compute/gke-job-template/templates/gke-job-base.yaml.tftpl
  community/modules/compute/gke-job-template/variables.tf
Due: terraform-readme

Add outputs to filestore module needed by gke-persistent-volume
  modules/file-system/filestore/README.md
  modules/file-system/filestore/outputs.tf
Due: terraform-readme

Add boilerplate for gke-persistent-volume
  community/modules/file-system/gke-persistent-volume/main.tf
  community/modules/file-system/gke-persistent-volume/outputs.tf
  community/modules/file-system/gke-persistent-volume/variables.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
Due: terraform-readme

Address feedback from #1442
  community/modules/compute/gke-job-template/README.md
  community/modules/compute/gke-job-template/main.tf
  community/modules/compute/gke-job-template/templates/gke-job-base.yaml.tftpl
  community/modules/compute/gke-job-template/variables.tf
  community/modules/file-system/gke-persistent-volume/README.md
  community/modules/file-system/gke-persistent-volume/main.tf
  community/modules/file-system/gke-persistent-volume/outputs.tf
  community/modules/file-system/gke-persistent-volume/variables.tf
Due: terraform-readme

Add support for filestore in gke-persistent-volume
  community/modules/file-system/gke-persistent-volume/README.md
  community/modules/file-system/gke-persistent-volume/main.tf
  community/modules/file-system/gke-persistent-volume/outputs.tf
  community/modules/file-system/gke-persistent-volume/templates/filestore-pv.yaml.tftpl
  community/modules/file-system/gke-persistent-volume/templates/filestore-pvc.yaml.tftpl
  community/modules/file-system/gke-persistent-volume/variables.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
Due: terraform-readme

Add documentation for gke-persistent-volume-module
  community/modules/file-system/gke-persistent-volume/README.md
  modules/README.md
Due: none

Fix capitalization of error messages
  pkg/modulereader/resreader.go
  pkg/modulereader/resreader_test.go
  pkg/sourcereader/embedded.go
  pkg/sourcereader/embedded_test.go
  pkg/sourcereader/git.go
  pkg/sourcereader/git_test.go
  pkg/sourcereader/local.go
  pkg/sourcereader/local_test.go
Due: none

Remove unused test func
  pkg/modulereader/resreader_test.go
Due: none

Relax `TestNetworkStorage` to accomodate `gke-persistent-volume`
  pkg/inspect/modules_test.go
Due: none

Relax `TestNetworkStorage` to accomodate `gke-persistent-volume` (#1483)
  pkg/inspect/modules_test.go
Due: none

Don't use `WrapSettingsWith` for `labels`
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/config/expression.go
  pkg/config/expression_test.go
  pkg/modulewriter/hcl_utils.go
  pkg/modulewriter/hcl_utils_test.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/tfwriter.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
Due: none

Deprecate `WrapSettingsWith`
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/config/expression.go
  pkg/config/expression_test.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/tfwriter.go
  tools/validate_configs/golden_copies/configs/merge_flatten.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/DO_NOT_MODIFY_THIS_DIRECTORY
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/instructions.txt
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/main.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/providers.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/terraform.tfvars
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/variables.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
Due: terraform-readme

Print advanced instructions after `ghpc deploy`
  cmd/create.go
  cmd/deploy.go
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
Due: none

Deprecated `WrapSettingsWith` (#1466)
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/config/expression.go
  pkg/config/expression_test.go
  pkg/modulewriter/hcl_utils.go
  pkg/modulewriter/hcl_utils_test.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/tfwriter.go
  tools/validate_configs/golden_copies/configs/merge_flatten.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/DO_NOT_MODIFY_THIS_DIRECTORY
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/instructions.txt
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/main.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/providers.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/terraform.tfvars
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/variables.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
Due: terraform-readme

Print advanced instructions after `ghpc deploy` (#1463)
  cmd/create.go
  cmd/deploy.go
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
Due: none

Add `terraform_backend_defaults` section to some examples (#1469)
  examples/hpc-enterprise-slurm.yaml
  examples/ml-slurm.yaml
Due: none

Use consistent order in "product of module use" mark.
  pkg/config/config.go
  pkg/config/expand_test.go
Due: none

Use consistent order in "product of module use" mark. (#1484)
  pkg/config/config.go
  pkg/config/expand_test.go
Due: none

Export DeploymentSource func
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/packerwriter.go
  pkg/modulewriter/tfwriter.go
Due: none

Add support for Packer "packages"
  cmd/deploy.go
  pkg/modulereader/resreader.go
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/packerwriter.go
  pkg/shell/packer.go
  pkg/shell/terraform.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/instructions.txt
  tools/validate_configs/golden_copies/expectations/text_escape/instructions.txt
Due: none

Facilitate setting accelerator_type in Packer module
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme

Add community example of how to use filestore with gke
  community/examples/storage-gke.yaml
  examples/README.md
Due: none

Remove excessive error messages
  pkg/config/expand.go
  pkg/config/expand_test.go
Due: none

Remove excessive error messages (#1485)
  pkg/config/expand.go
  pkg/config/expand_test.go
Due: none

Add rich error messages with position and snippet
  cmd/create.go
  cmd/deploy.go
  cmd/destroy.go
  cmd/export.go
  cmd/import.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/config/yaml.go
  pkg/shell/terraform.go
Due: none

DRAFT test
  pkg/config/yaml_test.go
Due: none

Add handling for Blueprint syntax variations + tests
  pkg/config/yaml.go
  pkg/config/yaml_test.go
Due: none

Added line numbers
  cmd/create.go
  cmd/create_test.go
  pkg/config/yaml_test.go
Due: none

Add rich error messages with position and snippet (#1448)
  cmd/create.go
  cmd/create_test.go
  cmd/deploy.go
  cmd/destroy.go
  cmd/export.go
  cmd/import.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/config/yaml.go
  pkg/config/yaml_test.go
  pkg/shell/terraform.go
Due: none

Make execute command ansible script generic so it can be reused
  community/modules/scripts/ramble-execute/main.tf
  community/modules/scripts/ramble-execute/templates/ramble_execute.yml.tpl
Due: terraform-readme

Another alternative to config.Path
  pkg/config/path.go
  pkg/config/path_test.go
Due: none

Update "google" provider in OFE from 3.x to 4.x
  community/front-end/ofe/tf/README.md
  community/front-end/ofe/tf/main.tf
  community/front-end/ofe/tf/network/README.md
  community/front-end/ofe/tf/network/versions.tf
  community/front-end/ofe/tf/versions.tf
Due: terraform-readme

Allow providing short references for image project
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
Due: terraform-readme

Update examples to use short image project names
  community/examples/hpc-slurm-chromedesktop.yaml
  community/examples/hpc-slurm-ubuntu2004.yaml
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  examples/hpc-enterprise-slurm.yaml
  tools/validate_configs/test_configs/node-groups.yaml
Due: terraform-readme

Update "cloud-storage" module reference to version 4.x
  community/front-end/ofe/tf/README.md
  community/front-end/ofe/tf/main.tf
Due: terraform-readme

Update Intel DAOS example
  community/examples/intel/pfs-daos.yaml
Due: none
