Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Update lustre to latest
  community/modules/file-system/DDN-EXAScaler/README.md
  community/modules/file-system/DDN-EXAScaler/main.tf
  community/modules/file-system/DDN-EXAScaler/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add a new post deploy test for gke cluster to do basic sanity check on the cluster
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-job.yml
  tools/cloud-build/daily-tests/tests/ml-gke.yml
  tools/cloud-build/images/test-runner/Dockerfile
Due: addlicense

Update rocky image in test blueprint
  tools/cloud-build/daily-tests/blueprints/lustre-vm.yaml
Due: addlicense

fixed dilimiters issue in some Readme files
  community/modules/scheduler/gke-cluster/README.md
  community/modules/scheduler/pre-existing-gke-cluster/README.md
Due: addlicense

miinor changes on outputs description
  community/modules/scheduler/gke-cluster/outputs.tf
  community/modules/scheduler/pre-existing-gke-cluster/outputs.tf
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add known gpu types and their accelerators to gke module
  community/examples/ml-gke.yaml
  community/modules/compute/gke-node-pool/gpu_definition.tf
  community/modules/compute/gke-node-pool/main.tf
  examples/README.md
  tools/duplicate-diff.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

terraform required version updated
  community/modules/scheduler/pre-existing-gke-cluster/README.md
  community/modules/scheduler/pre-existing-gke-cluster/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Lost the commit so re-adding the changes
  community/modules/compute/gke-node-pool/main.tf
  examples/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add 'source' argument for path to prolog or epilog scripts
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Bump version `1.35.0 -> 1.35.1`
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Disable force_destroy on bucket created in A3 Mega blueprint. Prevents accidental deletion of manually created objects
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
Due: addlicense

Remove `zones` from a3mega BP
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
Due: addlicense

Bump SlurmGCP version to `6.5.9`
  community/examples/hpc-build-slurm-image.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "Remove installation of enroot and pyxis from a3-highgpu-8g blueprint"
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
Due: addlicense

Exclude Filestore module from integration test
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/pre-create-tasks/remove-modules.yml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/remove_module.py
  tools/cloud-build/daily-tests/tests/hpc-slurm-chromedesktop.yml
  tools/cloud-build/daily-tests/tests/slurm-v6-rocky8.yml
Due: addlicense

SlurmGCP 6 deperecate `enable_devel` variable
  community/examples/hpc-build-slurm-image.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Only enable gpu taints if guest_acclerator list is not empty
  community/modules/compute/gke-node-pool/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE: Update update_form.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/update_form.html
Due: addlicense

OFE: Update clusterinfo.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
Due: addlicense

OFE Update update_form.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/update_form.html
Due: addlicense

Set default disk type to pd-balanced
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Use PSC instead of PSA for Cloud SQL
  community/modules/database/slurm-cloudsql-federation/README.md
  community/modules/database/slurm-cloudsql-federation/main.tf
  community/modules/database/slurm-cloudsql-federation/outputs.tf
  community/modules/database/slurm-cloudsql-federation/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add controller and login instances to outputs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE: Update cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
Due: addlicense

OFE: Update partition_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
Due: addlicense

Update slurm-gcp module to use custom endpoints. Dependent on change to slurm-gcp PR#146
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

small update to change universe-endpoints
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update for testing out changes in slurm-gcp and updates to account for changes in slurm-gcp Also updated cleanup_compute to be compatible with different versions of gcloud
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/cleanup.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/scripts/cleanup_compute.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update to take into account changes to slurm-gcp. Place holder ref for modules until new slurm-gcp release.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/scripts/cleanup_compute.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Move GCESysPrep to provisioner in Windows scripts
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme, addlicense

Add parallelstore support in pre-existing-network-storage module
  modules/file-system/pre-existing-network-storage/outputs.tf
  modules/file-system/pre-existing-network-storage/scripts/install-daos-client.sh
  modules/file-system/pre-existing-network-storage/scripts/mount-daos.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add parallelstore module and support for rocky 8, ubuntu 22.04 and debian 12
  examples/README.md
  modules/README.md
  modules/file-system/parallelstore/README.md
  modules/file-system/parallelstore/main.tf
  modules/file-system/parallelstore/metadata.yaml
  modules/file-system/parallelstore/outputs.tf
  modules/file-system/parallelstore/scripts/install-daos-client.sh
  modules/file-system/parallelstore/scripts/mount-daos.sh
  modules/file-system/parallelstore/variables.tf
  modules/file-system/parallelstore/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add parallelstore driver and mount scripts in tools/diff
  tools/duplicate-diff.py
Due: addlicense

Add `schedmd-slurm-gcp-v6-nodeset-dynamic` module
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/gpu_definition.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  modules/README.md
  tools/duplicate-diff.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update to fix cleanup compute
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/cleanup.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/scripts/cleanup_compute.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Address bug in 251ce6e8
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme, addlicense

Address centos-7 image family deprecation
  tools/cloud-build/daily-tests/blueprints/lustre-vm.yaml
  tools/validate_configs/os_compatibility_tests/vm-filestore.yaml
  tools/validate_configs/os_compatibility_tests/vm-lustre.yaml
Due: addlicense

Disable PBS Pro test
  tools/cloud-build/daily-tests/builds/pbspro.yaml
Due: addlicense

CentOS 7 boot hotfix
  modules/scripts/startup-script/files/early_run_hotfixes.sh
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
