Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

updating the github path
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-nccl.yml
Due: addlicense

testing changes
  examples/machine-learning/a3-megagpu-8g/nccl-tests/build-nccl-tests.sh
  examples/machine-learning/a3-megagpu-8g/nccl-tests/import_pytorch_container.sh
  examples/machine-learning/a3-megagpu-8g/nccl-tests/run-nccl-tests.sh
  examples/machine-learning/a3-megagpu-8g/nccl-tests/run-topological-nccl-tests.sh
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/build-nccl-tests.sh
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/import_pytorch_container.sh
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/run-nccl-tests.sh
Due: duplicate-diff, addlicense

nit
  examples/machine-learning/a3-megagpu-8g/nccl-tests/import_pytorch_container.sh
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/import_pytorch_container.sh
Due: duplicate-diff, addlicense

Location Hint Support For VM Instance
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

reverting git path changes
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/build-nccl-tests.sh
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-nccl.yml
Due: duplicate-diff, addlicense

nit
  examples/machine-learning/a3-megagpu-8g/nccl-tests/import_pytorch_container.sh
Due: duplicate-diff, addlicense

removing extra permissions
  examples/machine-learning/a3-megagpu-8g/nccl-tests/import_pytorch_container.sh
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/import_pytorch_container.sh
Due: duplicate-diff, addlicense

fix: Update a3m and a3u script to resolve slurm nccl test failure (#5308)
  examples/machine-learning/a3-megagpu-8g/nccl-tests/import_pytorch_container.sh
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/import_pytorch_container.sh
Due: duplicate-diff, addlicense

Revert "Update provider_meta module_name for login module"
  community/modules/internal/slurm-gcp/login/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix: add network interface to htcondor execute point module + update install ansible script
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  modules/scripts/startup-script/files/install_ansible.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

base telemetry framework
  cmd/root.go
  pkg/config/config.go
  pkg/telemetry/collector.go
  pkg/telemetry/collector_test.go
  pkg/telemetry/telemetry.go
  pkg/telemetry/types.go
  pkg/telemetry/uploader.go
  pkg/telemetry/uploader_test.go
Due: addlicense

.
  pkg/telemetry/collector.go
  pkg/telemetry/telemetry.go
  pkg/telemetry/types.go
  pkg/telemetry/uploader.go
Due: addlicense

..
  pkg/config/config.go
Due: addlicense

ai fixer precommit
  cmd/ai.go
  cmd/fix_pre_commits.go
  docs/ai_pre_commit_usage.md
  pkg/ai/client.go
  pkg/ai/fixer.go
  pkg/ai/parser.go
  pkg/ai/parser_test.go
Due: addlicense

Add ttl labels to gke and some other integration tests
  tools/cloud-build/daily-tests/builds/ansible-vm.yaml
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop.yaml
  tools/cloud-build/daily-tests/builds/cloud-batch.yaml
  tools/cloud-build/daily-tests/builds/e2e.yaml
  tools/cloud-build/daily-tests/builds/gcluster-dockerfile.yaml
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
  tools/cloud-build/daily-tests/builds/gke-g4.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e-flex.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
Due: addlicense

Correction and add vars section
  tools/cloud-build/daily-tests/blueprints/crd-default.yaml
  tools/cloud-build/daily-tests/blueprints/crd-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/e2e.yaml
Due: addlicense

corrections
  tools/cloud-build/daily-tests/builds/cloud-batch.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-hyperdisk.yaml
Due: addlicense

remove comments
  tools/cloud-build/daily-tests/builds/gcluster-dockerfile.yaml
Due: addlicense

add ttl label to remaining ml and gke focused blueprints
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-custom-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm.yaml
Due: addlicense

.
  pkg/config/config.go
Due: addlicense

.
  cmd/root.go
Due: addlicense

add gke-a4x-max-bm to README index
  examples/README.md
  examples/machine-learning/README.md
Due: addlicense

feat: Introduce Cluster Health Scanner (CHS) tests for NCCL and DCGM validation in the GKE A3 Ultra playbook.
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/run-chs-tests.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-ultra.yml
Due: addlicense

fix: Delegate with include task
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-ultra.yml
Due: addlicense

fix: Changing to develop branch for chs
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/run-chs-tests.yml
Due: addlicense

fix venv
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/run-chs-tests.yml
Due: addlicense

fix: Maybe hopefully final
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/run-chs-tests.yml
Due: addlicense

fix: python version
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/run-chs-tests.yml
Due: addlicense

Add a4
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a4.yml
Due: addlicense

fix: owner's permission
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/run-chs-tests.yml
Due: addlicense

fix: cloudbuild and print logs on failure
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/run-chs-tests.yml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
Due: addlicense

installing ramble dependencies
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/run-chs-tests.yml
Due: addlicense

Adding path in chs
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/run-chs-tests.yml
Due: addlicense

Run lite suite instead of particular tests
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/run-chs-tests.yml
Due: addlicense

Fix G4
  examples/ml-slurm-g4.yaml
Due: addlicense

update terraform-provider version to >= 6.9.0, <= 7.21.0
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
