Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.76.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: ['terraform']
    exclude: \.terraform\/.*$
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    pass_filenames: true
    require_serial: true
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-lint
  - id: go-imports
  - id: go-cyclo
    args: [-over=15]
  - id: go-unit-tests
  - id: go-build
  - id: go-mod-tidy
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
  - id: go-critic
    args: [-disable, "#experimental,sloppyTypeAssert"]
- repo: https://github.com/ansible/ansible-lint.git
  rev: v5.4.0
  hooks:
  - id: ansible-lint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.28.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.8
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: end-of-file-fixer

Add Powershell script support to Packer module
  modules/packer/custom-image/README.md
  modules/packer/custom-image/image.pkr.hcl
  modules/packer/custom-image/variables.pkr.hcl
Due: packer-readme

Update golden copies of Packer module
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: packer-readme

Add support for fixed version of HTCondor installation
  community/modules/scripts/htcondor-install/README.md
  community/modules/scripts/htcondor-install/files/install-htcondor.yaml
  community/modules/scripts/htcondor-install/main.tf
  community/modules/scripts/htcondor-install/variables.tf
Due: terraform-readme

Update gke service account variable to separate email and scopes
  community/modules/compute/gke-node-pool/README.md
  community/modules/compute/gke-node-pool/main.tf
  community/modules/compute/gke-node-pool/variables.tf
  community/modules/scheduler/gke-cluster/README.md
  community/modules/scheduler/gke-cluster/main.tf
  community/modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme

Upgrade HTCondor example to use Rocky Linux 8
  community/examples/htc-htcondor.yaml
  community/modules/scheduler/htcondor-configure/files/htcondor_configure.yml
  community/modules/scripts/htcondor-install/files/install-htcondor.yaml
Due: none

Fix Ansible installation upon re-run
  modules/scripts/startup-script/files/install_ansible.sh
Due: none

Update HTCondor execute point module
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
Due: terraform-readme

Merge branch 'main' into release-candidate
  community/front-end/ofe/requirements.txt
Due: none

Improve resilience of HTCondor installation
  community/modules/scripts/htcondor-install/files/install-htcondor.yaml
Due: none

Convert HTCondor example to multigroup deployment
  community/examples/htc-htcondor.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/htcondor-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-htcondor-access-point.yml
Due: none

Conditionally exclude nodeSelector when not needed
  community/modules/compute/gke-job-template/main.tf
  community/modules/compute/gke-job-template/templates/gke-job-base.yaml.tftpl
Due: terraform-readme

Address comments
  docs/module-guidelines.md
Due: none

Address feedback from #1440
  community/examples/htc-htcondor.yaml
  community/modules/scripts/htcondor-install/README.md
  tools/cloud-build/daily-tests/ansible_playbooks/test-htcondor-access-point.yml
Due: none

Eliminate all ansible-lint errors for base and Slurm integration tests
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: none

Do not use `log.Fatal` in `pkg/config`
  cmd/root.go
  pkg/config/config.go
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/config/validate.go
Due: none

Update internal use of startup-script to latest
  community/modules/compute/pbspro-execution/README.md
  community/modules/compute/pbspro-execution/main.tf
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/main.tf
  community/modules/scheduler/pbspro-client/README.md
  community/modules/scheduler/pbspro-client/main.tf
  community/modules/scheduler/pbspro-server/README.md
  community/modules/scheduler/pbspro-server/main.tf
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/startup_from_network_storage.tf
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/startup_from_network_storage.tf
  modules/scheduler/batch-login-node/README.md
  modules/scheduler/batch-login-node/main.tf
Due: terraform-readme

`resreader.go` code clean up
  pkg/modulereader/resreader.go
  pkg/modulereader/resreader_test.go
Due: none

Refacot gke-job-template to remove duplicate information in templating
  community/modules/compute/gke-job-template/main.tf
  community/modules/compute/gke-job-template/templates/gke-job-base.yaml.tftpl
Due: terraform-readme

`resreader.go` code clean up (#1445)
  pkg/modulereader/resreader.go
  pkg/modulereader/resreader_test.go
Due: none

Do not use `log.Fatal` in `pkg/config` (#1444)
  cmd/root.go
  pkg/config/config.go
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/config/validate.go
Due: none

Remove `Module.RequiredApis`
  modules/README.md
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/expand.go
  pkg/config/validate.go
  pkg/config/validator_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/.ghpc/artifacts/expanded_blueprint.yaml
Due: none

Remove `Module.RequiredApis` (#1446)
  modules/README.md
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/expand.go
  pkg/config/validate.go
  pkg/config/validator_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/.ghpc/artifacts/expanded_blueprint.yaml
Due: none

Add `docs/module-guidelines.md` (#1423)
  docs/module-guidelines.md
  modules/README.md
Due: none

Improve Packer experience for Windows
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme

Fix regex for validating GroupName
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/validate.go
Due: none

Remove OFE double-usage of deployment name in service account name
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
Due: none

Add inert `Module.RequiresApis` for backward compatibility
  pkg/config/config.go
Due: none

Add inert `Module.RequiresApis` for backward compatibility (#1450)
  pkg/config/config.go
Due: none

Remove OFE double-usage of deployment name in service account name (#1451)
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
Due: none

Remove `Module.DeploymentSource`, compute it on demand
  pkg/config/config.go
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/packerwriter.go
  pkg/modulewriter/tfwriter.go
Due: none

Address comments
  pkg/config/config.go
  pkg/config/config_test.go
Due: none

Add `config.Path` to have a way to point to a particular part of the Blueprint
  pkg/config/path.go
  pkg/config/path_test.go
Due: none

Fix regex for validating GroupName (#1449)
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/validate.go
Due: none

Add firewall rule for SSH from arbitrary IP ranges
  modules/network/vpc/README.md
  modules/network/vpc/main.tf
  modules/network/vpc/variables.tf
Due: terraform-readme

Improve support for Identity-Aware Proxy
  modules/network/vpc/README.md
  modules/network/vpc/main.tf
  modules/network/vpc/variables.tf
Due: terraform-readme

Expose the option on gke-cluster to not create a system node pool
  community/modules/scheduler/gke-cluster/README.md
  community/modules/scheduler/gke-cluster/main.tf
  community/modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme

Add options for create and update timeouts to gke modules
  community/modules/compute/gke-node-pool/README.md
  community/modules/compute/gke-node-pool/main.tf
  community/modules/compute/gke-node-pool/variables.tf
  community/modules/scheduler/gke-cluster/README.md
  community/modules/scheduler/gke-cluster/main.tf
  community/modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme

Add option to gke-node-pool for static node count
  community/modules/compute/gke-node-pool/README.md
  community/modules/compute/gke-node-pool/main.tf
  community/modules/compute/gke-node-pool/variables.tf
Due: terraform-readme
