Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

support for psc interfaces in slurm and login nodes
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/internal/slurm-gcp/instance/README.md
  community/modules/internal/slurm-gcp/instance/variables.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs: regenerate module readmes with terraform-docs v0.24.0
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/internal/slurm-gcp/instance/README.md
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
Due: addlicense

Add missing backslash in Dockerfile precommit
  tools/cloud-build/dependency-checks/Dockerfile.precommit
Due: addlicense

docs: regenerate partition and login module readmes
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/internal/slurm-gcp/login/README.md
Due: addlicense

Update examples/gke-tpu-v6e/kueue-job-sample.yaml
  examples/gke-tpu-v6e/kueue-job-sample.yaml
Due: addlicense

feat(examples): enable DRANET for A3 Ultra examples (#6171)
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-hpl.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nccl.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nemo.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
Due: addlicense

fix: update additional_networks validation and optional attributes per Gemini review
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/internal/slurm-gcp/instance/main.tf
  community/modules/internal/slurm-gcp/instance/variables.tf
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(gke-cg4): enable and validate gcluster job submit with VM boot disk fixes (#6196)
  examples/gke-g4-confidential/README.md
  examples/gke-g4-confidential/gke-g4-confidential-deployment.yaml
  examples/gke-g4-confidential/gke-g4-confidential.yaml
  modules/scheduler/gke-cluster/main.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gcluster-job.yml
  tools/cloud-build/daily-tests/tests/gke-g4-confidential.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(examples): enable DRANET for A4 examples (#6193)
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4/nccl-jobset-example.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
Due: addlicense

feat(examples): enable DRANET for TPU 7x examples (#6176)
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x-job.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-7x/kueue-job-sample.yaml
Due: addlicense

feat(examples): enable DRANET for TPU v6e (#6170)
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-tpu-v6e/kueue-job-sample.yaml
  examples/gke-tpu-v6e/tpu-multislice.yaml
Due: addlicense

Dockerfile pre-commit formatting (#6197)
  tools/cloud-build/dependency-checks/Dockerfile.precommit
Due: addlicense

gke-cluster: disable private IPv6 Google access when requested
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(network): add internal application load balancer module
  community/examples/hpc-slurm-ha-lb.yaml
  community/modules/network/int-app-lb/README.md
  community/modules/network/int-app-lb/main.tf
  community/modules/network/int-app-lb/metadata.yaml
  community/modules/network/int-app-lb/outputs.tf
  community/modules/network/int-app-lb/variables.tf
  community/modules/network/int-app-lb/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

terraform and packer apt key setup
  tools/cloud-build/dependency-checks/Dockerfile.packer
  tools/cloud-build/dependency-checks/Dockerfile.terraform
Due: addlicense

update terraform-provider version to >= 6.9.0, <= 7.45.0 (#6194)
  pkg/config/expand.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

feat: add Filestore and Lustre quota checks to zone selection and update daily test configurations
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm.yaml
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

feat: add _PROVISIONING_MODEL substitution to daily test builds
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm.yaml
Due: addlicense

address gemini review
  tools/cloud-build/daily-tests/builds/e2e.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/slurm-flex.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-simple-job-completion.yaml
  tools/cloud-build/wait_for_available_zone.sh
Due: duplicate-diff, addlicense

feat(testing): cut over daily test suite to Kueue scheduling (#6195)
  tools/cloud-build/daily-tests/builds/batch.yaml
  tools/cloud-build/daily-tests/builds/batch_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-g4-confidential.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-confidential_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-7x_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-tpu-v5e.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v5e_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-tpu-v5p.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v5p_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update GCS_PATH for Kueue jobs
  tools/cloud-build/filter-zone-options.yaml
Due: addlicense

Add ML diagnostics flag
  cmd/job/submit.go
  cmd/job/submit_test.go
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/templates/jobset.tmpl
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
  pkg/orchestrator/gke/types.go
  pkg/orchestrator/orchestrator.go
Due: addlicense

add _PROVISIONING_MODEL substitution to daily test builds (#6200)
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm.yaml
Due: addlicense

refactor
  tools/cloud-build/filter-zone-options.yaml
Due: addlicense

remove legacy
  tools/cloud-build/filter-zone-options.yaml
Due: addlicense

Fix Spot Zones Filter Job (#6201)
  tools/cloud-build/filter-zone-options.yaml
Due: addlicense

fix(daily-tests): Add --auto-approve to CHS integration tests
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
Due: addlicense

gemini suggestions
  tools/cloud-build/dependency-checks/Dockerfile.packer
  tools/cloud-build/dependency-checks/Dockerfile.terraform
  tools/cloud-build/images/ghpc-docker/Dockerfile
Due: addlicense

chore: parameterize image registry project
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v5e.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v5p.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
Due: addlicense

chore: add GCLUSTER_GCS_PATH to daily test builds
  tools/cloud-build/daily-tests/builds/batch.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
Due: addlicense

fix(kubectl-apply): use dynamic namespace for Kueue LocalQueue in embedded templates
  modules/management/kubectl-apply/kueue/kueue-configuration-dynamic-slicing-pathways.yaml.tftpl
  modules/management/kubectl-apply/kueue/kueue-configuration-dynamic-slicing.yaml.tftpl
  modules/management/kubectl-apply/kueue/kueue-configuration-pathways.yaml.tftpl
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(packer): add network_ip and address options to custom-image module
  modules/packer/custom-image/README.md
  modules/packer/custom-image/image.pkr.hcl
  modules/packer/custom-image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: packer-readme, addlicense

refactor: improve regional zone filtering for Filestore/Parallelstore checks
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

fix(gke): Allow disabling private_ipv6_google_access (#6199)
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

perf: implement quota caching for Filestore and Lustre checks
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

fix: handle unlimited quota cases in zone availability check
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

fix: truncate float values in capacity checks and add error handling for location lookups
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

Fix TPU image pulling and gcluster gsc path (#6203)
  tools/cloud-build/daily-tests/builds/batch.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v5e.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v5p.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
Due: addlicense
