Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Review comments
  tools/cloud-build/trigger_triage_agent.py
  tools/cloud-build/wait_for_triage_agent.py
Due: addlicense

Review comments
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/trigger_failure_triage_agent.yml
Due: addlicense

docs(modules): list novnc-desktop and novnc-runtime in modules/README.md
  modules/README.md
Due: addlicense

adding unit tests and nit
  cmd/job/artifact_registry.go
  cmd/job/artifact_registry_test.go
  cmd/job/submit.go
  cmd/job/submit_test.go
Due: addlicense

fix(blueprints): disable private IPv6 Google access in GKE TPU blueprints
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-consumption-options/dws-flex-start/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v4/gke-tpu-v4.yaml
  examples/gke-tpu-v5e/gke-tpu-v5e.yaml
  examples/gke-tpu-v5p/gke-tpu-v5p.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
Due: addlicense

Fix ups after AI review
  community/examples/fsi/ibm-symphony-on-gce/README.md
  community/examples/fsi/ibm-symphony-on-gce/scripts/install_symphony.sh
  community/examples/fsi/ibm-symphony-on-gce/symphony.yaml
  community/examples/fsi/ibm-symphony-on-gce/symphony_deployment.yaml
  community/examples/fsi/ibm-symphony-on-gke/scripts/install_symphony.sh
Due: duplicate-diff, addlicense

fix(blueprints): disable private IPv6 Google access in GKE TPU blueprints (#6255)
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-consumption-options/dws-flex-start/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v4/gke-tpu-v4.yaml
  examples/gke-tpu-v5e/gke-tpu-v5e.yaml
  examples/gke-tpu-v5p/gke-tpu-v5p.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
Due: addlicense

protect SAs for active Cloud Builds and queued Kueue jobs
  tools/cleanup.sh
  tools/cloud-build/project-cleanup.yaml
Due: duplicate-diff, addlicense

fix(job): resolve PR feedback for artifact registry suggestions
  cmd/job/submit.go
  cmd/job/submit_test.go
Due: addlicense

Updated after testing. No real changes.
  community/examples/fsi/ibm-symphony-on-gce/symphony_deployment.yaml
Due: addlicense

After running pre-commits
  community/examples/fsi/ibm-symphony-on-gce/resources/google-ops-agent-config.yaml
  community/examples/fsi/ibm-symphony-on-gce/resources/hostProviderPlugins.json
  community/examples/fsi/ibm-symphony-on-gce/resources/hostProviders.json
  community/examples/fsi/ibm-symphony-on-gce/resources/hostRequestors.json
  community/examples/fsi/ibm-symphony-on-gce/resources/sym_mig_provider.py
  community/examples/fsi/ibm-symphony-on-gce/scripts/gcpgceinstprov_config_json.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/gcpgceinstprov_templates_json.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/google_ops_agent_config.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/hf-gce_symphony.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/hostfactoryconf_json.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/install_symphony.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/sym_compute.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/sym_master.sh
  community/examples/fsi/ibm-symphony-on-gke/README.md
  community/examples/fsi/ibm-symphony-on-gke/scripts/build_compute_image.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/gcpgkeinstprov_config_json.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/gcpgkeinstprov_templates_json.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/google_ops_agent_config.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/hostfactoryconf_json.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/install_symphony.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/setup_kubeconfig.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/sym_master.sh
  community/examples/fsi/ibm-symphony-on-gke/symphony.yaml
Due: duplicate-diff, addlicense

More pre-commit changes.
  .codespellrc
  community/examples/fsi/ibm-symphony-on-gce/README.md
  community/examples/fsi/ibm-symphony-on-gce/scripts/gcpgceinstprov_config_json.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/gcpgceinstprov_templates_json.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/hf-gce_symphony.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/hostfactoryconf_json.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/install_symphony.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/sym_compute.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/sym_master.sh
  community/examples/fsi/ibm-symphony-on-gce/symphony.yaml
  community/examples/fsi/ibm-symphony-on-gke/README.md
  community/examples/fsi/ibm-symphony-on-gke/resources/pod-specs/pod-spec.yaml
  community/examples/fsi/ibm-symphony-on-gke/scripts/gcpgkeinstprov_config_json.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/gcpgkeinstprov_templates_json.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/hf-gke_symphony.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/hostfactoryconf_json.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/install_symphony.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/setup_kubeconfig.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/sym_master.sh
Due: duplicate-diff, addlicense

Update community/examples/fsi/ibm-symphony-on-gce/scripts/install_symphony.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/install_symphony.sh
Due: duplicate-diff, addlicense

Update community/examples/fsi/ibm-symphony-on-gke/scripts/install_symphony.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/install_symphony.sh
Due: duplicate-diff, addlicense

Update community/examples/fsi/ibm-symphony-on-gce/scripts/hf-gce_symphony.sh
  community/examples/fsi/ibm-symphony-on-gce/scripts/hf-gce_symphony.sh
Due: duplicate-diff, addlicense

Update community/examples/fsi/ibm-symphony-on-gke/scripts/hf-gke_symphony.sh
  community/examples/fsi/ibm-symphony-on-gke/scripts/hf-gke_symphony.sh
Due: duplicate-diff, addlicense

add option to manually override
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/trigger_failure_triage_agent.yml
Due: addlicense

updating readme and gcsbucket identification
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(storage): decouple GKE IAM from generic bucket and bind storage.admin in gke-persistent-volume
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/main.tf
  modules/file-system/cloud-storage-bucket/metadata.yaml
  modules/file-system/cloud-storage-bucket/variables.tf
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

UX(job): dynamically suggest Artifact Registry repositories on missing env var (#6249)
  cmd/job/artifact_registry.go
  cmd/job/artifact_registry_test.go
  cmd/job/submit.go
  cmd/job/submit_test.go
Due: addlicense

fix(gke-cluster): emit confidential_nodes only when enabled (#6254)
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(skills): introduce agent skills framework and gke-kueue debugging skill
  .github/workflows/skills-lint.yml
  .pre-commit-config.yaml
  Makefile
  skills/README.md
  skills/gke-kueue-debugging/EVAL.yaml
  skills/gke-kueue-debugging/SKILL.md
  skills/gke-kueue-debugging/references/gke-kueue-docs.md
  skills/gke-kueue-debugging/references/kueue-docs.md
  tools/run_eval.py
  tools/tests/test_run_eval.py
Due: addlicense

fix(build): set CGO_ENABLED=0 in Makefile to build static gcluster binary
  Makefile
Due: addlicense

fix(skills): address review feedback on kueue queries and eval gating security
  .github/workflows/skills-lint.yml
  skills/gke-kueue-debugging/SKILL.md
  tools/run_eval.py
  tools/tests/test_run_eval.py
Due: addlicense

feat(daily-tests): add CHS support for a3 mega, a3 ultra, a4x, tpuv6e flex
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e-flex.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a4x-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu-onspot.yml
  tools/cloud-build/daily-tests/tests/gke-a4x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e-flex.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-onspot-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-jbvms.yml
  tools/cloud-build/daily-tests/tests/ml-a4x-highgpu-slurm.yml
Due: addlicense

fix(daily-tests): update CHS run command with -y flag and optional --nodepools parameter
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu-onspot.yml
  tools/cloud-build/daily-tests/tests/gke-a4x.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-onspot-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a4x-highgpu-slurm.yml
Due: addlicense

feat(daily-tests): add GPU/TPU chs_nodepools targeting for GKE tests
  tools/cloud-build/daily-tests/builds/gke-a4x-max-bm.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu-onspot.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu-onspot.yml
  tools/cloud-build/daily-tests/tests/gke-a4-onspot.yml
  tools/cloud-build/daily-tests/tests/gke-a4x-max-bm.yml
  tools/cloud-build/daily-tests/tests/gke-a4x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e-flex.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
Due: addlicense

refactor(daily-tests): support string chs_nodepools for GKE and chs_partitions for Slurm
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-onspot-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-onspot-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a4x-highgpu-slurm.yml
Due: addlicense

refactor(daily-tests): clean up chs run command targeting logic in test-chs.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
Due: addlicense

fix(daily-tests): restrict --partitions flag strictly to slurm scheduler
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
Due: addlicense

refactor(daily-tests): remove unnecessary instance_type variable additions
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e-flex.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-onspot-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a4x-highgpu-slurm.yml
Due: addlicense

fix(daily-tests): add CHS_REPO to secretEnv in generate-job-manifest step
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a4x-highgpu-slurm.yaml
Due: addlicense

revert(daily-tests): remove CHS support from jbvms build and test config
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-jbvms.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-jbvms.yml
Due: addlicense

chore: update Kueue reaper image, improve regex validation, isolate kubeconfig
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-reaper-pod.yaml
  tools/cloud-build/daily-tests/validate_kueue_tests.py
  tools/cloud-build/provision/apply_kueue_locks.sh
Due: duplicate-diff, addlicense

gemini suggestions
  tools/cleanup.sh
Due: duplicate-diff, addlicense

fix(storage): decouple GKE IAM from generic bucket and bind storage.admin in gke-persistent-volume (#6251)
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/main.tf
  modules/file-system/cloud-storage-bucket/metadata.yaml
  modules/file-system/cloud-storage-bucket/variables.tf
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Automate Kueue lock generation, resource validation for integration tests (#6223)
  .pre-commit-config.yaml
  tools/cloud-build/README.md
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_gcluster_failure.yml
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/dummy-device-plugin.yaml
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-reaper-pod.yaml
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-setup.yaml
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/test-infra-kueue.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/vm-storage.yaml
  tools/cloud-build/daily-tests/validate_kueue_tests.py
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/apply_kueue_locks.sh
  tools/cloud-build/provision/generate_kueue_locks.py
  tools/cloud-build/provision/kueue-locks.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
