Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

updated temporal context
  .gemini/styleguide.md
Due: addlicense

fix: min nodes
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

Update requirements.txt
  community/front-end/ofe/requirements.txt
Due: addlicense

update the 'Create if not exists' logic
  modules/management/tag/README.md
  modules/management/tag/check_tag.sh
  modules/management/tag/main.tf
  modules/management/tag/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update terraform-provider version to v7.14.1
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

fix: allow overriding MIN_NODES in find_available_zone.sh (#5055)
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

add test validation to managed lustre vm
  examples/cae/cae-slurm.yaml
  examples/pfs-managed-lustre-vm.yaml
  pkg/modulereader/metadata_legacy.go
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-managed-lustre-vm.yml
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
  tools/cloud-build/daily-tests/tests/pfs-managed-lustre-vm.yml
  tools/validate_configs/golden_copies/configs/versioned_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/main.tf
Due: addlicense

Adding filestore integration to TPU v6e as a storage support option
  examples/gke-tpu-v6/README.md
  examples/gke-tpu-v6/gke-tpu-v6-advanced.yaml
Due: addlicense

update text in the tag module
  modules/management/tag/README.md
  modules/management/tag/check_tag.sh
  modules/management/tag/variables.tf
  modules/management/tag/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add metadata.yaml
  modules/management/tag/metadata.yaml
Due: addlicense

Adding min_nodes
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
Due: addlicense

Adding filestore as a storage support option for TPU 7x
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
Due: addlicense

nit changes
  examples/gke-tpu-v6/README.md
Due: addlicense

changing year
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/tests/gke-a2-highgpu-kueue-onspot.yml
Due: addlicense

update license year
  modules/management/tag/README.md
  modules/management/tag/main.tf
  modules/management/tag/metadata.yaml
  modules/management/tag/variables.tf
  modules/management/tag/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add tag-binding module
  modules/management/tag-binding/README.md
  modules/management/tag-binding/main.tf
  modules/management/tag-binding/metadata.yaml
  modules/management/tag-binding/variables.tf
  modules/management/tag-binding/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update modules readme
  modules/README.md
  modules/management/tag/README.md
Due: addlicense

update modules readme
  modules/README.md
Due: addlicense

update the for_each key to avoid issues due to characters like /
  modules/management/tag-binding/README.md
  modules/management/tag-binding/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

rdma-vpc-version-update
  modules/network/firewall-rules/README.md
  modules/network/firewall-rules/main.tf
  modules/network/gpu-rdma-vpc/README.md
  modules/network/gpu-rdma-vpc/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modifying sleep time for pods and updated the readme
  examples/gke-tpu-v6/README.md
  examples/gke-tpu-v6/gke-tpu-v6-advanced.yaml
Due: addlicense

Modifying sleep time for pods to get scheduled and updated the README
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
Due: addlicense

add AllowedEnumValidator
  modules/network/gpu-rdma-vpc/metadata.yaml
  pkg/validators/metadata_validators.go
  pkg/validators/metadata_validators_test.go
  pkg/validators/registry.go
Due: addlicense

feat: Include base requirements in requirements-dev.txt
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements-dev.txt
Due: addlicense

add robust boolean input parsing and helper
  pkg/validators/metadata_validator_helpers.go
  pkg/validators/metadata_validators.go
Due: addlicense

pr validation checks
  docs/videos/build-your-own-blueprint/batch-high-io.yaml
  modules/scheduler/gke-cluster/variables.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/main.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/terraform.tfvars
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/variables.tf
  tools/validate_configs/test_configs/managed-lustre-existing-vpc.yaml
  tools/validate_configs/test_configs/managed-lustre-new-vpc.yaml
  tools/validate_configs/test_configs/test_outputs.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix pre commit error
  pkg/validators/metadata_validator_helpers.go
  pkg/validators/metadata_validators.go
Due: addlicense

Adding GKE a2high onspot build and tests file (#5045)
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/tests/gke-a2-highgpu-kueue-onspot.yml
Due: addlicense

address code review comments
  examples/gke-a3-megagpu/gke-a3-megagpu-inference-gateway-deployment.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu-inference-gateway.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu-inference-gateway-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu-inference-gateway.yaml
Due: addlicense

Adding support changes for NPI
  modules/compute/vm-instance/variables.tf
  modules/network/gpu-rdma-vpc/main.tf
  modules/network/gpu-rdma-vpc/variables.tf
  modules/network/vpc/main.tf
  modules/network/vpc/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add variable validations
  modules/management/tag/README.md
  modules/management/tag/main.tf
  modules/management/tag/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update the logic and add output tag key id
  modules/management/tag/README.md
  modules/management/tag/check_tag.sh
  modules/management/tag/main.tf
  modules/management/tag/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix typo in tag_values variable
  modules/management/tag/README.md
  modules/management/tag/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

remove module references
  modules/README.md
  tools/cloud-build/daily-tests/tests/htc-slurm.yml
Due: addlicense

Add IPv6 and IDPF support and fix RoCE metal subnetwork logic
  modules/compute/vm-instance/variables.tf
  modules/network/gpu-rdma-vpc/main.tf
  modules/network/vpc/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding Validation
  modules/network/gpu-rdma-vpc/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update readme of slurm for shared reservation part
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
Due: addlicense

Update community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
Due: addlicense

add nccl test to post_deploy_tests
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
