Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Add filestore as a storage support option for TPU 7x (#5059)
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
Due: addlicense

Add filestore integration to TPU v6e as a storage support (#5058)
  examples/gke-tpu-v6/README.md
  examples/gke-tpu-v6/gke-tpu-v6-advanced.yaml
Due: addlicense

fix: update nccl_test_path
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
Due: addlicense

fix: typo
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
Due: addlicense

add allowed_enum validators to various modules
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
  modules/compute/vm-instance/metadata.yaml
  modules/file-system/filestore/metadata.yaml
  modules/file-system/gke-storage/metadata.yaml
  modules/scheduler/batch-job-template/metadata.yaml
Due: addlicense

Changing tpu7x test to use spot VMs
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
Due: addlicense

Add validation for reservation_name check in project_id
  pkg/validators/cloud.go
  pkg/validators/validators.go
Due: addlicense

Add reservation_name validation check against project id
  pkg/validators/cloud.go
  pkg/validators/validators.go
Due: addlicense

Cleans up duplicate pip install
  Makefile
Due: addlicense

Reverting the conditional check
  modules/compute/vm-instance/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Enable tpu7x daily tests to run on Spot VMs (#5072)
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
Due: addlicense

Add check to disallow setting conflicting consumption options (spot and enable_queued_provisioning)
  modules/compute/gke-node-pool/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

replace the tag_key_purpose_data validation with precondition
  modules/management/tag/main.tf
  modules/management/tag/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updating variables.tf wrt shared reserv
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updating variables.tf wrt shared reser
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
Due: addlicense

handle edge cases
  pkg/validators/cloud.go
Due: addlicense

Fix Formating
  modules/network/gpu-rdma-vpc/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix Formatting
  modules/network/gpu-rdma-vpc/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Enable nccl test in A3Ultra post_deploy_tests (#5071)
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
Due: addlicense

Fix: Update gcluster help message to use correct product name
  cmd/root.go
Due: addlicense

update slurm topology test assertion params, and fix precommit errors with pytest and mypy
  .pre-commit-config.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  tools/python-integration-tests/slurm_topology.py
Due: addlicense

update type in assert_equal
  tools/python-integration-tests/slurm_topology.py
Due: addlicense

Modifying timeout for managed lustre
  modules/file-system/managed-lustre/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Refactoring changes
  modules/file-system/managed-lustre/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update terraform-provider version to v7.15.0
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

update test validation of managed lustre slurm
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-managed-lustre-slurm.yml
Due: addlicense

Adding review comments
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add 'test_reservation_exists' in validators_to_skip and incorporate gemini suggestions
  pkg/validators/cloud.go
  pkg/validators/validators.go
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Add deprecation notice for parralelstore module
  community/modules/file-system/Intel-DAOS/README.md
  modules/README.md
  modules/file-system/gke-storage/README.md
  modules/file-system/parallelstore/README.md
Due: addlicense

support hierarchical reservation blocks and varied variable naming conventions
  pkg/validators/cloud.go
Due: addlicense

feat:add iam rule validator wrt shared reservation
  pkg/validators/cloud.go
  pkg/validators/validators.go
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Removing trailing whitespace
  pkg/validators/cloud.go
Due: addlicense

upgrading slurm-gcp version to 6.10.6.
  community/examples/hpc-build-slurm-image.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
Due: addlicense

Revert changes to nodeset module files
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix for shared reserv part alone case
  pkg/validators/cloud.go
Due: addlicense

Update slurm topology test assertion params, and fix precommit errors with pytest and mypy (#5078)
  .pre-commit-config.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  tools/python-integration-tests/slurm_topology.py
Due: addlicense

allow hyphens in partition_name and slurm_cluster_name, increase max length to 20 for slurm_cluster_name
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance_template/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: add KMS support for encrypting munge key, JWT key, and DB secrets
  community/examples/hpc-buil-slurm-image-kms.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements-dev.txt
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Feat/SlurmHighAvailabilityFeat
  community/examples/hpc-slurm6-ha.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurmdbd.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmhcd.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmhcd.service
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  examples/hpc-slurm.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix documentation links in the examples README.md (#4121)
  examples/README.md
Due: addlicense
