Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Bump test coverage for `pkg/modulewriter`
  pkg/modulewriter/hcl_utils.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/tfversions.go
  pkg/modulewriter/tfwriter.go
Due: addlicense

Fix false-positive `test_deployment_variable_not_used`
  pkg/config/config.go
  pkg/config/config_test.go
Due: addlicense

Fix false-positive `test_deployment_variable_not_used` (#2164)
  pkg/config/config.go
  pkg/config/config_test.go
Due: addlicense

Bump test coverage for `pkg/modulewriter` (#2163)
  pkg/modulewriter/hcl_utils.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/tfversions.go
  pkg/modulewriter/tfwriter.go
Due: addlicense

Add `--force` flag to `ghpc create`
  cmd/create.go
  cmd/create_test.go
Due: addlicense

Bump `cmd` test coverage
  cmd/create.go
  cmd/create_test.go
  pkg/config/config.go
  pkg/config/config_test.go
Due: addlicense

Add `--force` flag to `ghpc create` (#2162)
  cmd/create.go
  cmd/create_test.go
Due: addlicense

Improve error logging for expressions parsing (#2078)
  pkg/config/expression.go
  pkg/config/expression_test.go
  pkg/config/yaml.go
Due: addlicense

Remove quantum circuit simulator example
  community/examples/quantum-circuit-simulator.yaml
  examples/README.md
  tools/cloud-build/daily-tests/builds/quantum-circuit.yaml
  tools/cloud-build/daily-tests/tests/qsim.yml
Due: addlicense

Update hpc-slurm-legacy-sharedvpc example and references to use Slurm V6
  community/examples/hpc-slurm-legacy-sharedvpc.yaml
  examples/README.md
Due: addlicense

DEMO. TF-native implementation of destroy-protection
  pkg/config/config.go
  pkg/modulewriter/tfwriter.go
Due: addlicense

Bump `cmd` test coverage (#2165)
  cmd/create.go
  cmd/create_test.go
  pkg/config/config.go
  pkg/config/config_test.go
Due: addlicense

Update Slurm image 6.1 -> 6.3
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update Slurm image 6.1 -> 6.3 (#2169)
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add login node in the spack openfoam tutorial example
  docs/tutorials/openfoam/spack-openfoam.md
  docs/tutorials/openfoam/spack-openfoam.yaml
Due: addlicense

Update Toolkit docs to point to GCP Slurm fork
  docs/vm-images.md
Due: addlicense

Fix: added new variables to ml-slurm integration test
  tools/cloud-build/daily-tests/tests/ml-slurm.yml
Due: addlicense

Update slurm references
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update CloudSQL blueprint to v6
  community/modules/database/slurm-cloudsql-federation/metadata.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  tools/validate_configs/test_configs/hpc-cluster-simple-nfs-sql.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Ensure Windows VMs start HTCondor only after successful secret download
  community/modules/compute/htcondor-execute-point/templates/download-condor-config.ps1.tftpl
  community/modules/scheduler/htcondor-pool-secrets/templates/fetch-idtoken.ps1.tftpl
  community/modules/scripts/htcondor-install/templates/install-htcondor.ps1.tftpl
Due: duplicate-diff, addlicense

Updated legacy-sharedvpc reference naming to sharedvpc
  community/examples/hpc-slurm-sharedvpc.yaml
  examples/README.md
Due: addlicense

Modified validation message to be more clear
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove project_id from image building example
  community/examples/hpc-build-slurm-image.yaml
Due: addlicense

Reduce size of image builder to be compatible with initial projects
  community/examples/hpc-build-slurm-image.yaml
Due: addlicense

Remove SLurm V4 modules and add note to use and reference V4 modules and examples
  community/modules/compute/SchedMD-slurm-on-gcp-partition/README.md
  community/modules/compute/SchedMD-slurm-on-gcp-partition/metadata.yaml
  community/modules/compute/SchedMD-slurm-on-gcp-partition/outputs.tf
  community/modules/compute/SchedMD-slurm-on-gcp-partition/variables.tf
  community/modules/compute/SchedMD-slurm-on-gcp-partition/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/README.md
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/main.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/metadata.yaml
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/outputs.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/variables.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/README.md
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/main.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/metadata.yaml
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/variables.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/versions.tf
  docs/gpu-support.md
  docs/slurm-troubleshooting.md
  modules/README.md
  modules/scripts/startup-script/README.md
  pkg/modulereader/metadata_legacy.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Patch Slurm integration test
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: addlicense

Update Chrome Remote Desktop to Debian 12 by default
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/scripts/configure-grid-drivers.yml
  community/modules/remote-desktop/chrome-remote-desktop/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Make TPU non-preemptible in blueprint and add retries in JAX verification integration test
  community/examples/hpc-slurm6-tpu.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-slurm-v6-tpu.yml
Due: addlicense

Update startup-script module to latest release
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/pbspro-execution/README.md
  community/modules/compute/pbspro-execution/main.tf
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/main.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  community/modules/scheduler/pbspro-client/README.md
  community/modules/scheduler/pbspro-client/main.tf
  community/modules/scheduler/pbspro-server/README.md
  community/modules/scheduler/pbspro-server/main.tf
  community/modules/scripts/ramble-execute/README.md
  community/modules/scripts/ramble-execute/main.tf
  community/modules/scripts/ramble-setup/README.md
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-execute/README.md
  community/modules/scripts/spack-execute/main.tf
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/main.tf
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/startup_from_network_storage.tf
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/startup_from_network_storage.tf
  modules/scheduler/batch-login-node/README.md
  modules/scheduler/batch-login-node/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Bump `pkg/modulereader` test coverage 80% -> 87% (#2161)
  pkg/modulereader/hcl_utils_test.go
  pkg/modulereader/resreader_test.go
Due: addlicense

Fix test broken by remove module.
  pkg/modulereader/resreader_test.go
Due: addlicense

Fix test broken by remove module. (#2186)
  pkg/modulereader/resreader_test.go
Due: addlicense

Update TPU v6 blueprint to use new VPC module
  community/examples/hpc-slurm6-tpu.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  tools/cloud-build/daily-tests/tests/slurm-v6-tpu.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Improve test coverage of `pkg/modulewriter`
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/packerwriter.go
  pkg/modulewriter/tfwriter.go
Due: addlicense

Batch MPI pool example
  examples/batch-mpi-pool.yaml
  modules/scheduler/batch-mpi-pool/README.md
  modules/scheduler/batch-mpi-pool/main.tf
  modules/scheduler/batch-mpi-pool/metadata.yaml
  modules/scheduler/batch-mpi-pool/templates/batch-make-mpi-pool-job-config.json.tftpl
  modules/scheduler/batch-mpi-pool/templates/batch-run-mpi-workload.json.tftpl
  modules/scheduler/batch-mpi-pool/templates/make-pool.sh.tftpl
  modules/scheduler/batch-mpi-pool/templates/readme.md.tftpl
  modules/scheduler/batch-mpi-pool/variables.tf
  modules/scheduler/batch-mpi-pool/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Improve test coverage of `pkg/modulewriter` (#2188)
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/packerwriter.go
  pkg/modulewriter/tfwriter.go
Due: addlicense

Move topological ordering of vars into separate function.
  pkg/config/config.go
  pkg/config/config_test.go
Due: addlicense

Improve output of `tools/enforce_coverage.pl`
  tools/enforce_coverage.pl
Due: addlicense

Updating spack and ramble buckets to use 6 digits of hex
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-setup/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Improve output of `tools/enforce_coverage.pl` (#2191)
  tools/enforce_coverage.pl
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
