Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Run pre-commit to validate PR in main branch
  .github/workflows/pr-precommit.yml
Due: addlicense

Update slurm-gcp reference to expose TreeWidth & TopologyPlugin
  community/examples/hpc-build-slurm-image.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Expose TreeWidth with default of 128 & TopologyPlugin
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update A3-Mega example to set TreeWidth
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
Due: addlicense

Move test to europe region where test has reserved gpu
  tools/cloud-build/daily-tests/tests/hcls.yml
Due: addlicense

OFE: fixing private connection issue
  community/front-end/ofe/infrastructure_files/vpc_tf/GCP/README.md
  community/front-end/ofe/infrastructure_files/vpc_tf/GCP/main.tf
  community/front-end/ofe/infrastructure_files/vpc_tf/GCP/versions.tf
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cloudsql_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE: pre-commit fix
  community/front-end/ofe/website/ghpcfe/views/clusters.py
Due: addlicense

Increase version to 1.35.0
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Prevent mixing dynamic and non-dynamic nodesets in single partition
  community/modules/compute/schedmd-slurm-gcp-v6-partition/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Minor updates as requested
  community/other/cloud-function-for-shared-vpcs/README.MD
  community/other/cloud-function-for-shared-vpcs/cloudfunction/main.py
  community/other/cloud-function-for-shared-vpcs/cloudfunction/requirements.txt
  community/other/cloud-function-for-shared-vpcs/main.tf
  docs/shared-vpcs.md
  modules/network/pre-existing-subnetwork/README.md
  modules/network/pre-existing-subnetwork/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add support for Shared VPCs
  community/other/cloud-function-for-shared-vpcs/README.MD
  community/other/cloud-function-for-shared-vpcs/cloudfunction/main.py
  community/other/cloud-function-for-shared-vpcs/cloudfunction/requirements.txt
  community/other/cloud-function-for-shared-vpcs/main.tf
  docs/shared-vpcs.md
  modules/network/pre-existing-subnetwork/README.md
  modules/network/pre-existing-subnetwork/main.tf
  modules/network/pre-existing-subnetwork/metadata.yaml
  modules/network/pre-existing-subnetwork/outputs.tf
  modules/network/pre-existing-subnetwork/variables.tf
  modules/network/pre-existing-subnetwork/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Corrections requested in review
  modules/network/pre-existing-subnetwork/README.md
  modules/network/pre-existing-subnetwork/main.tf
  modules/network/pre-existing-subnetwork/metadata.yaml
  modules/network/pre-existing-subnetwork/outputs.tf
  modules/network/pre-existing-subnetwork/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "Update A3 Mega instructions pending publication of cloud.google.com documentation"
  examples/machine-learning/a3-megagpu-8g/README.md
Due: addlicense

step1
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/expand.go
  pkg/config/materialize.go
  pkg/config/path.go
  pkg/config/staging.go
  pkg/config/staging_test.go
Due: addlicense

Install tmux by default
  tools/cloud-workstations/Dockerfile
Due: addlicense

Update GKE ML blueprint to use native GKE drivers
  community/examples/ml-gke.yaml
  community/modules/scripts/kubernetes-operations/README.md
  examples/README.md
  modules/README.md
Due: addlicense

Update to fix OFE filestore
  community/front-end/ofe/website/ghpcfe/cluster_manager/filesystem.py
Due: addlicense

Reapply "SlurmGCP V6 remove support for custom instance templates"
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update README and use coalesce
  modules/network/pre-existing-subnetwork/README.md
  modules/network/pre-existing-subnetwork/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add stand alone MIG module
  community/modules/compute/mig/README.md
  community/modules/compute/mig/main.tf
  community/modules/compute/mig/metadata.yaml
  community/modules/compute/mig/outputs.tf
  community/modules/compute/mig/variables.tf
  community/modules/compute/mig/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Last changes
  modules/network/pre-existing-subnetwork/README.md
  modules/network/pre-existing-subnetwork/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Check string literals for absence of expressions
  pkg/config/config.go
  pkg/config/config_test.go
Due: addlicense

Moved tmux installation with other utils
  tools/cloud-workstations/Dockerfile
Due: addlicense

Add an integration test for community/examples/ml-gke.yaml blueprint
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
Due: addlicense

Minor updates to create rc script
  tools/cloud-build/babysit/run
  tools/create-release-candidate.sh
Due: duplicate-diff, addlicense

OFE: adding missing APIs for image creation functionality
  community/front-end/ofe/deploy.sh
Due: duplicate-diff, addlicense

Add GKE integration test for ml-gke blueprint
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/tests/ml-gke.yml
Due: addlicense

Added option to enable access to GKE cluster via all GCP public IP address space
  community/modules/scheduler/gke-cluster/README.md
  community/modules/scheduler/gke-cluster/main.tf
  community/modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Create 'pre-existing-gke-cluster' module
  community/modules/scheduler/pre-existing-gke-cluster/README.md
  community/modules/scheduler/pre-existing-gke-cluster/main.tf
  community/modules/scheduler/pre-existing-gke-cluster/metadata.yaml
  community/modules/scheduler/pre-existing-gke-cluster/outputs.tf
  community/modules/scheduler/pre-existing-gke-cluster/variables.tf
  community/modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Added disk_type for htcondor EP template
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Pre-commit and checks
  community/modules/compute/htcondor-execute-point/README.md
Due: addlicense

Mention `ghpc deploy` in `cmd/README.md`
  cmd/README.md
Due: addlicense

Add mig module to the modules list
  modules/README.md
Due: addlicense

Update internal usage of Toolkit modules to v1.35.0
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/pbspro-execution/README.md
  community/modules/compute/pbspro-execution/main.tf
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/main.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  community/modules/scheduler/htcondor-service-accounts/README.md
  community/modules/scheduler/htcondor-service-accounts/main.tf
  community/modules/scheduler/pbspro-client/README.md
  community/modules/scheduler/pbspro-client/main.tf
  community/modules/scheduler/pbspro-server/README.md
  community/modules/scheduler/pbspro-server/main.tf
  community/modules/scripts/ramble-execute/README.md
  community/modules/scripts/ramble-execute/main.tf
  community/modules/scripts/ramble-setup/README.md
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-execute/README.md
  community/modules/scripts/spack-execute/main.tf
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/main.tf
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/startup_from_network_storage.tf
  modules/network/multivpc/README.md
  modules/network/multivpc/main.tf
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/startup_from_network_storage.tf
  modules/scheduler/batch-login-node/README.md
  modules/scheduler/batch-login-node/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
