Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.76.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: ['terraform']
    exclude: \.terraform\/.*$
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    pass_filenames: true
    require_serial: true
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-lint
  - id: go-imports
  - id: go-cyclo
    args: [-over=15]
  - id: go-unit-tests
  - id: go-build
  - id: go-mod-tidy
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
  - id: go-critic
    args: [-disable, "#experimental,sloppyTypeAssert"]
- repo: https://github.com/ansible/ansible-lint.git
  rev: v5.4.0
  hooks:
  - id: ansible-lint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.28.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.8
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: end-of-file-fixer

Refactor `validateConfig`
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/config/expand.go
  pkg/config/validate.go
  pkg/config/validator_test.go
Due: none

Fix HTCondor access point playbook
  community/modules/scheduler/htcondor-access-point/files/htcondor_configure.yml
Due: none

Add IP/name outputs to access point module
  community/examples/htc-htcondor.yaml
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-access-point/outputs.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
Due: terraform-readme

Split spack functionality into setup and execute modules
  community/modules/scripts/spack-execute/README.md
  community/modules/scripts/spack-execute/main.tf
  community/modules/scripts/spack-execute/outputs.tf
  community/modules/scripts/spack-execute/templates/execute_commands.yml.tpl
  community/modules/scripts/spack-execute/variables.tf
  community/modules/scripts/spack-execute/versions.tf
  community/modules/scripts/spack-install/README.md
  community/modules/scripts/spack-install/main.tf
  community/modules/scripts/spack-install/outputs.tf
  community/modules/scripts/spack-install/variables.tf
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/variables.tf
  tools/duplicate-diff.py
Due: terraform-readme

Update deprecated variable documentation to point to spack-execute module
  community/modules/scripts/spack-install/README.md
  community/modules/scripts/spack-install/variables.tf
Due: terraform-readme

Update blueprints to reflect spack module split
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/hpc-slurm-gromacs.yaml
  community/examples/hpc-slurm-ramble-gromacs.yaml
  docs/tutorials/gromacs/spack-gromacs.yaml
  docs/tutorials/openfoam/spack-openfoam.yaml
  docs/tutorials/wrfv3/spack-wrfv3.yaml
  docs/videos/healthcare-and-life-sciences/hcls-blueprint.yaml
  examples/serverless-batch-mpi.yaml
  tools/validate_configs/ramble.yaml
  tools/validate_configs/test_configs/centos8-ss.yaml
  tools/validate_configs/test_configs/debian-ss.yaml
  tools/validate_configs/test_configs/hpc-centos-ss.yaml
  tools/validate_configs/test_configs/rocky-ss.yaml
  tools/validate_configs/test_configs/spack-buildcache.yaml
  tools/validate_configs/test_configs/spack-environments.yaml
  tools/validate_configs/test_configs/ubuntu-ss.yaml
Due: none

OFE Backend: letting custom images to stay after cluster that is using it is deleted
  community/front-end/ofe/website/ghpcfe/models.py
Due: none

OFE Backend: locking google compute api package version
  community/front-end/ofe/requirements.txt
Due: none

OFE Backend: syntax error fixes in cluster bluperint yaml
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
Due: none

Initial commit of HTCondor windows install script
  community/modules/scripts/htcondor-install/README.md
  community/modules/scripts/htcondor-install/main.tf
  community/modules/scripts/htcondor-install/outputs.tf
  community/modules/scripts/htcondor-install/templates/install-htcondor.ps1.tftpl
Due: terraform-readme

Add boot-time Windows config script for HTCondor
  community/modules/scheduler/htcondor-configure/README.md
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/outputs.tf
  community/modules/scheduler/htcondor-configure/templates/download-condor-config.ps1.tftpl
Due: terraform-readme

Add support for Windows to htcondor-execute-point
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/compute/htcondor-execute-point/versions.tf
Due: terraform-readme

Refactor condor_config generation
  community/modules/scheduler/htcondor-configure/README.md
  community/modules/scheduler/htcondor-configure/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/outputs.tf
  community/modules/scheduler/htcondor-configure/templates/htcondor.tftpl
Due: terraform-readme

Rename condor_config template file
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/templates/condor_config.tftpl
Due: terraform-readme

Cleanup unparsable HTCondor example job
  community/examples/htc-htcondor.yaml
Due: none

Ensure stability of HTCondor execute points
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
Due: terraform-readme

Modify execute point IDTOKEN creation
  community/modules/scheduler/htcondor-configure/README.md
  community/modules/scheduler/htcondor-configure/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/outputs.tf
Due: terraform-readme

Improve timestamp in HTCondor autoscaler logs
  community/modules/scripts/htcondor-install/files/autoscaler.py
Due: none

Include GCESysPrep in Windows image shutdown script
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme

Add boot-time IDTOKEN support to Windows-based HTCondor execute points
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/templates/download-condor-config.ps1.tftpl
Due: terraform-readme

Select HTCondor node name attribute in Windows and Linux compatible fashion
  community/modules/scripts/htcondor-install/files/autoscaler.py
Due: none

Add Cloud hook configuration to Windows-based HTCondor execute points
  community/modules/scheduler/htcondor-configure/templates/download-condor-config.ps1.tftpl
  community/modules/scripts/htcondor-install/templates/install-htcondor.ps1.tftpl
Due: none

Rename htcondor-configure to htcondor-base
  community/examples/htc-htcondor.yaml
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/scheduler/htcondor-base/README.md
  community/modules/scheduler/htcondor-base/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-base/main.tf
  community/modules/scheduler/htcondor-base/outputs.tf
  community/modules/scheduler/htcondor-base/templates/condor_config.tftpl
  community/modules/scheduler/htcondor-base/templates/download-condor-config.ps1.tftpl
  community/modules/scheduler/htcondor-base/variables.tf
  community/modules/scheduler/htcondor-base/versions.tf
  community/modules/scripts/htcondor-install/README.md
  docs/gpu-support.md
  docs/vm-images.md
  modules/README.md
  pkg/modulereader/resreader.go
Due: terraform-readme

Fix htcondor-base API requirements
  pkg/modulereader/resreader.go
Due: none

Allow multiple PS1 scripts in succession on Windows execute points
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/compute/htcondor-execute-point/versions.tf
Due: terraform-readme

Rename htcondor-configure to htcondor-base
  community/examples/htc-htcondor.yaml
Due: none

Fix apparent bug in storing HTCondor pool password
  community/modules/scheduler/htcondor-pool-secrets/files/htcondor_secrets.yml
Due: none

Refactor HTCondor Pool secret management
  community/examples/htc-htcondor.yaml
  community/modules/scheduler/htcondor-base/README.md
  community/modules/scheduler/htcondor-base/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-base/main.tf
  community/modules/scheduler/htcondor-base/outputs.tf
  community/modules/scheduler/htcondor-base/templates/condor_config.tftpl
  community/modules/scheduler/htcondor-base/templates/download-condor-config.ps1.tftpl
  community/modules/scheduler/htcondor-base/variables.tf
  community/modules/scheduler/htcondor-pool-secrets/README.md
  community/modules/scheduler/htcondor-pool-secrets/files/htcondor_secrets.yml
  community/modules/scheduler/htcondor-pool-secrets/main.tf
  community/modules/scheduler/htcondor-pool-secrets/outputs.tf
  community/modules/scheduler/htcondor-pool-secrets/templates/fetch-idtoken.ps1.tftpl
  community/modules/scheduler/htcondor-pool-secrets/variables.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  modules/README.md
Due: terraform-readme

Improve wrapper for HTCondor execute points
  community/examples/htc-htcondor.yaml
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/files/htcondor_configure.yml
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/templates/condor_config.tftpl
  community/modules/compute/htcondor-execute-point/templates/download-condor-config.ps1.tftpl
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/scheduler/htcondor-base/README.md
  community/modules/scheduler/htcondor-base/main.tf
  community/modules/scheduler/htcondor-base/outputs.tf
  community/modules/scheduler/htcondor-base/templates/condor_config.tftpl
  community/modules/scheduler/htcondor-pool-secrets/files/htcondor_secrets.yml
Due: terraform-readme

Implement wrapper for HTCondor access points
  community/examples/htc-htcondor.yaml
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-access-point/outputs.tf
  community/modules/scheduler/htcondor-access-point/templates/condor_config.tftpl
  community/modules/scheduler/htcondor-access-point/variables.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-base/README.md
  community/modules/scheduler/htcondor-base/main.tf
  community/modules/scheduler/htcondor-base/outputs.tf
  community/modules/scheduler/htcondor-base/templates/condor_config.tftpl
  community/modules/scheduler/htcondor-base/variables.tf
  modules/README.md
Due: terraform-readme

Fix version # of Toolkit metadata
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
Due: terraform-readme

Simplify htcondor-install usage
  community/examples/htc-htcondor.yaml
  community/modules/scripts/htcondor-install/README.md
  community/modules/scripts/htcondor-install/main.tf
  community/modules/scripts/htcondor-install/outputs.tf
Due: terraform-readme

Fix HTCondor integration test to work with new access point wrapper
  tools/cloud-build/daily-tests/ansible_playbooks/htcondor-integration-test.yml
Due: none

Address feedback from #1571
  community/modules/scheduler/htcondor-access-point/main.tf
Due: terraform-readme

Address feedback from #1574
  community/examples/htc-htcondor.yaml
Due: none

Implement wrapper for HTCondor central manager
  community/examples/htc-htcondor.yaml
  community/modules/scheduler/htcondor-base/README.md
  community/modules/scheduler/htcondor-base/main.tf
  community/modules/scheduler/htcondor-base/outputs.tf
  community/modules/scheduler/htcondor-base/variables.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-central-manager/main.tf
  community/modules/scheduler/htcondor-central-manager/outputs.tf
  community/modules/scheduler/htcondor-central-manager/templates/condor_config.tftpl
  community/modules/scheduler/htcondor-central-manager/variables.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
Due: terraform-readme

Use PR labels to auto generate release notes
  .github/release.yml
  .github/workflows/pr-label-validation.yml
Due: none

Address integration test non-failures
  tools/cloud-build/daily-tests/ansible_playbooks/htcondor-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/multigroup-integration-test.yml
Due: none
