Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

Refactor condor_config generation
  community/modules/scheduler/htcondor-configure/README.md
  community/modules/scheduler/htcondor-configure/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/outputs.tf
  community/modules/scheduler/htcondor-configure/templates/htcondor.tftpl
Due: terraform-readme

Add boot-time Windows config script for HTCondor
  community/modules/scheduler/htcondor-configure/README.md
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/outputs.tf
  community/modules/scheduler/htcondor-configure/templates/download-condor-config.ps1.tftpl
Due: terraform-readme

Add support for Windows to htcondor-execute-point
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/compute/htcondor-execute-point/versions.tf
Due: terraform-readme

Modify execute point IDTOKEN creation
  community/modules/scheduler/htcondor-configure/README.md
  community/modules/scheduler/htcondor-configure/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/outputs.tf
Due: terraform-readme

Rename condor_config template file
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/templates/condor_config.tftpl
Due: terraform-readme

Include GCESysPrep in Windows image shutdown script
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme

Add boot-time IDTOKEN support to Windows-based HTCondor execute points
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/templates/download-condor-config.ps1.tftpl
Due: terraform-readme

Add Cloud hook configuration to Windows-based HTCondor execute points
  community/modules/scheduler/htcondor-configure/templates/download-condor-config.ps1.tftpl
  community/modules/scripts/htcondor-install/templates/install-htcondor.ps1.tftpl
Due: none

Improve timestamp in HTCondor autoscaler logs
  community/modules/scripts/htcondor-install/files/autoscaler.py
Due: none

Select HTCondor node name attribute in Windows and Linux compatible fashion
  community/modules/scripts/htcondor-install/files/autoscaler.py
Due: none

Fix htcondor-base API requirements
  pkg/modulereader/resreader.go
Due: none

Fix apparent bug in storing HTCondor pool password
  community/modules/scheduler/htcondor-pool-secrets/files/htcondor_secrets.yml
Due: none

Rename htcondor-configure to htcondor-base
  community/examples/htc-htcondor.yaml
Due: none

Rename htcondor-configure to htcondor-base
  community/examples/htc-htcondor.yaml
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/scheduler/htcondor-base/README.md
  community/modules/scheduler/htcondor-base/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-base/main.tf
  community/modules/scheduler/htcondor-base/outputs.tf
  community/modules/scheduler/htcondor-base/templates/condor_config.tftpl
  community/modules/scheduler/htcondor-base/templates/download-condor-config.ps1.tftpl
  community/modules/scheduler/htcondor-base/variables.tf
  community/modules/scheduler/htcondor-base/versions.tf
  community/modules/scripts/htcondor-install/README.md
  docs/gpu-support.md
  docs/vm-images.md
  modules/README.md
  pkg/modulereader/resreader.go
Due: terraform-readme

Refactor HTCondor Pool secret management
  community/examples/htc-htcondor.yaml
  community/modules/scheduler/htcondor-base/README.md
  community/modules/scheduler/htcondor-base/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-base/main.tf
  community/modules/scheduler/htcondor-base/outputs.tf
  community/modules/scheduler/htcondor-base/templates/condor_config.tftpl
  community/modules/scheduler/htcondor-base/templates/download-condor-config.ps1.tftpl
  community/modules/scheduler/htcondor-base/variables.tf
  community/modules/scheduler/htcondor-pool-secrets/README.md
  community/modules/scheduler/htcondor-pool-secrets/files/htcondor_secrets.yml
  community/modules/scheduler/htcondor-pool-secrets/main.tf
  community/modules/scheduler/htcondor-pool-secrets/outputs.tf
  community/modules/scheduler/htcondor-pool-secrets/templates/fetch-idtoken.ps1.tftpl
  community/modules/scheduler/htcondor-pool-secrets/variables.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  modules/README.md
Due: terraform-readme

Correct the htcondor-base image support policy
  docs/vm-images.md
Due: none

Allow multiple PS1 scripts in succession on Windows execute points
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/compute/htcondor-execute-point/versions.tf
Due: terraform-readme

Update google provider -> 4.73.0 (#1564)
  pkg/modulewriter/tfversions.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
Due: terraform-readme

Output multiple errors instead of first one
  cmd/create.go
  cmd/create_test.go
  pkg/config/config.go
  pkg/config/errors.go
  pkg/config/expand.go
  pkg/config/path_test.go
  pkg/config/validate.go
  pkg/config/validator_test.go
Due: none

Fix version # of Toolkit metadata
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
Due: terraform-readme

Simplify htcondor-install usage
  community/examples/htc-htcondor.yaml
  community/modules/scripts/htcondor-install/README.md
  community/modules/scripts/htcondor-install/main.tf
  community/modules/scripts/htcondor-install/outputs.tf
Due: terraform-readme

Add document for Packer usage and requirements
  docs/image-building.md
  docs/vm-images.md
Due: none

Link to new image building docs
  community/examples/intel/README.md
  modules/packer/custom-image/README.md
Due: none

Allow to specify `vm-instance.placement_policy.max_distance`
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
Due: terraform-readme

Address comments
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/variables.tf
  modules/compute/vm-instance/versions.tf
Due: terraform-readme

Output multiple errors instead of first one (#1569)
  cmd/create.go
  cmd/create_test.go
  pkg/config/config.go
  pkg/config/errors.go
  pkg/config/expand.go
  pkg/config/path_test.go
  pkg/config/validate.go
  pkg/config/validator_test.go
Due: none

Allow to specify `vm-instance.placement_policy.max_distance` (#1567)
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
  modules/compute/vm-instance/versions.tf
Due: terraform-readme

Group errors of all sub-checks in `validateConfig` individually.
  cmd/create.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/config/validate.go
  pkg/config/validator_test.go
Due: none

Group errors of all sub-checks in `validateConfig` individually. (#1573)
  cmd/create.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/config/validate.go
  pkg/config/validator_test.go
Due: none

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$, but not: \.terraform\/.*$
  packer-readme: any of: ^.*\.pkr\.hcl$
