Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

module change
  community/front-end/ofe/website/ghpcfe/views/clusters.py
Due: addlicense

Move from auth/munge to auth/slurm
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/htc-slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/htc-slurmdbd.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/long-prolog-slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurmdbd.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update base image used in A3 High Slurm test
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-image.yml
Due: addlicense

Add a knob in controller to switch between munge and slurm auth
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/htc-slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/htc-slurmdbd.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/etc/long-prolog-slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurmdbd.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update reservation name
  tools/cloud-build/daily-tests/tests/gke-a4.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm.yml
Due: addlicense

Add support for optional GCS bucket module configs.
  community/modules/file-system/cloud-storage-bucket/README.md
  community/modules/file-system/cloud-storage-bucket/main.tf
  community/modules/file-system/cloud-storage-bucket/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

default the uniform_bucket_level_access to false
  community/modules/file-system/cloud-storage-bucket/README.md
  community/modules/file-system/cloud-storage-bucket/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add precondition for hierarchical_namespace
  community/modules/file-system/cloud-storage-bucket/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update the precondition error message
  community/modules/file-system/cloud-storage-bucket/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add SocketsPerBoard to node_conf specification
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Add further optional config for GCS
  community/modules/file-system/cloud-storage-bucket/README.md
  community/modules/file-system/cloud-storage-bucket/main.tf
  community/modules/file-system/cloud-storage-bucket/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update default value for optional field
  community/modules/file-system/cloud-storage-bucket/README.md
  community/modules/file-system/cloud-storage-bucket/main.tf
  community/modules/file-system/cloud-storage-bucket/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Set the default value for enable_object_retention
  community/modules/file-system/cloud-storage-bucket/README.md
  community/modules/file-system/cloud-storage-bucket/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE: login module path tfstate fix
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
Due: addlicense

fix(htcondor): explicitly set region for cm and ap addresses to match subnetwork
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update golang.org/x/net
  go.mod
  go.sum
Due: addlicense

Update logic to persist munge key
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: addlicense

add non-queue flex-start support in gke
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update README.md
  community/modules/file-system/DDN-EXAScaler/README.md
Due: addlicense

Update community/modules/file-system/DDN-EXAScaler/README.md
  community/modules/file-system/DDN-EXAScaler/README.md
Due: addlicense

update terraform providoer verison to v6.31
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Add guidance on setting ResumeRate for Slurm
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
Due: addlicense

Increase debian 12 version for CRD module to avoid pruned header package
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add unique name for resource policy
  modules/compute/resource-policy/README.md
  modules/compute/resource-policy/main.tf
  modules/compute/resource-policy/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Addressing PR review
  modules/network/gpu-rdma-vpc/README.md
  modules/network/gpu-rdma-vpc/variables.tf
  modules/network/vpc/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update a3-highgpu image blueprint to remove slurm_version
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
Due: addlicense

update google/google-beta provider version to 6.32 and enable gke non-queue flex-start nodepool through TF
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/versions.tf
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Reverting files with failing tests to be added in subsequent change
  examples/h4d-vm.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/tests/h4d-vm.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm.yml
Due: addlicense

use the pattern on subnet and other network
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
Due: addlicense

Fix cloud rdma driver script for rocky 8
  modules/scripts/startup-script/files/install_cloud_rdma_drivers.sh
Due: duplicate-diff, addlicense

Rename README to README.md
  examples/machine-learning/a3-megagpu-8g/nccl-tests/README.md
Due: addlicense

Update a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Fixing the kernel upgrade flag for slurm image creation
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

disable unattended upgrades in a3u and a4h slurm solutions
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Extend `slurm_conf_tpl` to support raw content. Closes #4007
  community/examples/htc-slurm.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-gcsfuse-lssd-cluster.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Rename dependabot.yml to 4dependabot.yml
  .github/4dependabot.yml
Due: addlicense

Create 3dependabot.yml
  .github/3dependabot.yml
Due: addlicense

Update .github/3dependabot.yml
  .github/3dependabot.yml
Due: addlicense

Create codeql.yml
  .github/workflows/codeql.yml
Due: addlicense

Create docker-image.yml
  .github/workflows/docker-image.yml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
