Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

Add disable_public_ips option to node group module
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  tools/validate_configs/test_configs/zone-policies-slurm-v5.yaml
Due: terraform-readme

Simplify and rename startup script slurm-gcp v5 test
  tools/cloud-build/daily-tests/tests/slurm-v5-startup-scripts.yml
  tools/validate_configs/test_configs/slurm-gcp-v5-startup-scripts.yaml
Due: none

Increase HTCondor installation timeout
  tools/cloud-build/daily-tests/ansible_playbooks/htcondor-integration-test.yml
Due: none

add google license
  pkg/sourcereader/modules/test_data/network/vpc/README.md
  pkg/sourcereader/modules/test_data/network/vpc/main.tf
  pkg/sourcereader/modules/test_data/network/vpc/output.tf
  pkg/sourcereader/modules/test_data/network/vpc/variables.tf
Due: terraform-readme

change copy files to temp dir by WrapFS workaround
  go.mod
  go.sum
  pkg/sourcereader/embedded.go
Due: none

change tfconfig to modulereader
  ghpc.go
  pkg/modulereader/hcl_utils.go
  pkg/sourcereader/embedded.go
  pkg/sourcereader/embedded_test.go
  pkg/sourcereader/local_test.go
Due: none

update sourcereader tests to be WrapFS compatible
  pkg/sourcereader/embedded_test.go
  pkg/sourcereader/local_test.go
  pkg/sourcereader/modules/test_data/network/vpc/README.md
  pkg/sourcereader/modules/test_data/network/vpc/main.tf
  pkg/sourcereader/modules/test_data/network/vpc/output.tf
  pkg/sourcereader/modules/test_data/network/vpc/variables.tf
  pkg/sourcereader/modules/test_data/network/vpc/versions.tf
  pkg/sourcereader/sourcereader_test.go
Due: terraform-readme

rebase and small adjustments
  .pre-commit-config.yaml
  pkg/modulereader/hcl_utils.go
  pkg/modulereader/resreader.go
  pkg/sourcereader/embedded_test.go
  pkg/sourcereader/modules/test_data/network/vpc/README.md
  pkg/sourcereader/modules/test_role/test_module/main.tf
  pkg/sourcereader/modules/test_role/test_module/output.tf
  pkg/sourcereader/modules/test_role/test_module/variables.tf
  pkg/sourcereader/modules/test_role/test_module/versions.tf
  pkg/sourcereader/sourcereader_test.go
Due: terraform-readme

Update hybrid docs to conform to 5.3.0
  docs/hybrid-slurm-cluster/blueprints/hybrid-configuration.yaml
  docs/hybrid-slurm-cluster/deploy-instructions.md
Due: none

Run dependabot at repeatable weekly interval
  .github/dependabot.yml
Due: none

Rolling google terraform provider version to 4.46.0
  pkg/modulewriter/tfversions.go
Due: none

Rolling the Toolkit version to 1.10.1
  cmd/root.go
  community/modules/compute/SchedMD-slurm-on-gcp-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/versions.tf
  community/modules/scheduler/htcondor-configure/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme

Fix Quantum AI example by pinning to g++ 10 instead of 11 (known failure)
  community/examples/quantum-circuit-simulator.yaml
Due: none

Add documentation for creating custom slurm-gcp images
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  docs/vm-images.md
Due: none

Update links and fix typo
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  docs/vm-images.md
Due: none

Update variable definitions to point to standard docs
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
Due: terraform-readme

Add option to set instance template for login and controller
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
Due: terraform-readme

Fix reference to vm-images documentation
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
Due: terraform-readme

Remove singularity install to avoid failed package install
  community/modules/scripts/omnia-install/templates/install_omnia.tpl
Due: none

Automate gpu guest accelerator in vm-instance if not set
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/gpu_definition.tf
  modules/compute/vm-instance/main.tf
  tools/validate_configs/test_configs/README.md
  tools/validate_configs/test_configs/gpu.yaml
Due: terraform-readme

Add better comments to the gpu_definition local file
  modules/compute/vm-instance/gpu_definition.tf
  modules/compute/vm-instance/main.tf
Due: terraform-readme

Apply gpu_definition to slurm modules
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/gpu_definition.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  modules/compute/vm-instance/main.tf
  tools/validate_configs/test_configs/gpu.yaml
Due: terraform-readme

Add gpu_definition to duplicate-diff precommit
  tools/duplicate-diff.py
Due: none

Update pre-commit to check for terraform files
  .pre-commit-config.yaml
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/gpu_definition.tf
  modules/compute/vm-instance/gpu_definition.tf
Due: terraform-readme

remote desktop with CRD
  community/examples/remote-desktop.yaml
  community/modules/remotedesktop/README.md
  community/modules/remotedesktop/install_crd.yaml
  community/modules/remotedesktop/install_desktop.yaml
  community/modules/remotedesktop/install_grid_drivers.yaml
Due: none

fixed file name
  community/examples/remote-desktop.yaml
Due: none

Pass family through instead of looking up image to allow compute nodes to pick up new version within family
  community/modules/compute/SchedMD-slurm-on-gcp-partition/README.md
  community/modules/compute/SchedMD-slurm-on-gcp-partition/outputs.tf
  community/modules/compute/SchedMD-slurm-on-gcp-partition/versions.tf
Due: terraform-readme

CRD remote desktop module test
  community/modules/remotedesktop/install_desktop.yaml.bak
Due: none

Add slash to network storage output for pre-existing
  modules/file-system/pre-existing-network-storage/outputs.tf
Due: terraform-readme

Fix broken link to application tutorial diagram
  docs/tutorials/gromacs/spack-gromacs.md
Due: none

Allow Slurm v4 compute image to be specified by name
  community/modules/compute/SchedMD-slurm-on-gcp-partition/README.md
  community/modules/compute/SchedMD-slurm-on-gcp-partition/outputs.tf
  community/modules/compute/SchedMD-slurm-on-gcp-partition/variables.tf
Due: terraform-readme

Allow Slurm v4 controller and login image to be specified by name
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/README.md
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/main.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/variables.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/README.md
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/main.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/variables.tf
Due: terraform-readme

Bump google provider max version to 4.47.0
  pkg/modulewriter/tfversions.go
Due: none

Initial draft of GPU documentation
  docs/gpu-support.md
  modules/packer/custom-image/README.md
  modules/packer/custom-image/variables.pkr.hcl
  tools/cloud-build/daily-tests/blueprints/lustre-with-new-vpc.yaml
Due: packer-readme

Enable cleanup of active compute nodes on destroy for high io test
  community/examples/slurm-gcp-v5-high-io.yaml
Due: none

Adding support for existing GCS bucket in startup script module.
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/variables.tf
Due: terraform-readme

Rename variables for readability
  modules/file-system/pre-existing-network-storage/outputs.tf
Due: terraform-readme

Updating documentation.
  modules/scripts/startup-script/README.md
Due: none

Handling gcs path trimming before regex parsing.
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/variables.tf
Due: terraform-readme

Move directory check to after embedded checks
  pkg/modulereader/hcl_utils.go
Due: none

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$, but not: \.terraform\/.*$
  packer-readme: any of: ^.*\.pkr\.hcl$
