Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Removes non-GCNV files accidentially made it into this commit
  tools/cloud-build/daily-tests/tests/netapp-volumes.yml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

refines EDA blueprints
  examples/eda/README.md
  examples/eda/eda-all-on-cloud.yaml
  examples/eda/eda-hybrid-cloud.yaml
Due: addlicense

EDA minor edit
  examples/eda/eda-all-on-cloud.yaml
Due: addlicense

replaces compute in eda-all-on-cloud blueprint with H4D
  examples/eda/eda-all-on-cloud.yaml
Due: addlicense

add eda-all-on-cloud blueprint and README
  examples/eda/README.md
  examples/eda/eda-all-on-cloud.yaml
  examples/eda/eda-hybrid-cloud.yaml
Due: addlicense

applies changes identified in review process of #4771
  docs/network_storage.md
  examples/README.md
  examples/eda/README.md
  examples/eda/eda-all-on-cloud.yaml
  examples/eda/eda-hybrid-cloud.yaml
  modules/README.md
Due: addlicense

updates eda-hybrid-cloud blueprint with H4D compute support
  examples/eda/eda-hybrid-cloud.yaml
Due: addlicense

updates README.md file
  examples/eda/ClusterToolkit-EDA-AllCloud.png
  examples/eda/ClusterToolkit-EDA-Hybrid.png
  examples/eda/README.md
Due: addlicense

bump TF and blueprint version and improve protocol validation
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/main.tf
  modules/file-system/netapp-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add eda-hybrid-cloud blueprint
  examples/eda-hybrid-cloud.yaml
Due: addlicense

updates examples/README.md
  examples/README.md
Due: addlicense

updates examples/eda/README.md
  examples/eda/README.md
Due: addlicense

moves examples/eda/ into community/examples/eda
  community/examples/eda/README.md
  community/examples/eda/eda-all-on-cloud.yaml
  community/examples/eda/eda-hybrid-cloud.yaml
  examples/README.md
  examples/eda/ClusterToolkit-EDA-AllCloud.png
  examples/eda/ClusterToolkit-EDA-Hybrid.png
Due: addlicense

added alert-notification
  tools/cloud-build/provision/daily-cleanup.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding TPU 7x blueprint and changes in tpu-definition module accordingly
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x-deployment.yaml
  examples/gke-tpu-7x/gke-tpu-7x-job.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  modules/internal/tpu-definition/main.tf
  tools/validate_configs/validate_configs.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update the a3-megagpu-8g nri plugin link
  modules/compute/gke-node-pool/gpu_direct.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-mega.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updating the examples/README.md for TPU 7x
  examples/README.md
Due: addlicense

add precommit check to validate build yamls for check_for_running_build step
  .pre-commit-config.yaml
  tools/cloud-build/daily-tests/validate_daily_test_builds.py
Due: addlicense

clean up cluster-toolkit-writers.json
  cluster-toolkit-writers.json
Due: addlicense

update rxdm_version info for a3-megagpu-8g machines
  modules/compute/gke-node-pool/gpu-direct-workload/sample-tcpxo-workload-job.yaml
  modules/compute/gke-node-pool/gpu_direct.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

changes to EDA blueprints as identified in review process
  community/examples/eda/README.md
  community/examples/eda/eda-all-on-cloud.yaml
  community/examples/eda/eda-hybrid-cloud.yaml
  examples/README.md
Due: addlicense

resolve merge conflict for EDA blueprints
  examples/README.md
Due: addlicense

resolve merge conflict for EDA blueprints 2
  examples/README.md
Due: addlicense

improvement(test-gke-a3-high): Run tuning script before NCCL test
  examples/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
Due: addlicense

Add GKE Inference Gateway blueprints for a4 and a4x
  examples/README.md
  examples/gke-a4/gke-a4-inference-gateway-deployment.yaml
  examples/gke-a4/gke-a4-inference-gateway.yaml
  examples/gke-a4x/gke-a4x-inference-gateway-deployment.yaml
  examples/gke-a4x/gke-a4x-inference-gateway.yaml
Due: addlicense

Increase version to 1.74.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

pin mypy version in precommit dep. to last stable version i.e 1.18.2
  Makefile
Due: addlicense

Add kvenkatachala333 to writers.json
  cluster-toolkit-writers.json
Due: addlicense

Add GCS updates to a4x
  examples/gke-a4x/gke-a4x.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
Due: addlicense

Moving TPU v6 from community to core
  examples/gke-tpu-v6/README.md
  examples/gke-tpu-v6/gke-tpu-v6-advanced.yaml
  examples/gke-tpu-v6/gke-tpu-v6-deployment.yaml
  examples/gke-tpu-v6/gke-tpu-v6.yaml
  examples/gke-tpu-v6/tpu-multislice.yaml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

feat(validations): Add generalized regex validation framework
  cmd/deploy.go
  community/modules/compute/notebook/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-partition/metadata.yaml
  modules/compute/gke-node-pool/metadata.yaml
  modules/compute/resource-policy/metadata.yaml
  pkg/config/config.go
  pkg/validators/basic_validators.go
  pkg/validators/registry.go
  pkg/validators/validators.go
Due: addlicense

fix(build): Resolve undefined type error in validation framework
  pkg/modulereader/metadata.go
Due: addlicense

fix pre-commit failure
  pkg/modulereader/metadata.go
Due: addlicense

Changing release_channel from stable to rapid
  examples/gke-tpu-7x/gke-tpu-7x.yaml
Due: addlicense

Adding integration test files for TPU v6e
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
Due: addlicense

feat: Add gcloud community module
  community/examples/gcloud-example.yaml
  community/modules/scripts/gcloud/README.md
  community/modules/scripts/gcloud/main.tf
  community/modules/scripts/gcloud/metadata.yaml
  community/modules/scripts/gcloud/outputs.tf
  community/modules/scripts/gcloud/variables.tf
  community/modules/scripts/gcloud/versions.tf
  examples/README.md
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Changing default Kueue version to 0.14.4 in A4x
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-a4x/kueue-configuration.yaml.tftpl
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
