Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Address comments
  community/examples/slurm-gke/slurm-gke.yaml
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-nodeset/main.tf
  community/modules/compute/gke-nodeset/variables.tf
  modules/README.md
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Change to use public slinky image and some more small fixes
  community/examples/slurm-gke/slurm-gke.yaml
  community/modules/compute/gke-nodeset/templates/nodeset-general.yaml.tftpl
  community/modules/compute/gke-partition/README.md
  community/modules/compute/gke-partition/main.tf
  community/modules/compute/gke-partition/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase version to 1.66.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
Due: addlicense

Add fix for mypy check failure on release branch
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
Due: addlicense

updated version
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Revert "Adding inline helm values"
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update H4D blueprint: disable automatic updates, provide image info, and delete duplicate filestore
  examples/hpc-slurm-h4d.yaml
Due: addlicense

Adding TAS feature gate, tolerations in helm values
  examples/gke-a3-highgpu.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/kueue/kueue-helm-values.yaml
  modules/management/kubectl-apply/variables.tf
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu-nccl.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

MiG deletion code
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

updating example to use jax ai images
  community/examples/gke-tpu-v6/tpu-multislice.yaml
Due: addlicense

Small fix after rebase
  community/examples/slurm-gke/slurm-gke.yaml
  community/modules/compute/gke-nodeset/slurm_key.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Added support for aarch64 and updated documentation.
  community/gce-cos-nvidia-bug-report/Dockerfile
  community/gce-cos-nvidia-bug-report/README.md
  community/gce-cos-nvidia-bug-report/app/constants.py
  community/gce-cos-nvidia-bug-report/app/gce-cos-nvidia-bug-report.py
  community/gce-cos-nvidia-bug-report/build-and-push-gce-cos-nvidia-bug-report.sh
Due: duplicate-diff, addlicense

small fixes
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-deployment.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

another fix
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

small fix
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add Managed Lustre support in gke-a4
  examples/gke-a4/gke-a4.yaml
Due: addlicense

Modifying slurmsync so the new logic works only with a4 flex clusters
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
Due: addlicense

Some fixes to README
  examples/quantum-simulation/README.md
  examples/quantum-simulation/build_image.sh
Due: duplicate-diff, addlicense

updated blueprint
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

fixing MIG creation for A4X DWS Flex. Using target-size-policy-mode=bulk as an input while creating MIGs to ensure atomic creation
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_a4.py
Due: addlicense

Ensure atomicity while deleting A4X MIGs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_a4.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
Due: addlicense

Adding Lustre Support
  examples/hpc-slurm-h4d.yaml
Due: addlicense

fuxed white spaces
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

wip
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

WIP
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

updated the blueprint for a3ultra
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

updated the blue print to match the steps and added verison for nccl-gib
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

removed nccl verison
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

fixed typo
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

added nvidia-repositories script
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
