Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Replace deprecated apt-key with gpg keyring in terraform/packer Dockerfiles (#6198)
  tools/cloud-build/dependency-checks/Dockerfile.packer
  tools/cloud-build/dependency-checks/Dockerfile.terraform
  tools/cloud-build/images/ghpc-docker/Dockerfile
Due: addlicense

feat(gke): enable Multi-Tier Checkpointing (MTC) support and automated Workload Identity
  examples/storage-gke.yaml
  modules/management/kubectl-apply/manifests/checkpoint-configuration.yaml.tftpl
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/types.go
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-mtc.yml
Due: duplicate-diff, addlicense

feat (job) : Integrate ML diagnostics flag (#6202)
  cmd/job/submit.go
  cmd/job/submit_test.go
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/manifest_generator_test.go
  pkg/orchestrator/gke/templates/jobset.tmpl
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
  pkg/orchestrator/gke/types.go
  pkg/orchestrator/orchestrator.go
Due: addlicense

Add gpu_driver_version settings to the gke gpu blueprints
  examples/gke-a3-highgpu/gke-a3-highgpu.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu.yaml
  examples/gke-consumption-options/dws-flex-start/gke-a3-ultragpu.yaml
Due: addlicense

remove pinned version comment
  examples/gke-g4/gke-g4.yaml
Due: addlicense

fix(job): defensive check for KSA binding and integration test update (#6231)
  examples/storage-gke.yaml
  modules/management/kubectl-apply/manifests/checkpoint-configuration.yaml.tftpl
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/types.go
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-mtc.yml
Due: duplicate-diff, addlicense

Refine consumption options guide and make specific reservation default in A3 Mega
  docs/gke-consumption-options.md
  examples/gke-a3-megagpu/README.md
  examples/gke-a3-megagpu/gke-a3-megagpu-deployment.yaml
Due: addlicense

fix(gke-cluster): optimize target system node pool zones resolution
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(testing): resolve gke-storage integration test failures and teardown blocks
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/fio-test-job.yaml.j2
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-storage-pool.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-zonal-bucket.yml
Due: addlicense

chore: update daily test configuration and documentation from Filestore to Managed Lustre
  examples/machine-learning/a3-highgpu-8g/README.md
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
Due: addlicense

test(ci): replace deprecated e2 instances with n2d across daily tests and test configs
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x-max-bm.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-confidential.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-g4.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/builds/slinky.yml
  tools/validate_configs/test_configs/2filestore-4instances.yaml
  tools/validate_configs/test_configs/centos8-ss.yaml
  tools/validate_configs/test_configs/complex-data.yaml
  tools/validate_configs/test_configs/debian-ss.yaml
  tools/validate_configs/test_configs/hpc-centos-ss.yaml
  tools/validate_configs/test_configs/hpc-cluster-simple.yaml
  tools/validate_configs/test_configs/instance-with-startup.yaml
  tools/validate_configs/test_configs/rocky-ss.yaml
  tools/validate_configs/test_configs/simple-startup.yaml
  tools/validate_configs/test_configs/startup-options.yaml
  tools/validate_configs/test_configs/ubuntu-ss.yaml
Due: addlicense

Pass reservation_affinity via cli_deployment_vars in A3 Mega test
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
Due: addlicense

Remove GKE consumption options doc and update reservation link in A3 Mega
  docs/gke-consumption-options.md
  examples/gke-a3-megagpu/README.md
  examples/gke-a3-megagpu/gke-a3-megagpu-deployment.yaml
Due: addlicense

fix: simplify install_root_clean trimsuffix ternary
  community/modules/container/apptainer-app/main.tf
  community/modules/container/apptainer-runtime/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix: add timeout with retry to sacct/squeue subprocess calls
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/files/ghpcfe_c2daemon.py
Due: addlicense

Make GetUniqueGcsBuckets fail-fast on invalid bucket configs
  cmd/create_test.go
  cmd/deploy_test.go
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
Due: addlicense

Replace obsoleted google-cloud-sdk with google-cloud-cli (#6225)
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  tools/cloud-build/images/test-runner/Dockerfile
Due: duplicate-diff, addlicense

IAM permission is attached directly to the specific storage bucket
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(ci): fix variable reference from SG_EXAMPLE to EXAMPLE_BP in slinky.yml
  tools/cloud-build/daily-tests/builds/slinky.yml
Due: addlicense

nit
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(testing): resolve gke-storage integration test validation and teardown failures (#6219)
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/fio-test-job.yaml.j2
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-storage-pool.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-zonal-bucket.yml
Due: addlicense

feat: scope ML diagnostics GCS buckets by project and ensure automatic bucket creation in daily tests
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gcluster-job-pathways.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-ml-diagnostics.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v5e.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v5p.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
Due: addlicense

fix(slurm): don't restart slurmctld on topology-only reconfigure
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

fix(slurm-gcp): exclude gcsfuse mounts from is_controller_mount check
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
Due: addlicense

feat(gke-cluster): dynamic catalog fallback for system nodepool and expand node ceiling to 150 (#6218)
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(iam): resolve service account eventual consistency propagation in GKE blueprints
  examples/storage-gke.yaml
  modules/project/service-account/README.md
  modules/project/service-account/main.tf
  modules/project/service-account/outputs.tf
  modules/project/service-account/versions.tf
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(blueprints): set static_node_count to 1 on node pools for reliable test execution
  examples/ml-gke.yaml
  examples/storage-gke.yaml
  tools/cloud-build/daily-tests/blueprints/ml-gke-e2e.yaml
Due: addlicense

fix(orchestrator): wait for MTC driver DaemonSet readiness after restart
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
Due: addlicense

fix(orchestrator): use configurable poll interval for MTC driver DaemonSet readiness
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
Due: addlicense

Automate the custom IAM role creation in cloud-storage-bucket module (#6226)
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/main.tf
  modules/file-system/cloud-storage-bucket/metadata.yaml
  modules/file-system/cloud-storage-bucket/variables.tf
  modules/file-system/gke-persistent-volume/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

refactor(service-account): simplify outputs depends_on to rely on time_sleep resource
  modules/project/service-account/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(examples,docs): migrate e2 instances to n2d across blueprints and documentation
  community/examples/client-google-cloud-storage.yaml
  community/examples/flux-framework/flux-cluster.yaml
  community/examples/hpc-slinky/hpc-slinky.yaml
  community/examples/slurm-gke/slurm-gke.yaml
  community/examples/xpk-n2-filestore/xpk-n2-filestore.yaml
  community/front-end/ofe/tf/README.md
  community/front-end/ofe/tf/variables.tf
  community/modules/scheduler/slinky/README.md
  examples/gke-a3-highgpu-inference-gateway.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-consumption-options/dws-flex-start-compact-placement/gke-h4d/gke-h4d.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu.yaml
  examples/gke-consumption-options/dws-flex-start/gke-a3-ultragpu.yaml
  examples/gke-g4/gke-g4.yaml
  examples/gke-h4d/gke-h4d.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/science/af3-slurm/README.md
  modules/README.md
  modules/compute/resource-policy/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

test(telemetry): update system_node_pool_machine_type test fixture to n2d-standard-16
  pkg/telemetry/collector_test.go
Due: addlicense

feat(examples,docs): migrate remaining e2 references to n2d in gcloud example and vm-lustre test
  community/examples/gcloud-example.yaml
  community/modules/scripts/gcloud/README.md
  tools/validate_configs/os_compatibility_tests/vm-lustre.yaml
Due: addlicense

Update image push and modularize image cleanup
  tools/cloud-build/daily-tests/builds/batch.yaml
  tools/cloud-build/daily-tests/builds/gcluster-dockerfile.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-confidential.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v5e.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v5p.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4x-highgpu-slurm.yaml
  tools/cloud-build/image_cleanup.sh
Due: duplicate-diff, addlicense

TPU ML diagnostics scoping GCS buckets to project (#6235)
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gcluster-job-pathways.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-ml-diagnostics.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v5e.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v5p.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
Due: addlicense

test(ci): replace deprecated e2 instances with n2d across daily tests and test configs (#6233)
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x-max-bm.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-confidential.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-g4.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/builds/slinky.yml
  tools/validate_configs/test_configs/2filestore-4instances.yaml
  tools/validate_configs/test_configs/centos8-ss.yaml
  tools/validate_configs/test_configs/complex-data.yaml
  tools/validate_configs/test_configs/debian-ss.yaml
  tools/validate_configs/test_configs/hpc-centos-ss.yaml
  tools/validate_configs/test_configs/hpc-cluster-simple.yaml
  tools/validate_configs/test_configs/instance-with-startup.yaml
  tools/validate_configs/test_configs/rocky-ss.yaml
  tools/validate_configs/test_configs/simple-startup.yaml
  tools/validate_configs/test_configs/startup-options.yaml
  tools/validate_configs/test_configs/ubuntu-ss.yaml
Due: addlicense

feat(gke): Unify A3 Mega blueprint with dynamic consumption models and align daily integration tests (#6068)
  examples/dws-sample-workloads/dws-queues.yaml.tftpl
  examples/dws-sample-workloads/sample-job-flex-queue.yaml
  examples/dws-sample-workloads/sample-job-flex.yaml
  examples/gke-a3-megagpu/README.md
  examples/gke-a3-megagpu/gke-a3-megagpu-deployment.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  examples/gke-a3-megagpu/nccl-jobset-flex-queue.yaml
  examples/gke-a3-megagpu/nccl-jobset-flex.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu-onspot.yml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

chore: update reaper image tag, add idempotent flavor generation
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-reaper-pod.yaml
  tools/cloud-build/provision/generate_kueue_locks.py
Due: addlicense
