Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

adding new module spanner in cluster toolkit.
  modules/database/spanner/README.md
  modules/database/spanner/main.tf
  modules/database/spanner/metadata.yaml
  modules/database/spanner/outputs.tf
  modules/database/spanner/variables.tf
  modules/database/spanner/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

addressing comments.
  modules/database/spanner/README.md
  modules/database/spanner/main.tf
  modules/database/spanner/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Removing unused tag
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
Due: addlicense

adding new scripting module gke-backend-fetcher under community folder.
  community/modules/scripts/gke-backend-fetcher/README.md
  community/modules/scripts/gke-backend-fetcher/fetch_backend.py
  community/modules/scripts/gke-backend-fetcher/main.tf
  community/modules/scripts/gke-backend-fetcher/metadata.yaml
  community/modules/scripts/gke-backend-fetcher/outputs.tf
  community/modules/scripts/gke-backend-fetcher/variables.tf
  community/modules/scripts/gke-backend-fetcher/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

addressing comments.
  community/modules/scripts/gke-backend-fetcher/README.md
  community/modules/scripts/gke-backend-fetcher/fetch_backend.py
Due: addlicense

base
  go.mod
  go.sum
  pkg/config/config.go
  pkg/config/user_config.go
  pkg/config/user_config_test.go
Due: addlicense

comments
  pkg/config/config.go
Due: addlicense

offload hardware resolution to hardware.go module
  cmd/job/submit.go
  cmd/job/submit_test.go
  docs/gcluster_job_guide.md
  pkg/config/hardware.go
  pkg/config/hardware_test.go
  pkg/config/machine_configs.go
  pkg/config/machine_configs_test.go
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/resource_resolver.go
  pkg/orchestrator/gke/resource_resolver_test.go
  pkg/orchestrator/gke/scheduling.go
  pkg/orchestrator/gke/types.go
Due: addlicense

Integrate storage profile in GCSFuse (#5476)
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-consumption-options/dws-flex-start/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/templates/gcs-pv.yaml.tftpl
  modules/file-system/gke-persistent-volume/templates/gcs-pvc.yaml.tftpl
  modules/file-system/gke-persistent-volume/variables.tf
  pkg/validators/cloud.go
  pkg/validators/validators.go
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e-flex.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

tests
  go.mod
  go.sum
  pkg/config/user_config.go
  pkg/config/user_config_test.go
  pkg/telemetry/collector_test.go
Due: addlicense

fix: ensure fully qualified URLs for reservation subblocks
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/reservation_definitions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add validation for unsupported machines
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

adding a new helm-upgrade module under community folder.
  community/modules/management/helm-upgrade/README.md
  community/modules/management/helm-upgrade/main.tf
  community/modules/management/helm-upgrade/metadata.yaml
  community/modules/management/helm-upgrade/outputs.tf
  community/modules/management/helm-upgrade/variables.tf
  community/modules/management/helm-upgrade/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix G4 GKE Rapid Version & Add Onboard On-Spot Test Support For Same (#5591)
  examples/gke-g4/gke-g4.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
  tools/cloud-build/daily-tests/tests/gke-g4-onspot.yml
Due: addlicense

addressing comments.
  community/modules/management/helm-upgrade/README.md
  community/modules/management/helm-upgrade/main.tf
  community/modules/management/helm-upgrade/metadata.yaml
  community/modules/management/helm-upgrade/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Test Changes
  tools/cloud-build/daily-tests/tests/h4d-vm.yml
Due: addlicense

adding new spanner-migrations runner module under community folder.
  community/modules/scripts/spanner-migrations-runner/README.md
  community/modules/scripts/spanner-migrations-runner/main.tf
  community/modules/scripts/spanner-migrations-runner/metadata.yaml
  community/modules/scripts/spanner-migrations-runner/outputs.tf
  community/modules/scripts/spanner-migrations-runner/variables.tf
  community/modules/scripts/spanner-migrations-runner/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update controller_cpu to string type
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

base
  Makefile
  cmd/root.go
  gcluster.go
  pkg/telemetry/collector.go
  pkg/telemetry/collector_test.go
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
  pkg/telemetry/types.go
Due: addlicense

.
  Makefile
Due: addlicense

test
  pkg/telemetry/collector_test.go
Due: addlicense

use lustre in a3u a4h
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

nit
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

Add homefs to slurm_login
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

uncomment variables
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Add maanaged lustre and add tags in tests
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
Due: addlicense

update lustre_instance_id for deployment uniqueness
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

remove a4xhigh changes
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

Remove a3 high changes
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm.yaml
Due: addlicense

addressing comments.
  community/modules/scripts/spanner-migrations-runner/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

make SERIAL_PORT_OUTPUT_IN_PROGRESS a non fatal error and increase polling time to 15 seconds
  community/modules/scripts/wait-for-startup/scripts/wait-for-startup-status.sh
Due: duplicate-diff, addlicense

comments
  pkg/telemetry/collector.go
  pkg/telemetry/collector_test.go
  pkg/telemetry/telemetry.go
  pkg/telemetry/telemetry_test.go
  pkg/telemetry/types.go
Due: addlicense

.
  pkg/telemetry/collector.go
Due: addlicense

[Telemetry] Add support to collect Toolkit installation mode (#5598)
  Makefile
  cmd/root.go
  gcluster.go
  pkg/telemetry/collector.go
  pkg/telemetry/collector_test.go
  pkg/telemetry/telemetry_test.go
  pkg/telemetry/types.go
Due: addlicense

Updating hardware.go to resolve tpu_topology propogation for static_node_count
  pkg/config/hardware.go
  pkg/config/hardware_test.go
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
Due: addlicense

address review comments
  pkg/config/hardware.go
  pkg/config/hardware_test.go
  pkg/orchestrator/gke/resource_resolver.go
Due: addlicense

updating v6e file as well
  examples/gke-tpu-7x/README.md
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
Due: addlicense

fix(core): ensure parent directories exist for non-embedded modules
  pkg/modulewriter/modulewriter.go
Due: addlicense

.
  pkg/config/config.go
  pkg/config/config_test.go
Due: addlicense
