Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

add guest_accelerator config
  examples/gke-g4/gke-g4-deployment.yaml
  examples/gke-g4/gke-g4.yaml
Due: addlicense

Fix/allow munge key et jwt as inputs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add A4X blueprints and gpu definition
  examples/machine-learning/a4x-highgpu-4g/README.md
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-deployment.yaml
  examples/machine-learning/a4x-highgpu-4g/system_benchmarks/README.md
  examples/machine-learning/a4x-highgpu-4g/system_benchmarks/run-nccl-tests-via-ramble.sh
  modules/internal/gpu-definition/main.tf
  tools/validate_configs/validate_configs.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add a new variable enable_numa_aware_scheduling to set the cpu_manager_policy
  examples/gke-g4/gke-g4.yaml
  examples/gke-g4/numa-kubelet-config.yaml
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

.
  examples/gke-g4/gke-g4.yaml
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Improve DWS Flex Start UX
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_flex.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Revert "Added capacity checks for reservations"
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated versions
  go.mod
  go.sum
  tools/cloud-workstations/Dockerfile
  tools/cloud-workstations/workstation-image.yaml
Due: addlicense

Adding username to writer
  cluster-toolkit-writers.json
Due: addlicense

Initial Changes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_flex.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: addlicense

Updating nccl env vars for a3ultra and a4high based on updated gib version
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/Dockerfile
  examples/machine-learning/a4-highgpu-8g/a4high-vm.yaml
Due: addlicense

Update cluster-toolkit-writers.json
  cluster-toolkit-writers.json
Due: addlicense

Adding a proxy check for topologyAssignment status in the workload yaml output for all topologies
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue.yml
Due: addlicense

add a4x image build recipe
  examples/machine-learning/build-service-images/README.md
  examples/machine-learning/build-service-images/a4x/blueprint.yaml
Due: addlicense

accelerator prefix checked for gpu
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Improvements applied to gke-pv-module
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/outputs.tf
  modules/file-system/gke-persistent-volume/templates/filestore-pv.yaml.tftpl
  modules/file-system/gke-persistent-volume/templates/gcs-pvc.yaml.tftpl
  modules/file-system/gke-persistent-volume/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix: empty values error for dynamic resources
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add support for regional Instance Template in Slurm scripts
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Switch to Slurm 6-11 images
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/hpc-slurm-ubuntu2004.yaml
  community/examples/hpc-slurm6-apptainer.yaml
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm-static.yaml
  examples/image-builder.yaml
  examples/ml-slurm.yaml
  examples/science/af3-slurm/af3-slurm.yaml
  tools/cloud-build/daily-tests/blueprints/lustre-slurm.yaml
  tools/cloud-build/daily-tests/tests/slurm-v6-debian.yml
  tools/python-integration-tests/slurm_topology.py
  tools/validate_configs/golden_copies/configs/versioned_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/terraform.tfvars
  tools/validate_configs/test_configs/node-groups.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase version to 1.62.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

vdi module - idempotence update
  community/modules/scripts/vdi-setup/README.md
  community/modules/scripts/vdi-setup/main.tf
  community/modules/scripts/vdi-setup/roles/base_os/tasks/main.yaml
  community/modules/scripts/vdi-setup/roles/lock_manager/README.md
  community/modules/scripts/vdi-setup/roles/lock_manager/tasks/check_lock.yaml
  community/modules/scripts/vdi-setup/roles/lock_manager/tasks/cleanup_lock.yaml
  community/modules/scripts/vdi-setup/roles/lock_manager/tasks/create_lock.yaml
  community/modules/scripts/vdi-setup/roles/lock_manager/tasks/main.yaml
  community/modules/scripts/vdi-setup/roles/lock_manager/templates/lock_file.yaml.j2
  community/modules/scripts/vdi-setup/roles/secret_manager/tasks/main.yaml
  community/modules/scripts/vdi-setup/roles/secret_manager/tasks/user_secret_tasks.yaml
  community/modules/scripts/vdi-setup/roles/user_provision/tasks/local_users.yaml
  community/modules/scripts/vdi-setup/roles/user_provision/tasks/main.yaml
  community/modules/scripts/vdi-setup/roles/vdi_monitor/README.md
  community/modules/scripts/vdi-setup/roles/vdi_monitor/defaults/main.yaml
  community/modules/scripts/vdi-setup/roles/vdi_monitor/tasks/main.yaml
  community/modules/scripts/vdi-setup/roles/vdi_monitor/templates/vdi-monitor-detector.sh.j2
  community/modules/scripts/vdi-setup/roles/vdi_tool/tasks/guacamole.yaml
  community/modules/scripts/vdi-setup/roles/vdi_tool/tasks/main.yaml
  community/modules/scripts/vdi-setup/roles/vdi_tool/templates/guacamole/connection_port_update.sql.j2
  community/modules/scripts/vdi-setup/roles/vnc/tasks/main.yaml
  community/modules/scripts/vdi-setup/validation.tf
  community/modules/scripts/vdi-setup/variables.tf
  community/modules/scripts/vdi-setup/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

vdi module - precommit tweaks
  community/modules/scripts/vdi-setup/roles/vdi_monitor/templates/vdi-monitor-config.sh.j2
  community/modules/scripts/vdi-setup/roles/vdi_monitor/templates/vdi-monitor-detector.sh.j2
  community/modules/scripts/vdi-setup/roles/vdi_monitor/templates/vdi-monitor-file.sh.j2
  community/modules/scripts/vdi-setup/roles/vdi_monitor/templates/vdi-monitor-test.sh.j2
Due: addlicense

Transition DWS Flex-Start to Regional MIGs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/scripts/cleanup_compute.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_flex.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: duplicate-diff, addlicense

adding username to writers
  cluster-toolkit-writers.json
Due: addlicense

Increase the default SlurmdTimeout to 15 minutes to avoid hitting QP limit
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  examples/hpc-slurm-h4d.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Correcting comment for resume_timeout variable
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Avoid adding username to writer in the same PR
  cluster-toolkit-writers.json
Due: addlicense

feat(network): Add automatic deletion of hierarchical firewalls
  modules/network/vpc/README.md
  modules/network/vpc/main.tf
  modules/network/vpc/variables.tf
  modules/network/vpc/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(network): Enable automatic firewall deletion by default
  modules/network/vpc/README.md
  modules/network/vpc/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated the versions and force downloading some packages
  tools/cloud-workstations/Dockerfile
Due: addlicense

minor changes
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/outputs.tf
  modules/file-system/gke-persistent-volume/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

unit test added
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
Due: addlicense

unit test added
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Added partial Slinky install option
  community/modules/scheduler/slinky/README.md
  community/modules/scheduler/slinky/main.tf
  community/modules/scheduler/slinky/outputs.tf
  community/modules/scheduler/slinky/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Improvements on gke-node-pool module
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/outputs.tf
  modules/compute/gke-node-pool/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

linting error fixed
  docs/hybrid-slurm-cluster/requirements.txt
  tools/cloud-workstations/Dockerfile
Due: addlicense

Remove usage of "check" function from modules
  modules/compute/gke-node-pool/gpu_direct.tf
  modules/compute/gke-node-pool/variables.tf
  modules/file-system/gke-storage/main.tf
  modules/management/kubectl-apply/variables.tf
  modules/network/firewall-rules/main.tf
  modules/network/pre-existing-subnetwork/main.tf
  modules/network/pre-existing-vpc/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix: Stabilize Slurm config generation to prevent drift
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Reduce terraform drift for spot instance config.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert the change for removing older versions support
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
