Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Modify pbspro-client to use local embedded module path
  community/modules/scheduler/pbspro-client/README.md
  community/modules/scheduler/pbspro-client/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify pbspro-execution to use local embedded module path
  community/modules/compute/pbspro-execution/README.md
  community/modules/compute/pbspro-execution/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify htcondor-service-accounts to use local embedded module path
  community/modules/scheduler/htcondor-service-accounts/README.md
  community/modules/scheduler/htcondor-service-accounts/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify spack-setup to use local embedded module path
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify ramble-setup to use local embedded module path
  community/modules/scripts/ramble-setup/README.md
  community/modules/scripts/ramble-setup/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify schedmd-slurm-gcp-v6-controller to use local embedded module path
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify batch-login-node to use local embedded module path
  modules/scheduler/batch-login-node/README.md
  modules/scheduler/batch-login-node/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify multivpc to use local embedded module path
  modules/network/multivpc/README.md
  modules/network/multivpc/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify ramble-execute to use local embedded module path
  community/modules/scripts/ramble-execute/README.md
  community/modules/scripts/ramble-execute/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Modify spack-execute to use local embedded module path
  community/modules/scripts/spack-execute/README.md
  community/modules/scripts/spack-execute/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

improve dws_flex ux
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  docs/slurm-dws-flex.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update Slurm-GCP to 6.8.2
  community/examples/hpc-build-slurm-image.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix deprecation link and add deprecation notice in v5 compute modules
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
Due: addlicense

add gpu health check in prolog and epilog
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
Due: addlicense

fix readme
  modules/compute/gke-node-pool/README.md
Due: addlicense

Make spack and ramble bucket names look like startup-script bucket names
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-setup/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

test commit signing
  CONTRIBUTING.md
Due: addlicense

revert test change
  CONTRIBUTING.md
Due: addlicense

Use template_subnetworks to generate output_subnets_gke
  community/modules/network/rdma-vpc/main.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updated Notebook to remove deprecated version.
  community/modules/compute/notebook/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

share SA across node pools
  examples/storage-gke.yaml
  tools/cloud-build/daily-tests/blueprints/ml-gke-e2e.yaml
Due: addlicense

Update from notebook_instance to workbench_instance
  community/modules/compute/notebook/README.md
  community/modules/compute/notebook/main.tf
  community/modules/compute/notebook/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

SlurmGCP. Improve reservation_name parsing logic + tests
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

SlurmGCP. Slurm reservation handling simplification
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Don't allow bucket_name to exceed 63 chars
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-setup/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

POC - use templates for DAOS mounts
  modules/file-system/parallelstore/README.md
  modules/file-system/parallelstore/main.tf
  modules/file-system/parallelstore/templates/mount-daos.sh.tftpl
  modules/file-system/parallelstore/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updating version constraint
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Initial commit to add logging command to packer
  modules/packer/custom-image/README.md
  modules/packer/custom-image/image.pkr.hcl
  modules/packer/custom-image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: packer-readme, addlicense

Add job duration as option for dws_flex
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  docs/slurm-dws-flex.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Refactor default value for mountpoint in local SSD solution
  modules/scripts/startup-script/files/setup-raid.yml
Due: addlicense

Ensure local SSD solutions works upon reboot of Slurm nodes
  modules/scripts/startup-script/files/setup-raid.yml
Due: addlicense

Imporvements for CloudSQL
  community/modules/database/slurm-cloudsql-federation/README.md
  community/modules/database/slurm-cloudsql-federation/main.tf
  community/modules/database/slurm-cloudsql-federation/outputs.tf
  community/modules/database/slurm-cloudsql-federation/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Allow easy switching between ENTERPRISE_PLUS and ENTERPRISE
  community/modules/database/slurm-cloudsql-federation/README.md
  community/modules/database/slurm-cloudsql-federation/main.tf
  community/modules/database/slurm-cloudsql-federation/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add job duration as option for dws_flex
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  docs/slurm-dws-flex.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Allow providing information about disk size to scale IOPS
  community/modules/database/slurm-cloudsql-federation/README.md
  community/modules/database/slurm-cloudsql-federation/main.tf
  community/modules/database/slurm-cloudsql-federation/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add support to perform GCP maintenance as slurm job
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
Due: addlicense

bump go version to 1.23
  go.mod
  tools/cloud-build/provision/pr-go-build-test.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Initial commit for new logging output
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme, addlicense

reverse changes in go.mod
  go.mod
Due: addlicense
