Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

fix: update branch
  examples/science/af3-slurm/README.md
  examples/science/af3-slurm/adm/inference.yml
  examples/science/af3-slurm/af3-slurm-deployment.yaml
  examples/science/af3-slurm/af3-slurm.yaml
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/ipynb-setup-config.yml
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/rest_api_launch_af3_job.sh.j2
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/slurm_client.py.j2
  examples/science/af3-slurm/examples/simple_job_launcher/af3-job-launcher.yml
  examples/science/af3-slurm/examples/simple_job_launcher/launch_af3_job.sh.j2
  examples/science/af3-slurm/examples/simple_service_launcher/af3-service.yml
  examples/science/af3-slurm/examples/simple_service_launcher/af3config.json.j2
  examples/science/af3-slurm/examples/simple_service_launcher/simple_service_launcher.py
Due: addlicense

Increasing timeout for helm resource
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: resize images
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/PAE.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/datapipeline.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/datapipeline_status.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/inference.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/inference_status.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/initialize.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/install_dependencies.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/notebook-save-failed.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/ping.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/rest_api.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/retrieve_host.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/science_setting.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/secret-manager.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/structure.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/system_setting.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/upload_file.png
Due: addlicense

updated the blue print to match the steps and added verison for nccl-gib
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Transition DWS Flex-Start to Regional MIGs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/scripts/cleanup_compute.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_flex.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: duplicate-diff, addlicense

Add Slurmsync integration with mig_db
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_flex.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add database implementation for MIG
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_flex.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

fix: remove unused images
  examples/science/af3-slurm/examples/simple_ipynb_launcher/Ipynb.md
  examples/science/af3-slurm/examples/simple_ipynb_launcher/README.md
  examples/science/af3-slurm/examples/simple_ipynb_launcher/Setup-post-cluster-deployment.md
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/datapipeline.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/inference.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/initialize.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/install_dependencies.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/notebook-save-failed.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/rest_api.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/retrieve_host.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/secret-manager.png
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/slurm-rest-api-notebook.ipynb.j2
  examples/science/af3-slurm/examples/simple_ipynb_launcher/adm/upload_file.png
Due: addlicense

Initial Changes For dws flex support
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_flex.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated to v0.3.1 and basepool machine changed
  community/examples/hpc-slinky/hpc-slinky.yaml
  community/modules/scheduler/slinky/README.md
  community/modules/scheduler/slinky/variables.tf
  examples/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update terraform-provider version to 7.0.0
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

update terraform-provider version to 6.49.2
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Adding pause in A3 integ. tests
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-ultra.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-job.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue-config.yml
Due: addlicense

Increase version to 1.63.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Blueprint and terraform validation changes for A4X Flex-Start support
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-deployment.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

surface support for managed lustre in a4x
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  examples/machine-learning/build-service-images/a4x/blueprint.yaml
Due: addlicense

Revert gke-node-pool module to using google-beta provider
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

adding network wait for slurm cluster.
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  modules/scripts/startup-script/files/install_gpu_network_wait_online.yml
Due: addlicense

Updating the final changes for mig support
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_flex.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: addlicense

pre-commit changes
  community/modules/scripts/vdi-setup/roles/vdi_monitor/templates/vdi-monitor.service.j2
  community/modules/scripts/vdi-setup/roles/vdi_tool/templates/guacamole/connection_bootstrap.sql.j2
  community/modules/scripts/vdi-setup/roles/vdi_tool/templates/guacamole/connection_port_update.sql.j2
  community/modules/scripts/vdi-setup/roles/vdi_tool/templates/guacamole/user_bootstrap.sql.j2
  community/modules/scripts/vdi-setup/roles/vnc/templates/config.j2
  community/modules/scripts/vdi-setup/roles/vnc/templates/vncserver.users.j2
  community/modules/scripts/vdi-setup/roles/vnc/templates/vncserver@.service.rocky.j2
  community/modules/scripts/vdi-setup/roles/vnc/templates/vncserver@.service.ubuntu.j2
Due: addlicense

vdi module - precommit tweaks
  community/modules/scripts/vdi-setup/roles/lock_manager/templates/lock_file.yaml.j2
Due: addlicense

precommit
  community/modules/scripts/vdi-setup/roles/lock_manager/templates/lock_file.yaml.j2
Due: addlicense

GKE Managed Lustre integration
  examples/gke-managed-lustre.yaml
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/templates/managed-lustre-pv.yaml.tftpl
  modules/file-system/gke-persistent-volume/templates/managed-lustre-pvc.yaml.tftpl
  modules/file-system/gke-persistent-volume/variables.tf
  modules/file-system/managed-lustre/outputs.tf
  modules/network/firewall-rules/README.md
  modules/network/firewall-rules/main.tf
  modules/network/firewall-rules/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-managed-lustre.yml
  tools/cloud-build/daily-tests/builds/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/tests/gke-managed-lustre.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Disabling slurm topology plugin for large clusters
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase version to 1.64.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

expand gpu network wait solution
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  modules/scripts/startup-script/files/install_gpu_network_wait_online.yml
Due: addlicense

Update modules/scripts/startup-script/files/install_gpu_network_wait_online.yml
  modules/scripts/startup-script/files/install_gpu_network_wait_online.yml
Due: addlicense

Initial checkin of G4 Blueprint
  examples/ml-slurm-g4.yaml
Due: addlicense

fuxed white spaces
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

adding rank ordering proxy check in test-gke-kueue-config.yml for A3
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue-config.yml
Due: addlicense

Adding unkillable_step_timeout (UnkillableStepTimeut) as a default parameter to the H4D blueprint.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  examples/hpc-slurm-h4d.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update requirements.txt
  community/front-end/ofe/requirements.txt
Due: addlicense

G4 GKE Blueprints
  examples/gke-g4/gke-g4.yaml
Due: addlicense

Update managed lustre gke blueprint
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-managed-lustre.yaml
  examples/storage-gke.yaml
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/templates/managed-lustre-pv.yaml.tftpl
  modules/file-system/gke-persistent-volume/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update filestore outputs
  modules/file-system/filestore/README.md
  modules/file-system/filestore/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
