Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

update the job in blueprint to validate ray
  examples/ml-gke-ray.yaml
Due: addlicense

Fixing readme file
  modules/scheduler/gke-cluster/README.md
Due: addlicense

Consolidate to ml-gke.yaml and add tests and validation files
  examples/ml-gke-ray.yaml
  examples/ml-gke.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-ray.yml
  tools/cloud-build/daily-tests/tests/ml-gke-ray.yml
Due: addlicense

Fix k8s SA message
  modules/scheduler/gke-cluster/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update NCCL env vars
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/Dockerfile
Due: addlicense

Fixed deployment name for test to fit in size limit
  tools/cloud-build/daily-tests/tests/gke-a2-highgpu-kueue.yml
Due: addlicense

Upgrade default kueue version to v0.10.0
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updates to use variable provisioning_model for vm-instances
  community/modules/compute/pbspro-execution/main.tf
  community/modules/remote-desktop/chrome-remote-desktop/main.tf
  community/modules/scheduler/pbspro-client/main.tf
  community/modules/scheduler/pbspro-server/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update nccl plugin for hypercompute blueprint
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
Due: addlicense

Adding ray operator addon support for GKE cluster creation
  examples/ml-gke-ray.yaml
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding PR comments
  examples/ml-gke.yaml
  tools/cloud-build/daily-tests/blueprints/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/tests/ml-gke-e2e.yml
  tools/cloud-build/daily-tests/tests/ml-gke-ray.yml
Due: addlicense

Add integration test for a3ultra-vm.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-nvidia-smi.yml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-jbvms.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-jbvms.yml
Due: addlicense

Replace Spack w/ Enroot/pyxis for NCCL tests
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/run-nccl-tests-via-ramble.sh
Due: duplicate-diff, addlicense

update steps and add note
  examples/gke-dws-flex-start/README.md
Due: addlicense

More MyPy fixes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/load_bq.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

clean up
  examples/gke-dws-flex-start/dws-test-11.yaml
  examples/gke-dws-flex-start/gke-dws-flex-start.yaml
Due: addlicense

modifications based on review
  examples/gke-dws-flex-start/README.md
  examples/gke-dws-flex-start/dws-queues.yaml.tftpl
  examples/gke-dws-flex-start/dws-test-11.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-dws-flex-start.yml
Due: duplicate-diff, addlicense

SlurmGCP. More MyPy fixes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_topology.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tpu.py
Due: addlicense

Add in socket info for c4d
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Update socket count and disable smt in slurm for h4d
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Handle new API format for upcomingMaintenance
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

enable queued provisioning on gke nodepool
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/compute/gke-node-pool/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add Kueue 0.10.1 support
  modules/management/kubectl-apply/manifests/kueue-v0.10.1.yaml
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fixes HPL benchmark test due to new env var required.
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-hpl.yaml
Due: addlicense

Remove explicitly stated mtu in gke-a3-ultragpu as default mtu has same value
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
Due: addlicense

Add cuda-toolkit to a3ultra-jbvms blueprint
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
Due: addlicense

Surface default MTU for RDMA network and change H4D machine type
  community/examples/hpc-slurm-h4d.yaml
  examples/h4d-vm.yaml
Due: addlicense

Update examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
Due: addlicense

Add H4d vm integration tests and irdma ansible test
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-irdma.yml
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/tests/h4d-vm.yml
Due: addlicense

add gke dws flex start example and integration test
  examples/gke-dws-flex-start/README.md
  examples/gke-dws-flex-start/dws-queues.yaml.tftpl
  examples/gke-dws-flex-start/gke-dws-flex-start.yaml
  examples/gke-dws-flex-start/sample-job.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-dws-flex-start.yml
  tools/cloud-build/daily-tests/builds/gke-dws-flex-start.yaml
  tools/cloud-build/daily-tests/tests/gke-dws-flex-start.yml
Due: duplicate-diff, addlicense

minor update in the blueprint
  examples/gke-dws-flex-start/gke-dws-flex-start.yaml
Due: addlicense

Update k8s service account name to make it configurable by the user
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update to avoid blueprint validation on sample-job for dws flex start sample
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

ofe: template field adjustment
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/front-end/ofe/infrastructure_files/vpc_tf/GCP/subnet.tf.template
  community/front-end/ofe/script/service_account.sh
  community/front-end/ofe/tf/main.tf
  community/front-end/ofe/website/ghpcfe/admin.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/vpc.py
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/models.py
  community/front-end/ofe/website/ghpcfe/static/img/white-registries.png
  community/front-end/ofe/website/ghpcfe/templates/base_generic.html
  community/front-end/ofe/website/ghpcfe/templates/blueprint/artifact_registry_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/cluster/detail.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/update_form.html
  community/front-end/ofe/website/ghpcfe/templates/index.html
  community/front-end/ofe/website/ghpcfe/templates/registries/detail.html
  community/front-end/ofe/website/ghpcfe/templates/registries/list.html
  community/front-end/ofe/website/ghpcfe/templates/vpc/detail.html
  community/front-end/ofe/website/ghpcfe/urls.py
  community/front-end/ofe/website/ghpcfe/views/clusters.py
  community/front-end/ofe/website/ghpcfe/views/registries.py
  community/front-end/ofe/website/ghpcfe/views/vpc.py
  community/front-end/ofe/website/website/urls.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE: menu addition
  community/front-end/ofe/website/ghpcfe/templates/base_generic.html
  community/modules/container/artifact-registry/README.md
  community/modules/container/artifact-registry/main.tf
  community/modules/container/artifact-registry/metadata.yaml
  community/modules/container/artifact-registry/outputs.tf
  community/modules/container/artifact-registry/variables.tf
  community/modules/container/artifact-registry/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

module documentation tweaks
  community/modules/container/artifact-registry/README.md
Due: addlicense

OFE
  community/modules/container/artifact-registry/README.md
Due: addlicense

pre-commit changes
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/front-end/ofe/website/ghpcfe/templates/registries/detail.html
  community/front-end/ofe/website/ghpcfe/templates/registries/list.html
  community/front-end/ofe/website/ghpcfe/views/registries.py
  community/modules/container/artifact-registry/README.md
  community/modules/container/artifact-registry/main.tf
  community/modules/container/artifact-registry/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

module - move validation to preconditions
  community/front-end/ofe/website/ghpcfe/templates/registries/detail.html
  community/front-end/ofe/website/ghpcfe/templates/registries/list.html
  community/front-end/ofe/website/ghpcfe/views/registries.py
  community/modules/container/artifact-registry/main.tf
  community/modules/container/artifact-registry/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE: pre-commit variable validation
  community/modules/container/artifact-registry/main.tf
  community/modules/container/artifact-registry/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
