Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.76.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: ['terraform']
    exclude: \.terraform\/.*$
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    pass_filenames: true
    require_serial: true
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-lint
  - id: go-imports
  - id: go-cyclo
    args: [-over=15]
  - id: go-unit-tests
  - id: go-build
  - id: go-mod-tidy
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
  - id: go-critic
    args: [-disable, "#experimental,sloppyTypeAssert"]
- repo: https://github.com/ansible/ansible-lint.git
  rev: v5.4.0
  hooks:
  - id: ansible-lint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.28.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.8
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: end-of-file-fixer

Add Path specialization that can be extended with cty.Path (#1893)
  pkg/config/path.go
  pkg/config/path_test.go
  pkg/config/validate.go
Due: none

Create bucket inside Slurm cluster wrapper to control default name
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
Due: terraform-readme

Create bucket inside Slurm cluster wrapper to control default name (#1912)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
  pkg/config/path.go
  pkg/config/path_test.go
  pkg/config/validate.go
Due: terraform-readme

Fix missing `custom_var.mount` issue
  tools/cloud-build/daily-tests/tests/slurm-v6-rocky8.yml
Due: none

OFE: Cluster reconfiguration updates
  community/front-end/ofe/website/ghpcfe/cluster_manager/cloud_info.py
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/templates/cluster/update_form.html
  community/front-end/ofe/website/ghpcfe/views/clusters.py
Due: none

OFE: job submission changes after introducing static nodes in the cluster
  community/front-end/ofe/website/ghpcfe/templates/job/create_form.html
  community/front-end/ofe/website/ghpcfe/templates/job/rerun_form.html
Due: none

OFE: Application and credentials form validation, spack version upgrade
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/spack_install/tasks/main.yaml
  community/front-end/ofe/website/ghpcfe/views/applications.py
  community/front-end/ofe/website/ghpcfe/views/credentials.py
Due: none

Added group chat notification for daily clean up. Also split out tasks in daily cleanup to prevent them blocking if one fails.
  tools/cloud-build/project-cleanup.yaml
  tools/cloud-build/provision/daily-cleanup.tf
Due: terraform-readme

OFE: improving credentials creation logic
  community/front-end/ofe/website/ghpcfe/views/credentials.py
Due: none

Updated readme files. Fixed missing requirements
  community/examples/fsi-montecarlo-on-batch.yaml
  community/modules/compute/notebook/README.md
  community/modules/compute/notebook/main.tf
  community/modules/database/bigquery_dataset/README.md
  community/modules/database/bigquery_table/README.md
  community/modules/pubsub/subscription/README.md
  community/modules/pubsub/topic/README.md
  docs/tutorials/fsi-montecarlo-on-batch/README.md
  docs/tutorials/fsi-montecarlo-on-batch/architecture.png
  docs/tutorials/fsi-montecarlo-on-batch/bq.png
  docs/tutorials/fsi-montecarlo-on-batch/files.png
  docs/tutorials/fsi-montecarlo-on-batch/graphs.png
  docs/tutorials/fsi-montecarlo-on-batch/ipynb.png
  docs/tutorials/fsi-montecarlo-on-batch/notebook.png
  docs/tutorials/fsi-montecarlo-on-batch/output.png
  docs/tutorials/fsi-montecarlo-on-batch/preview.png
  docs/tutorials/fsi-montecarlo-on-batch/schema.png
  docs/tutorials/fsi-montecarlo-on-batch/terminal.png
  docs/tutorials/fsi-montecarlo-on-batch/workbench.png
  examples/README.md
Due: terraform-readme

Moved images to subdirectory
  docs/tutorials/fsi-montecarlo-on-batch/README.md
  docs/tutorials/fsi-montecarlo-on-batch/images/architecture.png
  docs/tutorials/fsi-montecarlo-on-batch/images/bq.png
  docs/tutorials/fsi-montecarlo-on-batch/images/files.png
  docs/tutorials/fsi-montecarlo-on-batch/images/graphs.png
  docs/tutorials/fsi-montecarlo-on-batch/images/ipynb.png
  docs/tutorials/fsi-montecarlo-on-batch/images/notebook.png
  docs/tutorials/fsi-montecarlo-on-batch/images/output.png
  docs/tutorials/fsi-montecarlo-on-batch/images/preview.png
  docs/tutorials/fsi-montecarlo-on-batch/images/schema.png
  docs/tutorials/fsi-montecarlo-on-batch/images/terminal.png
  docs/tutorials/fsi-montecarlo-on-batch/images/workbench.png
Due: none

Fix spack and ramble profile scripts
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-setup/main.tf
Due: terraform-readme

Fix missing `custom_var.mount` issue (#1913)
  tools/cloud-build/daily-tests/tests/slurm-v6-rocky8.yml
Due: none

Create bucket inside Slurm cluster wrapper to control default name (#1912)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
Due: terraform-readme

Bump Slurm `6.1.2 -> 6.2.0`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
Due: terraform-readme

Added instructions for Resource manager and projec
  community/examples/fsi-montecarlo-on-batch.yaml
  docs/tutorials/fsi-montecarlo-on-batch/README.md
Due: none

Test for tty before echo in /etc/profile.d scripts
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-setup/main.tf
Due: terraform-readme

Test for tty before echo in /etc/profile.d scripts (#1920)
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-setup/main.tf
Due: terraform-readme

Add Dockerfile and build config for GHPC image
  tools/cloud-build/ghpc-docker/Dockerfile
  tools/cloud-build/ghpc-docker/cloudbuild.yaml
Due: none

OFE: option to use bigquery for Slurm accounting storage
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/models.py
  community/front-end/ofe/website/ghpcfe/templates/cluster/update_form.html
Due: none

Add name to triggers for vm-instance because that can be specified now
  modules/compute/vm-instance/main.tf
Due: terraform-readme

Revert "Add name to triggers for vm-instance because that can be specified now"
  modules/compute/vm-instance/main.tf
Due: terraform-readme

Dev environments initial commit
  community/examples/apptainer/examples/dev/simpy/simpy.def
  community/examples/apptainer/examples/dev/simpy/simpybuild.yaml
  community/examples/apptainer/examples/dev/vscode/vscode.def
  community/examples/apptainer/examples/dev/vscode/vscodebuild.yaml
Due: none

OFE: quick fix when service accounts not present in the tf state
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
Due: none

Add path to `test_module_not_used` errors (#1892)
  pkg/validators/validators.go
Due: none

Add Integration test for Slurm V6 TPU nodeset
  community/examples/hpc-slurm6-tpu.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-slurm-v6-tpu.yml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-tpu.yaml
  tools/cloud-build/daily-tests/tests/slurm-v6-tpu.yml
Due: none

Filestore clean up - ignore active builds
  tools/clean-filestore-limit.sh
Due: none

Modification to move stockout check to end of task to reduce retries and timeout
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/check_stockout.yml
Due: none

Do not set role-label in expand, rely on module embedded labels (#1904)
  modules/packer/custom-image/image.pkr.hcl
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/defaults.auto.pkrvars.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/main.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/main.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/main.tf
  tools/validate_configs/golden_copies/expectations/text_escape/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/defaults.auto.pkrvars.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: terraform-readme, packer-readme

Add Dockerfile and build config for GHPC image (#1921)
  tools/cloud-build/ghpc-docker/Dockerfile
  tools/cloud-build/ghpc-docker/cloudbuild.yaml
Due: none

Hotfix for vm-instance to allow image names to be used correctly
  modules/compute/vm-instance/main.tf
Due: terraform-readme

Update to test name for vm-instance in test_configs
  tools/validate_configs/test_configs/vm.yaml
Due: none

Add Slurm6 modules to `modules/README`
  modules/README.md
Due: none

Simplification of logic for running stockout checks. Reduce time delay as well
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/check_stockout.yml
Due: none

Add Slurm6 modules to `modules/README` (#1929)
  modules/README.md
Due: none
