Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Adopt CentOS 7 boot fix commit in startup-script module
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/startup_from_network_storage.tf
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/startup_from_network_storage.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update network-storage interface to support runners and pass daos scripts during startup
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE: Update clusterinfo.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
Due: addlicense

OFE: Update models.py
  community/front-end/ofe/website/ghpcfe/models.py
Due: addlicense

OFE: Update bootstrap_compute.sh
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_compute.sh
Due: duplicate-diff, addlicense

OFE: Update bootstrap_controller.sh
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_controller.sh
Due: duplicate-diff, addlicense

OFE: Update bootstrap_login.sh
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_login.sh
Due: duplicate-diff, addlicense

Update to use slurm-gcp 6.5.10
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/cleanup.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/scripts/cleanup_compute.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

TEST. Slurm scripts `master`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

OFE: Update main.yaml
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/tasks/main.yaml
Due: addlicense

OFE: Update cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
Due: addlicense

OFE: Update partition_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
Due: addlicense

OFE: Update ghpcfe_c2daemon.py
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/files/ghpcfe_c2daemon.py
Due: addlicense

OFE: v6 form validation
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/models.py
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
Due: addlicense

Modify a3-highgpu-8g image-building blueprint network to match updated values from 5cb9faa4
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
Due: addlicense

Update slurm-gcp modules to 6.5.12 to take advantage of TPU fix
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix hydration from GCS bucket if name is not provided
  modules/file-system/parallelstore/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Testing new slurm-gcp enable_devel changes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove `enable_devel` from examples
  community/examples/hpc-build-slurm-image.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
Due: addlicense

point to proposed patched images to run tests against them
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding missed custom image override
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update for testing out changes in slurm-gcp and updates to account for changes in slurm-gcp Also updated cleanup_compute to be compatible with different versions of gcloud
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update slurm-gcp modules to 6.5.13 to take advantage of TPU and universe domain fix
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

turn custom image on for static test
  examples/hpc-slurm-static.yaml
Due: addlicense

OFE: fix for reservation handling
  community/front-end/ofe/website/ghpcfe/cluster_manager/cloud_info.py
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/views/clusters.py
Due: addlicense

Update parameters for parallelstore module as per feedback
  modules/file-system/parallelstore/README.md
  modules/file-system/parallelstore/main.tf
  modules/file-system/parallelstore/outputs.tf
  modules/file-system/parallelstore/scripts/mount-daos.sh
  modules/file-system/parallelstore/variables.tf
  modules/file-system/pre-existing-network-storage/scripts/mount-daos.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

move gke modules from community to core
  modules/compute/gke-job-template/README.md
  modules/compute/gke-job-template/main.tf
  modules/compute/gke-job-template/metadata.yaml
  modules/compute/gke-job-template/outputs.tf
  modules/compute/gke-job-template/templates/gke-job-base.yaml.tftpl
  modules/compute/gke-job-template/variables.tf
  modules/compute/gke-job-template/versions.tf
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/metadata.yaml
  modules/compute/gke-node-pool/outputs.tf
  modules/compute/gke-node-pool/threads_per_core_calc.tf
  modules/compute/gke-node-pool/variables.tf
  modules/compute/gke-node-pool/versions.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/metadata.yaml
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/gke-cluster/variables.tf
  modules/scheduler/gke-cluster/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

move gke pv from community to core, update examples and docs to reflect the migration
  examples/README.md
  examples/hpc-gke.yaml
  examples/ml-gke.yaml
  examples/storage-gke.yaml
  modules/README.md
  modules/compute/gke-job-template/README.md
  modules/compute/gke-node-pool/README.md
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/metadata.yaml
  modules/file-system/gke-persistent-volume/outputs.tf
  modules/file-system/gke-persistent-volume/templates/filestore-pv.yaml.tftpl
  modules/file-system/gke-persistent-volume/templates/filestore-pvc.yaml.tftpl
  modules/file-system/gke-persistent-volume/templates/gcs-pv.yaml.tftpl
  modules/file-system/gke-persistent-volume/templates/gcs-pvc.yaml.tftpl
  modules/file-system/gke-persistent-volume/variables.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/scheduler/gke-cluster/README.md
  pkg/modulereader/metadata_legacy.go
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/duplicate-diff.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update gke tests to reflect migration
  examples/README.md
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/tests/gke-storage.yml
  tools/cloud-build/daily-tests/tests/gke.yml
Due: addlicense

move pre-existing-gke-cluster to core
  modules/README.md
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/metadata.yaml
  modules/scheduler/pre-existing-gke-cluster/outputs.tf
  modules/scheduler/pre-existing-gke-cluster/variables.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  tools/duplicate-diff.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix pre-commit
  examples/README.md
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/tests/ml-gke.yml
Due: addlicense

Add terraform version for `ghpc --version`
  cmd/root.go
  pkg/shell/terraform.go
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
