Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

feat(testing): cut over some daily test suite to Kueue scheduling (#6050)
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/batch-mpi_old.yaml.bak
  tools/cloud-build/daily-tests/builds/htcondor.yaml
  tools/cloud-build/daily-tests/builds/htcondor_old.yaml.bak
  tools/cloud-build/daily-tests/builds/monitoring.yaml
  tools/cloud-build/daily-tests/builds/monitoring_old.yaml.bak
  tools/cloud-build/daily-tests/builds/packer.yaml
  tools/cloud-build/daily-tests/builds/packer_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

review comment
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/trigger_failure_triage_agent.yml
Due: addlicense

Refactor: Use Secret Manager for triage agent config and enforce mTLS URLs (#6069)
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/trigger_failure_triage_agent.yml
Due: addlicense

feat(controller): expose controller IG and named ports for LB integration (#5967)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

nit
  docs/gke-cluster-management.md
Due: addlicense

fix: restrict boot disk storage pools to hyperdisk-balanced
  modules/compute/gke-node-pool/main.tf
  modules/file-system/gke-storage/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs(g4): add nvbandwidth manual run details and significance to README
  examples/gke-g4-confidential/README.md
Due: addlicense

docs(gke-g4-confidential): document nvbandwidth test execution and significance (#6042)
  examples/gke-g4-confidential/README.md
Due: addlicense

bump default and example gke version_prefix to 1.35. (#6063)
  community/examples/xpk-n2-filestore/xpk-n2-filestore.yaml
  docs/gke-cluster-management.md
  examples/gke-a3-highgpu/gke-a3-highgpu.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  examples/gke-consumption-options/dws-flex-start-compact-placement/gke-h4d/gke-h4d.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu.yaml
  examples/gke-consumption-options/dws-flex-start/gke-a3-ultragpu.yaml
  examples/gke-h4d/gke-h4d.yaml
  examples/gke-managed-lustre.yaml
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

standardize warning messages
  pkg/dependencies/resolver.go
Due: addlicense

cut over daily test suite to Kueue scheduling
  tools/cloud-build/daily-tests/builds/ansible-vm.yaml
  tools/cloud-build/daily-tests/builds/ansible-vm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop-ubuntu_old.yaml.bak
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop_old.yaml.bak
  tools/cloud-build/daily-tests/builds/e2e.yaml
  tools/cloud-build/daily-tests/builds/e2e_old.yaml.bak
  tools/cloud-build/daily-tests/builds/hcls.yaml
  tools/cloud-build/daily-tests/builds/hcls_old.yaml.bak
  tools/cloud-build/daily-tests/builds/htcondor.yaml
  tools/cloud-build/daily-tests/builds/monitoring.yaml
  tools/cloud-build/daily-tests/builds/packer.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "feat(gha): add automatic reviewer assignee sync and 48-hour inactivit… (#6043)"
  .github/workflows/sync-assignees.yml
  tools/github/inactive-pr-reminder.sh
Due: duplicate-diff, addlicense

Revert pr 6043 to fix Github Action Scan (#6076)
  .github/workflows/sync-assignees.yml
  tools/github/inactive-pr-reminder.sh
Due: duplicate-diff, addlicense

feat: add validation for hyperdisk-balanced boot disk requirements
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: add validation for Hyperdisk configurations
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

chore:update disk_storage_pool documentation in vm-instance module
  modules/compute/vm-instance/README.md
Due: addlicense

docs: clarify storage pool hyperdisk limitations
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(testing): cut over daily test suite to Kueue scheduling (#6070)
  tools/cloud-build/daily-tests/builds/ansible-vm.yaml
  tools/cloud-build/daily-tests/builds/ansible-vm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop-ubuntu_old.yaml.bak
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop_old.yaml.bak
  tools/cloud-build/daily-tests/builds/e2e.yaml
  tools/cloud-build/daily-tests/builds/e2e_old.yaml.bak
  tools/cloud-build/daily-tests/builds/hcls.yaml
  tools/cloud-build/daily-tests/builds/hcls_old.yaml.bak
  tools/cloud-build/daily-tests/builds/htcondor.yaml
  tools/cloud-build/daily-tests/builds/monitoring.yaml
  tools/cloud-build/daily-tests/builds/packer.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix: set storage_pool to null when empty
  modules/compute/vm-instance/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updating the prereq check to handle all commands
  cmd/job/job.go
  cmd/job/prereq.go
  cmd/job/prereq_test.go
  cmd/job/submit.go
  cmd/job/submit_test.go
Due: addlicense

cut over daily test suite to Kueue scheduling
  tools/cloud-build/daily-tests/builds/gcluster-dockerfile.yaml
  tools/cloud-build/daily-tests/builds/gcluster-dockerfile_old.yaml.bak
  tools/cloud-build/daily-tests/builds/hpc-build-slurm-image.yaml
  tools/cloud-build/daily-tests/builds/hpc-build-slurm-image_old.yaml.bak
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update warning message.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update kueue config paths for GKE TPU examples: 6e and 7x
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
Due: addlicense

feat(job): add --gke-namespace flag and enable namespace aware operations (#6049)
  cmd/job/cancel.go
  cmd/job/cancel_test.go
  cmd/job/inspect.go
  cmd/job/job.go
  cmd/job/list.go
  cmd/job/logs.go
  cmd/job/submit.go
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/inspector.go
  pkg/orchestrator/gke/inspector_test.go
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/types.go
  pkg/orchestrator/orchestrator.go
Due: addlicense

Add integration test for tpu v5p
  tools/cloud-build/daily-tests/tests/gke-tpu-v5p.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-v5p.yml
Due: addlicense

Adding comments to explain embedded settings
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
Due: addlicense

Add GitHub Actions scan workflow for develop
  .github/workflows/github_actions_scan_dev.yml
Due: addlicense

moving build file to correct location
  tools/cloud-build/daily-tests/builds/gke-tpu-v5p.yaml
Due: addlicense

remove unused test_name variable from hpc-enterprise-slurm test configuration
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
Due: addlicense

Add GitHub Actions scan workflow for develop (#6086)
  .github/workflows/github_actions_scan_dev.yml
Due: addlicense

docs: update gcluster job guide with --gke-namespace flag
  docs/gcluster_job_guide.md
Due: addlicense

cut over daily test suite to Kueue scheduling
  tools/cloud-build/daily-tests/builds/htc-slurm.yaml
  tools/cloud-build/daily-tests/builds/htc-slurm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/slurm-flex.yaml
  tools/cloud-build/daily-tests/builds/slurm-flex_old.yaml.bak
  tools/cloud-build/daily-tests/builds/slurm-gke.yaml
  tools/cloud-build/daily-tests/builds/slurm-gke_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(testing): cut over daily test suite to Kueue scheduling (#6083)
  tools/cloud-build/daily-tests/builds/htc-slurm.yaml
  tools/cloud-build/daily-tests/builds/htc-slurm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/slurm-flex.yaml
  tools/cloud-build/daily-tests/builds/slurm-flex_old.yaml.bak
  tools/cloud-build/daily-tests/builds/slurm-gke.yaml
  tools/cloud-build/daily-tests/builds/slurm-gke_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update hpc-enterprise-slurm vpc configuration
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updating readme.md
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v6e/README.md
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
Due: addlicense

nit
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-v6e/README.md
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
