Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

remove a4xhigh changes
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

nit
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

Add maanaged lustre and add tags in tests
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
Due: addlicense

Add homefs to slurm_login
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

add Managed Lustre to primary VPC naming logic
  tools/fix_vpc_name.py
Due: addlicense

testing
  community/cos-nvidia-bug-report/Dockerfile
  community/cos-nvidia-bug-report/app/requirements.in
  community/cos-nvidia-bug-report/app/requirements.txt
  docs/hybrid-slurm-cluster/requirements.in
  docs/hybrid-slurm-cluster/requirements.txt
  tools/cloud-build/requirements.in
  tools/cloud-build/requirements.txt
  tools/cloud-workstations/Dockerfile
  tools/cloud-workstations/base-tooling-requirements.in
  tools/cloud-workstations/base-tooling-requirements.txt
  tools/cloud-workstations/requirements.in
  tools/cloud-workstations/requirements.txt
Due: addlicense

fix curl ops agent
  modules/scripts/startup-script/files/install_monitoring_agent.sh
Due: duplicate-diff, addlicense

update urllib3 and certifi versions
  tools/cloud-workstations/requirements.in
  tools/cloud-workstations/requirements.txt
Due: addlicense

updated curl agent
  modules/scripts/startup-script/files/install_monitoring_agent.sh
Due: duplicate-diff, addlicense

support async rpc
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2411.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2505.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf_v2505.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update modules/scripts/startup-script/files/install_monitoring_agent.sh
  modules/scripts/startup-script/files/install_monitoring_agent.sh
Due: duplicate-diff, addlicense

Running CHS lite and standard suites for TPU daily tests
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
Due: addlicense

Updating custom a3u and a4high blueprints
  tools/cloud-build/daily-tests/blueprints/a3ultra-custom-image-blueprint.yaml
  tools/cloud-build/daily-tests/blueprints/a4high-custom-image-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-custom-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-custom-blueprint-test.yaml
Due: addlicense

(gke) Remove additional network settings from A3U blueprint (#5652)
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  modules/network/vpc/README.md
  modules/network/vpc/main.tf
  modules/network/vpc/outputs.tf
  modules/network/vpc/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

base
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

[Telemetry] Remove Billing Account Id as a custom metric (it is still collected) (#5676)
  pkg/telemetry/collector.go
  pkg/telemetry/collector_test.go
  pkg/telemetry/types.go
Due: addlicense

Updating custom a3u and a4high blueprints (#5667)
  tools/cloud-build/daily-tests/blueprints/a3ultra-custom-image-blueprint.yaml
  tools/cloud-build/daily-tests/blueprints/a4high-custom-image-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-custom-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-custom-blueprint-test.yaml
Due: addlicense

testing cli access
  examples/gke-g4/gke-g4.yaml
Due: addlicense

CLA TRIAL
  examples/gke-a4x/gke-a4x.yaml
Due: addlicense

testing cla access
  examples/gke-a3-highgpu/gke-a3-highgpu-deployment.yaml
Due: addlicense

testing access
  test/s
  test/s.txt
Due: addlicense

feat: optional infra setup for inference gateway
  examples/gke-a4/gke-a4.yaml
Due: addlicense

Default Kueue config for Pathways (#5628)
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-consumption-options/dws-flex-start/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-consumption-options/dws-flex-start/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
  modules/management/kubectl-apply/kueue/kueue-configuration-pathways.yaml.tftpl
  modules/management/kubectl-apply/kueue/pathways.yaml.tftpl
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Result format
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
Due: addlicense

Pre commits
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
Due: addlicense

Add the dependency to fix proxy
  community/front-end/ofe/requirements.txt
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
  docs/hybrid-slurm-cluster/requirements.txt
Due: addlicense

Restore urllib3
  docs/hybrid-slurm-cluster/requirements.txt
Due: addlicense

implement gemini review comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2411.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2505.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2511.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf_v2411.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf_v2505.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

implement gemini review comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2505.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2511.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update test
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
Due: addlicense

implement gemini review comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2511.py
Due: addlicense

Running CHS lite and standard suites for TPU daily tests (#5681)
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
Due: addlicense

Updating the vpc module output name
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  modules/network/vpc/README.md
  modules/network/vpc/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

address comments on a3m
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

implement gemini review comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2505.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2511.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
