Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Turn on enable devel for enterprise Slurm test for new orphan node logic
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
Due: addlicense

Update internal usage of Toolkit modules to 1.29.0
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/pbspro-execution/README.md
  community/modules/compute/pbspro-execution/main.tf
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/main.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  community/modules/scheduler/htcondor-service-accounts/README.md
  community/modules/scheduler/htcondor-service-accounts/main.tf
  community/modules/scheduler/pbspro-client/README.md
  community/modules/scheduler/pbspro-client/main.tf
  community/modules/scheduler/pbspro-server/README.md
  community/modules/scheduler/pbspro-server/main.tf
  community/modules/scripts/ramble-execute/README.md
  community/modules/scripts/ramble-execute/main.tf
  community/modules/scripts/ramble-setup/README.md
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-execute/README.md
  community/modules/scripts/spack-execute/main.tf
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/main.tf
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/startup_from_network_storage.tf
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/startup_from_network_storage.tf
  modules/scheduler/batch-login-node/README.md
  modules/scheduler/batch-login-node/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Use ghpc binary to deploy tests
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: addlicense

HTCondor: support user-managed secret replication
  community/modules/scheduler/htcondor-pool-secrets/README.md
  community/modules/scheduler/htcondor-pool-secrets/main.tf
  community/modules/scheduler/htcondor-pool-secrets/variables.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

TMP: testing alt git history in slurm fork
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  docs/hybrid-slurm-cluster/demo-with-cloud-controller-instructions.md
  docs/hybrid-slurm-cluster/deploy-instructions.md
  docs/hybrid-slurm-cluster/on-prem-instructions.md
  docs/image-building.md
  examples/README.md
  modules/README.md
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add random hex to batch job id and specify id when submitting
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/main.tf
  modules/scheduler/batch-job-template/outputs.tf
  modules/scheduler/batch-job-template/templates/batch-submit.sh.tftpl
  modules/scheduler/batch-job-template/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

#2259 feedback: use coalesce in place of != null check
  modules/scheduler/batch-job-template/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix edge cases of path arguments
  cmd/deploy.go
  cmd/export.go
  cmd/import.go
  cmd/utils.go
  pkg/shell/terraform.go
Due: addlicense

Added comment explaining new enable_devel line
  community/examples/hpc-build-slurm-image.yaml
Due: addlicense

Allow `ghpc deploy blueprint.yaml`
  cmd/create.go
  cmd/deploy.go
  cmd/utils.go
  tools/cloud-build/daily-tests/e2e.sh
Due: duplicate-diff, addlicense

Remove Slurm lustre example and references
  docs/vm-images.md
  tools/validate_configs/os_compatibility_tests/slurm-lustre.yaml
Due: addlicense

Remove slurm startup blueprint and its references
  docs/vm-images.md
  tools/validate_configs/os_compatibility_tests/slurm-startup.yaml
Due: addlicense

Slurm6. Add support for dynamic nodeset.
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix `ghpc deploy <FOLDER>` resetin `--auto-approve` flag
  cmd/deploy.go
Due: addlicense

Babysit. Add `--name` and `--all` flags, remove old `test_selectors` args
  tools/cloud-build/babysit_tests.py
Due: addlicense

Update terraform_backend_defaults documentation
  examples/README.md
Due: addlicense

Add SlurmGCP v6 example of slurm compatible with startup scripts and integration test
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-startup-scripts.yaml
  tools/cloud-build/daily-tests/tests/slurm-v6-startup-scripts.yml
  tools/validate_configs/test_configs/slurm-gcp-v6-startup-scripts.yaml
Due: addlicense

Support http_proxy in Windows GPU installation
  community/modules/scripts/windows-startup-script/README.md
  community/modules/scripts/windows-startup-script/files/install_gpu_driver.ps1
  community/modules/scripts/windows-startup-script/main.tf
  community/modules/scripts/windows-startup-script/templates/install_gpu_driver.ps1.tftpl
  community/modules/scripts/windows-startup-script/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove slurm-gcp high io blueprint and integration test
  tools/cloud-build/daily-tests/blueprints/slurm-gcp-v5-high-io.yaml
  tools/cloud-build/daily-tests/builds/hpc-high-io-v5.yaml
  tools/cloud-build/daily-tests/tests/high-io-slurm-gcp-v5.yml
Due: addlicense

Adopt Slurm-GCP release 5.10.6
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  docs/hybrid-slurm-cluster/demo-with-cloud-controller-instructions.md
  docs/hybrid-slurm-cluster/deploy-instructions.md
  docs/hybrid-slurm-cluster/on-prem-instructions.md
  docs/image-building.md
  examples/README.md
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert enable_devel flag on HPC Enterprise example
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
Due: addlicense

Update zone to us-central1-a for TPU blueprint and test and increase retries
  community/examples/hpc-slurm6-tpu.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-slurm-v6-tpu.yml
  tools/cloud-build/daily-tests/tests/slurm-v6-tpu.yml
Due: addlicense

Add SlurmGCP v6 version of node groups blueprint example
  tools/validate_configs/test_configs/node-groups-v6.yaml
Due: addlicense

Rename `DeploymentGroup` -> `Group`
  cmd/create.go
  cmd/create_test.go
  cmd/deploy.go
  cmd/destroy.go
  cmd/export.go
  cmd/import.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/packerwriter.go
  pkg/modulewriter/tfwriter.go
  pkg/shell/common.go
  pkg/shell/common_test.go
  pkg/shell/terraform.go
Due: addlicense

Kill `MySuite` in `modulewriter_test`
  pkg/modulewriter/modulewriter_test.go
Due: addlicense

Update TPU v4 blueprint maxtext script to point to the working reference
  community/examples/hpc-slurm6-tpu-v4.yaml
Due: addlicense

Migrate config-ssh.yaml to Slurm-GCP v6
  tools/validate_configs/test_configs/config-ssh.yaml
Due: addlicense

Initial commit of A3 blueprint and documentation
  examples/machine-learning/README.md
  examples/machine-learning/ml-slurm-a3-0-base.yaml
  examples/machine-learning/ml-slurm-a3-1-image.yaml
  examples/machine-learning/ml-slurm-a3-2-cluster.yaml
Due: addlicense

Add example for running the NeMo Framework
  examples/machine-learning/nemo-framework/Dockerfile
  examples/machine-learning/nemo-framework/README.md
  examples/machine-learning/nemo-framework/setup_nemo.sh
Due: duplicate-diff, addlicense

Initial commit of NCCL benchmark scripts for A3 machine-learning solution
  examples/machine-learning/nccl-tests/README.md
  examples/machine-learning/nccl-tests/build-nccl-tests.sh
  examples/machine-learning/nccl-tests/import_pytorch_container.sh
  examples/machine-learning/nccl-tests/run-nccl-tests.sh
  examples/machine-learning/nccl-tests/run-topological-nccl-tests.sh
Due: duplicate-diff, addlicense

Address feedback from #2361
  examples/machine-learning/README.md
  examples/machine-learning/nccl-tests/import_pytorch_container.sh
Due: duplicate-diff, addlicense

Minor error messages refactoring
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
  pkg/config/expand.go
  pkg/config/validate.go
Due: addlicense

Align capitalization with Microsoft PowerShell documentation
  community/modules/scripts/windows-startup-script/templates/install_gpu_driver.ps1.tftpl
Due: duplicate-diff, addlicense

Support http_proxy in HTCondor Windows installation
  community/modules/scripts/htcondor-install/README.md
  community/modules/scripts/htcondor-install/main.tf
  community/modules/scripts/htcondor-install/templates/install-htcondor.ps1.tftpl
  community/modules/scripts/htcondor-install/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove pre-commit.ci action due to bot incompatibility with CLA
  .github/workflows/pr-precommit.yml
Due: addlicense

Fix missing assignment of service account in Packer module
  modules/packer/custom-image/image.pkr.hcl
Due: packer-readme, addlicense

Remove service account usage from Packer examples
  examples/image-builder-v6.yaml
  examples/image-builder.yaml
  modules/packer/custom-image/README.md
  tools/cloud-build/daily-tests/builds/packer-v6.yaml
  tools/cloud-build/daily-tests/builds/packer.yaml
Due: addlicense

Align service account scopes naming convention in Packer module with rest of the Toolkit
  modules/packer/custom-image/README.md
  modules/packer/custom-image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: packer-readme, addlicense

Add TPU maxtext example in example documentation
  community/examples/hpc-slurm6-tpu-maxtext.yaml
  docs/hpc-slurm6-tpu-maxtext.md
  examples/README.md
Due: addlicense

Update reference version to v1.30.0
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
