Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Add code changes to improve how additional networks are passed in A3 ultra blueprint
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/network/vpc/README.md
  modules/network/vpc/main.tf
  modules/network/vpc/outputs.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase version to v1.45.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

replacing validation block with lifecycle precondition
  modules/file-system/filestore/README.md
  modules/file-system/filestore/main.tf
  modules/file-system/filestore/variables.tf
  modules/file-system/filestore/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update modules/file-system/filestore/variables.tf
  modules/file-system/filestore/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update grpcio-status package in Slurm environment
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
Due: addlicense

Update requests package in Slurm environment
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
Due: addlicense

Update PyYAML package in Slurm environment
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
Due: addlicense

Improve dependency version coverage of Toolkit pre-commit
  .github/workflows/pr-precommit.yml
Due: addlicense

Update OFE virtualenv to address CVE-2024-53899
  community/front-end/ofe/requirements.txt
Due: addlicense

Update images
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/hpc-slurm-ubuntu2004.yaml
  community/examples/hpc-slurm6-apptainer.yaml
  community/examples/hpc-slurm6-tpu.yaml
  community/front-end/ofe/website/ghpcfe/models.py
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/internal/slurm-gcp/nodeset_tpu/README.md
  community/modules/internal/slurm-gcp/nodeset_tpu/main.tf
  community/modules/internal/slurm-gcp/nodeset_tpu/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  docs/vm-images.md
  examples/cae/cae-slurm.yaml
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm-static.yaml
  examples/image-builder.yaml
  examples/ml-slurm.yaml
  tools/cloud-build/daily-tests/blueprints/lustre-slurm.yaml
  tools/cloud-build/daily-tests/tests/slurm-v6-debian.yml
  tools/validate_configs/golden_copies/configs/versioned_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/terraform.tfvars
  tools/validate_configs/test_configs/node-groups.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

SlurmGCP. Deprecate `enable_smt`, add `advanced_machine_features` instead
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  examples/hcls-blueprint.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
  tools/validate_configs/test_configs/node-groups.yaml
  tools/validate_configs/test_configs/two-clusters-sql.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

use localssd variable
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-gcsfuse-lssd-cluster.yaml
Due: addlicense

Deprecate Slurm GCP plugins.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurm_gcp_plugins/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurm_gcp_plugins/__init__.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurm_gcp_plugins/test_plugin/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurm_gcp_plugins/test_plugin/__init__.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurm_gcp_plugins/utils/__init__.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updating gke-managed-hyperdisk test to europe-west1/europe-west1-b location
  examples/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/tests/gke-managed-hyperdisk.yml
Due: addlicense

Fix typechecker errors, and found bug
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

add pytorch topology code for all machine types and relocate documentation
  examples/machine-learning/a3-highgpu-8g/topological-pytorch/README.md
  examples/machine-learning/a3-highgpu-8g/topological-pytorch/install.sh
  examples/machine-learning/a3-highgpu-8g/topological-pytorch/topological_pytorch.py
  examples/machine-learning/a3-highgpu-8g/topological-pytorch/topological_pytorch.sh
  examples/machine-learning/a3-ultragpu-8g/topological_pytorch/README.md
  examples/machine-learning/a3-ultragpu-8g/topological_pytorch/install.sh
  examples/machine-learning/a3-ultragpu-8g/topological_pytorch/topological_pytorch.py
  examples/machine-learning/a3-ultragpu-8g/topological_pytorch/topological_pytorch.sh
Due: duplicate-diff, addlicense

Add renovate.json
  renovate.json
Due: addlicense

pinning to latest TPG minor release
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Add default Kueue configuration for A3 Ultra GKE
  examples/gke-a3-ultragpu/kueue-configuration.yaml.tftpl
Due: duplicate-diff, addlicense

Promote Kueue as the only workload scheduler for A3 Ultra. Deprecate TAS plugin from A3U blueprints. Update Jobset based NCCL test to use Kueue
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
  examples/gke-a3-ultragpu/nccl-test-32-node.yaml
  examples/gke-a3-ultragpu/nccl-test.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/outputs.tf
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove A3U documentation inaccessible warning
  examples/gke-a3-ultragpu/README.md
Due: addlicense

updating a3ultra readme
  examples/machine-learning/a3-ultragpu-8g/README.md
Due: addlicense

Initial a3u-gke-gcs example
  examples/hypercompute_clusters/a3u-gke-gcs/README.md
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/deployment.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/kueue-configuration.yaml.tftpl
  examples/hypercompute_clusters/a3u-gke-gcs/nccl-rdma-installer.yaml
Due: duplicate-diff, addlicense

Fix sources for modules
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
Due: addlicense

Use folded style for mount options
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
Due: addlicense

Add link to CSI docs
  examples/hypercompute_clusters/a3u-gke-gcs/README.md
Due: addlicense

Pass mount_options through to GKE PV
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/templates/gcs-pv.yaml.tftpl
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add note about parallel downloads
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
Due: addlicense

Address comments/defaults, update nccl-plugin version
  examples/hypercompute_clusters/a3u-gke-gcs/README.md
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/deployment.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/kueue-configuration.yaml.tftpl
  examples/hypercompute_clusters/a3u-gke-gcs/nccl-rdma-installer.yaml
Due: duplicate-diff, addlicense

Remove parallel download note
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
Due: addlicense

Adding Ramble based system benchmarks
  examples/hypercompute_clusters/a3u-gke-gcs/README.md
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/nccl-rdma-installer.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/README.md
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-hpl.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nccl.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nemo.yaml
Due: addlicense

Adding note to Private Service Access module
  community/examples/hpc-slurm-gromacs.yaml
  community/examples/hpc-slurm-local-ssd.yaml
  community/examples/hpc-slurm-ubuntu2004.yaml
  community/examples/htc-slurm.yaml
  community/modules/network/private-service-access/README.md
  examples/gke-managed-parallelstore.yaml
  examples/hcls-blueprint.yaml
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-base.yaml
  examples/ml-slurm.yaml
  examples/pfs-parallelstore.yaml
  examples/ps-slurm.yaml
  modules/file-system/gke-storage/README.md
  modules/file-system/parallelstore/README.md
Due: addlicense

Update README for benchmarks
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/README.md
Due: addlicense

Remove duplicative LimitNOFILE override from A3U Slurm
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Remove duplicative LimitNOFILE override from A3U Hypercompute
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
Due: addlicense

Remove duplicative LimitNOFILE override from A3 High Slurm blueprint
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
Due: addlicense

Revert "Updating image builder to use terraformrc file for google-private provider"
  tools/cloud-build/images/test-runner/Dockerfile
  tools/cloud-build/images/test-runner/terraformrc
Due: addlicense

Remove expanded blueprint from A3U solution
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Remove netplan from A3 Ultra Slurm solution
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
