Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.76.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: ['terraform']
    exclude: \.terraform\/.*$
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    pass_filenames: true
    require_serial: true
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-lint
  - id: go-imports
  - id: go-cyclo
    args: [-over=15]
  - id: go-unit-tests
  - id: go-build
  - id: go-mod-tidy
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-beta.5
  hooks:
  - id: go-critic
    args: [-disable, "#experimental,sloppyTypeAssert"]
- repo: https://github.com/ansible/ansible-lint.git
  rev: v5.4.0
  hooks:
  - id: ansible-lint
- repo: https://github.com/adrienverge/yamllint.git
  rev: v1.28.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.8
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: end-of-file-fixer

Fix broken link
  modules/file-system/pre-existing-network-storage/README.md
Due: none

Fix broken link (#1511)
  modules/file-system/pre-existing-network-storage/README.md
Due: none

Document scope of Windows support in HPC Toolkit
  docs/vm-images.md
Due: none

Enable `flatten` and `merge` functions in `Eval`.
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/config/expression.go
  pkg/config/expression_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/.ghpc/artifacts/expanded_blueprint.yaml
Due: none

Enable `flatten` and `merge` functions in `Eval`. (#1513)
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/config/expression.go
  pkg/config/expression_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/.ghpc/artifacts/expanded_blueprint.yaml
Due: none

Stop using deprecated variables in `vpc` and `batch-login-node`
  modules/network/vpc/main.tf
  modules/scheduler/batch-login-node/main.tf
Due: terraform-readme

Reduce size of Spack builder as max default is to use 16 cores
  examples/serverless-batch-mpi.yaml
Due: none

Make `vm-instance.network_self_link` mandatory
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/variables.tf
  tools/validate_configs/golden_copies/configs/merge_flatten.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/main.tf
Due: terraform-readme

Stop using deprecated variables in `vpc` and `batch-login-node` (#1514)
  modules/network/vpc/main.tf
  modules/scheduler/batch-login-node/main.tf
Due: terraform-readme

Switch Spack commands pre_script to also set SPACK_PYTHON var
  community/modules/scripts/spack-install/main.tf
Due: terraform-readme

Add simple windows-startup-script module
  community/modules/scripts/windows-startup-script/README.md
  community/modules/scripts/windows-startup-script/files/install_gpu_driver.ps1
  community/modules/scripts/windows-startup-script/main.tf
  community/modules/scripts/windows-startup-script/outputs.tf
  community/modules/scripts/windows-startup-script/variables.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/README.md
  tools/validate_configs/golden_copies/configs/igc_pkr.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/main.tf
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/outputs.tf
Due: terraform-readme

Refactor Packer PowerShell implementation
  modules/packer/custom-image/README.md
  modules/packer/custom-image/image.pkr.hcl
  modules/packer/custom-image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: packer-readme

Initial commit of HTCondor windows install script
  community/modules/scripts/htcondor-install/README.md
  community/modules/scripts/htcondor-install/main.tf
  community/modules/scripts/htcondor-install/outputs.tf
  community/modules/scripts/htcondor-install/templates/install-htcondor.ps1.tftpl
Due: terraform-readme

Fix: Add 'spack install' at end of environment setup
  community/examples/AMD/hpc-amd-slurm.yaml
  community/modules/scripts/spack-install/README.md
  community/modules/scripts/spack-install/variables.tf
  docs/tutorials/gromacs/spack-gromacs.yaml
  docs/tutorials/openfoam/spack-openfoam.yaml
  docs/tutorials/wrfv3/spack-wrfv3.yaml
  docs/videos/healthcare-and-life-sciences/hcls-blueprint.yaml
  examples/serverless-batch-mpi.yaml
  tools/validate_configs/test_configs/spack-environments.yaml
Due: terraform-readme

node_labels -> kubernetes_labels
  community/modules/compute/gke-node-pool/README.md
  community/modules/compute/gke-node-pool/main.tf
  community/modules/compute/gke-node-pool/variables.tf
Due: terraform-readme

local_ssd -> ephemeral_storage_local_ssd + improve docs
  community/modules/compute/gke-node-pool/README.md
  community/modules/compute/gke-node-pool/main.tf
  community/modules/compute/gke-node-pool/variables.tf
Due: terraform-readme

Update OFE Terraform module
  community/front-end/ofe/tf/README.md
  community/front-end/ofe/tf/main.tf
  community/front-end/ofe/tf/versions.tf
Due: terraform-readme

DEPRECATE spack-install.packages in favor of using commands
  community/examples/hpc-slurm-gromacs.yaml
  community/modules/scripts/spack-install/README.md
  community/modules/scripts/spack-install/main.tf
  community/modules/scripts/spack-install/templates/install_spack.tpl
  community/modules/scripts/spack-install/variables.tf
  tools/validate_configs/test_configs/centos8-ss.yaml
  tools/validate_configs/test_configs/debian-ss.yaml
  tools/validate_configs/test_configs/hpc-centos-ss.yaml
  tools/validate_configs/test_configs/rocky-ss.yaml
  tools/validate_configs/test_configs/spack-buildcache.yaml
  tools/validate_configs/test_configs/ubuntu-ss.yaml
Due: terraform-readme

Minor refactoring of `modulewriter`
  pkg/modulereader/resreader.go
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/packerwriter.go
  pkg/modulewriter/tfwriter.go
  pkg/sourcereader/sourcereader.go
Due: none

Minor refactoring of `modulewriter` (#1522)
  pkg/modulereader/resreader.go
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/packerwriter.go
  pkg/modulewriter/tfwriter.go
  pkg/sourcereader/sourcereader.go
Due: none

DEPRECATE spack-install.licenses in favor of using commands
  community/modules/scripts/spack-install/README.md
  community/modules/scripts/spack-install/main.tf
  community/modules/scripts/spack-install/templates/install_spack.tpl
  community/modules/scripts/spack-install/variables.tf
Due: terraform-readme

DEPRECATE spack-install.compilers in favor of using commands
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/hpc-slurm-gromacs.yaml
  community/modules/scripts/spack-install/README.md
  community/modules/scripts/spack-install/main.tf
  community/modules/scripts/spack-install/templates/install_spack.tpl
  community/modules/scripts/spack-install/variables.tf
  examples/serverless-batch-mpi.yaml
  tools/validate_configs/test_configs/centos8-ss.yaml
  tools/validate_configs/test_configs/debian-ss.yaml
  tools/validate_configs/test_configs/hpc-centos-ss.yaml
  tools/validate_configs/test_configs/rocky-ss.yaml
  tools/validate_configs/test_configs/spack-buildcache.yaml
  tools/validate_configs/test_configs/spack-environments.yaml
  tools/validate_configs/test_configs/ubuntu-ss.yaml
Due: terraform-readme

Deprecate `source_image*` fields in Slurm modules
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
Due: terraform-readme

Deprecate `source_image*` fields in Slurm modules (#1524)
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
Due: terraform-readme

DEPRECATE install_flags and concretize_flags in spack-install module
  community/modules/scripts/spack-install/README.md
  community/modules/scripts/spack-install/main.tf
  community/modules/scripts/spack-install/variables.tf
Due: terraform-readme

Refactor condor_config generation
  community/modules/scheduler/htcondor-configure/README.md
  community/modules/scheduler/htcondor-configure/files/htcondor_configure.yml
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/outputs.tf
  community/modules/scheduler/htcondor-configure/templates/htcondor.tftpl
Due: terraform-readme

Cleanup unparsable HTCondor example job
  community/examples/htc-htcondor.yaml
Due: none

DEPRECATE spack-install.gpg_keys in favor of using commands
  community/modules/scripts/spack-install/README.md
  community/modules/scripts/spack-install/main.tf
  community/modules/scripts/spack-install/templates/install_spack.tpl
  community/modules/scripts/spack-install/variables.tf
  tools/validate_configs/test_configs/spack-buildcache.yaml
  tools/validate_configs/test_configs/spack-environments.yaml
Due: terraform-readme

DEPRECATE spack-install.spack_cache_url in favor of commands
  community/examples/hpc-slurm-gromacs.yaml
  community/examples/hpc-slurm-ramble-gromacs.yaml
  community/modules/scripts/spack-install/README.md
  community/modules/scripts/spack-install/main.tf
  community/modules/scripts/spack-install/templates/install_spack.tpl
  community/modules/scripts/spack-install/variables.tf
  docs/tutorials/gromacs/spack-gromacs.yaml
  docs/tutorials/openfoam/spack-openfoam.yaml
  docs/tutorials/wrfv3/spack-wrfv3.yaml
  examples/serverless-batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
  tools/validate_configs/test_configs/rocky-ss.yaml
  tools/validate_configs/test_configs/ubuntu-ss.yaml
Due: terraform-readme

DEPRECATE spack-install.configs in favor of using data_files and commands
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/hpc-slurm-gromacs.yaml
  community/examples/hpc-slurm-ramble-gromacs.yaml
  community/modules/scripts/spack-install/README.md
  community/modules/scripts/spack-install/main.tf
  community/modules/scripts/spack-install/templates/install_spack.tpl
  community/modules/scripts/spack-install/variables.tf
  docs/tutorials/gromacs/spack-gromacs.yaml
  docs/tutorials/openfoam/spack-openfoam.yaml
  docs/tutorials/wrfv3/spack-wrfv3.yaml
  docs/videos/healthcare-and-life-sciences/hcls-blueprint.yaml
  examples/serverless-batch-mpi.yaml
  tools/validate_configs/test_configs/spack-buildcache.yaml
  tools/validate_configs/test_configs/spack-environments.yaml
Due: terraform-readme

Update missed usage of spack-install.compilers
  docs/tutorials/gromacs/spack-gromacs.yaml
  docs/tutorials/openfoam/spack-openfoam.yaml
  docs/tutorials/wrfv3/spack-wrfv3.yaml
  docs/videos/healthcare-and-life-sciences/hcls-blueprint.yaml
Due: none

Document known incompatibility of Slurm module with local-ssds
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
Due: terraform-readme

Rename condor_config template file
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/templates/condor_config.tftpl
Due: terraform-readme

Add boot-time Windows config script for HTCondor
  community/modules/scheduler/htcondor-configure/README.md
  community/modules/scheduler/htcondor-configure/main.tf
  community/modules/scheduler/htcondor-configure/outputs.tf
  community/modules/scheduler/htcondor-configure/templates/download-condor-config.ps1.tftpl
Due: terraform-readme

Add support for Windows to htcondor-execute-point
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/compute/htcondor-execute-point/versions.tf
Due: terraform-readme
