Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

If munge or slurm key is present do not do the mount handler
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
Due: addlicense

Remove incorrect chown of /usr/local
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

Add hybrid_setup to Lookup class
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Avoid doing motd and chowns in hybrid setup mode
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

remove cloud_dns for hybrid installs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
Due: addlicense

Put the hash file next to the yaml file
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Fix xpk-to-clustertoolkit skill defects and update documentation (#6342)
  docs/migration/xpk_to_clustertoolkit.md
  skills/xpk-to-clustertoolkit/references/flag_mappings.md
  skills/xpk-to-clustertoolkit/scripts/parse_xpk_to_gcluster.py
  skills/xpk-to-clustertoolkit/scripts/parse_xpk_to_gcluster_test.py
Due: addlicense

Add script to align the slurm uid from on-prem to the cloud
  community/examples/hpc-slurm6-hybrid.yaml
  community/examples/hybrid-scripts/align_slurm_ids.sh
Due: duplicate-diff, addlicense

Stage the script at blueprint creation time
  community/examples/hpc-slurm6-hybrid.yaml
Due: addlicense

Expose the slurm-gcp-devel.zip from the slurm_files module
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Replace the deprecated v5 hybrid docs with the v6 guide
  docs/hybrid-slurm-cluster/README.md
  docs/hybrid-slurm-cluster/blueprints/create-networks.yaml
  docs/hybrid-slurm-cluster/blueprints/hybrid-configuration.yaml
  docs/hybrid-slurm-cluster/blueprints/static-cluster.yaml
  docs/hybrid-slurm-cluster/demo-with-cloud-controller-instructions.md
  docs/hybrid-slurm-cluster/deploy-instructions.md
  docs/hybrid-slurm-cluster/on-prem-instructions.md
  docs/hybrid-slurm-cluster/requirements.txt
  docs/hybrid-slurm-cluster/troubleshooting.md
  docs/hybrid-slurm-cluster/vpn.md
Due: addlicense

Generate the necessary files for hybrid setup
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/hybrid.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add hybrid image build example
  community/examples/hpc-slurm6-hybrid.yaml
Due: addlicense

Add script to compile custom slurm version
  community/examples/hpc-slurm6-hybrid.yaml
  community/examples/hybrid-scripts/custom_slurm_version.sh
Due: duplicate-diff, addlicense

Optional mig Support in slurm for advanced GPU machinne type(A4x) - static nodes.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  pkg/validators/metadata_validators.go
  pkg/validators/metadata_validators_test.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

addressing comments and handling corner scenarios.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  pkg/validators/metadata_validators.go
  pkg/validators/metadata_validators_test.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

addressing comment.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  pkg/validators/metadata_validators_test.go
Due: addlicense

addressing comments and handling corner scenarios.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix: skip state disk mount when already mounted
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

Add example blueprint for cloud build
  community/examples/build-alphafold3.yaml.tfpl
  community/examples/cloud-build-remote.yaml
Due: addlicense

Update readme
  modules/README.md
Due: addlicense

Update gib version to 1.1.3 across gke and slurm blueprints
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nccl.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4/nccl-jobset-example.yaml
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
  examples/gke-a4x-max-bm/nccl-jobset-example.yaml
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-a4x/nccl-jobset-example.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/nccl-installer.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/nccl-jobset-example.yaml
  examples/gke-consumption-options/dws-flex-start/nccl-installer.yaml
  examples/gke-consumption-options/dws-flex-start/nccl-jobset-example.yaml
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/Dockerfile
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/README.md
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/setup_nemo.sh
  examples/machine-learning/a4-highgpu-8g/system_benchmarks/run-nccl-tests-via-ramble.sh
  examples/machine-learning/a4x-highgpu-4g/system_benchmarks/run-nccl-tests-via-ramble.sh
  examples/machine-learning/a4x-maxgpu-4g-metal/system_benchmarks/run-nccl-tests-via-ramble.sh
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

pre-commit-fix
  tools/cleanup.sh
Due: duplicate-diff, addlicense

pre-commit fix
  tools/cleanup.sh
Due: duplicate-diff, addlicense

style: reformat all shell scripts with latest shfmt rules
  tools/cleanup.sh
Due: duplicate-diff, addlicense

Refactor inspectWorkload to eliminate redundant namespace resolution
  pkg/orchestrator/gke/inspector.go
Due: addlicense

fix(gke): set explicit manifest names in kubectl-apply calls to prevent Helm release renames
  community/examples/hpc-slinky/hpc-slinky.yaml
  community/examples/slurm-gke/slurm-gke.yaml
  community/examples/xpk-n2-filestore/xpk-n2-filestore.yaml
  community/modules/compute/gke-nodeset/main.tf
  docs/gke-advanced-features.md
  examples/gke-a3-highgpu/gke-a3-highgpu.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-consumption-options/dws-flex-start-compact-placement/gke-h4d/gke-h4d.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu.yaml
  examples/gke-consumption-options/dws-flex-start/gke-a3-ultragpu.yaml
  examples/gke-h4d/gke-h4d.yaml
  examples/storage-gke.yaml
  modules/compute/gke-node-pool/main.tf
  modules/file-system/gke-storage/main.tf
  modules/management/kubectl-apply/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(job): initialize dynamic client in gcluster job inspect to prevent nil pointer panic (#6330)
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/inspector.go
  pkg/orchestrator/gke/inspector_test.go
Due: addlicense

Multi-nic support for managed Lustre
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  modules/file-system/managed-lustre/README.md
  modules/file-system/managed-lustre/files/multi-nic-lustre.service
  modules/file-system/managed-lustre/main.tf
  modules/file-system/managed-lustre/outputs.tf
  modules/file-system/managed-lustre/scripts/multi-nic-lustre-setup.sh
  modules/file-system/managed-lustre/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Unify consumption options for GKE H4D blueprint
  examples/dws-sample-workloads/cpu-dws-queues.yaml.tftpl
  examples/gke-h4d/README.md
  examples/gke-h4d/gke-h4d-deployment.yaml
  examples/gke-h4d/gke-h4d.yaml
  examples/gke-h4d/test-job-flex.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/tests/gke-h4d-onspot.yml
Due: duplicate-diff, addlicense

Address CMEK module review: provider_meta and API enablement ordering
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  community/modules/security/kms-key-iam/versions.tf
  community/modules/security/kms-key/README.md
  community/modules/security/kms-key/versions.tf
  community/modules/security/pre-existing-kms-key/versions.tf
  examples/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(packer): add network_ip and address options to custom-image module (#6072)
  modules/packer/custom-image/README.md
  modules/packer/custom-image/image.pkr.hcl
  modules/packer/custom-image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: packer-readme, addlicense

Addressing review comments
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
Due: addlicense

feat(ci): wait for GCE reservation capacity before deployment
  tools/cloud-build/daily-tests/builds/gke-g4-confidential.yaml
  tools/cloud-build/wait_for_available_reservation.sh
Due: duplicate-diff, addlicense

Make LNet runner non-fatal and conditional on Lustre (#6336)
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
  tools/validate_configs/golden_copies/configs/text_escape.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/defaults.auto.pkrvars.hcl
Due: addlicense

refactor(project): rename project-info to pre-existing-project
  community/modules/project/pre-existing-project/README.md
  community/modules/project/pre-existing-project/main.tf
  community/modules/project/pre-existing-project/metadata.yaml
  community/modules/project/pre-existing-project/outputs.tf
  community/modules/project/pre-existing-project/variables.tf
  community/modules/project/pre-existing-project/versions.tf
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add an agentgateway community blueprint for GKE
  .pre-commit-config.yaml
  community/examples/agentgateway-gke/README.md
  community/examples/agentgateway-gke/TESTING.md
  community/examples/agentgateway-gke/agentgateway-gke.yaml
  community/examples/agentgateway-gke/files/gateway.yaml.tftpl
  community/examples/agentgateway-gke/files/ingress.yaml.tftpl
  community/examples/agentgateway-gke/files/readiness.py
  community/examples/agentgateway-gke/files/readiness.yaml.tftpl
  community/examples/agentgateway-gke/smoke-test.py
  community/modules/project/agentgateway-identity/README.md
  community/modules/project/agentgateway-identity/main.tf
  community/modules/project/agentgateway-identity/metadata.yaml
  community/modules/project/agentgateway-identity/outputs.tf
  community/modules/project/agentgateway-identity/tests/identity.tftest.hcl
  community/modules/project/agentgateway-identity/variables.tf
  community/modules/project/agentgateway-identity/versions.tf
  community/modules/project/vertex-ai-prediction/README.md
  community/modules/project/vertex-ai-prediction/main.tf
  community/modules/project/vertex-ai-prediction/metadata.yaml
  community/modules/project/vertex-ai-prediction/tests/prediction.tftest.hcl
  community/modules/project/vertex-ai-prediction/variables.tf
  community/modules/project/vertex-ai-prediction/versions.tf
  examples/README.md
  modules/README.md
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/tests/gateway_api.tftest.hcl
  modules/scheduler/gke-cluster/variables.tf
  tests/test_agentgateway.py
  tools/cloud-build/daily-tests/ansible_playbooks/agentgateway-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/agentgateway/mock-provider.py
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/agentgateway/run-in-cluster.py
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/agentgateway/wait-for-http.py
  tools/cloud-build/daily-tests/tests/agentgateway.yml
  tools/validate_configs/agentgateway/validate-static.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

enhance the names to use sha instead of idx
  community/modules/compute/gke-nodeset/main.tf
  modules/compute/gke-node-pool/main.tf
  modules/file-system/gke-storage/main.tf
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
