Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=15]
  - id: go-unit-tests
  - id: go-build
  - id: go-mod-tidy
- repo: https://github.com/tekwizely/pre-commit-golang
  rev: v1.0.0-rc.1
  hooks:
  - id: go-critic
    args: [-disable, "#experimental,sloppyTypeAssert"]
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
exclude: tools/validate_configs/golden_copies/.*

[DATALAD RUNCMD] Do interactive fixing of some ambigous typos
  community/front-end/ofe/script/service_account.sh
  community/front-end/ofe/website/ghpcfe/models.py
  community/modules/scripts/htcondor-install/files/autoscaler.py
  docs/videos/healthcare-and-life-sciences/README.md
  examples/README.md
  tools/validate_configs/test_configs/README.md
Due: duplicate-diff

Skip (S)hortcuts, more words and files
  .codespellrc
Due: none

Duplicate ignore of requirements.txt and js in pre-commit config
  .pre-commit-config.yaml
Due: none

Add modules metadata. Part 1 of 4
  community/modules/compute/SchedMD-slurm-on-gcp-partition/metadata.yaml
  community/modules/compute/htcondor-execute-point/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v5-partition/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-partition/metadata.yaml
  community/modules/database/slurm-cloudsql-federation/metadata.yaml
  community/modules/file-system/nfs-server/metadata.yaml
  community/modules/project/service-enablement/metadata.yaml
  community/modules/scheduler/htcondor-central-manager/metadata.yaml
  community/modules/scripts/pbspro-install/metadata.yaml
  community/modules/scripts/ramble-execute/metadata.yaml
  community/modules/scripts/windows-startup-script/metadata.yaml
  modules/file-system/pre-existing-network-storage/metadata.yaml
  modules/monitoring/dashboard/metadata.yaml
  modules/network/pre-existing-vpc/metadata.yaml
  modules/scheduler/batch-job-template/metadata.yaml
  pkg/inspect/modules_test.go
Due: none

Eliminate startup-script hasn't started message
  modules/scripts/startup-script/files/running-script-warning.sh
Due: duplicate-diff

Split `pkg/validators/validators.go` on multiple files.
  pkg/validators/cloud.go
  pkg/validators/semantic.go
  pkg/validators/validators.go
Due: none

OFE: Spack upgrade to v0.21.0
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/spack_install/tasks/main.yaml
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/front-end/ofe/requirements.txt
  community/front-end/ofe/website/ghpcfe/cluster_manager/spack.py
Due: duplicate-diff

Add modules metadata. Part 2 of 4
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/metadata.yaml
  community/modules/project/new-project/metadata.yaml
  community/modules/project/service-account/metadata.yaml
  community/modules/scheduler/htcondor-access-point/metadata.yaml
  community/modules/scheduler/htcondor-pool-secrets/metadata.yaml
  community/modules/scheduler/pbspro-client/metadata.yaml
  community/modules/scheduler/pbspro-server/metadata.yaml
  community/modules/scripts/pbspro-qmgr/metadata.yaml
  community/modules/scripts/spack-setup/metadata.yaml
  modules/file-system/filestore/metadata.yaml
  pkg/inspect/modules_test.go
Due: none

Update version to v1.26.0 from v1.25.0
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/htcondor-setup/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check

Add modules metadata. Part 3 of 4
  community/modules/compute/gke-job-template/metadata.yaml
  community/modules/compute/pbspro-execution/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
  community/modules/file-system/cloud-storage-bucket/metadata.yaml
  community/modules/remote-desktop/chrome-remote-desktop/metadata.yaml
  community/modules/scheduler/htcondor-setup/metadata.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/metadata.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/metadata.yaml
  community/modules/scripts/htcondor-install/metadata.yaml
  community/modules/scripts/ramble-setup/metadata.yaml
  community/modules/scripts/wait-for-startup/metadata.yaml
  modules/scheduler/batch-login-node/metadata.yaml
  modules/scripts/startup-script/metadata.yaml
  pkg/inspect/modules_test.go
Due: none

Fix panic, refactor to meet gocyclo requirements
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/shell/common.go
  pkg/shell/common_test.go
  pkg/shell/terraform.go
Due: none

pre-commit. Remove `go-build` hook
  .pre-commit-config.yaml
Due: none

Update version to v1.26.0 from v1.25.0 (#2005)
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/htcondor-setup/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check

Add modules metadata. Part 4 of 4
  community/modules/compute/gke-node-pool/metadata.yaml
  community/modules/file-system/DDN-EXAScaler/metadata.yaml
  community/modules/file-system/gke-persistent-volume/metadata.yaml
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/metadata.yaml
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/metadata.yaml
  community/modules/scheduler/gke-cluster/metadata.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/metadata.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/metadata.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/metadata.yaml
  community/modules/scripts/omnia-install/metadata.yaml
  community/modules/scripts/pbspro-preinstall/metadata.yaml
  community/modules/scripts/spack-execute/metadata.yaml
  modules/compute/vm-instance/metadata.yaml
  modules/packer/custom-image/metadata.yaml
  pkg/inspect/modules_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/metadata.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/metadata.yaml
Due: none

Allow GKE system nodes image selection, labels, secure boot
  community/modules/scheduler/gke-cluster/main.tf
  community/modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check

Fix qsim version in example to avoid new CMake changes
  community/examples/quantum-circuit-simulator.yaml
Due: none

Update slurm modules to point to fork
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check

Add "scheduling"
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  tools/validate_configs/test_configs/node-groups.yaml
Due: terraform-readme, duplicate-diff, module-label-check

DRAFT
  cmd/export_test.go
  pkg/config/config_test.go
  pkg/modulereader/resreader_test.go
  pkg/modulewriter/modulewriter_test.go
  pkg/shell/common_test.go
  pkg/sourcereader/embedded.go
  pkg/sourcereader/embedded_test.go
  pkg/sourcereader/goget_test.go
  pkg/sourcereader/local_test.go
  pkg/sourcereader/modules/network/vpc/main.tf
  pkg/sourcereader/modules/network/vpc/output.tf
  pkg/sourcereader/modules/network/vpc/variables.tf
  pkg/sourcereader/sourcereader_test.go
Due: duplicate-diff, module-label-check

Fix qsim version in example to avoid new CMake changes (#2012)
  community/examples/quantum-circuit-simulator.yaml
Due: none

Refactor `WriteDeployment`
  .pre-commit-config.yaml
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/packerwriter.go
  pkg/modulewriter/tfwriter.go
Due: none

Document how to use 'sudo -i' to manually install spack packages
  community/modules/scripts/spack-setup/README.md
Due: none

Don't test metadata services against legacy ones.
  pkg/inspect/modules_test.go
  pkg/modulereader/metadata.go
  pkg/modulereader/metadata_legacy.go
Due: none

Running pre-commit
  community/examples/fsi-montecarlo-on-batch.yaml
  community/modules/compute/notebook/README.md
  community/modules/database/bigquery_dataset/README.md
  community/modules/database/bigquery_dataset/metadata.yaml
  community/modules/database/bigquery_table/README.md
  community/modules/database/bigquery_table/metadata.yaml
  community/modules/files/fsi-montecarlo-on-batch/README.md
  community/modules/files/fsi-montecarlo-on-batch/mc_run.tpl.yaml
  community/modules/files/fsi-montecarlo-on-batch/metadata.yaml
  community/modules/pubsub/subscription/README.md
  community/modules/pubsub/subscription/metadata.yaml
  community/modules/pubsub/topic/README.md
  community/modules/pubsub/topic/metadata.yaml
  examples/README.md
  pkg/modulereader/modules/imaginarium/zebra/README.md
Due: none

Adding snippet of commonly used images to make it easy to modify a blueprint
  docs/vm-images.md
Due: none

Document how to chain user spack install with system spack install
  community/modules/scripts/spack-setup/README.md
Due: none

Fix terraform TFlint plugin to penultimate release
  .tflint.hcl
Due: none

Remove local SSD warning for Slurm v5 compute nodes after known issue resolved
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check

Updated to check for slurm nodes if option is given
  tests/test_maintenance.py
  tools/maintenance/maintenance.py
Due: none

PR review updates
  tools/maintenance/maintenance.py
Due: none

Fix local SSD example enabling VM family compatible with placement policies
  community/examples/hpc-slurm-local-ssd.yaml
Due: none

Adopt latest local SSD formatting script
  community/examples/hpc-slurm-local-ssd.yaml
Due: none

Found missing Metadata
  community/modules/compute/notebook/metadata.yaml
Due: none

Updating metadata.yaml files
  community/modules/compute/notebook/metadata.yaml
  community/modules/database/bigquery_dataset/metadata.yaml
  community/modules/database/bigquery_table/metadata.yaml
  community/modules/files/fsi-montecarlo-on-batch/metadata.yaml
  community/modules/pubsub/subscription/metadata.yaml
  community/modules/pubsub/topic/metadata.yaml
Due: none

Fixed name
  community/examples/fsi-montecarlo-on-batch.yaml
Due: none

OFE: removing unnecessary dependency
  community/front-end/ofe/requirements.txt
Due: none

Fixing tests errors
  community/examples/fsi-montecarlo-on-batch.yaml
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check
