Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Adding Provisioning method for A3 Mega and A3 High
  examples/machine-learning/a3-highgpu-8g/README.md
Due: addlicense

reset a3-highgpu-8g/README.md to develop version
  examples/machine-learning/a3-highgpu-8g/README.md
Due: addlicense

add netapp-volume module
  examples/netapp-volumes.yaml
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/main.tf
  modules/file-system/netapp-volume/metadata.yaml
  modules/file-system/netapp-volume/outputs.tf
  modules/file-system/netapp-volume/scripts/install-nfs-client.sh
  modules/file-system/netapp-volume/scripts/mount.sh
  modules/file-system/netapp-volume/scripts/mount.yaml
  modules/file-system/netapp-volume/variables.tf
  modules/file-system/netapp-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add NetApp Volumes integration test
  examples/netapp-volumes.yaml
  tools/cloud-build/daily-tests/builds/netapp-volumes.yaml
  tools/cloud-build/daily-tests/tests/netapp-volumes.yml
Due: addlicense

add netapp-storage-pool module
  docs/network_storage.md
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-storage-pool/main.tf
  modules/file-system/netapp-storage-pool/metadata.yaml
  modules/file-system/netapp-storage-pool/outputs.tf
  modules/file-system/netapp-storage-pool/variables.tf
  modules/file-system/netapp-storage-pool/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

change region for tests to us-central1
  tools/cloud-build/daily-tests/tests/netapp-volumes.yml
Due: addlicense

Review process changes 2
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/main.tf
  modules/file-system/netapp-volume/scripts/mount.sh
  modules/file-system/netapp-volume/scripts/mount.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Removes non-GCNV files accidentially made it into this commit
  tools/cloud-build/daily-tests/tests/netapp-volumes.yml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

add comments for choice of TF version
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add comments for choice of TF version
  modules/file-system/netapp-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Support sycomp storage
  community/examples/sycomp/README.md
  community/examples/sycomp/sycomp-storage-ece.yaml
  community/examples/sycomp/sycomp-storage-expansion.yaml
  community/examples/sycomp/sycomp-storage-slurm.yaml
  community/examples/sycomp/sycomp-storage.yaml
  community/modules/file-system/sycomp-scale/README.md
  docs/network_storage.md
Due: addlicense

Fix: Apply suggestions from gemini-code-assist
  examples/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-managed-hyperdisk.yml
Due: addlicense

Refactor gke a4x blueprint
  examples/gke-a4x/gke-a4x.yaml
Due: addlicense

Add NCCL integration test
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-nccl.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
Due: addlicense

Cleanup comments
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-nccl.yml
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/README.md
  community/examples/sycomp/sycomp-storage-ece.yaml
  community/examples/sycomp/sycomp-storage-slurm.yaml
  community/examples/sycomp/sycomp-storage.yaml
  community/modules/file-system/sycomp-scale/README.md
  docs/network_storage.md
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/README.md
  community/examples/sycomp/sycomp-storage-slurm.yaml
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/sycomp-storage-expansion.yaml
Due: addlicense

cloud-storage version from pinpointing ~6.1 to >= 6.1
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updates README.md file
  examples/eda/ClusterToolkit-EDA-AllCloud.png
  examples/eda/ClusterToolkit-EDA-Hybrid.png
  examples/eda/README.md
Due: addlicense

updating README.md
  examples/eda/README.md
Due: addlicense

updates eda-hybrid-cloud blueprint with H4D compute support
  examples/eda/eda-hybrid-cloud.yaml
Due: addlicense

add eda-all-on-cloud blueprint and README
  examples/eda/README.md
  examples/eda/eda-all-on-cloud.yaml
  examples/eda/eda-hybrid-cloud.yaml
Due: addlicense

replaces compute in eda-all-on-cloud blueprint with H4D
  examples/eda/eda-all-on-cloud.yaml
Due: addlicense

add eda-hybrid-cloud blueprint
  examples/eda-hybrid-cloud.yaml
Due: addlicense

Increase version to 1.71.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

adds blueprint decription to examples/README.md
  examples/README.md
  examples/eda/README.md
Due: addlicense

removes eda-hybrid-cloud.yaml stale blueprint
  examples/eda-hybrid-cloud.yaml
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/README.md
  community/examples/sycomp/sycomp-storage-ece.yaml
  community/examples/sycomp/sycomp-storage-expansion.yaml
  community/examples/sycomp/sycomp-storage-slurm.yaml
  community/examples/sycomp/sycomp-storage.yaml
  community/modules/file-system/sycomp-scale/README.md
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/README.md
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/README.md
  community/examples/sycomp/sycomp-storage-ece.yaml
  community/examples/sycomp/sycomp-storage-expansion.yaml
  community/examples/sycomp/sycomp-storage-slurm.yaml
Due: addlicense

Fix PR 4798 comments
  community/modules/file-system/sycomp-scale/README.md
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/sycomp-storage-ece.yaml
  community/examples/sycomp/sycomp-storage-expansion.yaml
  community/examples/sycomp/sycomp-storage-slurm.yaml
  community/examples/sycomp/sycomp-storage.yaml
  community/modules/file-system/sycomp-scale/README.md
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/README.md
  community/modules/file-system/sycomp-scale/README.md
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/sycomp-storage-ece.yaml
  community/examples/sycomp/sycomp-storage-slurm.yaml
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/README.md
  community/examples/sycomp/sycomp-storage-ece.yaml
  community/examples/sycomp/sycomp-storage-expansion.yaml
  community/examples/sycomp/sycomp-storage-slurm.yaml
  community/examples/sycomp/sycomp-storage.yaml
Due: addlicense
