Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Fix PR 4798 comments
  community/examples/sycomp/README.md
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/README.md
  community/examples/sycomp/sycomp-storage-slurm.yaml
  community/examples/sycomp/sycomp-storage.yaml
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/sycomp-storage-ece.yaml
  community/examples/sycomp/sycomp-storage-expansion.yaml
  community/examples/sycomp/sycomp-storage-slurm.yaml
  community/examples/sycomp/sycomp-storage.yaml
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/README.md
  community/examples/sycomp/sycomp-storage-ece.yaml
  community/examples/sycomp/sycomp-storage.yaml
Due: addlicense

Fix PR 4798 comments
  community/examples/sycomp/README.md
  community/examples/sycomp/sycomp-storage-ece.yaml
  community/examples/sycomp/sycomp-storage-expansion.yaml
Due: addlicense

deletion of exascaler fs references
  community/examples/htc-slurm.yaml
  community/modules/file-system/DDN-EXAScaler/README.md
  docs/videos/build-your-own-blueprint/README.md
  docs/videos/build-your-own-blueprint/batch-high-io.yaml
  examples/README.md
  examples/cae/cae-slurm.yaml
  examples/hpc-enterprise-slurm.yaml
  examples/pfs-lustre.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/htc-slurm.yaml
  tools/validate_configs/test_configs/managed-lustre-existing-vpc.yaml
  tools/validate_configs/test_configs/managed-lustre-new-vpc.yaml
Due: addlicense

managed lustre references
  pkg/modulereader/metadata_legacy.go
  tools/validate_configs/golden_copies/configs/versioned_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/main.tf
  tools/validate_configs/test_configs/test_outputs.yaml
Due: addlicense

added trailing spaces
  examples/cae/cae-slurm.yaml
Due: addlicense

add managed lustre reference
  pkg/config/expand_test.go
  pkg/modulereader/metadata_legacy.go
  tools/validate_configs/test_configs/test_outputs.yaml
Due: addlicense

Update requirements.txt
  community/front-end/ofe/requirements.txt
Due: addlicense

update terraform-provider version to v7.9.0
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

feat: Add default partition GPU check to A* SLURM daily tests
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-default-partition.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-cluster.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm-flex.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm.yml
Due: addlicense

clean up
  modules/storage/gsc-anywhere-cache/README.md
  modules/storage/gsc-anywhere-cache/main.tf
  modules/storage/gsc-anywhere-cache/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

clean up
  modules/storage/gsc-anywhere-cache/outputs.tf
  modules/storage/gsc-anywhere-cache/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Make a3ultra and a4high blueprints consistent
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Enable Private Nodes by default in GKE Node Pool
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Integrating Managed lustre in TPU v6e
  community/examples/gke-tpu-v6/README.md
  community/examples/gke-tpu-v6/gke-tpu-v6-advanced.yaml
Due: addlicense

Update nccl-rdma manifest in gke a4x
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-a4x/nccl-rdma-installer.yaml
Due: addlicense

adding correct node
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

adds support for Google Cloud NetApp Volumes as new file-system
  docs/network_storage.md
  examples/README.md
  examples/netapp-volumes.yaml
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-storage-pool/main.tf
  modules/file-system/netapp-storage-pool/metadata.yaml
  modules/file-system/netapp-storage-pool/outputs.tf
  modules/file-system/netapp-storage-pool/variables.tf
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/main.tf
  modules/file-system/netapp-volume/metadata.yaml
  modules/file-system/netapp-volume/outputs.tf
  modules/file-system/netapp-volume/scripts/install-nfs-client.sh
  modules/file-system/netapp-volume/scripts/mount.sh
  modules/file-system/netapp-volume/variables.tf
  modules/file-system/netapp-volume/versions.tf
  tools/cloud-build/daily-tests/builds/netapp-volumes.yaml
  tools/cloud-build/daily-tests/tests/netapp-volumes.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix PR 4798 comments
  community/examples/sycomp/sycomp-storage-ece.yaml
  community/examples/sycomp/sycomp-storage-expansion.yaml
  community/examples/sycomp/sycomp-storage-slurm.yaml
  community/examples/sycomp/sycomp-storage.yaml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

replace scontrol command with sinfo to fix default partition extraction
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-default-partition.yml
Due: addlicense

Adding changes to tpu-definition and gke-node-pool for workload_policy
  modules/compute/gke-node-pool/main.tf
  modules/compute/resource-policy/README.md
  modules/compute/resource-policy/outputs.tf
  modules/internal/tpu-definition/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding storage.objectAdmin role in node pool SA
  community/examples/gke-tpu-v6/gke-tpu-v6-advanced.yaml
  community/examples/gke-tpu-v6/gke-tpu-v6.yaml
  examples/gke-a3-highgpu.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu.yaml
  examples/gke-consumption-options/dws-flex-start/gke-a3-ultragpu.yaml
  examples/gke-g4/gke-g4.yaml
  examples/gke-h4d/gke-h4d.yaml
  examples/gke-managed-hyperdisk.yaml
  examples/gke-managed-lustre.yaml
  examples/hpc-gke.yaml
  tools/cloud-build/daily-tests/blueprints/gke-a2-highgpu.yaml
Due: addlicense

feat: Add Gemini Code Assist Customization
  .gemini/config.yaml
  .gemini/styleguide.md
Due: addlicense

docs: Refine style guide for module placement
  .gemini/styleguide.md
Due: addlicense

feat: update NCCL test passing criteria from 25 to 19
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
Due: addlicense

feat: Enable NCCL_DEBUG=INFO for daily tests
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
Due: addlicense

pin nccl-plugin-gpudirecttcpx-dev to latest
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
Due: addlicense

update to use gke>1.32
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

print the updated test yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
Due: addlicense

remove incorrect parameter
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
Due: addlicense

Increase version to 1.72.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Worked on ml- prefixed tests
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-cluster.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-image.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-jbvms.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm-flex.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-gke-e2e.yml
  tools/cloud-build/daily-tests/tests/ml-gke.yml
  tools/cloud-build/daily-tests/tests/ml-slurm.yml
Due: addlicense

update tf to use gke version 1.30
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

a3high single blueprint to use the tcpx patched kernel
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-deployment.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-0-base.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-image.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm.yml
  tools/cloud-build/provision/list_tests.py
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
