Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

adding changes to resolve PR validation
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Update recommended `FI_UNIVERSE_SIZE` setting for startup script
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(ci): add pr description validation
  .github/workflows/pr-description-check.yml
Due: addlicense

Changing timezone for integration tests to IST
  tools/cloud-build/provision/trigger-schedule/README.md
  tools/cloud-build/provision/trigger-schedule/main.tf
  tools/cloud-build/provision/trigger-schedule/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add force_conflitcs bool var to kubectl manifest resource
  modules/management/kubectl-apply/kubectl/README.md
  modules/management/kubectl-apply/kubectl/main.tf
  modules/management/kubectl-apply/kubectl/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Simplify error handling
  cmd/deploy.go
Due: addlicense

use ip range instead of psa for a3m-slurm test
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
Due: addlicense

feat: Handle shared reservations in nodeset module and scripts
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update recommended `FI_UNIVERSE_SIZE` setting for startup script
  examples/gke-g4/README.md
  examples/gke-g4/nccl-test.yaml
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add NCCL all_reduce tests for G4
  examples/gke-g4/README.md
  examples/gke-g4/nccl-test.yaml
Due: addlicense

fix the file path in the check_for_running_build step
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
Due: addlicense

Adding Provisioning method for A3 Mega and A3 High
  examples/machine-learning/a3-highgpu-8g/README.md
Due: addlicense

Revert "Merge pull request #4750 from arpit974/reverting-google-beta-version"
  examples/gke-g4/gke-g4.yaml
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

change google provider version dependency
  examples/netapp-volumes.yaml
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

change region for tests to us-central1
  tools/cloud-build/daily-tests/tests/netapp-volumes.yml
Due: addlicense

add netapp-volume module
  examples/netapp-volumes.yaml
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/main.tf
  modules/file-system/netapp-volume/metadata.yaml
  modules/file-system/netapp-volume/outputs.tf
  modules/file-system/netapp-volume/scripts/install-nfs-client.sh
  modules/file-system/netapp-volume/scripts/mount.sh
  modules/file-system/netapp-volume/scripts/mount.yaml
  modules/file-system/netapp-volume/variables.tf
  modules/file-system/netapp-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Change zone var to not use variable substitution
  examples/netapp-volumes.yaml
Due: addlicense

Review process changes #1
  examples/README.md
  examples/netapp-volumes.yaml
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-storage-pool/metadata.yaml
  modules/file-system/netapp-storage-pool/variables.tf
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/metadata.yaml
  modules/file-system/netapp-volume/outputs.tf
  modules/file-system/netapp-volume/scripts/install-nfs-client.sh
  modules/file-system/netapp-volume/scripts/mount.yaml
  modules/file-system/netapp-volume/variables.tf
  modules/file-system/netapp-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updating vpc version in gpu-rdma-vpc module.
  examples/gke-g4/gke-g4.yaml
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

reset a3-highgpu-8g/README.md to develop version
  examples/machine-learning/a3-highgpu-8g/README.md
Due: addlicense

add netapp-storage-pool module
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-storage-pool/metadata.yaml
  modules/file-system/netapp-storage-pool/variables.tf
  modules/file-system/netapp-storage-pool/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add NetApp Volumes integration test
  examples/netapp-volumes.yaml
  tools/cloud-build/daily-tests/tests/netapp-volumes.yml
Due: addlicense

bump TF and blueprint version and improve protocol validation
  examples/gke-g4/gke-g4.yaml
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
  tools/validate_configs/validate_configs.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Review process changes 2
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/main.tf
  modules/file-system/netapp-volume/scripts/mount.sh
  modules/file-system/netapp-volume/scripts/mount.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

adds example blueprint documentation and doc updates
  examples/README.md
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-volume/README.md
Due: addlicense

add comments for choice of TF version
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

change test to use deployment name for network
  tools/cloud-build/daily-tests/tests/netapp-volumes.yml
Due: addlicense

adds blueprint decription to examples/README.md
  examples/README.md
  examples/eda/README.md
Due: addlicense

add comments for choice of TF version
  modules/file-system/netapp-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updating README.md
  examples/eda/README.md
Due: addlicense

EDA diff cleanups
  examples/README.md
  examples/eda/README.md
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/netapp-volumes.yaml
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-storage-pool/variables.tf
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/scripts/install-nfs-client.sh
  modules/file-system/netapp-volume/variables.tf
  modules/file-system/netapp-volume/versions.tf
  modules/scheduler/gke-cluster/variables.tf
  tools/cloud-build/daily-tests/tests/netapp-volumes.yml
  tools/validate_configs/validate_configs.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

removes eda-hybrid-cloud.yaml stale blueprint
  examples/eda-hybrid-cloud.yaml
Due: addlicense

change network name for tests
  modules/file-system/netapp-storage-pool/variables.tf
  tools/cloud-build/daily-tests/tests/netapp-volumes.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
