Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

fix(ci, gke): upgrade golangci-lint to v2.4.0 and resolve staticcheck warnings
  cmd/job/submit.go
  pkg/config/hardware.go
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/nap.go
Due: addlicense

fix(gke): address review comment in extractShortReservationName and format hardware_test.go
  pkg/config/hardware_test.go
  pkg/orchestrator/gke/nap.go
  pkg/orchestrator/gke/nap_test.go
Due: addlicense

Update Slurm service-account permissions (#4326)
  examples/hpc-enterprise-slurm.yaml
Due: addlicense

fix(config): add c4 and n4 to cpu_machine_families in machine_mappings.json
  pkg/config/hardware_test.go
  pkg/config/machine_mappings.json
Due: addlicense

fix(gke): skip cpu/memory and validate GKE NAP flavors, adding TestPopulateNAPFlavors
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
Due: addlicense

Update pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator.go
Due: addlicense

Update pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager.go
Due: addlicense

Update pkg/orchestrator/gke/infra_manager_test.go
  pkg/orchestrator/gke/infra_manager_test.go
Due: addlicense

fix(config): add t4 and v100 GPU fallbacks to GetGPULimitKey
  pkg/config/hardware.go
  pkg/config/hardware_test.go
Due: addlicense

fix(gke): align GKE NAP memory nominal quota unit with develop branch Gi suffix
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
Due: addlicense

refactor(config): extract resolveGPULabelFallback to resolve go-cyclo complexity limits
  pkg/config/hardware.go
Due: addlicense

fix(gke): copy nodeSelector map to avoid shared map mutation side effects
  pkg/orchestrator/gke/gke_job_orchestrator.go
Due: addlicense

fix(gke): use precise decimal G unit for GKE NAP memory nominal quota limits to prevent over-allocation
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
Due: addlicense

addressing comments.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

addressing comments.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

addressing comments.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

sauth.
  community/examples/hpc-slurm-ha.yaml
Due: addlicense

Slurm HA phase 2 (MIGs)
  community/examples/hpc-slurm-ha.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

addressing comments.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(ofe): drop "logo" from GCP credential image alt text
  community/front-end/ofe/website/ghpcfe/templates/credential/list.html
Due: addlicense

fix(job): address PR review comments for GKE NAP job submit
  cmd/job/submit.go
  cmd/job/submit_test.go
  docs/gcluster_job_guide.md
  pkg/config/hardware.go
  pkg/config/hardware_test.go
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/nap.go
  pkg/orchestrator/gke/resource_resolver.go
  pkg/orchestrator/gke/resource_resolver_test.go
Due: addlicense

test(cmd): move expand-helper tests to expand_test.go
  cmd/create_test.go
  cmd/expand_test.go
Due: addlicense

Fix torch vulnersbilty by uprading to 2.12.1
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/requirements.in
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/requirements.txt
  examples/machine-learning/a3-megagpu-8g/topological-pytorch/requirements.in
  examples/machine-learning/a3-megagpu-8g/topological-pytorch/requirements.txt
  modules/scripts/startup-script/files/install_ansible_requirements.in
  modules/scripts/startup-script/files/install_ansible_requirements.txt
Due: addlicense

fix(a4high): fix VPC network name collision and firewall rule target
  tools/cloud-build/daily-tests/blueprints/a4high-custom-image-blueprint.yaml
Due: addlicense

Slurm ha controller (adoptiong MIGs for controller) (#5790)
  community/examples/hpc-slurm-ha.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(config,gke): remove dead code and enforce case-insensitive accelerator checks
  pkg/config/hardware.go
  pkg/orchestrator/gke/nap.go
Due: addlicense

fix(config,gke): skip non-accelerator GKE limits and clean up unused embedded mappings
  pkg/config/hardware.go
  pkg/orchestrator/gke/nap.go
Due: addlicense

refactor(gke): reduce populateNAPFlavors cyclomatic complexity to pass go-cyclo check
  pkg/orchestrator/gke/nap.go
Due: addlicense

refactor(cmd): move expand helpers from create.go to expand.go (#5781)
  cmd/create.go
  cmd/create_test.go
  cmd/expand.go
  cmd/expand_test.go
Due: addlicense

fix(ofe): repair cluster-detail status polling and sync dynamic image alt
  community/front-end/ofe/website/ghpcfe/templates/cluster/detail.html
  community/front-end/ofe/website/ghpcfe/templates/image/list.html
Due: addlicense

implement gemini review comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2411.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2505.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2511.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf_v2411.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf_v2505.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

implement gemini review comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2505.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2511.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

support async rpc
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2411.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2505.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf_v2505.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

implement gemini review comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2511.py
Due: addlicense

update test
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
Due: addlicense

implement gemini review comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2505.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2511.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix inactive-pr-reminder action bugs
  tools/github/inactive-pr-reminder.sh
Due: duplicate-diff, addlicense

Implement GKE Node Auto-Provisioning (NAP) and unified compute consumption options in gcluster job submit (#5749)
  cmd/job/submit.go
  cmd/job/submit_test.go
  docs/gcluster_job_guide.md
  pkg/config/hardware.go
  pkg/config/machine_mappings.json
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/nap.go
  pkg/orchestrator/gke/nap_test.go
  pkg/orchestrator/gke/resource_resolver.go
  pkg/orchestrator/gke/resource_resolver_test.go
  pkg/orchestrator/gke/types.go
  pkg/orchestrator/orchestrator.go
Due: addlicense

reduce max stale time to 3 weeks
  tools/github/inactive-pr-reminder.sh
Due: duplicate-diff, addlicense
