Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

update terraform-provider version to 7.3.0
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Update A3-mega and A4-high Slurm blueprints
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Update versions.tf
  community/modules/network/private-service-access/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: install dcgm-4-dev package in A* slurm blueprints
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  examples/machine-learning/build-service-images/common/blueprint.yaml
Due: addlicense

Remove superfluous addition chs logs to cloud ops config
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

downloading libnccl2 and libnccl-dev for a3u and a4h
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Update main.tf
  community/modules/network/private-service-access/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix inconsistent plan on Slurm cluster reconfigure
  community/modules/internal/slurm-gcp/login/README.md
  community/modules/internal/slurm-gcp/login/main.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix: pass filemd5 to source_md5hash
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add source_md5hash to devel_compute
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

numa base - only with cpu manager policy
  examples/gke-g4/gke-g4-deployment.yaml
  examples/gke-g4/gke-g4.yaml
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fixing output for gke-storage module
  modules/file-system/gke-storage/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

sample
  community/examples/gke-inference-gateway/manifests/gateway.yaml
  community/examples/gke-inference-gateway/manifests/gpu-deployment.yaml
  community/examples/gke-inference-gateway/manifests/hf-secret.yaml.tftpl
  community/examples/gke-inference-gateway/manifests/httproute.yaml
  community/examples/gke-inference-gateway/manifests/inferenceobjective.yaml
  community/examples/gke-inference-gateway/manifests/manifests.yaml
  community/examples/gke-inference-gateway/manifests/update-manifests.sh
  community/examples/gke-inference-gateway/standard_cluster/README.md
  community/examples/gke-inference-gateway/standard_cluster/gke-inference-gateway.yaml
Due: duplicate-diff, addlicense

Removing unintended new lines
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

chore: add myself mufaqam-gcl to cluster-toolkit-writers.json
  cluster-toolkit-writers.json
Due: addlicense

.
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add slurm-gke blueprint
  community/examples/slurm-gke/files/cgroup.conf.tpl
  community/examples/slurm-gke/files/slurm-key-secret.yaml.tftpl
  community/examples/slurm-gke/files/slurm-namespace.yaml.tftpl
  community/examples/slurm-gke/slurm-gke.yaml
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-nodeset/main.tf
  community/modules/compute/gke-nodeset/metadata.yaml
  community/modules/compute/gke-nodeset/output.tf
  community/modules/compute/gke-nodeset/templates/nodeset-general.yaml.tftpl
  community/modules/compute/gke-nodeset/variables.tf
  community/modules/compute/gke-nodeset/versions.tf
  community/modules/compute/gke-partition/README.md
  community/modules/compute/gke-partition/main.tf
  community/modules/compute/gke-partition/metadata.yaml
  community/modules/compute/gke-partition/variables.tf
  community/modules/compute/gke-partition/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Attach slurm key as NFS via filestore CSI
  community/examples/slurm-gke/files/slurm-key-secret.yaml.tftpl
  community/examples/slurm-gke/slurm-gke.yaml
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-nodeset/slurm_key.tf
  community/modules/compute/gke-nodeset/templates/nodeset-general.yaml.tftpl
  community/modules/compute/gke-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove slinky image reference
  community/examples/slurm-gke/slurm-gke.yaml
Due: addlicense

Address comments
  community/examples/slurm-gke/slurm-gke.yaml
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-nodeset/main.tf
  community/modules/compute/gke-nodeset/variables.tf
  modules/README.md
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Change to use public slinky image and some more small fixes
  community/examples/slurm-gke/slurm-gke.yaml
  community/modules/compute/gke-nodeset/templates/nodeset-general.yaml.tftpl
  community/modules/compute/gke-partition/README.md
  community/modules/compute/gke-partition/main.tf
  community/modules/compute/gke-partition/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Small fix after rebase
  community/examples/slurm-gke/slurm-gke.yaml
  community/modules/compute/gke-nodeset/slurm_key.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Removed unused variables for machine types not supported yet in the first vesrion.
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-nodeset/main.tf
  community/modules/compute/gke-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add a new attribute "gke-nodepool" to nodeset config and use it for determining if a node/nodeset is a GKE in controller.
  community/modules/compute/gke-nodeset/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Create PV and PVC from network storage passed into gke nodeset
  community/examples/slurm-gke/slurm-gke.yaml
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-nodeset/main.tf
  community/modules/compute/gke-nodeset/persistent_volumes.tf
  community/modules/compute/gke-nodeset/templates/nodeset-general.yaml.tftpl
  community/modules/compute/gke-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add slurm-gke integration test.
  community/examples/slurm-gke/slurm-gke.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_gcluster_failure.yml
  tools/cloud-build/daily-tests/builds/slurm-gke.yaml
  tools/cloud-build/daily-tests/tests/slurm-gke.yml
Due: addlicense

Update gke-nodeset to accept list of network_storage.
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-nodeset/persistent_volumes.tf
  community/modules/compute/gke-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

minor bug fix on version comparison
  community/gce-cos-nvidia-bug-report/app/gce-cos-nvidia-bug-report.py
Due: addlicense

Update H4D blueprint: disable automatic updates, provide image info, and delete duplicate filestore
  examples/hpc-slurm-h4d.yaml
Due: addlicense

Update gke a4 blueprint to add support for managed lustre
  examples/gke-a4/gke-a4.yaml
Due: addlicense

Adding service account modules and disk_size vars
  community/examples/gke-tpu-v6/gke-tpu-v6-deployment.yaml
  community/examples/gke-tpu-v6/gke-tpu-v6.yaml
Due: addlicense

Fix bug causing slurmsync failed determine GKE nodes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

fix nodepool taint & remove zonal cluster
  examples/gke-h4d/gke-h4d.yaml
Due: addlicense

remove deployment_name from gke-h4d.yaml
  examples/gke-h4d/gke-h4d.yaml
Due: addlicense

Removed irrelevant instruction output from slinky.
  community/examples/slurm-gke/slurm-gke.yaml
  community/modules/scheduler/slinky/README.md
  community/modules/scheduler/slinky/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
