Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Update A3 provisioning guide
  examples/machine-learning/README.md
  examples/machine-learning/ml-slurm-a3-2-cluster.yaml
Due: addlicense

Hotfix to version 1.31.1
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add hint to run `gcloud auth application-default login`
  pkg/validators/cloud.go
  pkg/validators/validators.go
Due: addlicense

Move some tests to better flow
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop.yaml
  tools/cloud-build/daily-tests/builds/cloud-batch.yaml
  tools/cloud-build/daily-tests/builds/e2e.yaml
  tools/cloud-build/daily-tests/e2e.sh
  tools/cloud-build/hpc-toolkit-pr-validation.yaml
Due: duplicate-diff, addlicense

Move GKE tests to better flow
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
Due: addlicense

Update TPU maxtext documentation for minor changes
  docs/hpc-slurm6-tpu-maxtext.md
Due: addlicense

Move tests `{h|l|m}.*` to the better flow
  tools/cloud-build/daily-tests/builds/hcls.yaml
  tools/cloud-build/daily-tests/builds/hpc-build-slurm-image.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/hpc-slurm-chromedesktop.yaml
  tools/cloud-build/daily-tests/builds/htc-slurm-v6.yaml
  tools/cloud-build/daily-tests/builds/htcondor.yaml
  tools/cloud-build/daily-tests/builds/lustre-slurm-v6.yaml
  tools/cloud-build/daily-tests/builds/lustre-slurm.yaml
  tools/cloud-build/daily-tests/builds/lustre-vm.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm-v6.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm.yaml
Due: addlicense

Add `jq` to the `test-runner` image
  tools/cloud-build/images/test-runner/Dockerfile
Due: addlicense

Organize babysit code
  tools/cloud-build/babysit/__init__.py
  tools/cloud-build/babysit/core.py
  tools/cloud-build/babysit/run
  tools/cloud-build/babysit/runner.py
  tools/cloud-build/babysit/ui.py
Due: addlicense

Fixes for workstation creation - new extension added for yaml
  tools/cloud-workstations/200_configure-hpc-toolkit.sh
  tools/cloud-workstations/Dockerfile
  tools/cloud-workstations/README.md
  tools/cloud-workstations/code_oss_requirements.txt
  tools/cloud-workstations/configure-hpc-toolkit.sh
Due: duplicate-diff, addlicense

Fixes for PR review
  tools/cloud-workstations/Dockerfile
  tools/cloud-workstations/configure-hpc-toolkit.sh
Due: duplicate-diff, addlicense

Address feedback from #2420
  examples/machine-learning/README.md
  examples/machine-learning/ml-slurm-a3-2-cluster.yaml
Due: addlicense

Add Jupyter UI component to the babysiter code
  tools/cloud-build/babysit/cli_ui.py
  tools/cloud-build/babysit/notebook_ui.py
  tools/cloud-build/babysit/runner.py
Due: addlicense

Initial commit of tool for creating new release candidate with version bump
  tools/create-release-candidate.sh
Due: duplicate-diff, addlicense

Move Slurm6 tests to the better flow
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-centos7.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-debian.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ssd.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-startup-scripts.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-tpu.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
Due: addlicense

rebase latest develop
  community/modules/database/slurm-cloudsql-federation/README.md
  community/modules/database/slurm-cloudsql-federation/main.tf
  community/modules/database/slurm-cloudsql-federation/variables.tf
  community/modules/network/private-service-access/README.md
  community/modules/network/private-service-access/main.tf
  community/modules/network/private-service-access/metadata.yaml
  community/modules/network/private-service-access/outputs.tf
  community/modules/network/private-service-access/variables.tf
  community/modules/network/private-service-access/versions.tf
  tools/validate_configs/test_configs/hpc-cluster-simple-nfs-sql.yaml
  tools/validate_configs/test_configs/two-clusters-sql.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Decouple private access from cloud sql to its own module
  community/modules/network/private-service-access/README.md
  community/modules/network/private-service-access/versions.tf
  tools/validate_configs/test_configs/hpc-cluster-simple-nfs-sql.yaml
  tools/validate_configs/test_configs/two-clusters-sql.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Match yaml files in `ghpc deploy` autocomplete
  cmd/deploy.go
Due: addlicense

Update description of reservation_name for Slurm
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

TMP: test script for v5 pub sub refactor
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  docs/hybrid-slurm-cluster/demo-with-cloud-controller-instructions.md
  docs/hybrid-slurm-cluster/deploy-instructions.md
  docs/hybrid-slurm-cluster/on-prem-instructions.md
  docs/image-building.md
  examples/README.md
  examples/machine-learning/README.md
  examples/machine-learning/ml-slurm-a3-1-image.yaml
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix output precondition for #2441
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add support for `ghpc_stage` in module.settings
  cmd/create.go
  cmd/deploy.go
  cmd/destroy.go
  cmd/export.go
  cmd/import.go
  pkg/config/config.go
  pkg/config/expression.go
  pkg/config/materialize.go
  pkg/config/staging.go
  pkg/config/staging_test.go
  tools/validate_configs/golden_copies/configs/files/local_mount.txt
  tools/validate_configs/golden_copies/configs/igc_tf.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/staged/local_mount.txt_76c024cd89
  tools/validate_configs/golden_copies/expectations/igc_tf/one/main.tf
  tools/validate_configs/golden_copies/validate.sh
Due: addlicense

Temp update, testing feature
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Slurm6. Remove dependency between controller instance and cleanup_compute_nodes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Make new pre-deploy and post-destroy task lists optional
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_ghpc_failure.yml
Due: addlicense

Update Rocky 8 Gromacs example
  community/examples/hpc-slurm-gromacs.yaml
Due: addlicense

Use `ghpc_stage` in slurm-htc examples
  community/examples/htc-slurm-v6.yaml
  community/examples/htc-slurm.yaml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Adopt latest versions of internal modules
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/pbspro-execution/README.md
  community/modules/compute/pbspro-execution/main.tf
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/main.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  community/modules/scheduler/htcondor-service-accounts/README.md
  community/modules/scheduler/htcondor-service-accounts/main.tf
  community/modules/scheduler/pbspro-client/README.md
  community/modules/scheduler/pbspro-client/main.tf
  community/modules/scheduler/pbspro-server/README.md
  community/modules/scheduler/pbspro-server/main.tf
  community/modules/scripts/ramble-execute/README.md
  community/modules/scripts/ramble-execute/main.tf
  community/modules/scripts/ramble-setup/README.md
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-execute/README.md
  community/modules/scripts/spack-execute/main.tf
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/main.tf
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/startup_from_network_storage.tf
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/startup_from_network_storage.tf
  modules/scheduler/batch-login-node/README.md
  modules/scheduler/batch-login-node/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Use "wait for startup" instead of "sleep 2min" in base tests
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-batch-submission.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-monitoring.yml
Due: addlicense

Add SlurmGCP v6 version of hcls blueprint and integration test
  docs/videos/healthcare-and-life-sciences/README.md
  examples/README.md
  examples/hcls-blueprint-v6.yaml
  tools/cloud-build/daily-tests/builds/hcls-v6.yaml
  tools/cloud-build/daily-tests/tests/hcls-v6.yml
Due: addlicense

TMP: point to slurm gcp branch
  community/examples/hpc-build-slurm-image.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add `pre-deploy` step that removes a module from blueprint
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/pre-deploy-tasks/remove-modules.yml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/builds/hpc-slurm-chromedesktop.yaml
  tools/cloud-build/daily-tests/remove_module.py
  tools/cloud-build/daily-tests/tests/hpc-slurm-chromedesktop.yml
Due: addlicense

Minor changes to improve error handling
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/gather_startup_script_logs.yml
Due: addlicense

Updating garther startup script and integration test to take into account switch from deploying with terraform to ghpc.
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/gather_startup_script_logs.yml
Due: addlicense

A3 blueprint improvement
  examples/machine-learning/README.md
  examples/machine-learning/ml-slurm-a3-2-cluster.yaml
Due: addlicense

Improve A3 blueprint
  examples/machine-learning/README.md
Due: addlicense

Update mpi & gromacs for cache hit and better compat w/ Rocky8 default image
  community/examples/hpc-slurm-gromacs.yaml
Due: addlicense

Make deployment file command line option visible
  cmd/expand.go
Due: addlicense

Update TPU maxtext blueprint and documentation
  community/examples/hpc-slurm6-tpu-maxtext.yaml
  docs/hpc-slurm6-tpu-maxtext.md
Due: addlicense
