Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Increase version to 1.75.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs: Add branching strategy to CONTRIBUTING.md
  CONTRIBUTING.md
Due: addlicense

Adds two new blueprints for all-in-cloud and hybrid-cloud EDA workloads
  community/examples/eda/README.md
  community/examples/eda/eda-all-on-cloud.yaml
  community/examples/eda/eda-hybrid-cloud.yaml
  docs/network_storage.md
  examples/README.md
  modules/README.md
Due: addlicense

update managed lustre config references
  docs/network_storage.md
  examples/hpc-enterprise-slurm.yaml
Due: addlicense

Move cloud-storage-bucket module to core modules and update references
  community/examples/client-google-cloud-storage.yaml
  community/examples/fsi-montecarlo-on-batch.yaml
  community/modules/compute/notebook/README.md
  community/modules/compute/notebook/main.tf
  community/modules/scheduler/htcondor-setup/README.md
  community/modules/scheduler/htcondor-setup/main.tf
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-v6/gke-tpu-v6-advanced.yaml
  examples/hcls-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  examples/storage-gke.yaml
  modules/README.md
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/main.tf
  modules/file-system/cloud-storage-bucket/metadata.yaml
  modules/file-system/cloud-storage-bucket/outputs.tf
  modules/file-system/cloud-storage-bucket/scripts/install-gcs-fuse.sh
  modules/file-system/cloud-storage-bucket/scripts/mount.sh
  modules/file-system/cloud-storage-bucket/variables.tf
  modules/file-system/cloud-storage-bucket/versions.tf
  modules/file-system/gke-persistent-volume/README.md
  pkg/config/config.go
  tools/cloud-build/daily-tests/blueprints/monitoring.yaml
  tools/duplicate-diff.py
  tools/validate_configs/test_configs/cloud-storage-bucket.yaml
  tools/validate_configs/test_configs/slurm-gcp-v6-startup-scripts.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: Add support for anywhere cache
  examples/storage-gke.yaml
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/main.tf
  modules/file-system/cloud-storage-bucket/outputs.tf
  modules/file-system/cloud-storage-bucket/variables.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-anywhere-cache.yml
  tools/cloud-build/daily-tests/tests/gke-storage.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Refactor: Update schedmd-slurm-gcp-v5 to v6 and remove stale docs
  community/examples/tutorial-starccm-slurm.yaml
  docs/hybrid-slurm-cluster/README.md
  docs/hybrid-slurm-cluster/blueprints/create-networks.yaml
  docs/hybrid-slurm-cluster/blueprints/hybrid-configuration.yaml
  docs/hybrid-slurm-cluster/blueprints/static-cluster.yaml
  docs/hybrid-slurm-cluster/demo-with-cloud-controller-instructions.md
  docs/hybrid-slurm-cluster/deploy-instructions.md
  docs/hybrid-slurm-cluster/on-prem-instructions.md
  docs/hybrid-slurm-cluster/requirements.txt
  docs/hybrid-slurm-cluster/troubleshooting.md
  tools/validate_configs/test_configs/two-clusters-sql.yaml
Due: addlicense

Removing boot image for test VMs
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

Refactor: Add deprecation note for schedmd-slurm-gcp-v5 to docs/blueprints that are still using it
  community/examples/tutorial-starccm-slurm.yaml
  docs/hybrid-slurm-cluster/README.md
  tools/validate_configs/test_configs/two-clusters-sql.yaml
Due: addlicense

A4X JBVM
  examples/machine-learning/a4x-highgpu-4g/a4x-vm.yaml
Due: addlicense

Update gke-a4x readme
  examples/gke-a4x/README.md
Due: addlicense

Enable spot VM Testing for GKE: a3ultra
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu-onspot.yml
Due: addlicense

Adding job_completion as a register variable to be displayed in the output
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-job.yml
Due: addlicense

narrow down when to power down
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: addlicense

update examples readme for tpu v6
  examples/README.md
Due: addlicense

Adding Robust destroy in cluster toolkit
  cmd/destroy.go
  cmd/destroy_test.go
  go.mod
  pkg/logging/logging.go
Due: addlicense

Added missing release bump versions
  community/modules/compute/gke-nodeset/versions.tf
  community/modules/compute/gke-partition/versions.tf
  modules/compute/resource-policy/versions.tf
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/versions.tf
  modules/management/kubectl-apply/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Debug G4 Kueue failures
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: Add gcloud community module
  community/examples/gcloud-example.yaml
  community/modules/scripts/gcloud/README.md
  community/modules/scripts/gcloud/main.tf
  community/modules/scripts/gcloud/metadata.yaml
  community/modules/scripts/gcloud/outputs.tf
  community/modules/scripts/gcloud/variables.tf
  community/modules/scripts/gcloud/versions.tf
  examples/README.md
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Added a conditional block to rescue tasks
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: addlicense

Adding necessary files to onboard a3ultra nccl gke tests
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot-nccl.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu-onspot-nccl.yml
Due: addlicense

feat: Add support for anywhere cache
  examples/README.md
  examples/storage-gke.yaml
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/main.tf
  modules/file-system/cloud-storage-bucket/outputs.tf
  modules/file-system/cloud-storage-bucket/variables.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-anywhere-cache.yml
  tools/cloud-build/daily-tests/tests/gke-storage.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding necessary files for a3ultragpu jbvm onboarding
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-jbvms.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-jbvms.yml
Due: addlicense

Onspot A4
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-onspot-slurm.yml
Due: addlicense

Removing redundant test: gke-a3-ultragpu-nccl and excluding ultragpu tests from terraform trigger
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-nccl.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu-nccl.yml
  tools/cloud-build/provision/list_tests.py
Due: addlicense

fix(build): Resolve undefined type error in validation framework
  pkg/modulereader/metadata.go
Due: addlicense

fix pre-commit failure
  pkg/modulereader/metadata.go
Due: addlicense

Fix pre commit error
  modules/compute/resource-policy/metadata.yaml
  pkg/config/config.go
  pkg/validators/basic_validators.go
  pkg/validators/metadata_validators.go
Due: addlicense

Add test file
  pkg/validators/metadata_validators_test.go
Due: addlicense

feat(validations): Add generalized regex validation framework
  cmd/deploy.go
  community/modules/compute/notebook/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-partition/metadata.yaml
  modules/compute/gke-node-pool/metadata.yaml
  modules/compute/resource-policy/metadata.yaml
  pkg/config/config.go
  pkg/validators/basic_validators.go
  pkg/validators/registry.go
  pkg/validators/validators.go
Due: addlicense

Consolidate validator syntax and perform checks during blueprint creation
  cmd/deploy.go
  community/modules/compute/notebook/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-partition/metadata.yaml
  modules/compute/gke-node-pool/metadata.yaml
  modules/compute/resource-policy/metadata.yaml
  pkg/config/config.go
  pkg/modulereader/metadata.go
  pkg/validators/metadata_validators.go
  pkg/validators/registry.go
  pkg/validators/validators.go
Due: addlicense

Enable spot VM Testing for GKE: a3mega
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu-onspot.yml
Due: addlicense

Fix end of line
  pkg/validators/metadata_validators_test.go
Due: addlicense

Adding necessary testfiles and changes to onboard a3mega tests to use spot VMs
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-onspot-slurm-ubuntu.yml
Due: addlicense

adds cleanup steps to precommits
  .github/workflows/pr-precommit.yml
Due: addlicense

Move project service-account module to core modules directory
  community/examples/hpc-slinky/hpc-slinky.yaml
  community/examples/slurm-gke/slurm-gke.yaml
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/modules/container/artifact-registry/README.md
  community/modules/scheduler/htcondor-service-accounts/README.md
  community/modules/scheduler/htcondor-service-accounts/main.tf
  examples/gke-a3-highgpu-inference-gateway.yaml
  examples/gke-a3-highgpu.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4x/gke-a4x.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu.yaml
  examples/gke-consumption-options/dws-flex-start/gke-a3-ultragpu.yaml
  examples/gke-g4/gke-g4.yaml
  examples/gke-h4d/gke-h4d.yaml
  examples/gke-managed-hyperdisk.yaml
  examples/gke-managed-lustre.yaml
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v6/gke-tpu-v6-advanced.yaml
  examples/gke-tpu-v6/gke-tpu-v6.yaml
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-gke.yaml
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/ml-gke.yaml
  examples/storage-gke.yaml
  modules/README.md
  modules/project/service-account/README.md
  modules/project/service-account/main.tf
  modules/project/service-account/metadata.yaml
  modules/project/service-account/outputs.tf
  modules/project/service-account/variables.tf
  modules/project/service-account/versions.tf
  pkg/config/config.go
  pkg/modulereader/metadata_legacy.go
  tools/cloud-build/daily-tests/blueprints/gke-a2-highgpu.yaml
  tools/cloud-build/daily-tests/blueprints/ml-gke-e2e.yaml
  tools/validate_configs/test_configs/test_outputs.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adds junit report to go tests
  Makefile
Due: addlicense
