Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Add pairwise constraints to avoid scheduling some tests too close
  tools/cloud-build/provision/list_tests.py
Due: addlicense

Increase version to 1.53.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Self report controller address if network attachment is used
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add dedicated service account for DDN
  examples/hpc-enterprise-slurm.yaml
Due: addlicense

Add optionals to DDN module, make public_ip default to false
  community/modules/file-system/DDN-EXAScaler/README.md
  community/modules/file-system/DDN-EXAScaler/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

addlicense
  community/front-end/ofe/website/ghpcfe/context_processors.py
Due: addlicense

Wait for startup successfully
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-reconfig-size.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-simple-job-completion.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-topology.yaml
  tools/python-integration-tests/ssh.py
  tools/python-integration-tests/test.py
Due: addlicense

pre-commit fixes to docs
  community/front-end/ofe/README.md
Due: addlicense

#4224 - crispy-bootstrap5
  community/front-end/ofe/requirements.txt
Due: addlicense

#4225 cryptography
  community/front-end/ofe/requirements.txt
Due: addlicense

add scott-nag as dependabot reviewer
  community/front-end/ofe/requirements.txt
Due: addlicense

Remove Docker configuration warning
  modules/scripts/startup-script/files/install_docker.yml
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

AlphaFold 3 High Throughput Solution (af3-slurm)
  examples/README.md
  examples/science/af3-slurm/README.md
  examples/science/af3-slurm/adm/af3-htc-architecture.png
  examples/science/af3-slurm/adm/apptainer_cloudbuild.yaml
  examples/science/af3-slurm/adm/apptainer_image.yml
  examples/science/af3-slurm/adm/controller.yml
  examples/science/af3-slurm/adm/datapipeline.yml
  examples/science/af3-slurm/adm/inference.yml
  examples/science/af3-slurm/adm/onetime_prepare_databasebucket.yml
  examples/science/af3-slurm/af3-slurm-deployment.yaml
  examples/science/af3-slurm/af3-slurm.yaml
  examples/science/af3-slurm/examples/simple_job_launcher/README.md
  examples/science/af3-slurm/examples/simple_job_launcher/af3-job-launcher.yml
  examples/science/af3-slurm/examples/simple_job_launcher/launch_af3_job.sh.j2
  examples/science/af3-slurm/examples/simple_service_launcher/README.md
  examples/science/af3-slurm/examples/simple_service_launcher/af3-service.yml
  examples/science/af3-slurm/examples/simple_service_launcher/af3-user.yml
  examples/science/af3-slurm/examples/simple_service_launcher/af3config.json.j2
  examples/science/af3-slurm/examples/simple_service_launcher/requirements.txt
  examples/science/af3-slurm/examples/simple_service_launcher/simple_service_launcher.py
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Managed Lustre Support
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/files/install_managed_lustre.yml
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add network wait online script into startup-script module
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/files/install_gpu_network_wait_online.yml
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Improve Slurm python integration tests
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-simple-job-completion.yaml
  tools/python-integration-tests/deployment.py
  tools/python-integration-tests/slurm_reconfig_size.py
  tools/python-integration-tests/slurm_simple_job_completion.py
  tools/python-integration-tests/slurm_topology.py
  tools/python-integration-tests/ssh.py
  tools/python-integration-tests/test.py
Due: addlicense

Support disabling Single Node Health Checks using --task-prolog switch - b/421983794
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tools/gpu-test
Due: addlicense

Update to datacenter-gpu-manager-4 package in A-series blueprints
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Improve Slurm python integration tests
  tools/cloud-build/daily-tests/builds/slurm-flex.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-simple-job-completion.yaml
  tools/python-integration-tests/deployment.py
  tools/python-integration-tests/slurm_reconfig_size.py
  tools/python-integration-tests/slurm_simple_job_completion.py
  tools/python-integration-tests/slurm_topology.py
  tools/python-integration-tests/ssh.py
  tools/python-integration-tests/test.py
Due: addlicense

Allow to run slum tests on already deployed cluster
  tools/python-integration-tests/external_deployment.py
  tools/python-integration-tests/slurm_simple_job_completion.py
  tools/python-integration-tests/ssh.py
  tools/python-integration-tests/test.py
Due: addlicense

Queue config application verification integration tests added
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
Due: addlicense

precommit
  community/front-end/ofe/requirements.txt
Due: addlicense

Queue config application verification integration tests added
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-ultra-kueue.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
Due: addlicense

indentation
  modules/scripts/startup-script/files/install_docker.yml
Due: addlicense

Slurm tests improve SSH
  tools/python-integration-tests/slurm_simple_job_completion.py
  tools/python-integration-tests/ssh.py
  tools/python-integration-tests/test.py
Due: addlicense

Move Slurm H4D Blueprint to examples and remove firewall rules for IRDMA VPCs
  examples/README.md
  examples/h4d-vm.yaml
  examples/hpc-slurm-h4d.yaml
Due: addlicense

Made a separate file for kueue config integration test
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue-config.yml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
  tools/cloud-build/daily-tests/tests/gke-a4.yml
Due: addlicense

update terraform-provider version to v6.38.0
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

integration tests for GKE A3U DWS flex-start and queued-provisioning
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-a3-ultragpu.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3u-dws-flex-start-queued-provisioning.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3u-dws-flex-start.yml
  tools/cloud-build/daily-tests/builds/gke-a3u-dws-flex-start-queued-provisioning.yaml
  tools/cloud-build/daily-tests/builds/gke-a3u-dws-flex-start.yaml
  tools/cloud-build/daily-tests/tests/gke-a3u-dws-flex-start-queued-provisioning.yml
  tools/cloud-build/daily-tests/tests/gke-a3u-dws-flex-start.yml
Due: addlicense

Remove private google bug-id
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tools/gpu-test
Due: addlicense

kubernetes provider module implementation
  community/modules/management/kubernetes-manifest/kubernetes_manifest/README.md
  community/modules/management/kubernetes-manifest/kubernetes_manifest/main.tf
  community/modules/management/kubernetes-manifest/kubernetes_manifest/metadata.yaml
  community/modules/management/kubernetes-manifest/kubernetes_manifest/variables.tf
  community/modules/management/kubernetes-manifest/kubernetes_manifest/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert to fix test gke kueue integration test
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
  tools/cloud-build/daily-tests/tests/gke-a4.yml
Due: addlicense

Adjust OFI tunables and disable rndv write mode
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase version to 1.54.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Different Kueue Config Integration Tests for different machine types
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue-config.yml
  tools/cloud-build/daily-tests/blueprints/kueue-config-files/tas-queues-template.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
  tools/cloud-build/daily-tests/tests/gke-a4.yml
Due: addlicense

kubernetes provider module implementation
  community/modules/management/dependencies-installer/helm_install/README.md
  community/modules/management/dependencies-installer/helm_install/main.tf
  community/modules/management/dependencies-installer/helm_install/metadata.yaml
  community/modules/management/dependencies-installer/helm_install/variables.tf
  community/modules/management/dependencies-installer/helm_install/versions.tf
  community/modules/management/dependencies-installer/kubernetes_manifest/README.md
  community/modules/management/dependencies-installer/kubernetes_manifest/main.tf
  community/modules/management/dependencies-installer/kubernetes_manifest/metadata.yaml
  community/modules/management/dependencies-installer/kubernetes_manifest/variables.tf
  community/modules/management/dependencies-installer/kubernetes_manifest/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Bump django from 5.1.9 to 5.1.10 in /community/front-end/ofe
  community/front-end/ofe/requirements.txt
Due: addlicense
