Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Introduce a new variable and deprecate the old one (used as a fallback)
  community/examples/htc-slurm.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-gcsfuse-lssd-cluster.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Create aws.yml
  .github/workflows/aws.yml
Due: addlicense

Create go-ossf-slsa3-publish.yml
  .github/workflows/go-ossf-slsa3-publish.yml
Due: addlicense

Create google.yml
  .github/workflows/google.yml
Due: addlicense

Create snyk-security.yml
  .github/workflows/snyk-security.yml
Due: addlicense

Previous network name has collision with hidden resource
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
Due: addlicense

Simplify variables
  community/examples/htc-slurm.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-gcsfuse-lssd-cluster.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

a4h filestore replace network_name with test_name
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-slurm.yml
Due: addlicense

h4d filestore naming
  examples/h4d-vm.yaml
  tools/cloud-build/daily-tests/tests/h4d-vm.yml
Due: addlicense

set static network name to solve the parallelstore reach limit failure
  examples/gke-managed-parallelstore.yaml
  examples/pfs-parallelstore.yaml
  examples/ps-slurm.yaml
  tools/cloud-build/daily-tests/tests/gke-managed-parallelstore.yml
  tools/cloud-build/daily-tests/tests/ps-slurm.yml
  tools/cloud-build/daily-tests/tests/ps-vm-debian.yml
Due: addlicense

update kueue configurations and reservations in a3 mega
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  examples/gke-a3-megagpu/kueue-configuration.yaml.tftpl
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/kueue-configuration.yaml.tftpl
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4/kueue-configuration.yaml.tftpl
  tools/cloud-build/daily-tests/blueprints/kueue-config-files/tas-queues.yaml
Due: duplicate-diff, addlicense

Add support for task-level prolog and epilog. Closes #4013
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Removing Omnia install as it was deprecated and well past the removal date
  community/examples/omnia-cluster.yaml
  community/modules/scripts/omnia-install/README.md
  community/modules/scripts/omnia-install/main.tf
  community/modules/scripts/omnia-install/metadata.yaml
  community/modules/scripts/omnia-install/outputs.tf
  community/modules/scripts/omnia-install/templates/install_omnia.tpl
  community/modules/scripts/omnia-install/templates/inventory.tpl
  community/modules/scripts/omnia-install/templates/setup_omnia_node.tpl
  community/modules/scripts/omnia-install/variables.tf
  community/modules/scripts/omnia-install/versions.tf
  docs/gpu-support.md
  docs/vm-images.md
  examples/README.md
  modules/README.md
  pkg/modulereader/metadata_legacy.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updating a3mega blueprint to include note about disabling UU
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
Due: addlicense

Add workload policy to mig
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/scripts/cleanup_compute.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix indentation of manifest
  modules/management/kubectl-apply/manifests/kueue-v0.11.1.yaml
Due: addlicense

Remove k8s service account var from gke-a3U
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
Due: addlicense

Remove k8s service account var from tests
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
Due: addlicense

kueue v0.11.4 manifest file
  modules/management/kubectl-apply/manifests/kueue-v0.11.4.yaml
Due: addlicense

deprecate kueue v0.11.1 and use v0.11.4
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/manifests/kueue-v0.11.1.yaml
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add preconditions for flex start
  modules/compute/gke-node-pool/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

A3U/A4H updates to include managed lustre as an option for /home
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Initial commit of the new pfs-managed-lustre-slurm/vm examples and corresponding integration tests
  examples/README.md
  examples/pfs-managed-lustre-slurm.yaml
  examples/pfs-managed-lustre-vm.yaml
  tools/cloud-build/daily-tests/builds/pfs-managed-lustre-slurm.yaml
  tools/cloud-build/daily-tests/builds/pfs-managed-lustre-vm.yaml
  tools/cloud-build/daily-tests/tests/pfs-managed-lustre-slurm.yml
  tools/cloud-build/daily-tests/tests/pfs-managed-lustre-vm.yml
Due: addlicense

Addressing PR review comments
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

move h4d tests to us-central1
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/tests/h4d-vm.yml
Due: addlicense

Missed setting that breaks integration test
  examples/pfs-managed-lustre-vm.yaml
Due: addlicense

This should fix the placement_max_distance value from being nulled when going from nodeset to partition
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Make delete instances status tracking "asynchronous"
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/local_pubsub.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/watch_delete_vm_op.py
Due: addlicense

requirements.txt update
  community/front-end/ofe/requirements.txt
Due: addlicense

OFE
  community/front-end/ofe/requirements.txt
  community/modules/container/artifact-registry/validation.tf
  tools/cloud-build/pr-ofe.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

artifact registry validation
  community/modules/container/artifact-registry/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Initial commit for gke-support for managed lustre
  modules/file-system/managed-lustre/README.md
  modules/file-system/managed-lustre/main.tf
  modules/file-system/managed-lustre/scripts/install-managed-lustre-client.sh
  modules/file-system/managed-lustre/variables.tf
  modules/file-system/pre-existing-network-storage/README.md
  modules/file-system/pre-existing-network-storage/outputs.tf
  modules/file-system/pre-existing-network-storage/scripts/install-managed-lustre-client.sh
  modules/file-system/pre-existing-network-storage/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

artifact registry module validation
  community/modules/container/artifact-registry/README.md
  community/modules/container/artifact-registry/validation.tf
  community/modules/container/artifact-registry/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add improved MIG lifecycle management for flex
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_flex.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  docs/slurm-dws-flex.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add dws flex and spot provisioning options to the A4 example
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  examples/machine-learning/a4-highgpu-8g/README.md
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-deployment.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add DWS Flex integration test and arbitrary blueprint execution
  tools/cloud-build/daily-tests/builds/slurm-flex.yaml
  tools/cloud-build/daily-tests/validate_tests_metadata.py
  tools/python-integration-tests/blueprints/slurm-flex.yaml
  tools/python-integration-tests/slurm_simple_job_completion.py
Due: addlicense

Fix typo on DWS machine type validation
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Get rid of template_cache
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/file_cache.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add IRDMA preflight script in /tools for convenience
  tools/rdma-preflight.sh
Due: duplicate-diff, addlicense

Relax machine type validation for dws flex
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
