Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Move daos agent log to /var/log/daos_agent/
  modules/file-system/parallelstore/scripts/install-daos-client.sh
Due: duplicate-diff, addlicense

comment placement. default will be addressed as a part of future PR
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm.yaml
Due: addlicense

note about H3 availability
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm.yaml
Due: addlicense

Fix application of `nodeset.instance_properties`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: addlicense

Stop checking `SuspenExcStates` in `slurmsync`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
Due: addlicense

Update Slurm-GCP 5.11.1 links to 5.12.0
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  examples/README.md
  examples/machine-learning/a3-highgpu-8g/README.md
  modules/README.md
Due: addlicense

Fix references to old name of Toolkit
  README.md
  cmd/README.md
  community/examples/AMD/README.md
  community/examples/intel/README.md
  docs/network_storage.md
  modules/packer/custom-image/README.md
Due: addlicense

SlurmGCP. Use config-independent storage client.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Enable local SSD formatting solution to set POSIX permissions
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update a3-highgpu-8g README
  examples/machine-learning/a3-highgpu-8g/v5-legacy/README.md
Due: addlicense

Move a3-highgpu-8g v5 solution to legacy subdirectory
  examples/machine-learning/a3-highgpu-8g/v5-legacy/README.md
  examples/machine-learning/a3-highgpu-8g/v5-legacy/ml-slurm-a3-0-base-v5-legacy.yaml
  examples/machine-learning/a3-highgpu-8g/v5-legacy/ml-slurm-a3-1-image-v5-legacy.yaml
  examples/machine-learning/a3-highgpu-8g/v5-legacy/ml-slurm-a3-2-cluster-v5-legacy.yaml
Due: addlicense

Add Slurm-GCP v6 solution for provisioning a3-highgpu-8g cluster
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-0-base.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-cluster.yml
Due: addlicense

SlurmGCP. Fix multiple bugs around nodeset zones
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  tools/cloud-build/daily-tests/tests/hpc-enterprise-slurm.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

support for min_cpu_platform usage
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add doc about DWS Flex Start
  docs/slurm-dws-flex.md
Due: addlicense

Fix typo slurm-dws-flex.md
  docs/slurm-dws-flex.md
Due: addlicense

Unify config loading
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

SlurmGCP. Rework logging
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/get_tpu_vmcount.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Change subnetwork to subnetwork_self_link
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Test https://github.com/GoogleCloudPlatform/slurm-gcp/pull/194
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add test for legacy v5 a3-highgpu-8g blueprint
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/legacy-tests.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update SlurmGCP 6.6.0 -> 6.6.1
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update local ssd examples to use local ssd startup solution
  community/examples/hpc-slurm-local-ssd-v5-legacy.yaml
  community/examples/hpc-slurm-local-ssd.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ssd.yaml
Due: addlicense

Update a3-megagpu-8 example to use local SSD solution
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-image.yaml
Due: addlicense

Fetch multiple config files
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Override machine type to reduce chance of stockout
  examples/ps-slurm.yaml
  tools/cloud-build/daily-tests/tests/ps-slurm.yml
Due: addlicense

Fetch config during `setup.py`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Simplify traversals
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/sort_nodes.py
Due: addlicense

Add `sort_nodes.py`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/sort_nodes.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_topology.py
Due: addlicense

Add documentation for exclusive mode
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Review fixes
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

DWS. Add form to sing up for allowlist
  docs/slurm-dws-flex.md
Due: addlicense

Address comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/sort_nodes.py
Due: addlicense

Add section "Standard PR Response Times" to CONTRIBUTING.md
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: addlicense

Remove `docs/slurm-dws-flex.md`
  docs/slurm-dws-flex.md
Due: addlicense

Run pytest module as an executable. There is no command line setup (for example, run as an alias) for pytest on the workstation machines
  .pre-commit-config.yaml
Due: addlicense

Update makefile to install pytest and dependencies required by tests
  Makefile
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
