Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

If munge or slurm key is present do not do the mount handler
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
Due: addlicense

Fix UID and GID for slurm user in hybrid compute nodes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Fix hash file exists and config not
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Remove incorrect chown of /usr/local
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

Disable default mount by default on hybrid installs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Avoid creating a controller in hybrid mode
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix logging for hybrid setup
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Generate the necessary files for hybrid setup
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/hybrid.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add hybrid_setup to Lookup class
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Put the hash file next to the yaml file
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Avoid doing motd and chowns in hybrid setup mode
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

refactor: replace kueue_migrated_tests with daily_tests_dev_exceptions for daily test scheduling
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/daily-tests.tf
  tools/cloud-build/provision/list_tests.py
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update Image
  community/examples/hpc-slurm-ubuntu2204.yaml
Due: addlicense

refactor: change daily_tests_dev_exceptions to set, assign project to test triggers, and ignore test-kueue-cluster directory
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/daily-tests.tf
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Upgrade Slurm to 25.11.8 (#6264)
  community/examples/hpc-build-slurm-image.yaml
  community/examples/hpc-slurm-google-cloud-dedicated/hpc-slurm-google-cloud-dedicated.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-gcsfuse-lssd-blueprint.yaml
  examples/machine-learning/a4x-maxgpu-4g-metal/README.md
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
  examples/machine-learning/build-service-images/a4x/blueprint.yaml
  examples/machine-learning/build-service-images/shared.yaml
  examples/ml-slurm-g4-vgpu.yaml
  examples/ml-slurm-g4.yaml
Due: addlicense

cut over daily test suite to Kueue scheduling
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/dummy-device-plugin.yaml
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-setup.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x-max-bm.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x-max-bm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e-flex.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e-flex_old.yaml.bak
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-tpu.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-tpu_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

test: allow teardown of training and checkpoint daily test buckets
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
Due: addlicense

Passed the slurm-gcp-devel.zip from slurm_files module to hybrid.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/hybrid.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add script to compile custom slurm version
  community/examples/hpc-slurm6-hybrid.yaml
  community/examples/hybrid-scripts/custom_slurm_version.sh
Due: duplicate-diff, addlicense

Stage the script at blueprint creation time
  community/examples/hpc-slurm6-hybrid.yaml
Due: addlicense

Add script to align the slurm uid from on-prem to the cloud
  community/examples/hpc-slurm6-hybrid.yaml
  community/examples/hybrid-scripts/align_slurm_ids.sh
Due: duplicate-diff, addlicense

Generalized the key preparation, now it is not specific to munge
  community/examples/hpc-slurm6-hybrid.yaml
Due: addlicense

Add hybrid docs
  docs/hybrid-slurm-cluster/README.md
  docs/hybrid-slurm-cluster/blueprints/create-networks.yaml
  docs/hybrid-slurm-cluster/blueprints/hybrid-configuration.yaml
  docs/hybrid-slurm-cluster/blueprints/static-cluster.yaml
  docs/hybrid-slurm-cluster/demo-with-cloud-controller-instructions.md
  docs/hybrid-slurm-cluster/deploy-instructions.md
  docs/hybrid-slurm-cluster/on-prem-instructions.md
  docs/hybrid-slurm-cluster/requirements.txt
  docs/hybrid-slurm-cluster/troubleshooting.md
  docs/hybrid-slurm-cluster/vpn.md
Due: addlicense

Add hybrid image build example
  community/examples/hpc-slurm6-hybrid.yaml
Due: addlicense

Update Slurm Image (#6268)
  community/examples/hpc-slurm-ubuntu2204.yaml
Due: addlicense

Cut over daily tests to dev-2 (#6267)
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/daily-tests.tf
  tools/cloud-build/provision/list_tests.py
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(ci): resolve failing PR tests for release 1.103.0
  examples/gke-a4/gke-a4.yaml
  examples/gke-managed-lustre.yaml
  examples/image-builder.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/tests/gke-inactive-reservation.yml
  tools/cloud-build/daily-tests/tests/gke-managed-lustre.yml
  tools/cloud-build/daily-tests/tests/gke.yml
Due: addlicense

fix(ci): pass zone to cli_deployment_vars in gke.yml
  tools/cloud-build/daily-tests/tests/gke.yml
Due: addlicense

fix(gke): resolve TPU 7x NAP workload policies and improve GKE auth endpoint selection
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/nap.go
  pkg/orchestrator/gke/nap_test.go
  pkg/orchestrator/gke/resource_resolver.go
  pkg/orchestrator/gke/resource_resolver_test.go
  pkg/orchestrator/gke/scheduling.go
  pkg/orchestrator/gke/scheduling_test.go
  pkg/orchestrator/gke/types.go
Due: addlicense

style(ci): fix EOF newline in gke.yml for yamllint and end-of-file-fixer
  tools/cloud-build/daily-tests/tests/gke.yml
Due: addlicense

fix(gke-managed-lustre): adopt n2d-standard-4 for system and workload node pools
  examples/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/tests/gke-managed-lustre.yml
Due: addlicense

fix(gke-managed-lustre): declare system_node_pool_machine_type in vars
  examples/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/tests/gke-managed-lustre.yml
Due: addlicense

fix(gke-managed-lustre): downsize to 18 TiB and switch zone to us-central1-a
  examples/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/tests/gke-managed-lustre.yml
Due: addlicense

fix(ci): resolve failing PR tests for release 1.103.0 (#6273)
  examples/gke-a4/gke-a4.yaml
  examples/gke-managed-lustre.yaml
  examples/image-builder.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/tests/gke-inactive-reservation.yml
  tools/cloud-build/daily-tests/tests/gke-managed-lustre.yml
  tools/cloud-build/daily-tests/tests/gke.yml
Due: addlicense

fix(ci): resolve gke-a2-highgpu-kueue-onspot stockouts and enable dynamic zone discovery
  tools/cloud-build/daily-tests/blueprints/gke-a2-highgpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/tests/gke-a2-highgpu-kueue-onspot.yml
Due: addlicense

fix(daily-tests): align network name in gke-a2-highgpu-kueue-onspot with deployment_name-net
  tools/cloud-build/daily-tests/tests/gke-a2-highgpu-kueue-onspot.yml
Due: addlicense

feat(gke): Unify A3 High and A3 Ultra blueprints with dynamic consumption models
  examples/gke-a3-highgpu/README.md
  examples/gke-a3-highgpu/gke-a3-highgpu-deployment.yaml
  examples/gke-a3-highgpu/gke-a3-highgpu.yaml
  examples/gke-a3-highgpu/nccl-jobset-flex-queue.yaml
  examples/gke-a3-highgpu/nccl-jobset-flex.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/nccl-jobset-flex-queue.yaml
  examples/gke-a3-ultragpu/nccl-jobset-flex.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-highgpu-onspot.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu-onspot.yml
Due: addlicense

remove deprecated debian-11 image
  community/examples/gcloud-example.yaml
  docs/vm-images.md
  tools/cloud-build/daily-tests/blueprints/ansible-vm.yaml
  tools/validate_configs/os_compatibility_tests/batch-filestore.yaml
  tools/validate_configs/os_compatibility_tests/batch-startup.yaml
  tools/validate_configs/os_compatibility_tests/vm-crd.yaml
  tools/validate_configs/os_compatibility_tests/vm-filestore.yaml
  tools/validate_configs/os_compatibility_tests/vm-startup.yaml
Due: addlicense
