Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

Initial commit for startup script warnings
  modules/scripts/startup-script/files/end-script-notification.sh
  modules/scripts/startup-script/files/running-script-warning.sh
  modules/scripts/startup-script/main.tf
Due: terraform-readme

Major update based on design doc review. Reduces logic and integrates warning messages a little bit better.
  modules/scripts/startup-script/files/end-script-notification.sh
  modules/scripts/startup-script/files/running-script-warning.sh
  modules/scripts/startup-script/files/startup-script-stdlib-head.sh
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/templates/startup-script-custom.tpl
Due: terraform-readme

Guide user to solution when long family format
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
Due: terraform-readme

Bumps cryptography from 41.0.3 to 41.0.4.
  community/front-end/ofe/requirements.txt
Due: none

Bump slurm-gcp modules to 5.9.0
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  docs/hybrid-slurm-cluster/demo-with-cloud-controller-instructions.md
  docs/hybrid-slurm-cluster/deploy-instructions.md
  docs/hybrid-slurm-cluster/on-prem-instructions.md
  docs/image-building.md
  examples/README.md
  tools/cloud-build/Dockerfile
  tools/validate_configs/test_configs/node-groups.yaml
Due: terraform-readme

Update Slurm URIs to 5.9.0 release
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-hybrid/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
Due: none

Add some missing instances of Slurm 5.9.0 access_config / additional_networks input variables
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
Due: terraform-readme

Update Slurm image family to 5.9 series throughout modules and examples
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/hpc-slurm-chromedesktop.yaml
  community/examples/hpc-slurm-ubuntu2004.yaml
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/source_image_logic.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/source_image_logic.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  docs/hybrid-slurm-cluster/on-prem-instructions.md
  examples/hpc-enterprise-slurm.yaml
  examples/image-builder.yaml
  examples/ml-slurm.yaml
  tools/cloud-build/daily-tests/blueprints/lustre-slurm.yaml
  tools/validate_configs/os_compatibility_tests/slurm-filestore.yaml
  tools/validate_configs/os_compatibility_tests/slurm-lustre.yaml
  tools/validate_configs/os_compatibility_tests/slurm-startup.yaml
  tools/validate_configs/test_configs/node-groups.yaml
  tools/validate_configs/test_configs/slurm-static-test.yaml
Due: terraform-readme

Making CloudSQL to use internal IP address instead of external
  community/modules/database/slurm-cloudsql-federation/README.md
  community/modules/database/slurm-cloudsql-federation/main.tf
  community/modules/database/slurm-cloudsql-federation/variables.tf
Due: terraform-readme

Update hybrid instructions after manual testing
  docs/hybrid-slurm-cluster/blueprints/hybrid-configuration.yaml
  docs/hybrid-slurm-cluster/deploy-instructions.md
Due: none

Do not chmod spack installation unless user specifies mode
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/main.tf
  community/modules/scripts/spack-setup/variables.tf
Due: terraform-readme

Only set ownership and permissions when input is provided in Spack and Ramble
  community/modules/scripts/ramble-setup/templates/ramble_setup.yml.tftpl
  community/modules/scripts/spack-setup/templates/spack_setup.yml.tftpl
Due: none

Rename gke test to match blueprint_name
  tools/cloud-build/daily-tests/tests/gke.yml
Due: none

Revert new settings for Slurm v5 login/controller
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
Due: terraform-readme

Adds basic deploy/destroy test for storage-gke.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/htcondor-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/tests/gke-storage.yml
Due: none

Document how to use cloud-build/provision
  tools/cloud-build/provision/README.md
Due: none

Add gke selector to babysitter tool
  tools/cloud-build/babysit_tests.py
Due: none

Attach a (free) license to every built VM image
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme

Address PR comments
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme

Add multigroup support for export and import variables to cleanup-build.py
  tools/cleanup-build.py
Due: none

Pin terraform version as variables are deprecated in v5
  community/modules/scheduler/htcondor-pool-secrets/README.md
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
Due: terraform-readme

Attach a (free) license to every built VM image (#1800)
  modules/packer/custom-image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
Due: packer-readme

Install latest version of shellcheck on cloud workstation first boot
  tools/cloud-workstations/configure-hpc-toolkit.sh
Due: none

Set write permission to user to avoid suid error in build
  examples/serverless-batch-mpi.yaml
Due: none

Fixes for network. Integration test doesn't work with hcls network names defined.
  docs/videos/healthcare-and-life-sciences/hcls-blueprint.yaml
  tools/cloud-build/daily-tests/tests/hcls.yml
Due: none

Creation of the HCLS integration test
  docs/videos/healthcare-and-life-sciences/hcls-blueprint.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_ghpc_failure.yml
  tools/cloud-build/daily-tests/builds/hcls.yaml
  tools/cloud-build/daily-tests/tests/hcls.yml
Due: none

Fixes to get the integration test working. Removed some tests because of difficulty to run.
  docs/videos/healthcare-and-life-sciences/hcls-blueprint.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_ghpc_failure.yml
  tools/cloud-build/daily-tests/tests/hcls.yml
Due: none

Added release-bugfix to labels in validation yml
  .github/workflows/pr-label-validation.yml
Due: none

Order change of labels
  .github/workflows/pr-label-validation.yml
Due: none

Removing automatic group write permission to mitigate regression tests
  community/modules/scripts/spack-setup/main.tf
Due: terraform-readme

Move batch-mpi integration tests for better obtainability
  tools/cloud-build/daily-tests/tests/batch-mpi.yml
Due: none

Use input variable to determine batch region for test
  tools/cloud-build/daily-tests/ansible_playbooks/test-batch-submission.yml
  tools/cloud-build/daily-tests/tests/cloud-batch.yml
Due: none

Add renovate.json
  renovate.json
Due: none

Removed rescue terraform in favor of ghpc which does the same thing but allows for multigroup destroy
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_terraform_failure.yml
Due: none

PR review updates
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/rescue_ghpc_failure.yml
  tools/cloud-build/daily-tests/tests/hcls.yml
Due: none

Prevent infra from being left behind; only run when var is populated
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: none

Fix: error on second run when mirror is already defined
  community/examples/hpc-slurm-gromacs.yaml
  community/examples/hpc-slurm-ramble-gromacs.yaml
  docs/tutorials/gromacs/spack-gromacs.yaml
  docs/tutorials/openfoam/spack-openfoam.yaml
  docs/tutorials/wrfv3/spack-wrfv3.yaml
  examples/serverless-batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
Due: none

Adding name field to vm-instance module.
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/variables.tf
Due: terraform-readme

Switched maps from objects with optional for compatibility with TF 1.2
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/variables.tf
Due: terraform-readme

Initial commit for startup script warnings based on design doc.
  modules/scripts/startup-script/files/running-script-warning.sh
  modules/scripts/startup-script/files/startup-script-stdlib-head.sh
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/templates/startup-script-custom.tpl
Due: terraform-readme

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$, but not: \.terraform\/.*$
  packer-readme: any of: ^.*\.pkr\.hcl$
