Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Set correct go toolchain version
  Makefile
  go.mod
  tools/cloud-build/provision/pr-go-build-test.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update protobuf to 5.29.3 in OFE solution (Python 3.8 compatible)
  community/front-end/ofe/requirements.txt
Due: addlicense

add gcs_bucket variable
  examples/machine-learning/a3-megagpu-8g/README.md
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-gcsfuse-lssd-cluster.yaml
Due: addlicense

Remove slurm's requirements.txt from dependabot config
  .github/dependabot.yml
  tools/cloud-build/images/test-runner/Dockerfile
Due: addlicense

Fix time parsing
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/base.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_topology.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Simplify/improve system benchmarks
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-hpl.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nccl.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nemo.yaml
Due: addlicense

Update kueue config to best practices
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/kueue-configuration.yaml.tftpl
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-hpl.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nccl.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nemo.yaml
Due: duplicate-diff, addlicense

Remove manual num_gpus
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/deployment.yaml
Due: addlicense

Update reference workloads to new kueue config.
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-hpl.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nccl.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nemo.yaml
Due: addlicense

Relax constraint around reservation and static nodesets with placement
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove `enable_placement: ...` from blueprint examples
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/hpc-slurm-sharedvpc.yaml
  community/examples/hpc-slurm-ubuntu2004.yaml
  community/examples/htc-slurm.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  docs/hybrid-slurm-cluster/blueprints/hybrid-configuration.yaml
  docs/tutorials/hpc-slurm-qwiklabs.yaml
  examples/hcls-blueprint.yaml
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm-static.yaml
  examples/hpc-slurm.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/slurm-a3mega-cluster.yaml
  examples/ml-slurm.yaml
  examples/ps-slurm.yaml
  tools/cloud-build/daily-tests/blueprints/lustre-slurm.yaml
  tools/python-integration-tests/blueprints/topology-test.yaml
  tools/validate_configs/golden_copies/configs/versioned_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/main.tf
  tools/validate_configs/test_configs/config-ssh.yaml
  tools/validate_configs/test_configs/gpu.yaml
  tools/validate_configs/test_configs/slurm-gcp-v6-startup-scripts.yaml
  tools/validate_configs/test_configs/zone-policies-slurm.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix time
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

docs: current links
  community/modules/file-system/DDN-EXAScaler/README.md
Due: addlicense

Add missing indexes and other content in readme for gke blueprints
  examples/README.md
Due: addlicense

update minimum terraform version to support check block
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/versions.tf
  modules/network/firewall-rules/README.md
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/README.md
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/README.md
  modules/network/pre-existing-vpc/versions.tf
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

One more fix for new kueue config
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-hpl.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nemo.yaml
Due: addlicense

Update default kueue version to v0.10.0
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Create codegen-cluster.yaml
  examples/codegen-cluster.yaml
Due: addlicense

Create chatqna-cluster.yaml
  examples/chatqna-cluster.yaml
Due: addlicense

Update codegen-cluster.yaml
  examples/codegen-cluster.yaml
Due: addlicense

Update chatqna-cluster.yaml
  examples/chatqna-cluster.yaml
Due: addlicense

Create codegen.yaml
  examples/opea-blueprints/codegen.yaml
Due: addlicense

Delete examples/opea-blueprints directory
  examples/opea-blueprints/codegen.yaml
Due: addlicense

Create codegen.yaml
  community/examples/codegen.yaml
Due: addlicense

revert merge commit 81e63e6be3defa2eab22988ebb649c0ea46ba80c
  community/modules/compute/gke-topology-scheduler/README.md
  community/modules/compute/gke-topology-scheduler/main.tf
  community/modules/compute/gke-topology-scheduler/variables.tf
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/variables.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/main.tf
  modules/file-system/gke-storage/variables.tf
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/providers.tf
  modules/management/kubectl-apply/variables.tf
  modules/management/kubectl-apply/versions.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/outputs.tf
  pkg/config/expand.go
  pkg/config/expand_test.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "Merge pull request #3406 from mohitchaurasia91/fix-gke-module-provider"
  community/modules/compute/gke-topology-scheduler/README.md
  community/modules/compute/gke-topology-scheduler/main.tf
  community/modules/compute/gke-topology-scheduler/variables.tf
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/variables.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/main.tf
  modules/file-system/gke-storage/variables.tf
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/providers.tf
  modules/management/kubectl-apply/variables.tf
  modules/management/kubectl-apply/versions.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/outputs.tf
  pkg/config/expand.go
  pkg/config/expand_test.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove unnecessary constraint on static+dynamic with placement
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Merge main into develop
  community/modules/compute/gke-topology-scheduler/README.md
  community/modules/compute/gke-topology-scheduler/main.tf
  community/modules/compute/gke-topology-scheduler/variables.tf
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/variables.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/main.tf
  modules/file-system/gke-storage/variables.tf
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/providers.tf
  modules/management/kubectl-apply/variables.tf
  modules/management/kubectl-apply/versions.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/main.tf
  modules/scheduler/pre-existing-gke-cluster/outputs.tf
  pkg/config/expand.go
  pkg/config/expand_test.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Added support for clean target to remove gcluster binary and the ghpc link
  Makefile
Due: addlicense

Remove parallel download note
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
Due: addlicense

Address comments/defaults, update nccl-plugin version
  examples/hypercompute_clusters/a3u-gke-gcs/README.md
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/deployment.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/kueue-configuration.yaml.tftpl
  examples/hypercompute_clusters/a3u-gke-gcs/nccl-rdma-installer.yaml
Due: duplicate-diff, addlicense

Add note about parallel downloads
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
Due: addlicense

Add link to CSI docs
  examples/hypercompute_clusters/a3u-gke-gcs/README.md
Due: addlicense

Adding Ramble based system benchmarks
  examples/hypercompute_clusters/a3u-gke-gcs/README.md
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/nccl-rdma-installer.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/README.md
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-hpl.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nccl.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nemo.yaml
Due: addlicense

Pass mount_options through to GKE PV
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/templates/gcs-pv.yaml.tftpl
Due: terraform-readme, duplicate-diff, module-label-check, addlicense
