Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Switch to Slurm 6-11 images
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/hpc-slurm-ubuntu2004.yaml
  community/examples/hpc-slurm6-apptainer.yaml
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  examples/hpc-enterprise-slurm.yaml
  examples/hpc-slurm-static.yaml
  examples/image-builder.yaml
  examples/ml-slurm.yaml
  examples/science/af3-slurm/af3-slurm.yaml
  tools/cloud-build/daily-tests/blueprints/lustre-slurm.yaml
  tools/cloud-build/daily-tests/tests/slurm-v6-debian.yml
  tools/python-integration-tests/slurm_topology.py
  tools/validate_configs/golden_copies/configs/versioned_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/terraform.tfvars
  tools/validate_configs/test_configs/node-groups.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

unit test added
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add space
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/templates/ghpcfe_c2.yaml.j2
Due: addlicense

Updating nccl env vars for a3ultra and a4high based on updated gib version
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/Dockerfile
  examples/machine-learning/a4-highgpu-8g/a4high-vm.yaml
Due: addlicense

add enroot config and ibvervs-utils to image build
  examples/machine-learning/build-service-images/a4x/blueprint.yaml
Due: addlicense

Ignore space
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/templates/ghpcfe_c2.yaml.j2
Due: addlicense

minor changes
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/outputs.tf
  modules/file-system/gke-persistent-volume/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update nccl gib plugin version
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nccl.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4/nccl-jobset-example.yaml
  examples/gke-a4x/nccl-jobset-example.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/nccl-installer.yaml
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/nccl-jobset-example.yaml
  examples/gke-consumption-options/dws-flex-start/nccl-installer.yaml
  examples/gke-consumption-options/dws-flex-start/nccl-jobset-example.yaml
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/system_benchmarks/run-nccl-tests-via-ramble.sh
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/system_benchmarks/run-nccl-tests-via-ramble.sh
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Improvements applied to gke-pv-module
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/outputs.tf
  modules/file-system/gke-persistent-volume/templates/filestore-pv.yaml.tftpl
  modules/file-system/gke-persistent-volume/templates/gcs-pvc.yaml.tftpl
  modules/file-system/gke-persistent-volume/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding a proxy check for topologyAssignment status in the workload yaml output for all topologies
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-kueue.yml
Due: addlicense

updated file storage to basic hdd
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
Due: addlicense

Add support for regional Instance Template in Slurm scripts
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

update A3M blueprint with new slurm gcp verion.
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

updated licenses
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/templates/ghpcfe_c2.yaml.j2
Due: addlicense

deleted debian plueprints fomr a3 mega gpu
  examples/machine-learning/a3-megagpu-8g/debian/README.md
  examples/machine-learning/a3-megagpu-8g/debian/deployment-base.yaml
  examples/machine-learning/a3-megagpu-8g/debian/deployment-image-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/debian/slurm-a3mega-base.yaml
  examples/machine-learning/a3-megagpu-8g/debian/slurm-a3mega-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/debian/slurm-a3mega-image.yaml
Due: addlicense

Fixed nvidia-smi issue by updating CUDA image.
  examples/gke-g4/gke-g4-deployment.yaml
  examples/gke-g4/gke-g4.yaml
  examples/gke-g4/numa-kubelet-config.yaml
Due: addlicense

deleted debian plueprints fomr a3 mega gpu
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-cluster.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-image.yml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

deleted test
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm.yaml
Due: addlicense

Fix inconsistent plan on Slurm cluster reconfigure
  community/modules/internal/slurm-gcp/login/README.md
  community/modules/internal/slurm-gcp/login/main.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Get assuredCount via specificReservation
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Implement topology.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
Due: addlicense

Generate tapology.yaml instead of topology.conf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_topology.py
Due: addlicense

Using helm charts for kueue installation
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/kueue/kueue-helm-values.yaml
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/manifests/kueue-v0.10.0.yaml
  modules/management/kubectl-apply/manifests/kueue-v0.10.1.yaml
  modules/management/kubectl-apply/manifests/kueue-v0.11.4.yaml
  modules/management/kubectl-apply/manifests/kueue-v0.12.2.yaml
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

WIP
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Fix for the reservation issue
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Remove usage of "check" function from modules
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/gpu_direct.tf
  modules/compute/gke-node-pool/variables.tf
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/main.tf
  modules/file-system/gke-storage/variables.tf
  modules/management/kubectl-apply/variables.tf
  modules/network/firewall-rules/main.tf
  modules/network/pre-existing-subnetwork/main.tf
  modules/network/pre-existing-vpc/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

wip
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Add GPU type to Slurm's gres.config
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
Due: addlicense

Add GKE Nodes support to Slurm controller
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Slinky upgraded to v0.3.0
  community/modules/scheduler/slinky/README.md
  community/modules/scheduler/slinky/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Merge pull request #4540 from abbas1902/cal
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add additional provisioning model options to H4D blueprint
  examples/hpc-slurm-h4d.yaml
Due: addlicense

Adding username to writers
  cluster-toolkit-writers.json
Due: addlicense

Bare minimum
  community/modules/internal/slurm-gcp/instance_template/files/startup_sh_unlinted
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/consumer/network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/consumer/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/consumer/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/consumer/util.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase the default SlurmdTimeout to 15 minutes to avoid hitting QP limit
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  examples/hpc-slurm-h4d.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add tests for SlurmdTimeout change
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
Due: addlicense

added nvidia-repositories script
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

More goodness
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/consumer/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/consumer/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/consumer/util.py
Due: addlicense

refactor(a3-highgpu): Refactor to multi-deployment group solution
  examples/README.md
  examples/gke-a3-highgpu/gke-a3-highgpu-blueprint.yaml
  examples/gke-a3-highgpu/gke-a3-highgpu-deployment.yaml
Due: addlicense

submit only base blueprint first
  examples/gke-g4/gke-g4-deployment.yaml
  examples/gke-g4/gke-g4.yaml
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
