Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

incorporate gemini suggestions
  pkg/validators/cloud.go
  pkg/validators/cloud_discovery.go
  pkg/validators/validators_test.go
Due: addlicense

Add machine type in zone validator (#5099)
  docs/blueprint-validation.md
  pkg/config/errors.go
  pkg/validators/cloud.go
  pkg/validators/cloud_discovery.go
  pkg/validators/validators.go
  pkg/validators/validators_test.go
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Update error messages
  community/modules/compute/htcondor-execute-point/metadata.yaml
  community/modules/compute/notebook/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-partition/metadata.yaml
  community/modules/file-system/nfs-server/metadata.yaml
  community/modules/internal/slurm-gcp/nodeset_tpu/metadata.yaml
  community/modules/scheduler/htcondor-access-point/metadata.yaml
  community/modules/scheduler/htcondor-central-manager/metadata.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/metadata.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/metadata.yaml
  docs/blueprint-validation.md
  modules/compute/vm-instance/metadata.yaml
  modules/scheduler/batch-job-template/metadata.yaml
  pkg/validators/metadata_validators.go
  pkg/validators/metadata_validators_test.go
Due: addlicense

Removing unused network
  tools/validate_configs/test_configs/packer.yaml
Due: addlicense

Add Exclusive validators
  community/modules/compute/htcondor-execute-point/metadata.yaml
  community/modules/compute/notebook/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-partition/metadata.yaml
  community/modules/file-system/nfs-server/metadata.yaml
  community/modules/internal/slurm-gcp/nodeset_tpu/metadata.yaml
  community/modules/scheduler/htcondor-access-point/metadata.yaml
  community/modules/scheduler/htcondor-central-manager/metadata.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/metadata.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/metadata.yaml
  docs/blueprint-validation.md
  modules/compute/vm-instance/metadata.yaml
  modules/network/vpc/metadata.yaml
  modules/scheduler/batch-job-template/metadata.yaml
  pkg/validators/metadata_validators.go
  pkg/validators/metadata_validators_test.go
  pkg/validators/registry.go
Due: addlicense

add new validations
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
Due: addlicense

fix incorrect tag
  pkg/validators/metadata_validators_test.go
Due: addlicense

add missing changes
  pkg/validators/metadata_validator_helpers.go
  pkg/validators/metadata_validators.go
Due: addlicense

add missing changes
  pkg/validators/metadata_validator_helpers.go
Due: addlicense

Apply nccl config and nri injector manifest and update bandwidth threshold
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
Due: addlicense

update version_prefix
  examples/gke-a3-highgpu.yaml
Due: addlicense

add missing change
  pkg/validators/metadata_validator_helpers.go
Due: addlicense

fix formattig of version_prefix
  examples/gke-a3-highgpu.yaml
Due: addlicense

update minimum google terraform provider version for gke-cluster module to 7.13
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Improve GKE A3 High GPU networking performance (#5167)
  examples/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
Due: addlicense

Update Dockerfile and README.md instructions for a3mega nemo framework (#5164)
  examples/machine-learning/a3-megagpu-8g/nemo-framework/Dockerfile
  examples/machine-learning/a3-megagpu-8g/nemo-framework/README.md
Due: addlicense

adding mac support
  README.md
Due: addlicense

TPU v6e DWS flex integration tests
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-tpu-flex-autoscaling.yml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e-flex.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e-flex.yml
Due: addlicense

updating review comments
  README.md
Due: addlicense

fix: spelling misatakes.
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-partition/README.md
  examples/gke-tpu-7x/gke-tpu-7x-job.yaml
  modules/compute/gke-job-template/README.md
  modules/compute/gke-node-pool/README.md
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/README.md
Due: addlicense

include suggestions from gemini.
  community/modules/compute/gke-partition/main.tf
  modules/compute/gke-job-template/main.tf
  modules/compute/gke-job-template/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add warning enhancement
  docs/blueprint-validation.md
  pkg/modulereader/metadata.go
  pkg/validators/validators.go
Due: addlicense

Add warning enhancement
  pkg/validators/validators.go
Due: addlicense

fix terraform files.
  community/modules/compute/gke-nodeset/output.tf
  modules/scheduler/gke-cluster/variables.tf
  modules/scheduler/pre-existing-gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix: spelling mistakes. (#5169)
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-nodeset/output.tf
  community/modules/compute/gke-partition/README.md
  community/modules/compute/gke-partition/main.tf
  examples/gke-tpu-7x/gke-tpu-7x-job.yaml
  modules/compute/gke-job-template/README.md
  modules/compute/gke-job-template/main.tf
  modules/compute/gke-job-template/variables.tf
  modules/compute/gke-node-pool/README.md
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/variables.tf
  modules/scheduler/pre-existing-gke-cluster/README.md
  modules/scheduler/pre-existing-gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updating the readme with minor fix
  examples/gke-tpu-7x/README.md
Due: addlicense

fix: Update TPU 7x README.md (#5171)
  examples/gke-tpu-7x/README.md
Due: addlicense

Removing TF validation For Machine Type
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix Readme
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Refactor v6 references to v6e
  examples/README.md
  examples/gke-tpu-v6e/README.md
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e-deployment.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
  examples/gke-tpu-v6e/kueue-configuration.yaml.tftpl
  examples/gke-tpu-v6e/kueue-job-sample.yaml
  examples/gke-tpu-v6e/tpu-multislice.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

shift more tests to exclusively run as OnSpot tests
  tools/cloud-build/provision/list_tests.py
Due: addlicense

Add daily tests for integrating with ai-hpc slurm images
  tools/cloud-build/daily-tests/blueprints/a3ultra-aihpc-image-blueprint.yaml
  tools/cloud-build/daily-tests/blueprints/a4high-aihpc-image-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-aihpc-blueprint-test.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-aihpc-blueprint-test.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-aihpc-blueprint-test.yml
  tools/cloud-build/daily-tests/tests/ml-a4-highgpu-aihpc-blueprint-test.yml
Due: addlicense

Update requirements.txt
  community/front-end/ofe/requirements.txt
Due: addlicense

Image updates and re enabling bandwidth tier in hpc-enterprise-slurm
  examples/hpc-enterprise-slurm.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

fix frictions identified in gke-h4d example
  examples/gke-h4d/README.md
  examples/gke-h4d/gke-h4d-deployment.yaml
  examples/gke-h4d/gke-h4d.yaml
Due: addlicense
