Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Add a3u-slurm-ubuntu-gcs blueprint
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/README.md
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/deployment.yaml
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/run-nccl-tests-via-ramble.sh
Due: duplicate-diff, addlicense

Apply suggestions from code review
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
Due: addlicense

Ignore hypercompute_cluster directory in basic validation script
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Improve Readme text, fix minor == typo
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/README.md
Due: addlicense

Fix formatting, minor changes
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/README.md
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/deployment.yaml
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/run-nccl-tests-via-ramble.sh
Due: duplicate-diff, addlicense

A3U updates to account for NIC changes
  examples/gke-a3-ultragpu/mglru-disable.yaml
  examples/gke-a3-ultragpu/nccl-installer.yaml
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
  examples/gke-a3-ultragpu/nccl-test-32-node.yaml
  examples/gke-a3-ultragpu/nccl-test.yaml
Due: addlicense

Add A3 ultra blueprint to deploy VMs and update documentation
  examples/machine-learning/a3-ultragpu-8g/README.md
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
  modules/compute/vm-instance/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add GKE support for managed hyperdisk
  examples/README.md
  examples/gke-managed-hyperdisk.yaml
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/persistent-volume-claim/hyperdisk-balanced-pvc.yaml.tftpl
  modules/file-system/gke-storage/persistent-volume-claim/hyperdisk-extreme-pvc.yaml.tftpl
  modules/file-system/gke-storage/persistent-volume-claim/hyperdisk-throughput-pvc.yaml.tftpl
  modules/file-system/gke-storage/storage-class/hyperdisk-balanced-sc.yaml.tftpl
  modules/file-system/gke-storage/storage-class/hyperdisk-extreme-sc.yaml.tftpl
  modules/file-system/gke-storage/storage-class/hyperdisk-throughput-sc.yaml.tftpl
  modules/file-system/gke-storage/variables.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-managed-hyperdisk.yml
  tools/cloud-build/daily-tests/builds/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/tests/gke-managed-hyperdisk.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

32 node NCCL test
  examples/gke-a3-ultragpu/nccl-test-32-node.yaml
Due: addlicense

use public terraform
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  nccl-test.yaml
Due: addlicense

Fix unused module in A3 Ultra Slurm blueprint
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Add NCCL plugin installation to A3 Ultra Slurm blueprint
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

remove spurious edit
  examples/gke-a3-ultragpu/nccl-test.yaml
Due: addlicense

Add missing line
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
Due: addlicense

Update A3 Ultra Slurm blueprint to Terraform plugins 6.13.0
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

change var names
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
Due: addlicense

private preview blueprints
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/mglru-disable.yaml
  examples/gke-a3-ultragpu/nccl-installer.yaml
  examples/gke-a3-ultragpu/nccl-test.yaml
Due: addlicense

Adding A3U preview blueprints and README
  examples/machine-learning/a3-ultragpu-8g/README.md
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-deployment.yaml
Due: addlicense

Separate common vars into a different file, and add 3 new variables and add copyright to one file
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/mglru-disable.yaml
Due: addlicense

Remove the default value of authorized_cidrs in blueprint
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
Due: addlicense

Update ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
Due: addlicense

Update blueprint and NCCL test to accomodate change to NCCL plugin installation
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/run-nccl-tests.sh
Due: duplicate-diff, addlicense

Nodeset -> partition
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/README.md
Due: addlicense

Give README a markdown extension
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/README.md
Due: addlicense

Fix == typo
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/run-nccl-tests.sh
Due: duplicate-diff, addlicense

Integration test and blueprint updates
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/post-destroy-tasks/delete-image.yml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
Due: addlicense

Add comment regarding Cluster Toolkit version
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

readme and 4 node NCCL test
  examples/gke-a3-ultragpu/README.md
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
Due: addlicense

Updating to latest slurm tag
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Health check update to blueprint
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Update examples/machine-learning/a3-ultragpu-8g/nccl-tests/run-nccl-tests.sh
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/run-nccl-tests.sh
Due: duplicate-diff, addlicense

Improve instructions around import/build
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/README.md
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/build-nccl-tests.sh
Due: duplicate-diff, addlicense

Add example NCCL tests for a3-ultra Slurm
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/README
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/build-nccl-tests.sh
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/import_pytorch_container.sh
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/run-nccl-tests.sh
Due: duplicate-diff, addlicense

Adding health check epilog script
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Pin A3U blueprint module with commit ref from develop branch
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
Due: addlicense

Remove explicit providers block in Slurm blueprints now that 6.13.0 is default
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
