Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

remove deprecated debian-11 image
  community/examples/gcloud-example.yaml
  docs/vm-images.md
  tools/cloud-build/daily-tests/blueprints/ansible-vm.yaml
  tools/validate_configs/os_compatibility_tests/batch-filestore.yaml
  tools/validate_configs/os_compatibility_tests/batch-startup.yaml
  tools/validate_configs/os_compatibility_tests/vm-crd.yaml
  tools/validate_configs/os_compatibility_tests/vm-filestore.yaml
  tools/validate_configs/os_compatibility_tests/vm-startup.yaml
Due: addlicense

fix(storage): pin system node pool machine type and zone in storage-gke to prevent regional stockouts
  examples/storage-gke.yaml
Due: addlicense

fix(daily-tests): align NUM_NODES with static_node_count of 2 in gke-a2-highgpu-kueue-onspot
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
Due: addlicense

fix(ci): resolve stockouts and timeouts in gke-a2-highgpu-kueue-onspot daily test (#6275)
  tools/cloud-build/daily-tests/blueprints/gke-a2-highgpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/tests/gke-a2-highgpu-kueue-onspot.yml
Due: addlicense

remove deprecated debian-11 image (#6277)
  community/examples/gcloud-example.yaml
  docs/vm-images.md
  tools/cloud-build/daily-tests/blueprints/ansible-vm.yaml
  tools/validate_configs/os_compatibility_tests/batch-filestore.yaml
  tools/validate_configs/os_compatibility_tests/batch-startup.yaml
  tools/validate_configs/os_compatibility_tests/vm-crd.yaml
  tools/validate_configs/os_compatibility_tests/vm-filestore.yaml
  tools/validate_configs/os_compatibility_tests/vm-startup.yaml
Due: addlicense

fix(ci): resolve PR-test-gke-storage stockout for release 1.103.0 (#6278)
  examples/storage-gke.yaml
Due: addlicense

feat: replace Filestore with Managed Lustre for home directory in A4 high-GPU blueprint and update daily tests
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
Due: addlicense

cut over daily test suite to Kueue scheduling
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/dummy-device-plugin.yaml
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-setup.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x-max-bm.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x-max-bm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e-flex.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e-flex_old.yaml.bak
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-tpu.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-tpu_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

A4h lustre Support (#6283)
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
Due: addlicense

address PR review comments on evaluation runner, CI, and Kueue skill
  .github/workflows/skills-lint.yml
  skills/gke-kueue-debugging/SKILL.md
  skills/gke-kueue-debugging/references/gke-kueue-docs.md
  tools/run_eval.py
  tools/tests/test_run_eval.py
Due: addlicense

fix(remote-desktop): address PR #6141 review comments
  community/examples/remote-desktop/README.md
  community/modules/remote-desktop/novnc-desktop/metadata.yaml
  community/modules/remote-desktop/novnc-runtime/metadata.yaml
  tools/cloud-build/daily-tests/blueprints/novnc-desktop.yaml
Due: addlicense

fix(ci): clean up decommissioned parallelstore repo in slurm-storage test
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-slurm-storage.yml
Due: addlicense

fix(startup-script): remove decommissioned parallelstore repository configs
  modules/scripts/startup-script/files/early_run_hotfixes.sh
Due: duplicate-diff, addlicense

fix(ci): scope parallelstore repo removal to dnf/yum and drop redundant fallbacks
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-slurm-storage.yml
Due: addlicense

iteration 5.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

rebase.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

rebase.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

iteration 10.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

iteration 9.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

iteration 3.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

iteration 6.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

iteration 7.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
Due: addlicense

iteration 8.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

addressing comments.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fixing typos.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

MIG support for compute nodes.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

iteration 11.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/metadata.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

addressing comments.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(build): set CGO_ENABLED=0 in Makefile to produce static gcluster binary (#6259)
  Makefile
Due: addlicense

test: allow teardown of training and checkpoint daily test buckets (#6216)
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
Due: addlicense

Fix transient webhook timeouts on kueue job submission
  tools/cloud-build/submit_and_monitor_kueue_job.sh
Due: duplicate-diff, addlicense

Address review suggestions
  tools/cleanup.sh
Due: duplicate-diff, addlicense

protect service accounts for ongoing Cloud Builds (#6253)
  tools/cleanup.sh
Due: duplicate-diff, addlicense

fix(ofe): raise Slurm resume_timeout above the node bootstrap budget
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
Due: addlicense

fix(ofe): let node bootstrap skip unreachable dnf repos
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_compute.sh
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_controller.sh
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_login.sh
Due: duplicate-diff, addlicense

fix(ofe): install Rocky 9-correct dev packages on compute nodes
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/dev_env/tasks/main.yaml
Due: addlicense

fix(ofe): reject cluster configs that silently fail at create time
  community/front-end/ofe/website/ghpcfe/views/clusters.py
Due: addlicense

fix(ofe): stop concurrent app installs sticking on 'installing'
  community/front-end/ofe/website/ghpcfe/views/applications.py
Due: addlicense

fix: update additional_networks validation and optional attributes per Gemini review
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance/README.md
  community/modules/internal/slurm-gcp/instance/main.tf
  community/modules/internal/slurm-gcp/instance/variables.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/internal/slurm-gcp/login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  pkg/inspect/modules_test.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix transient webhook timeouts on kueue job submission (#6252)
  tools/cloud-build/submit_and_monitor_kueue_job.sh
Due: duplicate-diff, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
