Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

fix(gke): validate target namespace existence on cluster
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
  pkg/orchestrator/gke/types.go
Due: addlicense

fix: guard setup_cloud_ops against empty ops agent config (#5376)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

refactor: update pod wait condition in validation playbooks
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-storage-pool.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-slurm-storage.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-zonal-bucket.yml
Due: addlicense

fix: update instance template filter in storage validation
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-slurm-storage.yml
Due: addlicense

Address PR feedback for GCS bucket management
  cmd/create_test.go
  cmd/deploy.go
  cmd/deploy_test.go
  examples/README.md
  examples/machine-learning/a4x-highgpu-4g/README.md
  examples/machine-learning/a4x-maxgpu-4g-metal/README.md
  examples/science/af3-slurm/README.md
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  tools/validate_configs/golden_copies/expectations/igc_tf/instructions.txt
Due: addlicense

fix : update TPU v5p compute type from v5p-4 to v5p-8 across tests and examples (#6146)
  examples/gke-tpu-v5p/README.md
  pkg/config/machine_mappings.json
  tools/cloud-build/daily-tests/tests/gke-tpu-v5p.yml
Due: addlicense

updating logic to handle state management efficiently
  cmd/job/prereq.go
  cmd/job/prereq_test.go
  cmd/job/submit_test.go
Due: addlicense

fix(job): validate target namespace existence on cluster (#6134)
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
  pkg/orchestrator/gke/types.go
Due: addlicense

Renaming registered names of anisble tasks
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a4x-max-bm-kueue-config.yml
Due: addlicense

fix(gke): enhance MTC CRD verification and storage ramdisk path rules
  cmd/job/submit.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/storage_test.go
  pkg/orchestrator/gke/types.go
Due: addlicense

Reset state to empty when prerequisites cache is stale
  cmd/job/prereq.go
Due: addlicense

Adding integration tests for GKE A4X-Max (GB300 Bare Metal) (#6137)
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a4x-max-bm-kueue-config.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a4x-max-bm.yml
  tools/cloud-build/daily-tests/builds/gke-a4x-max-bm.yaml
  tools/cloud-build/daily-tests/tests/gke-a4x-max-bm.yml
Due: addlicense

feat(gke): Add support for Multi-Tier Checkpointing (MTC)
  docs/gke-advanced-features.md
  examples/storage-gke.yaml
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/main.tf
  modules/file-system/cloud-storage-bucket/variables.tf
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/manifests/checkpoint-configuration.yaml.tftpl
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/metadata.yaml
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/gke-cluster/variables.tf
  modules/scheduler/gke-cluster/versions.tf
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-mtc.yml
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/tests/gke-storage.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Addressing comments on project id state
  cmd/job/prereq.go
  cmd/job/prereq_test.go
  cmd/job/submit.go
  cmd/job/submit_test.go
Due: addlicense

chore: increase storage pool capacity and throughput in daily tests
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/slurm-storage.yaml
  tools/cloud-build/daily-tests/builds/vm-storage.yaml
Due: addlicense

Excluding slurm-ha from validate_configs.sh
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Handle 403 and restricted IAM permissions gracefully in project validation
  cmd/job/prereq.go
  cmd/job/prereq_test.go
Due: addlicense

nit
  cmd/job/prereq.go
  cmd/job/prereq_test.go
Due: addlicense

fix(telemetry): unify duplicate Stockout error categories
  pkg/telemetry/collector_test.go
  pkg/telemetry/error_categories.go
Due: addlicense

fix(telemetry): unify duplicate Stockout error categories (#6153)
  pkg/telemetry/collector_test.go
  pkg/telemetry/error_categories.go
Due: addlicense

updating validate_config.sh to handle truncation of charac
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

fix(job): validate project ID early during job submit (#6064)
  cmd/job/job.go
  cmd/job/prereq.go
  cmd/job/prereq_test.go
  cmd/job/submit.go
  cmd/job/submit_test.go
Due: addlicense

feat: add node selector to GKE storage pool test
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-storage-pool.yml
Due: addlicense

addressing comments to address null check for string-string
  pkg/validators/metadata_validators.go
  pkg/validators/metadata_validators_test.go
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

fix(ctk): rename kms-key-iam's service_agent_principals to custom_service_accounts
  community/examples/kms-key-per-service.yaml
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key-iam/main.tf
  community/modules/security/kms-key-iam/variables.tf
  community/modules/security/kms-key/README.md
  community/modules/security/pre-existing-kms-key/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Clear leaked Terraform state locks in daily test builds (#6112)
  tools/cloud-build/daily-tests/builds/ansible-vm.yaml
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop.yaml
  tools/cloud-build/daily-tests/builds/e2e.yaml
  tools/cloud-build/daily-tests/builds/gcluster-dockerfile.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/builds/hcls.yaml
  tools/cloud-build/daily-tests/builds/hpc-build-slurm-image.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/htc-slurm.yaml
  tools/cloud-build/daily-tests/builds/htcondor.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm.yaml
  tools/cloud-build/daily-tests/builds/monitoring.yaml
  tools/cloud-build/daily-tests/builds/netapp-volumes.yaml
  tools/cloud-build/daily-tests/builds/packer.yaml
  tools/cloud-build/daily-tests/builds/pfs-managed-lustre-slurm.yaml
  tools/cloud-build/daily-tests/builds/pfs-managed-lustre-vm.yaml
  tools/cloud-build/daily-tests/builds/slurm-flex.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/daily-tests/builds/slurm-gke.yaml
  tools/cloud-build/daily-tests/builds/slurm-rapid-storage.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
Due: addlicense

fix(ctk): require an explicit deletion_policy on kms-key, no default
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key/README.md
  community/modules/security/kms-key/main.tf
  community/modules/security/kms-key/variables.tf
  community/modules/security/pre-existing-kms-key/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Zizmor auto fixes for workflows
  .github/workflows/close-inactive-issues.yml
  .github/workflows/dependency-review.yml
  .github/workflows/draft-release-notes.yml
  .github/workflows/inactive-pr.yml
  .github/workflows/label-external.yml
  .github/workflows/pr-description-check.yml
  .github/workflows/pr-precommit.yml
  .github/workflows/publish-release-notes.yml
Due: addlicense

fix(ctk): add skip_iam_role_grants to kms-key-iam for out-of-band permissions
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key-iam/main.tf
  community/modules/security/kms-key-iam/outputs.tf
  community/modules/security/kms-key-iam/variables.tf
  community/modules/security/pre-existing-kms-key/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(ctk): add skip_iam_role_grants to kms-key-iam for out-of-band permissions
  community/modules/security/kms-key-iam/README.md
Due: addlicense

Addressing pending workflow issues
  .github/workflows/label-external.yml
  .github/workflows/multi-approvers.yml
Due: addlicense

improved error message
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

comment out authorized_cidr in GKE blueprints and validate authorised_cidr
  examples/gke-a3-highgpu-inference-gateway.yaml
  examples/gke-a3-highgpu/gke-a3-highgpu.yaml
  examples/gke-managed-hyperdisk.yaml
  examples/gke-managed-lustre.yaml
  examples/hpc-gke.yaml
  examples/ml-gke.yaml
  examples/storage-gke.yaml
  modules/scheduler/gke-cluster/metadata.yaml
  modules/scheduler/gke-cluster/variables.tf
  pkg/validators/metadata_validators.go
  pkg/validators/metadata_validators_test.go
  pkg/validators/registry.go
  tools/validate_configs/validate_configs.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

addressed automated code review comments and added incorrect type validation on cidr
  modules/scheduler/gke-cluster/variables.tf
  pkg/validators/metadata_validators.go
  tools/validate_configs/validate_configs.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Removing ignore flag for pull request target
  .github/workflows/label-external.yml
Due: addlicense

Zizmor security fixes for github workflows (#6155)
  .github/workflows/close-inactive-issues.yml
  .github/workflows/dependency-review.yml
  .github/workflows/draft-release-notes.yml
  .github/workflows/inactive-pr.yml
  .github/workflows/label-external.yml
  .github/workflows/multi-approvers.yml
  .github/workflows/pr-description-check.yml
  .github/workflows/pr-precommit.yml
  .github/workflows/publish-release-notes.yml
Due: addlicense

feat(testing): cut over daily test suite to Kueue scheduling (#6151)
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-onspot_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

addressing nit review comment
  pkg/orchestrator/gke/gke_job_orchestrator.go
Due: addlicense

fix(job): enhance MTC CRD verification and storage ramdisk path rules (#6135)
  cmd/job/submit.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/storage_test.go
  pkg/orchestrator/gke/types.go
Due: addlicense

docs: add storage pool configuration instructions and update slurm test naming conventions
  examples/storage-gke.yaml
  examples/storage-slurm.yaml
  tools/cloud-build/daily-tests/builds/slurm-storage.yaml
  tools/cloud-build/daily-tests/tests/slurm-storage.yml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
