Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Fix branch name
  tools/cloud-build/images/cluster-toolkit-dockerfile/Dockerfile
Due: addlicense

add gke dws flex start example to examples readme
  examples/README.md
Due: addlicense

Fix ordering of local SSD mounting and docker
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  modules/scripts/startup-script/files/install_docker.yml
  modules/scripts/startup-script/files/setup-raid.yml
Due: addlicense

SlurmGCP. Don't persist controller address in stored config
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

removing mention of centos 7 in readme
  README.md
Due: addlicense

Revert "Remove unused MD5s from config"
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Dump all changes in
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
Due: addlicense

OFE: python 3.12 update
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
Due: duplicate-diff, addlicense

OFE: terraform latest version
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
Due: duplicate-diff, addlicense

OFE: enable_smt deprecation
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
Due: addlicense

Reduce DWS Flex max duration 2 weeks -> 1 week.
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

set up google cloud storage (HNS enabled) using blueprint for the ML workload
  examples/hypercompute_clusters/a3u-gke-gcs/README.md
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/deployment.yaml
Due: addlicense

exclusive mention of GCS viewers is not required
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
Due: addlicense

Update a3-highgpu image blueprint to use install_nvidia_repo
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
Due: addlicense

Add provisioningModel for calendar future reservations
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Increase version to 1.47.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update naming prefix for k8s network objects and update nccl version for tcpxo
  examples/gke-a3-highgpu.yaml
  examples/gke-a3-megagpu.yaml
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
  modules/compute/gke-node-pool/gpu-direct-workload/sample-tcpxo-workload-job.yaml
  modules/compute/gke-node-pool/gpu_direct.tf
  modules/compute/gke-node-pool/outputs.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update GKE DWS Flex README.md
  examples/gke-dws-flex-start/README.md
Due: addlicense

revert a minor unintended change
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
Due: addlicense

docs(gke-job-template): example path links
  modules/compute/gke-job-template/README.md
Due: addlicense

Remove autoscaling max nodes from A3H and A3M tests
  tools/cloud-build/daily-tests/tests/gke-a3-highgpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
Due: addlicense

A3 Ultra integration test + minor improvements to other GKE ITs
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-ultra.yml
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
Due: addlicense

remove subnet build id addition
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
Due: addlicense

remove subnet build id addition
  tools/cloud-build/daily-tests/builds/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-parallelstore.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
Due: addlicense

Update gke-a3-ultragpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
Due: addlicense

use shell
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-ultra.yml
Due: addlicense

NCCL integration tests for A3 High and Mega
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-mega.yml
  tools/cloud-build/daily-tests/tests/gke-a3-highgpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
Due: addlicense

A3U Slurm: enable nvidia-persistenced daemon
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

SlurmGCP. Fix Debian-specific issues
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

add a4-highgpu-8g blueprint
  examples/gke-a4-highgpu/gke-a4-highgpu-deployment.yaml
  examples/gke-a4-highgpu/gke-a4-highgpu.yaml
  examples/gke-a4-highgpu/kueue-configuration.yaml.tftpl
  examples/gke-a4-highgpu/nccl-installer.yaml
  examples/gke-a4-highgpu/nccl-jobset-example.yaml
Due: duplicate-diff, addlicense

GPU and disk def for A4 PS
  modules/compute/gke-node-pool/disk_definitions.tf
  modules/internal/gpu-definition/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update name to a4-high
  examples/gke-a4-highgpu/kueue-configuration.yaml.tftpl
Due: duplicate-diff, addlicense

Initial A4 dev BP (not ready for public use)
  examples/gke-a4-highgpu/README.md
  examples/gke-a4-highgpu/gke-a4-highgpu-deployment.yaml
  examples/gke-a4-highgpu/gke-a4-highgpu.yaml
  examples/gke-a4-highgpu/kueue-configuration.yaml.tftpl
  examples/gke-a4-highgpu/mglru-disable.yaml
  examples/gke-a4-highgpu/nccl-installer.yaml
  examples/gke-a4-highgpu/nccl-jobset-example.yaml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

update gke a4 readme
  examples/gke-a4-highgpu/README.md
Due: addlicense

Readme fixes
  examples/gke-a4-highgpu/README.md
  examples/gke-a4-highgpu/nccl-jobset-example.yaml
Due: addlicense

Support A4 GKE
  examples/gke-a4-highgpu/README.md
  examples/gke-a4-highgpu/gke-a4-highgpu-deployment.yaml
  examples/gke-a4-highgpu/gke-a4-highgpu.yaml
  examples/gke-a4-highgpu/kueue-configuration.yaml.tftpl
  examples/gke-a4-highgpu/mglru-disable.yaml
  examples/gke-a4-highgpu/nccl-installer.yaml
  examples/gke-a4-highgpu/nccl-jobset-example.yaml
  modules/compute/gke-node-pool/disk_definitions.tf
  modules/internal/gpu-definition/README.md
  modules/internal/gpu-definition/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update CODEOWNERS to remove @douglasjacobsen
  CODEOWNERS
Due: addlicense

updating codeowners
  CODEOWNERS
Due: addlicense
