Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Updating a4high custom daily tests (#5807)
  tools/cloud-build/daily-tests/blueprints/a4high-custom-image-blueprint.yaml
Due: addlicense

add saishreekouda to cluster-toolkit-writers.json
  cluster-toolkit-writers.json
Due: addlicense

add saishreekouda to cluster-toolkit-writers.json (#5808)
  cluster-toolkit-writers.json
Due: addlicense

implement review comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2411.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2511.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

implement gemini review comments
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
Due: addlicense

fixe(job):improve reinstallation logic
  cmd/job/submit.go
  cmd/job/submit_test.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
Due: addlicense

address gemini review
  cmd/job/submit.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
Due: addlicense

feat(job): enable support for filestore mount option
  cmd/job/submit.go
  cmd/job/submit_test.go
  docs/gcluster_job_guide.md
  go.mod
  go.sum
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/manifest_generator_test.go
  pkg/orchestrator/gke/resource_resolver.go
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/storage_test.go
  pkg/orchestrator/gke/templates/filestore.tmpl
  pkg/orchestrator/gke/types.go
  pkg/orchestrator/orchestrator.go
Due: addlicense

install build tools before Ansible dependencies
  modules/scripts/startup-script/files/build-tools.in
  modules/scripts/startup-script/files/build-tools.txt
  modules/scripts/startup-script/files/install_ansible.sh
  modules/scripts/startup-script/files/install_ansible_requirements.in
  modules/scripts/startup-script/files/install_ansible_requirements.txt
Due: duplicate-diff, addlicense

comments
  pkg/validators/gke_vulnerabilities_check.go
Due: addlicense

define missing value for disk_size_gb variable
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

updated ansible version
  modules/scripts/startup-script/files/install_ansible_requirements.in
  modules/scripts/startup-script/files/install_ansible_requirements.txt
Due: addlicense

.
  cmd/root.go
  cmd/root_test.go
  cmd/user_id.go
  cmd/user_id_test.go
Due: addlicense

fix(job):improve kueue reinstallation and dry-run directory handling (#5802)
  cmd/job/submit.go
  cmd/job/submit_test.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
Due: addlicense

feat(job): introduce support for advance mount options (#5762)
  cmd/job/submit.go
  cmd/job/submit_test.go
  docs/gcluster_job_guide.md
  go.mod
  go.sum
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/manifest_generator_test.go
  pkg/orchestrator/gke/resource_resolver.go
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/storage_test.go
  pkg/orchestrator/gke/templates/filestore.tmpl
  pkg/orchestrator/gke/types.go
  pkg/orchestrator/orchestrator.go
Due: addlicense

chore: clean up static-analysis findings (dup imports, f-strings, Duration naming)
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/static/examples/run_hpcc.py
  community/front-end/ofe/website/ghpcfe/static/examples/run_hpl.py
  community/front-end/ofe/website/ghpcfe/views/containers.py
  pkg/telemetry/collector.go
  pkg/telemetry/collector_util.go
  pkg/telemetry/types.go
  pkg/telemetry/uploader.go
Due: addlicense

Update community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/forms.py
Due: addlicense

Allow specifying mode and owner for mountpoint
  community/modules/file-system/nfs-server/scripts/mount.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  modules/file-system/cloud-storage-bucket/scripts/mount.sh
  modules/file-system/filestore/README.md
  modules/file-system/filestore/main.tf
  modules/file-system/filestore/outputs.tf
  modules/file-system/filestore/scripts/mount.sh
  modules/file-system/filestore/variables.tf
  modules/file-system/managed-lustre/scripts/mount.sh
  modules/file-system/parallelstore/README.md
  modules/file-system/parallelstore/main.tf
  modules/file-system/parallelstore/outputs.tf
  modules/file-system/parallelstore/templates/mount-daos.sh.tftpl
  modules/file-system/parallelstore/variables.tf
  modules/file-system/pre-existing-network-storage/README.md
  modules/file-system/pre-existing-network-storage/outputs.tf
  modules/file-system/pre-existing-network-storage/scripts/mount.sh
  modules/file-system/pre-existing-network-storage/templates/mount-daos.sh.tftpl
  modules/file-system/pre-existing-network-storage/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update terraform-provider version to >=6.9.0,<=7.36.0
  pkg/config/expand.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Add support for PSC interfaces
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance/README.md
  community/modules/internal/slurm-gcp/instance/main.tf
  community/modules/internal/slurm-gcp/instance/variables.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix: add network interface to htcondor execute point module + update … (#5225)
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  modules/scripts/startup-script/files/install_ansible.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fixes
  cmd/user_id.go
  pkg/config/user_config.go
  pkg/telemetry/collector_test.go
Due: addlicense

fix(ofe): import RestrictedError and remove duplicate dict keys
  community/front-end/ofe/website/ghpcfe/cluster_manager/cloud_info.py
  community/front-end/ofe/website/ghpcfe/views/credentials.py
Due: addlicense

Update community/modules/file-system/nfs-server/scripts/mount.sh
  community/modules/file-system/nfs-server/scripts/mount.sh
Due: duplicate-diff, addlicense

Update modules/file-system/cloud-storage-bucket/scripts/mount.sh
  modules/file-system/cloud-storage-bucket/scripts/mount.sh
Due: duplicate-diff, addlicense

Update modules/file-system/filestore/scripts/mount.sh
  modules/file-system/filestore/scripts/mount.sh
Due: duplicate-diff, addlicense

Update modules/file-system/managed-lustre/scripts/mount.sh
  modules/file-system/managed-lustre/scripts/mount.sh
Due: duplicate-diff, addlicense

Update modules/file-system/pre-existing-network-storage/scripts/mount.sh
  modules/file-system/pre-existing-network-storage/scripts/mount.sh
Due: duplicate-diff, addlicense

Update community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
Due: addlicense

chore(gke): remove unused orchestrator helper functions
  pkg/orchestrator/gke/gke_job_orchestrator.go
Due: addlicense

Remove addict dependency and replace with custom AttrDict
  .pre-commit-config.yaml
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/tasks/main.yaml
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf_v2411.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_flex.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf_v2411.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  docs/hybrid-slurm-cluster/requirements.in
  docs/hybrid-slurm-cluster/requirements.txt
  tools/cloud-workstations/requirements.in
  tools/cloud-workstations/requirements.txt
Due: duplicate-diff, addlicense

Align additional_networks interface and make subnetwork optional
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance/variables.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/internal/slurm-gcp/login/README.md
  community/modules/internal/slurm-gcp/login/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix AttrDict to support dunder attributes and deep recursion
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

make priorityclass installation conditional
  pkg/orchestrator/gke/infra_manager.go
Due: addlicense

fix(job): resolve topology validation bug for scaled-to-0 node pools
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/resource_resolver.go
  pkg/orchestrator/gke/types.go
Due: addlicense

test(job): add test case for scaled-to-0 node pool topology discovery
  pkg/orchestrator/gke/resource_resolver_test.go
Due: addlicense

feat: Dynamic Slicing: Install Kueue Slice Controller and set default resources (#5794)
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/kueue/slice-controller.yaml.tftpl
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fixing A3H
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
Due: addlicense

feat(gke):Add A4X DRANET Example
  examples/gke-a4x/gke-a4x-dranet.yaml
  examples/gke-a4x/nccl-jobset-dranet.yaml
  modules/compute/gke-job-template/README.md
  modules/compute/gke-job-template/main.tf
  modules/compute/gke-job-template/templates/gke-job-base.yaml.tftpl
  modules/compute/gke-job-template/variables.tf
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/outputs.tf
  modules/compute/gke-node-pool/resource-claim-template.yaml.tftpl
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "Add require-hashes support for python dependencies"
  .codespellrc
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/requirements.in
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/requirements.txt
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/front-end/ofe/requirements.in
  community/front-end/ofe/requirements.txt
  community/modules/files/fsi-montecarlo-on-batch/iteration.sh
  community/modules/files/fsi-montecarlo-on-batch/mc_run_reqs.in
  community/modules/files/fsi-montecarlo-on-batch/mc_run_reqs.txt
  examples/machine-learning/a3-megagpu-8g/topological-pytorch/install.sh
  examples/machine-learning/a3-megagpu-8g/topological-pytorch/requirements.in
  examples/machine-learning/a3-megagpu-8g/topological-pytorch/requirements.txt
  modules/scripts/startup-script/files/build-tools.in
  modules/scripts/startup-script/files/build-tools.txt
  modules/scripts/startup-script/files/install_ansible.sh
  modules/scripts/startup-script/files/install_ansible_requirements.in
  modules/scripts/startup-script/files/install_ansible_requirements.txt
Due: duplicate-diff, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
