Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

refactor: migrate a3-highgpu-8g blueprints and tests to TCPXO in-place
  examples/gke-a3-highgpu/gke-a3-highgpu.yaml
  examples/gke-a3-highgpu/nccl-tcpxo-test.yaml
  examples/gke-a3-highgpu/nccl-test.yaml
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-deployment.yaml
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-tcpxo-blueprint.yaml
  examples/machine-learning/a3-highgpu-8g/nccl-tests/build-nccl-tests-tcpxo.sh
  examples/machine-learning/a3-highgpu-8g/nccl-tests/build-nccl-tests.sh
  examples/machine-learning/a3-highgpu-8g/nccl-tests/run-nccl-tests-tcpxo.sh
  examples/machine-learning/a3-highgpu-8g/nccl-tests/run-nccl-tests.sh
  examples/machine-learning/a3-highgpu-8g/nccl-tests/run-topo-nccl-tcpxo.sh
  examples/machine-learning/a3-highgpu-8g/nccl-tests/run-topological-nccl-tests.sh
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high-tcpxo.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-a3-high.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-nccl-tcpxo.yml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-nccl.yml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-tcpxo-onspot.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-tcpxo-slurm.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-highgpu-tcpxo-onspot.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-onspot-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-onspot-tcpxo-slurm.yml
  tools/cloud-build/provision/list_tests.py
Due: duplicate-diff, addlicense

docs(ctk): use placeholder key names in the CMEK examples
  community/examples/kms-key-per-service.yaml
  community/modules/security/pre-existing-kms-key/README.md
Due: addlicense

docs(ctk): add CMEK example blueprints
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  examples/README.md
Due: addlicense

feat(ctk): enable cloudkms in the examples and add AR/Cloud SQL use aliases
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key-iam/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(cmek): address review findings across the KMS modules and OFE wiring
  community/modules/security/kms-key/variables.tf
  modules/file-system/filestore/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(ctk): accept a CMEK key in Filestore, images and attached services
  community/modules/container/artifact-registry/main.tf
  community/modules/container/artifact-registry/variables.tf
  community/modules/database/slurm-cloudsql-federation/main.tf
  community/modules/database/slurm-cloudsql-federation/variables.tf
  modules/file-system/filestore/main.tf
  modules/file-system/filestore/variables.tf
  modules/packer/custom-image/image.pkr.hcl
  modules/packer/custom-image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

fix(cmek): harden the KMS key listing and key_ring_id validation
  community/modules/security/kms-key/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(ctk): add Cloud KMS modules for customer-managed encryption
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key-iam/main.tf
  community/modules/security/kms-key-iam/metadata.yaml
  community/modules/security/kms-key-iam/outputs.tf
  community/modules/security/kms-key-iam/variables.tf
  community/modules/security/kms-key-iam/versions.tf
  community/modules/security/kms-key/README.md
  community/modules/security/kms-key/main.tf
  community/modules/security/kms-key/metadata.yaml
  community/modules/security/kms-key/outputs.tf
  community/modules/security/kms-key/variables.tf
  community/modules/security/kms-key/versions.tf
  community/modules/security/pre-existing-kms-key/README.md
  community/modules/security/pre-existing-kms-key/main.tf
  community/modules/security/pre-existing-kms-key/metadata.yaml
  community/modules/security/pre-existing-kms-key/outputs.tf
  community/modules/security/pre-existing-kms-key/variables.tf
  community/modules/security/pre-existing-kms-key/versions.tf
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(ctk): default kms-key to schedule key material for deletion on teardown
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  community/modules/security/kms-key/README.md
  community/modules/security/kms-key/main.tf
  community/modules/security/kms-key/variables.tf
  community/modules/security/pre-existing-kms-key/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs(ctk): correct the kms-key.yaml entry in examples/README.md
  examples/README.md
Due: addlicense

fix(ctk): add skip_iam_role_grants to kms-key-iam for out-of-band permissions
  community/modules/security/kms-key-iam/README.md
Due: addlicense

docs(ctk): add gcloud-verified testing evidence to the CMEK module READMEs
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key/README.md
  community/modules/security/pre-existing-kms-key/README.md
Due: addlicense

fix(ctk): rename kms-key-iam's service_agent_principals to custom_service_accounts
  community/examples/kms-key-per-service.yaml
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key-iam/main.tf
  community/modules/security/kms-key-iam/variables.tf
  community/modules/security/kms-key/README.md
  community/modules/security/pre-existing-kms-key/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs(ctk): document per-module testing evidence in the CMEK module READMEs
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key/README.md
  community/modules/security/pre-existing-kms-key/README.md
Due: addlicense

docs: regenerate module READMEs and drop trailing whitespace
  community/modules/container/artifact-registry/README.md
  community/modules/database/slurm-cloudsql-federation/README.md
  community/modules/security/kms-key-iam/README.md
  community/modules/security/pre-existing-kms-key/README.md
  modules/file-system/filestore/README.md
  modules/packer/custom-image/README.md
Due: addlicense

fix(ctk): add skip_iam_role_grants to kms-key-iam for out-of-band permissions
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key-iam/main.tf
  community/modules/security/kms-key-iam/outputs.tf
  community/modules/security/kms-key-iam/variables.tf
  community/modules/security/pre-existing-kms-key/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix(ctk): require an explicit deletion_policy on kms-key, no default
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key/README.md
  community/modules/security/kms-key/main.tf
  community/modules/security/kms-key/variables.tf
  community/modules/security/pre-existing-kms-key/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

regenerate schedmd-slurm-gcp-v6-nodeset README after merging develop
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
Due: addlicense

Address CMEK module review: provider_meta and API enablement ordering
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  community/modules/security/kms-key-iam/versions.tf
  community/modules/security/kms-key/README.md
  community/modules/security/kms-key/versions.tf
  community/modules/security/pre-existing-kms-key/versions.tf
  examples/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add hybrid_conf variable
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

If munge or slurm key is present do not do the mount handler
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
Due: addlicense

Avoid creating a controller in hybrid mode
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/outputs.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove incorrect chown of /usr/local
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

Put the hash file next to the yaml file
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

docs(cloud-build): move example into subdirectory and add to examples/README.md
  community/examples/cloud-build/README.md
  community/examples/cloud-build/build-alphafold3.yaml.tfpl
  community/examples/cloud-build/cloud-build-remote.yaml
  examples/README.md
Due: addlicense

fix(ofe): wait for dnf-automatic instead of rebuilding the rpm database
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_compute.sh
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_controller.sh
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_login.sh
Due: duplicate-diff, addlicense

fix(ofe): make every dnf repo skippable when unreachable
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_compute.sh
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_controller.sh
  community/front-end/ofe/infrastructure_files/cluster_startup/templates/bootstrap_login.sh
Due: duplicate-diff, addlicense

fix(ofe): register the developer toolsets dev_env actually installs
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/spack_setup/tasks/main.yaml
Due: addlicense

fix(ofe): check partition RAM before deleting mount points or partitions
  community/front-end/ofe/website/ghpcfe/views/clusters.py
Due: addlicense

fix(ofe): delete removed mount points and partitions inside the transaction
  community/front-end/ofe/website/ghpcfe/views/clusters.py
Due: addlicense

fix(ofe): trim the interpreter probe before falling back to python3
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/tasks/main.yaml
Due: addlicense

fix(ofe): exclude local build artifacts from the control-bucket upload
  community/front-end/ofe/tf/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update requirements.in
  community/front-end/ofe/requirements.in
Due: addlicense

move anywhere_cache to a separate regional bucket
  examples/storage-slurm.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-slurm-storage.yml
Due: addlicense

Expose the slurm-gcp-devel.zip from the slurm_files module
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add script to align the slurm uid from on-prem to the cloud
  community/examples/hpc-slurm6-hybrid.yaml
  community/examples/hybrid-scripts/align_slurm_ids.sh
Due: duplicate-diff, addlicense

Prepare conf.py for hybrid setup
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
Due: addlicense

Fix logging for hybrid setup
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add hybrid_setup to Lookup class
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add hybrid image build example
  community/examples/hpc-slurm6-hybrid.yaml
  examples/README.md
Due: addlicense
