Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Project cleanup. Look only at relevant builds.
  tools/cloud-build/project-cleanup.yaml
Due: addlicense

Babysit. Set default value for `--project`
  tools/cloud-build/babysit/runner.py
Due: addlicense

Slurm6. Replace `service_account` with `service_account_email|scopes`
  community/examples/intel/hpc-slurm-daos.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
  examples/hpc-enterprise-slurm-v6.yaml
  tools/validate_configs/test_configs/node-groups-v6.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update internal usage of modules on develop branch as part of Release Process
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/pbspro-execution/README.md
  community/modules/compute/pbspro-execution/main.tf
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/main.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  community/modules/scheduler/htcondor-service-accounts/README.md
  community/modules/scheduler/htcondor-service-accounts/main.tf
  community/modules/scheduler/pbspro-client/README.md
  community/modules/scheduler/pbspro-client/main.tf
  community/modules/scheduler/pbspro-server/README.md
  community/modules/scheduler/pbspro-server/main.tf
  community/modules/scripts/ramble-execute/README.md
  community/modules/scripts/ramble-execute/main.tf
  community/modules/scripts/ramble-setup/README.md
  community/modules/scripts/ramble-setup/main.tf
  community/modules/scripts/spack-execute/README.md
  community/modules/scripts/spack-execute/main.tf
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/main.tf
  modules/compute/vm-instance/README.md
  modules/compute/vm-instance/startup_from_network_storage.tf
  modules/network/multivpc/README.md
  modules/network/multivpc/main.tf
  modules/scheduler/batch-job-template/README.md
  modules/scheduler/batch-job-template/startup_from_network_storage.tf
  modules/scheduler/batch-login-node/README.md
  modules/scheduler/batch-login-node/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update references to nodeset_switch_lines fix
  community/examples/hpc-build-slurm-image.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Address feedback from #2489
  modules/scripts/startup-script/files/install_docker.yml
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove the extra 'v' in version numbers created by `create-release-candidate.sh`
  tools/create-release-candidate.sh
Due: duplicate-diff, addlicense

Run project cleanup daily, including weekends
  tools/cloud-build/provision/daily-cleanup.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Address PR comments
  docs/slurm-troubleshooting.md
Due: addlicense

Update Slurm troubleshooting docs to describe behavior on stockout
  docs/slurm-troubleshooting.md
Due: addlicense

GPG folder needs group write/execute access when installing from cache
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add sleep to Filestore command
  tools/clean-filestore-limit.sh
Due: duplicate-diff, addlicense

Don't replace login node on ANY controller changes
  community/examples/hpc-build-slurm-image.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update hcls v6 test public ip deployment variables
  tools/cloud-build/daily-tests/tests/hcls-v6.yml
Due: addlicense

Update to Slurm-GCP 6.4.4
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update deploy.sh
  community/front-end/ofe/deploy.sh
Due: duplicate-diff, addlicense

OFE fix: Partition and node placement options
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/templates/cluster/update_form.html
Due: addlicense

OFE fix: static path
  community/front-end/ofe/website/nginx.conf
Due: addlicense

OFE fix: ps-connect, node placement, go location Getting GO version from GO website
  community/front-end/ofe/deploy.sh
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/front-end/ofe/script/service_account.sh
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/image.py
Due: duplicate-diff, addlicense

Add License info to image_import.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/image_import.py
Due: addlicense

Update image.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/image.py
Due: addlicense

fix line ending in image_import.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/image_import.py
Due: addlicense

Import existing images into OFE
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/image_import.py
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/templates/image/image-import.html
  community/front-end/ofe/website/ghpcfe/templates/image/list.html
  community/front-end/ofe/website/ghpcfe/urls.py
  community/front-end/ofe/website/ghpcfe/views/images.py
Due: addlicense

fixed depends on script and arg count
  community/modules/compute/notebook/main.tf
  community/modules/compute/notebook/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

format update
  community/modules/compute/notebook/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Copy labels from the batch-job-template module to the actual Batch job spec
  modules/scheduler/batch-job-template/main.tf
  modules/scheduler/batch-job-template/templates/batch-job-base.yaml.tftpl
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Allow the `wait-for-startup` module to take a list of instance names
  community/modules/scripts/wait-for-startup/README.md
  community/modules/scripts/wait-for-startup/main.tf
  community/modules/scripts/wait-for-startup/scripts/wait-for-startup-status.sh
  community/modules/scripts/wait-for-startup/variables.tf
  community/modules/scripts/wait-for-startup/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Changed var length to 5 in error and trying new depends_on trick.
  community/modules/compute/notebook/main.tf
  community/modules/compute/notebook/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update network storage document for Slurm v6 support
  docs/network_storage.md
Due: addlicense

Split `daily_cleanup` on `filestore` and `slurm` parts
  tools/clean-filestore-limit.sh
  tools/cloud-build/project-cleanup-filestore.yaml
  tools/cloud-build/project-cleanup-slurm.yaml
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/daily-cleanup.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix conflicting names in test infra provisioner
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/daily-cleanup.tf
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Infra chores.
  tools/cloud-build/babysit_tests.py
  tools/cloud-build/provision/zebug.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add an option to skip `Ensure all nodes are powered down` in slurm tests
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: addlicense

Simplify "cleanup compute"
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/cleanup.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/scripts/cleanup_compute.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Test PR for security updates in slurm-gcp fork
  community/examples/hpc-build-slurm-image.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix `cleanup_compute.sh` caused by quoting.
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/scripts/cleanup_compute.sh
Due: duplicate-diff, addlicense

IGC. Split `apply` and `output` into different steps.
  cmd/deploy.go
  cmd/destroy.go
  cmd/export.go
  pkg/shell/terraform.go
Due: addlicense

Replace `TfErr` with `HintError`
  pkg/shell/packer.go
  pkg/shell/packer_test.go
  pkg/shell/terraform.go
  pkg/shell/terraform_test.go
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
