Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

add enroot config and ibvervs-utils to image build
  examples/machine-learning/build-service-images/a4x/blueprint.yaml
Due: addlicense

updated go verison and dependencies
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
  go.mod
  go.sum
Due: addlicense

updated file storage to basic hdd
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
Due: addlicense

updated go versions
  Makefile
  tools/cloud-build/images/cluster-toolkit-dockerfile/Dockerfile
  tools/cloud-build/provision/pr-go-build-test.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update A3M blueprint with new slurm gcp verion.
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
Due: addlicense

updated go versions
  go.mod
Due: addlicense

remove subnetwork from variable and output
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/outputs.tf
  modules/compute/gke-node-pool/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated pre-commit.yml file
  .github/workflows/pr-precommit.yml
  go.mod
Due: addlicense

fixed extra line
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
Due: addlicense

updated go verison
  tools/cloud-build/images/cluster-toolkit-dockerfile/Dockerfile
Due: addlicense

fix(startup-script): Prevent inconsistent plan on script update
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated go verison
  Makefile
  tools/cloud-build/provision/pr-go-build-test.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updates
  .github/workflows/pr-precommit.yml
  Makefile
  docs/hybrid-slurm-cluster/requirements.txt
  go.mod
  tools/cloud-build/provision/pr-go-build-test.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated licenses
  .github/workflows/pr-precommit.yml
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/templates/ghpcfe_c2.yaml.j2
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/containers/templates/enroot_credentials.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/artifact_registry_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cloudsql_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/filesystem_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
  community/modules/scripts/windows-startup-script/templates/setx_http_proxy.ps1
  examples/science/af3-slurm/examples/simple_job_launcher/launch_af3_job.sh.j2
  examples/science/af3-slurm/examples/simple_service_launcher/af3config.json.j2
Due: addlicense

updated version
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
Due: addlicense

node_count default value set to 0
  modules/compute/gke-node-pool/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated grcpio version
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
Due: addlicense

updated verison
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
  tools/cloud-build/images/cluster-toolkit-dockerfile/Dockerfile
  tools/cloud-build/provision/pr-go-build-test.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated the storage for a3Ultra to basic ssd
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
Due: addlicense

Adding license to j2 and ps1 files
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/templates/ghpcfe_c2.yaml.j2
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/containers/templates/enroot_credentials.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/artifact_registry_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cloudsql_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/cluster_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/filesystem_config.yaml.j2
  community/front-end/ofe/website/ghpcfe/templates/blueprint/partition_config.yaml.j2
  community/modules/scripts/windows-startup-script/templates/setx_http_proxy.ps1
  examples/science/af3-slurm/examples/simple_job_launcher/launch_af3_job.sh.j2
  examples/science/af3-slurm/examples/simple_service_launcher/af3config.json.j2
Due: addlicense

Ignore space
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/templates/ghpcfe_c2.yaml.j2
Due: addlicense

remove space
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/templates/ghpcfe_c2.yaml.j2
Due: addlicense

Add space
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/templates/ghpcfe_c2.yaml.j2
Due: addlicense

update terraform-provider version to 6.48.0
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Handle reservation affinity for spot and dws
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/reservation_definitions.tf
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated storage size
  examples/machine-learning/a3-ultragpu-8g/a3ultra-vm.yaml
Due: addlicense

added support for go 1.25 in pr-go-build-text.tf file
  tools/cloud-build/provision/pr-go-build-test.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

removed support for go 1.25 in prgo build file
  tools/cloud-build/provision/pr-go-build-test.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

unit test added
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
Due: addlicense

Revert the change for removing older versions support
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

accelerator prefix checked for gpu
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Transition DWS Flex-Start to Regional MIGs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/cleanup_compute/scripts/cleanup_compute.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/mig_flex.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: duplicate-diff, addlicense

Added partial Slinky install option
  community/modules/scheduler/slinky/README.md
  community/modules/scheduler/slinky/main.tf
  community/modules/scheduler/slinky/outputs.tf
  community/modules/scheduler/slinky/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add a4x image build recipe
  examples/machine-learning/build-service-images/README.md
  examples/machine-learning/build-service-images/a4x/blueprint.yaml
Due: addlicense
