Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Adding Lustre Support
  examples/hpc-slurm-h4d.yaml
Due: addlicense

Add nvidia-imex-* to list of held packages
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  examples/machine-learning/build-service-images/a3m/blueprint.yaml
  examples/machine-learning/build-service-images/a4x/blueprint.yaml
  examples/machine-learning/build-service-images/common/blueprint.yaml
Due: addlicense

Updating A4 and A4x deployment yaml files to match cloud docs
  examples/gke-a4/gke-a4-deployment.yaml
  examples/gke-a4x/gke-a4x-deployment.yaml
Due: addlicense

Removed unused variables for machine types not supported yet in the first vesrion.
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-nodeset/main.tf
  community/modules/compute/gke-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add a new attribute "gke-nodepool" to nodeset config and use it for determining if a node/nodeset is a GKE in controller.
  community/modules/compute/gke-nodeset/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

WIP
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

wip
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

removed nccl verison
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

updated the blueprint for a3ultra
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

fixed typo
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

fuxed white spaces
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

updated blueprint
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

updated version
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

added nvidia-repositories script
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

updated the blue print to match the steps and added verison for nccl-gib
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
Due: addlicense

Managed Luster Changes For H4D
  examples/hpc-slurm-h4d.yaml
Due: addlicense

add netapp-volume module
  examples/netapp-volumes.yaml
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/main.tf
  modules/file-system/netapp-volume/metadata.yaml
  modules/file-system/netapp-volume/outputs.tf
  modules/file-system/netapp-volume/scripts/install-nfs-client.sh
  modules/file-system/netapp-volume/scripts/mount.sh
  modules/file-system/netapp-volume/scripts/mount.yaml
  modules/file-system/netapp-volume/variables.tf
  modules/file-system/netapp-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add netapp-storage-pool module
  docs/network_storage.md
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-storage-pool/main.tf
  modules/file-system/netapp-storage-pool/metadata.yaml
  modules/file-system/netapp-storage-pool/outputs.tf
  modules/file-system/netapp-storage-pool/variables.tf
  modules/file-system/netapp-storage-pool/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

adds example blueprint documentation and doc updates
  examples/README.md
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-volume/README.md
Due: addlicense

change google provider version dependency
  examples/netapp-volumes.yaml
  modules/file-system/netapp-storage-pool/README.md
  modules/file-system/netapp-storage-pool/versions.tf
  modules/file-system/netapp-volume/README.md
  modules/file-system/netapp-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Changing the node count validation
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix for b/439606539
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add OS_ENV to the container, to ensure that container is properly detected
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tpu-startup.sh
Due: duplicate-diff, addlicense

Create PV and PVC from network storage passed into gke nodeset
  community/examples/slurm-gke/slurm-gke.yaml
  community/modules/compute/gke-nodeset/README.md
  community/modules/compute/gke-nodeset/main.tf
  community/modules/compute/gke-nodeset/persistent_volumes.tf
  community/modules/compute/gke-nodeset/templates/nodeset-general.yaml.tftpl
  community/modules/compute/gke-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updating the blueprints using managed_lustre vars to 36T/500MB Tier
  examples/gke-managed-lustre.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/pfs-managed-lustre-slurm.yaml
  examples/pfs-managed-lustre-vm.yaml
  modules/file-system/managed-lustre/README.md
  modules/file-system/managed-lustre/variables.tf
  tools/cloud-build/daily-tests/tests/gke-managed-lustre.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding Provisioning method for A3 Mega and A3 High
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-deployment.yaml
Due: addlicense

Fix yamllint errors
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

Refactor a3 high into single blueprint
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

Remove source image name and reservation name
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

Removes the legacy th ree-file blueprints for the a3-highgpu-8g Slurm cluster.
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-0-base.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-1-image.yaml
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
Due: addlicense

Increase version to 1.67.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update nvidia DRA driver version to v25.3.0
  community/modules/management/dependencies-installer/README.md
  community/modules/management/dependencies-installer/variables.tf
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Refactor CI test for monolithic blueprint and add deployment file
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-deployment.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/a3high-slurm-test-vars.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-cluster.yml
  tools/cloud-build/daily-tests/tests/ml-a3-highgpu-slurm-image.yml
  tools/cloud-build/daily-tests/validate_tests_metadata.py
Due: addlicense

Update versions.tf
  community/modules/network/private-service-access/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Exclude a3-highgpu-8g directory from generic validation
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Refactoring in gke persistent module
  modules/compute/gke-job-template/README.md
  modules/compute/gke-job-template/main.tf
  modules/compute/gke-job-template/variables.tf
  modules/file-system/gke-persistent-volume/README.md
  modules/file-system/gke-persistent-volume/main.tf
  modules/file-system/gke-persistent-volume/outputs.tf
  modules/file-system/gke-persistent-volume/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update terraform-provider version to 7.2.0
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
