Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Revert "Revert "feat(gke): Add G4 Confidential VM support with Blackwell GPUs…"
  examples/README.md
  examples/gke-g4-confidential/README.md
  examples/gke-g4-confidential/g4-verification-storage-test.yaml
  examples/gke-g4-confidential/g4-verification-test.yaml
  examples/gke-g4-confidential/gke-g4-confidential-deployment.yaml
  examples/gke-g4-confidential/gke-g4-confidential.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/main.tf
  modules/file-system/gke-storage/storage-class/hyperdisk-balanced-sc.yaml.tftpl
  modules/file-system/gke-storage/variables.tf
  modules/management/kubectl-apply/main.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/gke-cluster/variables.tf
  tools/validate_configs/validate_configs.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

"feat(gke): Add G4 Confidential VM support with Blackwell GPUs and CMEK storage in cluster toolkit"" (#5859)
  examples/README.md
  examples/gke-g4-confidential/README.md
  examples/gke-g4-confidential/g4-verification-storage-test.yaml
  examples/gke-g4-confidential/g4-verification-test.yaml
  examples/gke-g4-confidential/gke-g4-confidential-deployment.yaml
  examples/gke-g4-confidential/gke-g4-confidential.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/main.tf
  modules/file-system/gke-storage/storage-class/hyperdisk-balanced-sc.yaml.tftpl
  modules/file-system/gke-storage/variables.tf
  modules/management/kubectl-apply/main.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/outputs.tf
  modules/scheduler/gke-cluster/variables.tf
  tools/validate_configs/validate_configs.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

comment
  pkg/orchestrator/gke/gke_job_orchestrator.go
Due: addlicense

cleanup(gke): remove redundant switch in GenerateGKENodeSelectorLabel (#5846)
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
Due: addlicense

Reapply "update terraform-provider version to >=6.9.0,<=7.36.0"
  pkg/config/expand.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Adding GKE TPU v5e example
  examples/gke-tpu-v5e/README.md
  examples/gke-tpu-v5e/gke-tpu-v5e-deployment.yaml
  examples/gke-tpu-v5e/gke-tpu-v5e.yaml
  examples/gke-tpu-v5e/kueue-configuration.yaml.tftpl
  examples/gke-tpu-v5e/kueue-job-sample.yaml
  examples/gke-tpu-v5e/tpu-singleslice.yaml
Due: duplicate-diff, addlicense

Updating examples readme.md
  examples/README.md
Due: addlicense

Revert "update terraform-provider version to >=6.9.0,<=7.36.0"
  pkg/config/expand.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Updating validate_configs.sh
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

base
  .pre-commit-config.yaml
Due: addlicense

Add num_node_pools var to GKE A4X MAx bm
  examples/gke-a4x-max-bm/gke-a4x-max-bm-deployment.yaml
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
Due: addlicense

fix: check node pool locations during capacity checks (#5855)
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/resource_resolver.go
  pkg/orchestrator/gke/resource_resolver_test.go
  pkg/orchestrator/gke/types.go
Due: addlicense

Add num_node_pools var to GKE A4X Max example (#5862)
  examples/gke-a4x-max-bm/gke-a4x-max-bm-deployment.yaml
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
Due: addlicense

Update Go version to 1.26.4
  .github/workflows/pr-precommit.yml
  Makefile
  community/front-end/ofe/website/ghpcfe/models.py
  community/front-end/ofe/website/website/settings.py
  go.mod
  pkg/modulewriter/modulewriter.go
  tools/cloud-build/images/cluster-toolkit-dockerfile/Dockerfile
  tools/cloud-build/provision/pr-go-build-test.tf
  tools/cloud-workstations/configure-hpc-toolkit.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update go.mod
  go.mod
Due: addlicense

.
  Makefile
Due: addlicense

.
  .pre-commit-config.yaml
Due: addlicense

Workaround Go 1.24 build issue in CI
  Makefile
Due: addlicense

Revert workaround, test trigger updated
  Makefile
Due: addlicense

Add GCluster warnings to inform users if their GKE version has vulnerabilities (#5718)
  cmd/deploy.go
  cmd/utils.go
  go.mod
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/telemetry/collector.go
  pkg/telemetry/collector_test.go
  pkg/validators/gke_vulnerabilities_check.go
  pkg/validators/gke_vulnerabilities_check_test.go
  pkg/validators/security-advisories.json
Due: addlicense

Feat(pathways): Align GCluster JobSet with XPK production defaults (#5849)
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
Due: addlicense

Clean up the files
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Restore the size
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

Modifying test to point to latest reservation
  tools/cloud-build/daily-tests/builds/ml-a4x-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-a4x-highgpu-slurm.yml
Due: addlicense

Update a4xhigh-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

Add reservation project var in gke a4x and a4x-max blueprints
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
  examples/gke-a4x/gke-a4x.yaml
Due: addlicense

Update comments to remove misleading project/reservation-name format
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
  examples/gke-a4x/gke-a4x.yaml
Due: addlicense

Fix typo parition -> partition in schedmd-slurm-gcp-v6-controller module
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(gke): implement custom environment variables (--env flag) support
  cmd/job/submit.go
  cmd/job/submit_test.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/templates/jobset.tmpl
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
  pkg/orchestrator/gke/types.go
  pkg/orchestrator/orchestrator.go
Due: addlicense

Update ml-a4x-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4x-highgpu-slurm.yaml
Due: addlicense

pip_require_hashes
  .codespellrc
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/requirements.in
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/requirements.txt
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/front-end/ofe/requirements.in
  community/front-end/ofe/requirements.txt
  community/modules/files/fsi-montecarlo-on-batch/iteration.sh
  community/modules/files/fsi-montecarlo-on-batch/mc_run_reqs.in
  examples/machine-learning/a3-megagpu-8g/topological-pytorch/install.sh
  examples/machine-learning/a3-megagpu-8g/topological-pytorch/requirements.in
  examples/machine-learning/a3-megagpu-8g/topological-pytorch/requirements.txt
  modules/scripts/startup-script/files/build-tools.in
  modules/scripts/startup-script/files/build-tools.txt
  modules/scripts/startup-script/files/install_ansible.sh
  modules/scripts/startup-script/files/install_ansible_requirements.in
  modules/scripts/startup-script/files/install_ansible_requirements.txt
  modules/scripts/startup-script/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Upgrade A4X with managed lustre (#5828)
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
  tools/cloud-build/daily-tests/builds/ml-a4x-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-a4x-highgpu-slurm.yml
Due: addlicense

Fix typo `parition` -> `partition` in `schedmd-slurm-gcp-v6-controller` (#5865)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fixing Issue & Lustre Upgrade
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
Due: addlicense

move the values to variables
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
Due: addlicense

Removing reservation hardcoding
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
Due: addlicense

feat(schedmd-slurm-gcp-v6-controller): add health check and autohealing to HA controller MIGs
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert test-validation files to match upstream/develop
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/fio-test-job.yaml.j2
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-slurm-rapid-storage.yml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
