Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

Update DDN-EXAscaler module reference (#1623)
  community/modules/file-system/DDN-EXAScaler/README.md
  community/modules/file-system/DDN-EXAScaler/main.tf
  community/modules/file-system/DDN-EXAScaler/variables.tf
Due: terraform-readme

Support N>2 groups of HTCondor execute points
  community/examples/htc-htcondor.yaml
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-access-point/templates/condor_config.tftpl
  community/modules/scripts/htcondor-install/files/autoscaler.py
Due: terraform-readme

Increase default Packer VM scopes to cloud-platform
  modules/packer/custom-image/README.md
  modules/packer/custom-image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: packer-readme

Make the "Apply Changes" prompt clearer
  pkg/shell/common.go
Due: none

Restrict GKE node pool to use TPG <= 4.74.0
  community/modules/compute/gke-node-pool/README.md
  community/modules/compute/gke-node-pool/versions.tf
Due: terraform-readme

Specify source of null provider in vm-instance
  modules/compute/vm-instance/versions.tf
Due: terraform-readme

Bump version to v1.21.0
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-configure/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme

Rename spack-install to spack-setup
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/main.tf
  community/modules/scripts/spack-setup/outputs.tf
  community/modules/scripts/spack-setup/scripts/install_spack_deps.yml
  community/modules/scripts/spack-setup/templates/.shellcheckrc
  community/modules/scripts/spack-setup/templates/spack_setup.yml.tftpl
  community/modules/scripts/spack-setup/variables.tf
  community/modules/scripts/spack-setup/versions.tf
Due: terraform-readme

Update documentation for spack-setup module
  community/modules/scripts/spack-setup/README.md
Due: none

Update all references to spack-install to spack-setup
  community/examples/AMD/hpc-amd-slurm.yaml
  community/examples/hpc-slurm-gromacs.yaml
  community/examples/hpc-slurm-ramble-gromacs.yaml
  community/modules/scripts/ramble-execute/README.md
  community/modules/scripts/spack-execute/README.md
  community/modules/scripts/spack-execute/outputs.tf
  community/modules/scripts/spack-execute/variables.tf
  community/modules/scripts/spack-setup/README.md
  docs/cloud-batch.md
  docs/tutorials/gromacs/spack-gromacs.yaml
  docs/tutorials/openfoam/spack-openfoam.yaml
  docs/tutorials/wrfv3/spack-wrfv3.yaml
  docs/videos/healthcare-and-life-sciences/hcls-blueprint.yaml
  examples/README.md
  examples/serverless-batch-mpi.yaml
  modules/README.md
  pkg/modulereader/resreader.go
  tools/duplicate-diff.py
  tools/validate_configs/ramble.yaml
  tools/validate_configs/test_configs/centos8-ss.yaml
  tools/validate_configs/test_configs/debian-ss.yaml
  tools/validate_configs/test_configs/hpc-centos-ss.yaml
  tools/validate_configs/test_configs/rocky-ss.yaml
  tools/validate_configs/test_configs/spack-buildcache.yaml
  tools/validate_configs/test_configs/spack-environments.yaml
  tools/validate_configs/test_configs/test_outputs.yaml
  tools/validate_configs/test_configs/ubuntu-ss.yaml
Due: terraform-readme

Add documentation for usage of spack-execute module
  community/modules/scripts/spack-execute/README.md
  community/modules/scripts/spack-setup/README.md
Due: none

Notify users that spack-install has moved to spack-setup
  pkg/config/config.go
Due: none

Updated public IP disable
  community/examples/tutorial-starccm-slurm.yaml
Due: none

Update README
  examples/README.md
Due: none

Readme update
  examples/README.md
Due: none

Another
  examples/README.md
Due: none

Make the "Apply Changes" prompt clearer (#1625)
  pkg/shell/common.go
Due: none

Update to latest tf provider and resolve GKE conflict
  community/modules/compute/gke-node-pool/README.md
  community/modules/compute/gke-node-pool/variables.tf
  community/modules/compute/gke-node-pool/versions.tf
  pkg/modulewriter/tfversions.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
Due: terraform-readme

Make machines to wait for Spack install lock
  community/modules/scripts/ramble-setup/templates/ramble_setup.yml.tftpl
  community/modules/scripts/spack-setup/templates/spack_setup.yml.tftpl
Due: none

Add `reservation_name` to the Slurm node_group.
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/main.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-partition/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
Due: terraform-readme

Fix: startup script could only be executed from filesystem root
  modules/scripts/startup-script/templates/startup-script-custom.tpl
Due: none

OFE Backend: adding additional rule to OFE service account, so it can store custom images in the buckets
  community/front-end/ofe/script/service_account.sh
Due: none

OFE Backend: making compute dev env setup script compatible with rocky8
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/dev_env/tasks/main.yaml
Due: none

OFE Backend: improving custom image delete function
  community/front-end/ofe/website/ghpcfe/cluster_manager/image.py
Due: none

OFE: addressing #1594 @maxm17 comments
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/image.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/utils.py
  community/front-end/ofe/website/ghpcfe/forms.py
  community/front-end/ofe/website/ghpcfe/templates/image/list.html
  community/front-end/ofe/website/ghpcfe/views/images.py
Due: none

Spack module tweeks to make compatible across supported images
  community/modules/scripts/ramble-execute/templates/ramble_execute.yml.tpl
  community/modules/scripts/spack-execute/templates/execute_commands.yml.tpl
  community/modules/scripts/spack-setup/main.tf
  community/modules/scripts/spack-setup/scripts/install_spack_deps.yml
Due: terraform-readme

Change description of variable instance image to use ubuntu 2204 default
  community/modules/remote-desktop/chrome-remote-desktop/README.md
  community/modules/remote-desktop/chrome-remote-desktop/variables.tf
Due: terraform-readme

OFE: updating certifi>=2023.07.22
  community/front-end/ofe/requirements.txt
Due: none

OFE Backend: updating GPU partition definition
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
Due: none

Provide info about logging to the user as ansible output will hang
  community/modules/scripts/ramble-execute/templates/ramble_execute.yml.tpl
  community/modules/scripts/spack-execute/templates/execute_commands.yml.tpl
Due: none

Add H3 to disk_type validation in vm-instance and slurm modules
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/outputs.tf
  modules/compute/vm-instance/main.tf
Due: terraform-readme

Add information about deprecation and breaking changes
  community/modules/scripts/spack-setup/README.md
  modules/README.md
Due: none

Setup Spack to pull from Google's Spack binary cache by default
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/main.tf
  community/modules/scripts/spack-setup/variables.tf
Due: terraform-readme

Add labels automatically to dependabot PRs
  .github/dependabot.yml
Due: none

Fix "Apply" prompt so user input is separated
  pkg/shell/common.go
Due: none

Support specification of MIG target shape in HTCondor modules
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-access-point/variables.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
  community/modules/scheduler/htcondor-central-manager/variables.tf
Due: terraform-readme

Fix "Apply" prompt so user input is separated (#1653)
  pkg/shell/common.go
Due: none

Add labels automatically to dependabot PRs (#1652)
  .github/dependabot.yml
Due: none

Remove duplicated and outdated outputs from spack-setup
  community/modules/scripts/spack-setup/README.md
  community/modules/scripts/spack-setup/outputs.tf
Due: terraform-readme

Update blueprints and documentation to reflect output changes
  community/examples/AMD/hpc-amd-slurm.yaml
  community/modules/scripts/spack-setup/README.md
  examples/serverless-batch-mpi.yaml
Due: none

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$, but not: \.terraform\/.*$
  packer-readme: any of: ^.*\.pkr\.hcl$
