Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Remove v4 reference from network storage document
  docs/network_storage.md
Due: addlicense

* Add function `Dict.Keys` to differentiate places that don't care about values.
  pkg/config/config.go
  pkg/config/dict.go
  pkg/config/expand.go
Due: addlicense

* Add function `Dict.Keys` to differentiate places that don't care about values. (#2194)
  pkg/config/config.go
  pkg/config/dict.go
  pkg/config/expand.go
Due: addlicense

Remove `setGlobalLabels` as it's not needed
  pkg/config/config.go
  pkg/config/expand.go
  pkg/config/expand_test.go
Due: addlicense

Add shorthand `Reference.AsValue()`
  pkg/config/config_test.go
  pkg/config/dict_test.go
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/config/expression.go
  pkg/config/expression_test.go
  pkg/modulewriter/modulewriter_test.go
  pkg/validators/validators.go
  pkg/validators/validators_test.go
Due: addlicense

Add shorthand `Reference.AsValue()` (#2195)
  pkg/config/config_test.go
  pkg/config/dict_test.go
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/config/expression.go
  pkg/config/expression_test.go
  pkg/modulewriter/modulewriter_test.go
  pkg/validators/validators.go
  pkg/validators/validators_test.go
Due: addlicense

Add expression variables to the test configs
  tools/validate_configs/golden_copies/configs/igc_tf.yaml
  tools/validate_configs/golden_copies/configs/merge_flatten.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/test_configs/packer.yaml
Due: addlicense

Deprecate Dell Omnia module and example blueprint
  community/examples/omnia-cluster.yaml
  examples/README.md
  modules/README.md
  tools/cloud-build/daily-tests/builds/omnia.yaml
  tools/cloud-build/daily-tests/tests/omnia.yml
  tools/validate_configs/test_configs/README.md
Due: addlicense

Change mode of maintenance.py so that it can be executed as description suggests
  tools/maintenance/maintenance.py
Due: addlicense

Change batch-job-base template from json to YAML
  modules/scheduler/batch-job-template/main.tf
  modules/scheduler/batch-job-template/templates/batch-job-base.json.tftpl
  modules/scheduler/batch-job-template/templates/batch-job-base.yaml.tftpl
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Change subprocess signature to be python36 compatible
  tests/test_maintenance.py
  tools/maintenance/maintenance.py
Due: addlicense

Move topological ordering of vars into separate function. (#2190)
  pkg/config/config.go
  pkg/config/config_test.go
Due: addlicense

Refactor `eval` functions
  pkg/config/config.go
  pkg/config/dict.go
  pkg/config/expand.go
  pkg/config/expression.go
  pkg/config/expression_test.go
Due: addlicense

Add expression variables to the test configs (#2197)
  tools/validate_configs/golden_copies/configs/igc_tf.yaml
  tools/validate_configs/golden_copies/configs/merge_flatten.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/test_configs/packer.yaml
Due: addlicense

HTCondor: expire ClassAds more rapidly
  community/modules/scheduler/htcondor-central-manager/templates/condor_config.tftpl
Due: duplicate-diff, addlicense

HTCondor autoscaler
  community/modules/scripts/htcondor-install/files/autoscaler.py
Due: addlicense

Align formatting choices with recent commits
  community/modules/compute/htcondor-execute-point/templates/download-condor-config.ps1.tftpl
  community/modules/scheduler/htcondor-pool-secrets/templates/fetch-idtoken.ps1.tftpl
Due: duplicate-diff, addlicense

HTCondor: ensure Windows nodes are detected as unhealthy
  community/modules/compute/htcondor-execute-point/templates/download-condor-config.ps1.tftpl
Due: duplicate-diff, addlicense

Fix tests: look for yaml file, use image with yaml compat gcloud
  examples/serverless-batch-mpi.yaml
  examples/serverless-batch.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-batch-submission.yml
Due: addlicense

Use multiline yaml block scalar for Batch runnable
  modules/scheduler/batch-job-template/templates/batch-job-base.yaml.tftpl
Due: duplicate-diff, addlicense

Address feedback from #2204
  community/modules/scripts/htcondor-install/files/autoscaler.py
Due: addlicense

Take "first deploy only" dependency on `slurm_files`
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Take "first deploy only" dependency on `slurm_files` (#2181)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Refactor `eval` functions (#2201)
  pkg/config/config.go
  pkg/config/dict.go
  pkg/config/expand.go
  pkg/config/expression.go
  pkg/config/expression_test.go
Due: addlicense

Add check that expanded blueprint is valid
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Remove `setGlobalLabels` as it's not needed (#2193)
  pkg/config/config.go
  pkg/config/expand.go
  pkg/config/expand_test.go
Due: addlicense

Show hint message if unsupported function is used
  pkg/config/config_test.go
  pkg/config/expression.go
Due: addlicense

Update Slurm docs to reference auto-scaling nodes instead of dynamic
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Show hint message if unsupported function is used (#2211)
  pkg/config/config_test.go
  pkg/config/expression.go
Due: addlicense

Update pre-commit hooks
  .pre-commit-config.yaml
Due: addlicense

Restrict GitHub actions to operate on upstream
  .github/workflows/dependency-review.yml
  .github/workflows/pr-label-validation.yml
Due: addlicense

Don't run `destroy_resource_policies` before `destroy_nodes` is done
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Remove pre-commit from Cloud Build PR validation
  tools/cloud-build/hpc-toolkit-pr-validation.yaml
Due: addlicense

Create GitHub Action to run pre-commit
  .github/workflows/pr-precommit.yml
Due: addlicense

Don't run `destroy_resource_policies` before `destroy_nodes` is done (#2217)
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Rename HTC Slurm configuration templates with explicit purpose
  community/examples/htc-slurm.yaml
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/etc/htc-slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/etc/htc-slurmdbd.conf.tpl
Due: addlicense

Add Slurm configuration template for long Prolog/Epilog scripts
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/etc/long-prolog-slurm.conf.tpl
Due: addlicense

Adopt empty string as default value for maintenance_interval
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  tools/validate_configs/test_configs/node-groups.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
