Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

Fix local SSD example enabling VM family compatible with placement policies
  community/examples/hpc-slurm-local-ssd.yaml
Due: none

Replace `Equals`-checker with more appropriate
  pkg/modulereader/resreader_test.go
  pkg/modulewriter/modulewriter_test.go
  pkg/sourcereader/sourcereader_test.go
Due: none

Remove local SSD warning for Slurm v5 compute nodes after known issue resolved
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/README.md
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check

Fix panic, refactor to meet gocyclo requirements
  pkg/config/expand.go
  pkg/config/expand_test.go
  pkg/shell/common.go
  pkg/shell/common_test.go
  pkg/shell/terraform.go
Due: none

PR Review update
  tests/test_maintenance.py
  tools/maintenance/maintenance.py
Due: none

Fix: variable takes structured data when set
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check

Update clusterinfo.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
Due: none

Renamed directory
  community/examples/fsi-montecarlo-on-batch.yaml
  community/modules/pubsub/subscription/README.md
  community/modules/pubsub/subscription/main.tf
  community/modules/pubsub/subscription/metadata.yaml
  community/modules/pubsub/subscription/outputs.tf
  community/modules/pubsub/subscription/variables.tf
  community/modules/pubsub/subscription/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check

Renamed directory
  community/modules/pubsub/bigquery-sub/README.md
  community/modules/pubsub/bigquery-sub/main.tf
  community/modules/pubsub/bigquery-sub/metadata.yaml
  community/modules/pubsub/bigquery-sub/outputs.tf
  community/modules/pubsub/bigquery-sub/variables.tf
  community/modules/pubsub/bigquery-sub/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check

Add Cloud Logging to required APIs for Packer module
  modules/packer/custom-image/metadata.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/metadata.yaml
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/metadata.yaml
Due: none

Trying to close all of Nick's requests
  community/modules/compute/notebook/README.md
  community/modules/compute/notebook/versions.tf
  community/modules/database/bigquery_dataset/README.md
  community/modules/database/bigquery_dataset/versions.tf
  community/modules/database/bigquery_table/README.md
  community/modules/database/bigquery_table/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/pubsub/bigquery-sub/README.md
  community/modules/pubsub/bigquery-sub/main.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/README.md
  community/modules/pubsub/topic/versions.tf
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check

More comments dealt with.
  community/modules/files/fsi-montecarlo-on-batch/README.md
  community/modules/files/fsi-montecarlo-on-batch/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check

Last comments
  examples/README.md
Due: none

Fail `terraform_docs` hook if any error occurs.
  tools/autodoc/terraform_docs.sh
Due: duplicate-diff

Refactor `checkOverwriteAllowed`
  cmd/create.go
  cmd/create_test.go
  cmd/deploy.go
  cmd/destroy.go
  cmd/export.go
  cmd/import.go
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/tfwriter.go
Due: none

Address comments
  cmd/create.go
  cmd/create_test.go
Due: none

Wording
  cmd/create.go
  cmd/create_test.go
Due: none

Update documentation for Slurm V6 TPU module
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/README.md
Due: none

Fail terraform-doc pre-commits if any files were changed (added)
  tools/autodoc/terraform_docs.sh
Due: duplicate-diff

DEMO. Deploy-time quota validation without metadata
  go.mod
  pkg/shell/terraform.go
  pkg/validators/quota.go
Due: none

OFE: making tarball default deployment option when deploying from config
  community/front-end/ofe/deploy.sh
Due: duplicate-diff

OFE: updating path to ghpc binary
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  community/front-end/ofe/website/ghpcfe/cluster_manager/clusterinfo.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/filesystem.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/image.py
Due: duplicate-diff

update TFLint to 0.49 & latest plugin in precommit
  .tflint.hcl
  community/modules/compute/gke-node-pool/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/variables.tf
  community/modules/file-system/DDN-EXAScaler/variables.tf
  community/modules/project/service-account/variables.tf
  community/modules/scheduler/gke-cluster/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/variables.tf
  community/modules/scripts/spack-setup/variables.tf
  modules/network/vpc/variables.tf
  modules/scheduler/batch-login-node/variables.tf
  modules/scripts/startup-script/variables.tf
  tools/cloud-build/hpc-toolkit-builder.yaml
  tools/cloud-workstations/workstation-image.yaml
Due: terraform-readme, duplicate-diff, module-label-check

Fix broken golang, add tests to meet coverage threshold
  pkg/modulewriter/modulewriter.go
  pkg/modulewriter/modulewriter_test.go
  pkg/modulewriter/tfwriter.go
Due: none

Use CFT-metadata struct directly instead of mimicing it.
  go.mod
  go.sum
  pkg/modulereader/metadata.go
  pkg/modulereader/metadata_legacy.go
  pkg/modulereader/resreader.go
  pkg/modulereader/resreader_test.go
  pkg/modulewriter/tfwriter.go
Due: none

Use protobuf getters to avoid nil-pointer panics
  pkg/inspect/modules_test.go
  pkg/validators/cloud.go
Due: none

OFE: spelling fixes
  community/front-end/ofe/website/ghpcfe/templates/cluster/update_form.html
  community/front-end/ofe/website/ghpcfe/views/clusters.py
Due: none

Add `replace` to sanitize deployment names for BQ
  community/modules/database/bigquery_dataset/main.tf
  community/modules/database/bigquery_table/main.tf
Due: terraform-readme, duplicate-diff, module-label-check

nick-stroud review updates
  community/examples/fsi-montecarlo-on-batch.yaml
  community/modules/compute/notebook/README.md
  community/modules/compute/notebook/main.tf
  community/modules/compute/notebook/metadata.yaml
  community/modules/compute/notebook/variables.tf
  community/modules/database/bigquery_dataset/README.md
  community/modules/database/bigquery_table/README.md
  community/modules/database/bigquery_table/variables.tf
  community/modules/files/fsi-montecarlo-on-batch/README.md
  community/modules/files/fsi-montecarlo-on-batch/main.tf
  community/modules/files/fsi-montecarlo-on-batch/metadata.yaml
  community/modules/pubsub/bigquery-sub/README.md
  community/modules/pubsub/bigquery-sub/outputs.tf
  community/modules/pubsub/bigquery-sub/variables.tf
  community/modules/pubsub/topic/README.md
  docs/tutorials/fsi-montecarlo-on-batch/README.md
  examples/README.md
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check

Fix tflint failures
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check

Renaming modules.
  community/examples/fsi-montecarlo-on-batch.yaml
  community/modules/database/bigquery_dataset/README.md
  community/modules/database/bigquery_dataset/main.tf
  community/modules/database/bigquery_dataset/metadata.yaml
  community/modules/database/bigquery_dataset/outputs.tf
  community/modules/database/bigquery_dataset/variables.tf
  community/modules/database/bigquery_dataset/versions.tf
  community/modules/database/bigquery_table/README.md
  community/modules/database/bigquery_table/main.tf
  community/modules/database/bigquery_table/metadata.yaml
  community/modules/database/bigquery_table/outputs.tf
  community/modules/database/bigquery_table/variables.tf
  community/modules/database/bigquery_table/versions.tf
  community/modules/pubsub/bigquery-sub/variables.tf
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check

Also renaming
  community/modules/database/bigquery-dataset/README.md
  community/modules/database/bigquery-dataset/main.tf
  community/modules/database/bigquery-dataset/metadata.yaml
  community/modules/database/bigquery-dataset/outputs.tf
  community/modules/database/bigquery-dataset/variables.tf
  community/modules/database/bigquery-dataset/versions.tf
  community/modules/database/bigquery-table/README.md
  community/modules/database/bigquery-table/main.tf
  community/modules/database/bigquery-table/metadata.yaml
  community/modules/database/bigquery-table/outputs.tf
  community/modules/database/bigquery-table/variables.tf
  community/modules/database/bigquery-table/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check

Fixed over-exhuberant renaming.
  community/modules/database/bigquery-dataset/README.md
  community/modules/database/bigquery-table/README.md
  community/modules/pubsub/bigquery-sub/README.md
Due: none

Fixes for wait-for-startup script because it has been recently updated. This checks for an additional string that is now used for return codes that aren't 0
  community/modules/scripts/wait-for-startup/scripts/wait-for-startup-status.sh
Due: duplicate-diff

Bumping version number
  cmd/root.go
  community/modules/compute/gke-node-pool/versions.tf
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v5-partition/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/gke-persistent-volume/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-controller/versions.tf
  community/modules/scheduler/SchedMD-slurm-on-gcp-login-node/versions.tf
  community/modules/scheduler/gke-cluster/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/htcondor-setup/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check

Update to address PR review
  community/modules/scripts/wait-for-startup/scripts/wait-for-startup-status.sh
Due: duplicate-diff

@mr0re1 comments
  community/modules/compute/notebook/variables.tf
  community/modules/database/bigquery-dataset/variables.tf
  community/modules/database/bigquery-table/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check

Fix pre-commit documentation update
  community/modules/compute/notebook/README.md
  community/modules/database/bigquery-dataset/README.md
  community/modules/database/bigquery-table/README.md
Due: none

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$, but not: tools/validate_configs/golden_copies/.*
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
