Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

OFE
  go.mod
  go.sum
Due: addlicense

NFSv4
  modules/file-system/filestore/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding health check epilog script
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Health check update to blueprint
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Updating to latest slurm tag
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Add comment regarding Cluster Toolkit version
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
Due: addlicense

Allow mixing GPU and non-GPU partitions
  community/modules/compute/htcondor-execute-point/gpu_definition.tf
  community/modules/compute/schedmd-slurm-gcp-v5-node-group/gpu_definition.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/gpu_definition.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-controller/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v5-login/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/gpu_definition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/gpu_definition.tf
  modules/compute/gke-node-pool/gpu_definition.tf
  modules/compute/vm-instance/gpu_definition.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Document unsupported "bracket-less" collection addressing
  examples/README.md
  pkg/config/expression.go
  pkg/config/expression_test.go
Due: addlicense

Move gke a3u blueprints to develop to enable integration testing
  examples/gke-a3-ultragpu/README.md
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/mglru-disable.yaml
  examples/gke-a3-ultragpu/nccl-installer.yaml
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
  examples/gke-a3-ultragpu/nccl-test-32-node.yaml
  examples/gke-a3-ultragpu/nccl-test.yaml
Due: addlicense

Adding max_distance variable
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updated blueprint name from gke-storage-parallelstore to gke-storage-managed-parallelstore
  examples/README.md
  examples/gke-storage-managed-parallelstore.yaml
  modules/file-system/gke-storage/README.md
  tools/cloud-build/daily-tests/builds/gke-storage-managed-parallelstore.yaml
  tools/cloud-build/daily-tests/tests/gke-storage-managed-parallelstore.yml
Due: addlicense

integrating kueue v0.10.0 to enable TAS with rank ordering support
  modules/management/kubectl-apply/manifests/kueue-v0.10.0.yaml
  modules/management/kubectl-apply/variables.tf
  tools/cloud-build/daily-tests/blueprints/gke-a2-highgpu.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

SlurmGCP. Make delete instances status tracking "asynchronous"
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/ops_watch.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Fix clean_up placement policy bug
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
Due: addlicense

Update validation script to skip the new a3u blueprint
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

resolve linter errors
  examples/gke-a3-ultragpu/README.md
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
Due: addlicense

Update terraform provider from google-beta to beta for parallelstore
  modules/file-system/parallelstore/README.md
  modules/file-system/parallelstore/main.tf
  modules/file-system/parallelstore/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding integration test for ansible os coverage
  modules/scripts/startup-script/files/install_ansible.sh
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-ansible-vm.yml
  tools/cloud-build/daily-tests/blueprints/ansible-vm.yaml
  tools/cloud-build/daily-tests/builds/ansible-vm.yaml
  tools/cloud-build/daily-tests/tests/ansible-vm.yml
Due: duplicate-diff, addlicense

Update blueprint and NCCL test to accomodate change to NCCL plugin installation
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/run-nccl-tests.sh
Due: duplicate-diff, addlicense

Update examples/machine-learning/a3-ultragpu-8g/nccl-tests/run-nccl-tests.sh
  examples/machine-learning/a3-ultragpu-8g/nccl-tests/run-nccl-tests.sh
Due: duplicate-diff, addlicense

Integration test for Slurm A3U
  tools/cloud-build/daily-tests/ansible_playbooks/post-destroy-tasks/delete-image.yml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
Due: addlicense

add reservations for kueue integration tests
  tools/cloud-build/daily-tests/blueprints/gke-a2-highgpu.yaml
  tools/cloud-build/daily-tests/tests/gke-a2-highgpu-kueue.yml
Due: addlicense

Updated gke cluster module source path check
  pkg/config/expand.go
  pkg/config/expand_test.go
Due: addlicense

SlurmGCP. Move TPU code into separate file + refactoring
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/get_tpu_vmcount.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/slurmsync.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_resume.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_topology.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tpu.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

SlurmGCP. Don't query insert-ops if builkInsert-op is totally successful
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/resume.py
Due: addlicense

Update ops to operation
  examples/README.md
Due: addlicense

update tas job definitions and add required toleration to kueue v0.10.0
  modules/management/kubectl-apply/manifests/kueue-v0.10.0.yaml
  tools/cloud-build/daily-tests/blueprints/kueue-config-files/tas-queues.yaml
Due: addlicense

fix linter errors and deploy and test the blueprint
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/nccl-installer.yaml
Due: addlicense

fix linter errors
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
  examples/gke-a3-ultragpu/nccl-test-32-node.yaml
Due: addlicense

fix more linter errors
  examples/gke-a3-ultragpu/nccl-test.yaml
Due: addlicense

Use dataclass to represent machine type
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/common.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

Add terraform setup to github workflow config
  .github/workflows/pr-precommit.yml
Due: addlicense

Add validation to prevent creation of empty nodesets
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update python test deployment name to build id
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-reconfig-size.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-simple-job-completion.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-topology.yaml
  tools/python-integration-tests/blueprints/slurm-simple-reconfig.yaml
  tools/python-integration-tests/blueprints/slurm-simple.yaml
  tools/python-integration-tests/blueprints/topology-test.yaml
  tools/python-integration-tests/deployment.py
Due: addlicense

Fix gke parallelstore blueprint name going beyond network char limit
  examples/README.md
  examples/gke-managed-parallelstore.yaml
  modules/file-system/gke-storage/README.md
  tools/cloud-build/daily-tests/builds/gke-managed-parallelstore.yaml
  tools/cloud-build/daily-tests/tests/gke-managed-parallelstore.yml
Due: addlicense

make upgrade settings configurable
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

refactor to use preconditions and throw specific errors
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

manage edge cases for upgrade settings gracefully
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updated ansible playbook test file name
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-managed-parallelstore.yml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
