Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Fix yamllint formatting in gke-a3-megagpu-onspot.yml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu-onspot.yml
Due: addlicense

fix(job): resolve race condition in --await-job-completion workload discovery (#6220)
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/inspector.go
  pkg/orchestrator/gke/types.go
Due: addlicense

Prevent spot and placement_policy propagation to remote-node in reservation build
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
Due: addlicense

refactor: migrate Lustre quota checks from Parallelstore to Managed Lustre
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

fix: improve numeric conversion error handling in zone availability script
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

docs(migration): add authoritative XPK to Cluster Toolkit migration guide
  docs/migration/xpk_to_clustertoolkit.md
Due: addlicense

moving test to manifest_generator_test.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/manifest_generator_test.go
Due: addlicense

docs(migration): add XPK to Cluster Toolkit migration guide (#6161)
  docs/migration/xpk_to_clustertoolkit.md
Due: addlicense

feat: implement automated Kueue test lock management via pre-commit hooks and Terraform configuration
  .pre-commit-config.yaml
  tools/cloud-build/README.md
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/dummy-device-plugin.yaml
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-reaper-pod.yaml
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-setup.yaml
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/test-infra-kueue.yaml
  tools/cloud-build/daily-tests/validate_kueue_tests.py
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/apply_kueue_locks.sh
  tools/cloud-build/provision/generate_kueue_locks.py
  tools/cloud-build/provision/kueue-locks.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

chore: add license headers, update terraform provider requirements, remove legacy documentation
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-reaper-pod.yaml
  tools/cloud-build/daily-tests/validate_kueue_tests.py
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/generate_kueue_locks.py
  tools/cloud-build/provision/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

removed labels from pods level
  cmd/job/submit.go
  pkg/orchestrator/gke/templates/jobset.tmpl
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
Due: addlicense

fix(slurm-gcp): resolve GCE and GCS client endpoints for custom universe domains
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

feat(examples): add hpc c3 slurm cluster blueprint for Google Cloud Dedicated
  community/examples/hpc-slurm-google-cloud-dedicated/README.md
  community/examples/hpc-slurm-google-cloud-dedicated/hpc-slurm-google-cloud-dedicated.yaml
  examples/README.md
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

fix(slurm-gcp): support batch_execute in custom universe domains
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
Due: addlicense

fix: remove EXIT trap from wait_for_available_zone.sh and modularise the daily tests of kueue pod cleanup (#6154)
  tools/cloud-build/daily-tests/builds/ansible-vm.yaml
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop.yaml
  tools/cloud-build/daily-tests/builds/e2e.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-hyperdisk.yaml
  tools/cloud-build/daily-tests/builds/gke-managed-lustre.yaml
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/builds/hcls.yaml
  tools/cloud-build/daily-tests/builds/hpc-build-slurm-image.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/htc-slurm.yaml
  tools/cloud-build/daily-tests/builds/htcondor.yaml
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm.yaml
  tools/cloud-build/daily-tests/builds/monitoring.yaml
  tools/cloud-build/daily-tests/builds/netapp-volumes.yaml
  tools/cloud-build/daily-tests/builds/packer.yaml
  tools/cloud-build/daily-tests/builds/pfs-managed-lustre-slurm.yaml
  tools/cloud-build/daily-tests/builds/pfs-managed-lustre-vm.yaml
  tools/cloud-build/daily-tests/builds/slurm-flex.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-debian.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-reconfig-size.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-simple-job-completion.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ssd.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-startup-scripts.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-topology.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/slurm-gke.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
  tools/cloud-build/kueue_cleanup_pod.sh
  tools/cloud-build/wait_for_available_zone.sh
Due: duplicate-diff, addlicense

Replace obsoleted google-cloud-sdk with google-cloud-cli
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
  tools/cloud-build/images/test-runner/Dockerfile
Due: duplicate-diff, addlicense

automate the custom gke.gcsfuse.profileUser IAM role creation in cloud-storage-bucket module for GCS Fuse Anywhere Cache
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/main.tf
  modules/file-system/cloud-storage-bucket/metadata.yaml
  modules/file-system/gke-persistent-volume/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat: extract job name from manifest in cloud build script
  tools/cloud-build/submit_and_monitor_kueue_job.sh
Due: duplicate-diff, addlicense

chore: improve robust job name extraction in kueue submission script
  tools/cloud-build/submit_and_monitor_kueue_job.sh
Due: duplicate-diff, addlicense

Create unified GKE consumption options user guide
  docs/gke-compact-placement.md
  docs/gke-consumption-options.md
  examples/gke-a3-megagpu/README.md
  examples/gke-a3-megagpu/gke-a3-megagpu-deployment.yaml
Due: addlicense

modifying logic as per gemini comments
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix PyMarkdown formatting in docs/gke-consumption-options.md
  docs/gke-consumption-options.md
Due: addlicense

restrict zone capacity lookup to exact match
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

Resolve Kueue monitor timeouts for tests with abbreviated job names (#6227)
  tools/cloud-build/submit_and_monitor_kueue_job.sh
Due: duplicate-diff, addlicense

Updating unit test to address false condition
  cmd/job/submit_test.go
  pkg/orchestrator/gke/manifest_generator_test.go
Due: addlicense

nit
  pkg/orchestrator/gke/templates/pathways_jobset.tmpl
Due: addlicense

nit
  cmd/job/submit.go
Due: addlicense

update terraform-provider version to >= 6.9.0, <= 8.0.0
  pkg/config/expand.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Refine GKE consumption options doc and NCCL JobSet headings
  docs/gke-consumption-options.md
  examples/gke-a3-megagpu/README.md
Due: addlicense

gcsfuse_iam_role
  modules/file-system/cloud-storage-bucket/README.md
  modules/file-system/cloud-storage-bucket/main.tf
  modules/file-system/cloud-storage-bucket/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix Slurm nodes draining on DCGM deadline expiration
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tools/gpu-test
Due: addlicense

role_id name changes
  modules/file-system/cloud-storage-bucket/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

change role_id
  modules/file-system/cloud-storage-bucket/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

test(chs): enable chs standard suite on all supported gpu and tpu tests
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-chs.yml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4x.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-7x.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v5e.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v5p.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e-flex.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4x-highgpu-slurm.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu-onspot.yml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
  tools/cloud-build/daily-tests/tests/gke-a3-ultragpu.yml
  tools/cloud-build/daily-tests/tests/gke-a4x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-7x.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e-flex.yml
  tools/cloud-build/daily-tests/tests/gke-tpu-v6e.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-onspot-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-megagpu-slurm-ubuntu.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-slurm.yml
  tools/cloud-build/daily-tests/tests/ml-a4x-highgpu-slurm.yml
Due: addlicense

refactor: improve Kueue test reliability through enhanced reaper logic, robust credential handling, and corrected resource parsing.
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-reaper-pod.yaml
  tools/cloud-build/daily-tests/validate_kueue_tests.py
  tools/cloud-build/provision/apply_kueue_locks.sh
  tools/cloud-build/provision/generate_kueue_locks.py
Due: duplicate-diff, addlicense

refactor: stabilize kueue test automation with improved resource validation, robust pod parsing, and flexible cluster configuration
  tools/cloud-build/daily-tests/blueprints/test-infra-kueue/configs/kueue-reaper-pod.yaml
  tools/cloud-build/daily-tests/validate_kueue_tests.py
  tools/cloud-build/provision/apply_kueue_locks.sh
  tools/cloud-build/provision/generate_kueue_locks.py
Due: duplicate-diff, addlicense

Add Filestore and Lustre availability and quota checks for zone selection (#6205)
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-megagpu-onspot-slurm-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-jbvms.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm.yaml
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

update expat to resolve OFE deployment 502 error
  community/front-end/ofe/infrastructure_files/gcs_bucket/webserver/startup.sh
Due: duplicate-diff, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
