Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Consistently capitalize NFS in the NFS server community module
  community/modules/file-system/nfs-server/README.md
  community/modules/file-system/nfs-server/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase version to 1.48.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix network names backward compatibility for A3 Mega and A3 High
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add disk size vars in deployment file vars for a3U
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
Due: addlicense

Adding Automatic Prolog/Epilog Slurm GPU Health Checks
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tools/gpu-test
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  docs/CHS-Slurm.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add nvidia gpu operator manifest
  examples/gpu-operator-configuration-files/gpu-operator-template.yaml
Due: addlicense

fix lint errors
  examples/gpu-operator-configuration-files/gpu-operator-template.yaml
Due: addlicense

move gpu-operator configuration files to community
  community/examples/gpu-operator-configuration-files/gpu-operator-template.yaml
Due: addlicense

Update file type to avoid false failures
  community/examples/gpu-operator-configuration-files/gpu-operator-template.yaml.tftpl
Due: duplicate-diff, addlicense

Add A3-Ultra Rocky 9 VM Blueprint
  examples/machine-learning/a3-ultragpu-8g/a3ultra-rocky-vm.yaml
Due: addlicense

Make job template name descriptive
  examples/ml-gke.yaml
Due: addlicense

Improve job naming for simplifying documentation
  modules/compute/gke-job-template/metadata.yaml
Due: addlicense

Delete local requirements.txt and update it to use slurm-gcp requirements
  Makefile
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/requirements.txt
Due: addlicense

update gpu-operator configuration
  community/examples/gpu-operator-configuration-files/gpu-operator-template.yaml.tftpl
Due: duplicate-diff, addlicense

add default value for k8s_network_names properties
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Rollback name injection change
  modules/compute/gke-job-template/metadata.yaml
Due: addlicense

unify gke a3 ultra blueprints
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/system_benchmarks/README.md
  examples/gke-a3-ultragpu/system_benchmarks/ramble-hpl.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nccl.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nemo.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/README.md
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/deployment.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/kueue-configuration.yaml.tftpl
  examples/hypercompute_clusters/a3u-gke-gcs/nccl-rdma-installer.yaml
Due: duplicate-diff, addlicense

Update integration test configurations
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
Due: addlicense

Add log to topology test
  tools/python-integration-tests/slurm_topology.py
Due: addlicense

Adding the ability to create a systemd service.
  modules/scripts/startup-script/README.md
  modules/scripts/startup-script/main.tf
  modules/scripts/startup-script/templates/create-service.yml.tftpl
  modules/scripts/startup-script/templates/startup-script-custom.tftpl
  modules/scripts/startup-script/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Move /home directory mount from NFS to GCS
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/util.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/slurm_files.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

support multiple nodepools in gke nodepool module
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4-highgpu/gke-a4-highgpu.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  modules/compute/gke-job-template/README.md
  modules/compute/gke-job-template/main.tf
  modules/compute/gke-job-template/variables.tf
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/outputs.tf
  modules/compute/gke-node-pool/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add support for Kueue 0.11.1. Consolidate non-TAS and TAS ResourceFlavors to a single ResourceFlavor which supports both.
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/kueue-configuration.yaml.tftpl
  examples/gke-a4-highgpu/gke-a4-highgpu.yaml
  examples/gke-a4-highgpu/kueue-configuration.yaml.tftpl
  examples/hypercompute_clusters/a3u-gke-gcs/kueue-configuration.yaml.tftpl
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

REVIEW: Remove explicit version definition and setting a default one set by TF.
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a4-highgpu/gke-a4-highgpu.yaml
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Bump NCCL/gIB version to 1.0.5
  examples/gke-a3-ultragpu/nccl-installer.yaml
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
  examples/gke-a4-highgpu/nccl-installer.yaml
  examples/gke-a4-highgpu/nccl-jobset-example.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/nccl-rdma-installer.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nccl.yaml
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/Dockerfile
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/system_benchmarks/run-nccl-tests-via-ramble.sh
Due: duplicate-diff, addlicense

Bump NCCL/gIB version to 1.0.5
  examples/gke-a3-ultragpu/nccl-installer.yaml
  examples/gke-a3-ultragpu/nccl-jobset-example.yaml
  examples/gke-a4-highgpu/nccl-installer.yaml
  examples/gke-a4-highgpu/nccl-jobset-example.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/nccl-rdma-installer.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/system_benchmarks/ramble-nccl.yaml
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a3-ultragpu-8g/nemo-framework/Dockerfile
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-vm.yaml
  examples/machine-learning/a4-highgpu-8g/system_benchmarks/run-nccl-tests-via-ramble.sh
Due: duplicate-diff, addlicense

add kueue v0.11.1 manifest
  modules/management/kubectl-apply/manifests/kueue-v0.11.1.yaml
Due: addlicense

unify gke a3 ultra blueprints
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/system_benchmarks/README.md
  examples/gke-a3-ultragpu/system_benchmarks/ramble-hpl.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nccl.yaml
  examples/gke-a3-ultragpu/system_benchmarks/ramble-nemo.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/README.md
  examples/hypercompute_clusters/a3u-gke-gcs/a3u-gke-gcs.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/deployment.yaml
  examples/hypercompute_clusters/a3u-gke-gcs/kueue-configuration.yaml.tftpl
  examples/hypercompute_clusters/a3u-gke-gcs/nccl-rdma-installer.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-ultragpu.yaml
Due: duplicate-diff, addlicense

support resource manager tags for instances and disks
  community/examples/hpc-slurm-local-ssd.yaml
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/main.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/variables.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/README.md
  community/modules/compute/schedmd-slurm-gcp-v6-partition/variables.tf
  community/modules/internal/slurm-gcp/instance_template/README.md
  community/modules/internal/slurm-gcp/instance_template/main.tf
  community/modules/internal/slurm-gcp/instance_template/variables.tf
  community/modules/internal/slurm-gcp/internal_instance_template/README.md
  community/modules/internal/slurm-gcp/internal_instance_template/main.tf
  community/modules/internal/slurm-gcp/internal_instance_template/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/controller.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/login.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/partition.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/variables_controller_instance.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/README.md
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/main.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fixing pre commit errors
  community/modules/compute/notebook/README.md
Due: addlicense

Add DWS Flex integration test and arbitrary blueprint execution
  tools/cloud-build/daily-tests/builds/slurm-flex.yaml
  tools/cloud-build/daily-tests/validate_tests_metadata.py
  tools/python-integration-tests/blueprints/slurm-flex.yaml
  tools/python-integration-tests/slurm_simple_job_completion.py
Due: addlicense

Workaround python changes to support older images
  community/modules/internal/slurm-gcp/instance_template/files/startup_sh_unlinted
Due: addlicense

Add omnia deprecation warning
  community/modules/scripts/omnia-install/README.md
Due: addlicense

fix pre-commit error
  community/modules/compute/notebook/README.md
Due: addlicense

integrate gpu operator in kubectl
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/manifests/gpu-operator.yaml
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

add support for integrating custom configuration for gpu operator
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update description for gpu operator
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
