Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

docs(ctk): add gcloud-verified testing evidence to the CMEK module READMEs
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key/README.md
  community/modules/security/pre-existing-kms-key/README.md
Due: addlicense

Bucket Creation
  cmd/create.go
  go.mod
Due: addlicense

Refactor GCS bucket check for offline workflows and dynamic variables
  cmd/create.go
Due: addlicense

timeout handling
  cmd/create.go
Due: addlicense

Fix CI test failures by skipping GCS bucket creation in tests
  cmd/create.go
  tools/validate_configs/golden_copies/expectations/igc_tf/instructions.txt
  tools/validate_configs/golden_copies/validate.sh
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

GCS bucket creation
  cmd/create.go
  community/examples/README.md
  examples/README.md
  examples/gke-a3-highgpu/README.md
  examples/gke-a3-megagpu/README.md
  examples/gke-a3-ultragpu/README.md
  examples/gke-a4/README.md
  examples/gke-a4x-max-bm/README.md
  examples/gke-a4x/README.md
  examples/gke-consumption-options/dws-flex-start-compact-placement/gke-h4d/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/README.md
  examples/gke-consumption-options/dws-flex-start/README.md
  examples/gke-consumption-options/dws-flex-start/gke-tpu-7x/README.md
  examples/gke-consumption-options/dws-flex-start/gke-tpu-v6e/README.md
  examples/gke-g4-confidential/README.md
  examples/gke-g4/README.md
  examples/gke-h4d/README.md
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-v5e/README.md
  examples/gke-tpu-v6e/README.md
  examples/hpc-slurm-h4d/README.md
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/machine-learning/a3-megagpu-8g/README.md
  examples/machine-learning/a3-ultragpu-8g/README.md
  examples/machine-learning/a4-highgpu-8g/README.md
  examples/machine-learning/a4x-highgpu-4g/README.md
  examples/machine-learning/a4x-maxgpu-4g-metal/README.md
  examples/science/af3-slurm/README.md
  pkg/modulewriter/modulewriter.go
Due: addlicense

Fix auto-approve validation, bucket checks, and add test coverage
  cmd/create.go
  cmd/create_test.go
  cmd/deploy.go
  cmd/utils.go
  pkg/modulewriter/modulewriter_test.go
Due: addlicense

Fix bucket validation and variables
  cmd/create.go
  pkg/modulewriter/modulewriter.go
Due: addlicense

Update create.go
  cmd/create.go
Due: addlicense

move GCS backend bucket creation from create phase to deploy phase
  cmd/create.go
  cmd/create_test.go
  cmd/deploy.go
  cmd/deploy_test.go
  cmd/utils.go
Due: addlicense

feat(testing): cut over daily test suite to Kueue scheduling (#6142)
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a2-highgpu-kueue-onspot_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-a4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a4-onspot_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-g4-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-g4-onspot_old.yaml.bak
  tools/cloud-build/kueue_cleanup_pod.sh
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix CIDR validations
  examples/gke-a3-highgpu/gke-a3-highgpu.yaml
  modules/scheduler/gke-cluster/metadata.yaml
  pkg/validators/metadata_validator_helpers.go
  pkg/validators/metadata_validators.go
  pkg/validators/metadata_validators_test.go
  pkg/validators/registry.go
Due: addlicense

fix whitespace formatting
  pkg/validators/metadata_validator_helpers.go
  pkg/validators/metadata_validators.go
  pkg/validators/metadata_validators_test.go
  pkg/validators/registry.go
Due: addlicense

fix: refactor CIDRValidator to reduce cyclomatic complexity and fix yamllint
  modules/scheduler/gke-cluster/metadata.yaml
  pkg/validators/metadata_validators.go
Due: addlicense

fix(job): dynamically discover main container name for logs stream with main-only (#6107)
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
Due: addlicense

resolving tpu v5p test failure
  examples/gke-tpu-v5p/README.md
  pkg/config/machine_mappings.json
  tools/cloud-build/daily-tests/tests/gke-tpu-v5p.yml
Due: addlicense

Cut over daily test suite to Kueue scheduling
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update terraform-provider version to >= 6.9.0, <= 7.44.0 (#6095)
  pkg/config/expand.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Cut over daily test suite to Kueue scheduling
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot_old.yaml.bak
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/builds/h4d-vm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Centralize pod cleanup for kueue daily tests
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm.yaml
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update docs and messages
  cmd/create.go
  cmd/deploy.go
  cmd/utils.go
  community/examples/README.md
  examples/gke-a3-ultragpu/README.md
  examples/gke-a4/README.md
  examples/gke-a4x/README.md
  examples/gke-consumption-options/dws-flex-start-compact-placement/gke-h4d/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-7x/README.md
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/gke-tpu-v6e/README.md
  examples/gke-consumption-options/dws-flex-start/README.md
  examples/gke-consumption-options/dws-flex-start/gke-tpu-7x/README.md
  examples/gke-consumption-options/dws-flex-start/gke-tpu-v6e/README.md
  examples/machine-learning/a3-megagpu-8g/README.md
  tools/validate_configs/golden_copies/validate.sh
Due: addlicense

test blueprint
  examples/test-vm.yaml
Due: addlicense

removed debug print statements
  pkg/validators/metadata_validator_helpers.go
Due: addlicense

remove whitespace
  pkg/config/validate.go
Due: addlicense

remove comments
  pkg/validators/metadata_validators.go
Due: addlicense

fix panics and support ipv6 validation in variables.tf
  modules/scheduler/gke-cluster/variables.tf
  pkg/validators/metadata_validators.go
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(testing): cut over daily test suite to Kueue scheduling (#6132)
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-h4d-onspot_old.yaml.bak
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/daily-tests/builds/h4d-vm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-h4d-onspot-slurm_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update contribution guidelines (#6139)
  CONTRIBUTING.md
  docs/module-guidelines.md
Due: addlicense

feat: GKE storage pool blueprint and integration test updates
  examples/storage-gke.yaml
  examples/vm-storage.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-storage-pool.yml
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/vm-storage.yaml
  tools/cloud-build/daily-tests/tests/gke-storage.yml
Due: addlicense

feat: rename vm storage
  examples/storage-vm.yaml
  tools/cloud-build/daily-tests/builds/vm-storage.yaml
  tools/cloud-build/daily-tests/tests/vm-storage.yml
Due: addlicense

reuse GetUniqueGcsBuckets and update READMEs
  cmd/create.go
  cmd/deploy.go
  cmd/utils.go
  examples/gke-a3-megagpu/README.md
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-v6e/README.md
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/machine-learning/a4x-highgpu-4g/README.md
  pkg/modulewriter/modulewriter.go
Due: addlicense

feat: slurm storage pool blueprint and integration changes
  examples/storage-slurm.yaml
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-slurm-storage.yml
  tools/cloud-build/daily-tests/builds/slurm-storage.yaml
  tools/cloud-build/daily-tests/tests/slurm-storage.yaml
  tools/cloud-build/daily-tests/validate_tests_metadata.py
Due: addlicense

fix: update storage-slurm configuration, standardize test file extensions, and clean up GKE/VM storage test build definitions
  examples/storage-slurm.yaml
  tools/cloud-build/daily-tests/builds/gke-storage.yaml
  tools/cloud-build/daily-tests/builds/slurm-storage.yaml
  tools/cloud-build/daily-tests/builds/vm-storage.yaml
  tools/cloud-build/daily-tests/tests/slurm-storage.yml
  tools/cloud-build/daily-tests/tests/vm-storage.yml
  tools/cloud-build/daily-tests/validate_tests_metadata.py
Due: addlicense

minor nits
  examples/gke-g4-confidential/README.md
Due: addlicense

feat(testing): cut over daily test suite to Kueue scheduling (#6147)
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a3-highgpu-onspot-slurm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-a4-highgpu-onspot-slurm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm.yaml
  tools/cloud-build/daily-tests/builds/ml-g4-onspot-slurm_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

refactor: update storage pool validation to check instance templates
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-slurm-storage.yml
Due: addlicense

refactor: rename storage blueprint, add storage-vm example, update documentation and testing configurations
  examples/README.md
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-gke-storage-pool.yml
Due: addlicense

Cut over daily test suite to Kueue scheduling
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-highgpu-onspot_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot.yaml
  tools/cloud-build/daily-tests/builds/gke-a3-megagpu-onspot_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e.yaml
  tools/cloud-build/daily-tests/builds/gke-tpu-v6e_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs(gke-g4-confidential): document Spot and DWS Flex Start GPU consumption options (#6140)
  examples/gke-g4-confidential/README.md
Due: addlicense

Address C shell modules profile comments
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/common/files/zz-modules.csh
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/common/tasks/main.yaml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
