Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Update Slurm service-account permissions
  examples/hpc-enterprise-slurm.yaml
Due: addlicense

Update README.md
  modules/management/kubectl-apply/README.md
Due: addlicense

Changing the Service Account Name in chs-permission
  examples/gke-a3-megagpu/chs-permissions.yaml.tftpl
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
Due: duplicate-diff, addlicense

CHS for A3 ultra
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
Due: addlicense

OFE: slurm job monitoring
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/files/ghpcfe_c2daemon.py
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/tasks/main.yaml
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/spack_install/tasks/main.yaml
  community/front-end/ofe/tf/main.tf
  community/front-end/ofe/tf/outputs.tf
  community/front-end/ofe/website/ghpcfe/admin.py
  community/front-end/ofe/website/ghpcfe/cluster_manager/c2.py
  community/front-end/ofe/website/ghpcfe/models.py
  community/front-end/ofe/website/ghpcfe/templates/base_generic.html
  community/front-end/ofe/website/ghpcfe/templates/benchmark/detail.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/check_delete.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/detail.html
  community/front-end/ofe/website/ghpcfe/templates/cluster/list.html
  community/front-end/ofe/website/ghpcfe/templates/job/detail.html
  community/front-end/ofe/website/ghpcfe/templates/job/list.html
  community/front-end/ofe/website/ghpcfe/templates/job/log.html
  community/front-end/ofe/website/ghpcfe/templatetags/job_extras.py
  community/front-end/ofe/website/ghpcfe/views/clusters.py
  community/front-end/ofe/website/ghpcfe/views/jobs.py
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "CHS for A3 ultra"
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
Due: addlicense

OFE: hamburger menu fix
  community/front-end/ofe/infrastructure_files/gcs_bucket/clusters/ansible_setup/roles/c2_daemon/files/ghpcfe_c2daemon.py
  community/front-end/ofe/website/ghpcfe/static/css/sidebar.css
  community/front-end/ofe/website/ghpcfe/static/js/sidebar.js
  community/front-end/ofe/website/ghpcfe/templates/base_generic.html
  community/front-end/ofe/website/ghpcfe/templates/job/list.html
Due: addlicense

CHS for A3 Ultra
  examples/gke-a3-ultragpu/chs-cronjob.yaml.tftpl
  examples/gke-a3-ultragpu/chs-permissions.yaml.tftpl
  examples/gke-a3-ultragpu/chs-pvc.yaml.tftpl
  examples/gke-a3-ultragpu/gke-a3-ultragpu-deployment.yaml
  examples/gke-a3-ultragpu/gke-a3-ultragpu.yaml
  examples/gke-a3-ultragpu/read-chs-logs-job.yaml
Due: duplicate-diff, addlicense

CHS for a4
  examples/gke-a3-megagpu/read-chs-logs-job.yaml
  examples/gke-a4/chs-cronjob.yaml.tftpl
  examples/gke-a4/chs-permissions.yaml.tftpl
  examples/gke-a4/chs-pvc.yaml.tftpl
  examples/gke-a4/gke-a4-deployment.yaml
  examples/gke-a4/gke-a4.yaml
  examples/gke-a4/read-chs-logs-job.yaml
Due: duplicate-diff, addlicense

Increase version to 1.57.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

install chs on common and a3m image
  examples/machine-learning/build-service-images/a3m/blueprint.yaml
  examples/machine-learning/build-service-images/common/blueprint.yaml
Due: addlicense

remove kueue topology annotation as dws does not work with tas (yet)
  examples/gke-consumption-options/dws-flex-start-queued-provisioning/nccl-jobset-example.yaml
  examples/gke-consumption-options/dws-flex-start/nccl-jobset-example.yaml
Due: addlicense

Add manifest enable documentation
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add missing gke-managed-component toleration
  modules/management/kubectl-apply/manifests/kueue-v0.12.2.yaml
Due: addlicense

Fix the feature flag setting
  modules/management/kubectl-apply/manifests/kueue-v0.12.2.yaml
Due: addlicense

Remove Kueue manifest files for versions we don't want to support
  modules/management/kubectl-apply/manifests/kueue-v0.8.1.yaml
  modules/management/kubectl-apply/manifests/kueue-v0.9.0.yaml
  modules/management/kubectl-apply/manifests/kueue-v0.9.1.yaml
Due: addlicense

Add retry ability for google-cloud-ops-agent.service during setup
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup.py
Due: addlicense

Fix formatting
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Revert "[Bugfix] Applying K8s manifests to GKE clusters via URL"
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/kubectl/README.md
  modules/management/kubectl-apply/kubectl/main.tf
  modules/management/kubectl-apply/kubectl/versions.tf
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
  modules/management/kubectl-apply/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add license to the Kueue manifest
  modules/management/kubectl-apply/manifests/kueue-v0.12.2.yaml
Due: addlicense

removed all parallelstore modules
  modules/README.md
  modules/compute/gke-job-template/variables.tf
  modules/file-system/gke-storage/README.md
  modules/file-system/gke-storage/main.tf
  modules/file-system/gke-storage/storage-class/parallelstore-sc.yaml.tftpl
  modules/file-system/gke-storage/variables.tf
  modules/file-system/parallelstore/README.md
  modules/file-system/parallelstore/main.tf
  modules/file-system/parallelstore/metadata.yaml
  modules/file-system/parallelstore/outputs.tf
  modules/file-system/parallelstore/scripts/install-daos-client.sh
  modules/file-system/parallelstore/templates/mount-daos.sh.tftpl
  modules/file-system/parallelstore/variables.tf
  modules/file-system/parallelstore/versions.tf
  modules/file-system/pre-existing-network-storage/README.md
  modules/file-system/pre-existing-network-storage/outputs.tf
  modules/file-system/pre-existing-network-storage/scripts/install-daos-client.sh
  modules/file-system/pre-existing-network-storage/templates/mount-daos.sh.tftpl
  modules/file-system/pre-existing-network-storage/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Undoes the revert of the PR #4292 Revert "Merge pull request #4350 from GoogleCloudPlatform/revert-4292-shubham/bugs/apply-manifest-from-url"
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/kubectl/README.md
  modules/management/kubectl-apply/kubectl/main.tf
  modules/management/kubectl-apply/kubectl/versions.tf
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
  modules/management/kubectl-apply/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add try block in manifest source
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

refactoring the try block for null check
  modules/management/kubectl-apply/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

cluster-toolkit-writers-list
  cluster-toolkit-writers.json
Due: addlicense

Update nccl rdma and nvidia driver configs for a4x
  .yamllint
  examples/gke-a4x/nccl-rdma-installer.yaml
  examples/gke-a4x/nvidia-dra-driver.yaml
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update cluster-toolkit-writers.json to include kadupoornima
  cluster-toolkit-writers.json
Due: addlicense

Add kadupoornima to cluster-toolkit-writers
  cluster-toolkit-writers.json
Due: addlicense

Adding username to writer json
  cluster-toolkit-writers.json
Due: addlicense

Adding username to writer son
  cluster-toolkit-writers.json
Due: addlicense

Addign username
  cluster-toolkit-writers.json
Due: addlicense

Addign username at the end
  cluster-toolkit-writers.json
Due: addlicense

Adding username- jhpriy
  cluster-toolkit-writers.json
Due: addlicense

gke-node-pool module to use instead of provider
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adjust version
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Implement asynch suspend.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/etc/slurm.conf.tpl
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/conf.py
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/suspend_wrapper.sh
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/tests/test_conf.py
Due: duplicate-diff, addlicense
