Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

.pre-commit-config.yaml:

# Copyright 2022 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

---
repos:
- repo: https://github.com/antonbabenko/pre-commit-terraform
  rev: v1.82.0
  hooks:
  - id: terraform_fmt
  - id: terraform_tflint
    args:
    - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  - id: terraform_validate
    args:
    - --hook-config=--retry-once-with-cleanup=true
- repo: local
  hooks:
  - id: terraform-readme
    name: terraform-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    types: [terraform]
    exclude: (\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: packer-readme
    name: packer-readme
    entry: tools/autodoc/terraform_docs.sh
    language: script
    files: ^.*\.pkr\.hcl$
    exclude: (pkg\/.*$)|(tools/validate_configs/golden_copies/.*)
    pass_filenames: true
    require_serial: true
  - id: duplicate-diff
    name: duplicate-diff
    entry: python3 tools/duplicate-diff.py
    language: python
    language_version: python3
    files: '.*(\.sh|\.tf|\.tftpl)$'
    pass_filenames: true
    require_serial: true
  - id: module-label-check
    name: module-label-check
    entry: python3 tools/label-check.py
    language: python
    language_version: python3
    files: '.*\.tf$'
    pass_filenames: false
    require_serial: true
  - id: addlicense
    name: addlicense
    language: system
    entry: addlicense
    args: ['-c', '"Google LLC"', '-l', 'apache']
    exclude: docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh
    pass_filenames: true

- repo: https://github.com/dnephin/pre-commit-golang
  rev: v0.5.1
  hooks:
  - id: go-fmt
  - id: go-vet
  - id: go-imports
  - id: go-cyclo
    args: [-over=13]
  - id: go-unit-tests
  - id: go-mod-tidy
# Disabled temporarily due to https://github.com/go-critic/go-critic/issues/1388
# - repo: https://github.com/tekwizely/pre-commit-golang
#   rev: v1.0.0-rc.1
#   hooks:
#   - id: go-critic
- repo: https://github.com/Bahjat/pre-commit-golang
  rev: v1.0.2
  hooks:
  - id: go-static-check
- repo: https://github.com/adrienverge/yamllint
  rev: v1.32.0
  hooks:
  - id: yamllint
    args: [-c=.yamllint]
- repo: https://github.com/jackdewinter/pymarkdown
  rev: v0.9.12
  hooks:
  - id: pymarkdown
    # Rules at https://github.com/jackdewinter/pymarkdown/tree/main/docs/rules
    # MD013 - Line length
    # MD022 - Headers should be surrounded by blank lines
    # MD033 - Inline HTML
    # MD034 - Bare URL used
    # MD041 - First line in file should be a top level header
    # MD046 - Code block style
    args: [--disable-rules, "MD013,MD022,MD033,MD034,MD041,MD046", scan]
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: "3.0.0"
  hooks:
  - id: script-must-have-extension
  - id: shellcheck
  - id: shfmt
    exclude: ".*tpl"
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: end-of-file-fixer
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.6
  hooks:
  - id: codespell
    exclude: requirements.txt$|/js/|go.sum$
exclude: tools/validate_configs/golden_copies/.*

Migrating configure_kueue to helm
  .yamllint
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/raw-config-chart/Chart.yaml
  modules/management/kubectl-apply/raw-config-chart/templates/manifests.yaml
  modules/management/kubectl-apply/raw-config-chart/values.yaml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

A4X-Max Bare Metal GKE toolkit blueprint
  examples/gke-a4x-max-bm/README.md
  examples/gke-a4x-max-bm/asapd-lite-installer.yaml
  examples/gke-a4x-max-bm/gke-a4x-max-bm-deployment.yaml
  examples/gke-a4x-max-bm/gke-a4x-max-bm.yaml
  examples/gke-a4x-max-bm/nccl-jobset-example.yaml
  examples/gke-a4x-max-bm/nvidia-dra-driver.yaml
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/variables.tf
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/variables.tf
  modules/network/gpu-rdma-vpc/main.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
  tools/validate_configs/validate_configs.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix: add network interface to htcondor execute point module + update htcondor templates version
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  community/modules/scheduler/htcondor-access-point/README.md
  community/modules/scheduler/htcondor-access-point/main.tf
  community/modules/scheduler/htcondor-central-manager/README.md
  community/modules/scheduler/htcondor-central-manager/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Fix Readme
  examples/machine-learning/a4x-highgpu-4g/README.md
Due: addlicense

Apply suggestion from @gemini-code-assist[bot]
  examples/machine-learning/a4x-highgpu-4g/README.md
Due: addlicense

Fix Space
  examples/machine-learning/a4x-highgpu-4g/README.md
Due: addlicense

A4X JBVM Readme & Topology Changes (#5231)
  examples/machine-learning/a4x-highgpu-4g/README.md
  examples/machine-learning/a4x-highgpu-4g/a4x-vm-deployment.yaml
  examples/machine-learning/a4x-highgpu-4g/a4x-vm.yaml
Due: addlicense

review comments 1
  tools/cloud-build/daily-tests/ansible_playbooks/tasks/add-instance-labels.yml
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
Due: addlicense

update placeholder instructions
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-deployment.yaml
Due: addlicense

upgrade slurm to 25.11.2
  community/examples/hpc-build-slurm-image.yaml
Due: addlicense

remove a3u-gcs blueprint
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/README.md
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/a3u-slurm-ubuntu-gcs.yaml
  examples/hypercompute_clusters/a3u-slurm-ubuntu-gcs/deployment.yaml
  examples/machine-learning/a3-ultragpu-8g/system_benchmarks/README.md
  examples/machine-learning/a3-ultragpu-8g/system_benchmarks/run-hpl-via-ramble.sh
  examples/machine-learning/a3-ultragpu-8g/system_benchmarks/run-nccl-tests-via-ramble.sh
  examples/machine-learning/a3-ultragpu-8g/system_benchmarks/run-nemo-via-ramble.sh
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

handling review 2
  tools/cloud-build/daily-tests/builds/h4d-vm.yaml
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

handling review 3
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

tag detection and gcs upload
  tools/publish_release.sh
Due: duplicate-diff, addlicense

Module deprecation warning system
  cmd/create.go
  pkg/config/deprecation_validate.go
  pkg/config/deprecation_validate_test.go
  pkg/config/validate.go
  pkg/logging/logging.go
  pkg/modulereader/metadata.go
Due: addlicense

handling precommits
  tools/cloud-build/find_available_zone.sh
Due: duplicate-diff, addlicense

MT
  tools/cloud-build/check_running_build.sh
Due: duplicate-diff, addlicense

Fix comments
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
Due: addlicense

Modified Test
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
Due: addlicense

Infrastructure testing changes
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/builds/ml-a3-ultragpu-onspot-slurm.yaml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
Due: addlicense

Having Prefix for base_network_name
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
Due: addlicense

Add randomness
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
Due: addlicense

Fix
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
Due: addlicense

update self link
  examples/README.md
Due: addlicense

updating writerSegment function to handle multi-line commands
  pkg/shell/writer.go
  pkg/shell/writer_test.go
Due: addlicense

[improvement] change ctk-tags to reflect their source
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  modules/file-system/cloud-storage-bucket/scripts/mount.sh
  modules/file-system/pre-existing-network-storage/scripts/mount.sh
Due: duplicate-diff, addlicense

[feature] Add/append app_name 'ctk' in gcfuse app-name
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/setup_network_storage.py
  modules/file-system/cloud-storage-bucket/scripts/mount.sh
  modules/file-system/pre-existing-network-storage/scripts/mount.sh
Due: duplicate-diff, addlicense

Test infra test changes
  tools/cloud-build/check_running_build.sh
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
Due: duplicate-diff, addlicense

fix pre-commit
  tools/cloud-build/check_running_build.sh
  tools/cloud-build/daily-tests/ansible_playbooks/base-integration-test.yml
Due: duplicate-diff, addlicense

check concurrent builds
  tools/cloud-build/check_running_build.sh
Due: duplicate-diff, addlicense

modify var naming in test
  tools/cloud-build/check_running_build.sh
  tools/cloud-build/daily-tests/tests/ml-a3-ultragpu-onspot-slurm.yml
Due: duplicate-diff, addlicense

modify check running builds
  tools/cloud-build/check_running_build.sh
Due: duplicate-diff, addlicense

Add logs in check running builds, test failure point
  tools/cloud-build/check_running_build.sh
Due: duplicate-diff, addlicense

update terraform-provider version to >= 6.9.0, <= 7.18.0
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

fix: venv python path for different os
  community/modules/compute/htcondor-execute-point/README.md
  community/modules/compute/htcondor-execute-point/main.tf
  community/modules/compute/htcondor-execute-point/variables.tf
  modules/scripts/startup-script/files/install_ansible.sh
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update check build logic
  tools/cloud-build/check_running_build.sh
Due: duplicate-diff, addlicense
