Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Fix and expand the disk auto-deletion system in the NFS Server module
  community/modules/file-system/nfs-server/README.md
  community/modules/file-system/nfs-server/main.tf
  community/modules/file-system/nfs-server/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update tests to remove the non-functioning auto_delete_disk NFS setting
  tools/cloud-build/daily-tests/blueprints/monitoring.yaml
  tools/validate_configs/test_configs/centos8-ss.yaml
  tools/validate_configs/test_configs/debian-ss.yaml
  tools/validate_configs/test_configs/hpc-centos-ss.yaml
  tools/validate_configs/test_configs/nfs-servers.yaml
  tools/validate_configs/test_configs/node-groups.yaml
  tools/validate_configs/test_configs/rocky-ss.yaml
  tools/validate_configs/test_configs/slurm-gcp-v6-startup-scripts.yaml
  tools/validate_configs/test_configs/ubuntu-ss.yaml
Due: addlicense

Update modules/compute/vm-instance/main.tf
  modules/compute/vm-instance/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add the HPC Slinky blueprint to the Example Blueprints documentation
  examples/README.md
Due: addlicense

Disable GCP public CIDRs access (GKE control plane) by default for improved security (HPC Slinky blueprint example)
  community/examples/hpc-slinky.yaml
Due: addlicense

Add HPC Slinky example documentation around GKE node pool design and autoscaling
  examples/README.md
Due: addlicense

Lower the HPC Slinky example debug nodeset CPU requests/limits, to reduce initial node pool requirements and associated provisioning times
  community/examples/hpc-slinky.yaml
Due: addlicense

Refactor the Slurm Exporter pod monitoring by shifting from an inline specification to a separate file in the HPC Slinky example
  community/examples/hpc-slinky/exporter-pod-monitoring.yaml
  community/examples/hpc-slinky/hpc-slinky.yaml
  examples/README.md
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

Add a project ID comment and default deployment name to the HPC Slinky example, to follow conventions
  community/examples/hpc-slinky/hpc-slinky.yaml
Due: addlicense

Add a Slinky integration test
  tools/cloud-build/daily-tests/tests/slinky.yml
Due: addlicense

Create additional disks with consistent dev names
  modules/compute/vm-instance/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Refine and refactor the Slinky node affinities system
  community/modules/scheduler/slinky/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix guestcpus loop to handle null entry for zones
  modules/compute/gke-node-pool/guest_cpus.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Bump protobuf and django version in /community/front-end/ofe
  community/front-end/ofe/requirements.txt
Due: addlicense

Enable support for DNS based endpoint in GKE
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

create gpu operator namespace
  modules/management/kubectl-apply/manifests/gpu-operator.yaml
Due: addlicense

update gpu operator design
  modules/management/kubectl-apply/README.md
  modules/management/kubectl-apply/main.tf
  modules/management/kubectl-apply/manifests/gpu-operator-v24.9.2.yaml
  modules/management/kubectl-apply/variables.tf
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update a3ultra-slurm-deployment.yaml
  examples/quantum-simulation/a3ultra-slurm-deployment.yaml
Due: addlicense

update imex and dra driver modules
  modules/management/kubectl-apply/manifests/nvidia-dra-driver.yaml
Due: addlicense

update gpu operator
  modules/management/kubectl-apply/manifests/gpu-operator-v24.9.2.yaml
Due: addlicense

Add a build config for the Slinky integration test, to complete the setup for base-integration-test.yml
  tools/cloud-build/daily-tests/builds/slinky.yml
  tools/cloud-build/daily-tests/tests/slinky.yml
Due: addlicense

Add a layer of validation to the Slinky integration test - confirm a simple srun job successfully executes on the provisioned Slinky cluster
  tools/cloud-build/daily-tests/ansible_playbooks/test-validation/test-slinky.yml
  tools/cloud-build/daily-tests/tests/slinky.yml
Due: addlicense

Fix the first step ID (typo) in the Slinky integration test build config
  tools/cloud-build/daily-tests/builds/slinky.yml
Due: addlicense

add reservation, and gcsfuse & parallelstore flags
  examples/gke-a3-megagpu/gke-a3-megagpu-deployment.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
Due: addlicense

update reservation example value
  examples/gke-a3-megagpu/gke-a3-megagpu-deployment.yaml
  examples/gke-a3-megagpu/gke-a3-megagpu.yaml
  tools/cloud-build/daily-tests/tests/gke-a3-megagpu.yml
Due: addlicense

fix the GKE A3 Mega daily test issue
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

OFE: artifact registry module addition
  community/front-end/ofe/tf/tkfe.lock
Due: addlicense

Update filestore timeout config based on high capacity tier
  modules/file-system/filestore/README.md
  modules/file-system/filestore/main.tf
  modules/file-system/filestore/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

AlphaFold 3 High Throughput Solution (af3-slurm)
  examples/README.md
  examples/science/af3-slurm/README.md
  examples/science/af3-slurm/adm/af3-htc-architecture.png
  examples/science/af3-slurm/adm/apptainer_image.yml
  examples/science/af3-slurm/adm/controller.yml
  examples/science/af3-slurm/adm/datapipeline.yml
  examples/science/af3-slurm/adm/inference.yml
  examples/science/af3-slurm/adm/onetime_prepare_databasebucket.yml
  examples/science/af3-slurm/af3-slurm-blueprint.yaml
  examples/science/af3-slurm/af3-slurm-deployment.yaml
  examples/science/af3-slurm/examples/simple_job_launcher/README.md
  examples/science/af3-slurm/examples/simple_job_launcher/af3-job-launcher.yml
  examples/science/af3-slurm/examples/simple_job_launcher/launch_af3_job.sh.j2
  examples/science/af3-slurm/examples/simple_service_launcher/README.md
  examples/science/af3-slurm/examples/simple_service_launcher/af3-service.yml
  examples/science/af3-slurm/examples/simple_service_launcher/af3-user.yml
  examples/science/af3-slurm/examples/simple_service_launcher/af3config.json.j2
  examples/science/af3-slurm/examples/simple_service_launcher/requirements.txt
  examples/science/af3-slurm/examples/simple_service_launcher/simple_service_launcher.py
Due: addlicense

Handle PR comments
  modules/file-system/filestore/main.tf
  modules/file-system/filestore/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add comment for filestore tier condition block error message.
  modules/file-system/filestore/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update README
  modules/file-system/filestore/README.md
Due: addlicense

added experimental badge and fixed broken link
  examples/README.md
Due: addlicense

corrected wrongly placed experimental badge
  examples/README.md
Due: addlicense

fixed broken link in overview section of README
  examples/README.md
Due: addlicense

added missing 's' to link definition
  examples/README.md
Due: addlicense

renamed blueprint to af3-slurm.yaml to follow convention of example blueprints
  examples/README.md
  examples/science/af3-slurm/README.md
  examples/science/af3-slurm/af3-slurm.yaml
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
