Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

Update versioned_blueprint.yaml
  tools/validate_configs/golden_copies/configs/versioned_blueprint.yaml
Due: none

Update README.md
  examples/README.md
Due: addlicense

Update batch-high-io.yaml
  docs/videos/build-your-own-blueprint/batch-high-io.yaml
Due: addlicense

Update main.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/main.tf
Due: none

Update expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
Due: none

Update metadata_legacy.go
  pkg/modulereader/metadata_legacy.go
Due: addlicense

Update htc-slurm.yaml
  community/examples/htc-slurm.yaml
Due: addlicense

Update pfs-lustre.yaml
  examples/pfs-lustre.yaml
Due: addlicense

Update hpc-enterprise-slurm.yaml
  examples/hpc-enterprise-slurm.yaml
Due: addlicense

Update expand_test.go
  pkg/config/expand_test.go
Due: addlicense

Update README.md
  modules/README.md
Due: addlicense

Update exascaler-existing-vpc.yaml
  tools/validate_configs/test_configs/exascaler-existing-vpc.yaml
Due: addlicense

Update test_outputs.yaml
  tools/validate_configs/test_configs/test_outputs.yaml
Due: addlicense

Update exascaler-new-vpc.yaml
  tools/validate_configs/test_configs/exascaler-new-vpc.yaml
Due: addlicense

Adding new cleanup script for unresponive Slurm nodes
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/modules/slurm_files/scripts/cleanup.py
Due: addlicense

First iteration for inference gateway
  examples/README.md
  examples/gke-a3-highgpu-inference-gateway.yaml
  modules/scheduler/gke-cluster/README.md
  modules/scheduler/gke-cluster/main.tf
  modules/scheduler/gke-cluster/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Adding a variable to skip the machine-type mismatch for aggregate TPU reservations
  modules/compute/gke-node-pool/reservation_definitions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Increase version to 1.69.0
  cmd/root.go
  community/modules/compute/htcondor-execute-point/versions.tf
  community/modules/compute/mig/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-dynamic/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset-tpu/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-nodeset/versions.tf
  community/modules/compute/schedmd-slurm-gcp-v6-partition/versions.tf
  community/modules/database/slurm-cloudsql-federation/versions.tf
  community/modules/file-system/cloud-storage-bucket/versions.tf
  community/modules/file-system/nfs-server/versions.tf
  community/modules/files/fsi-montecarlo-on-batch/versions.tf
  community/modules/internal/slurm-gcp/login/versions.tf
  community/modules/network/private-service-access/versions.tf
  community/modules/project/service-enablement/versions.tf
  community/modules/pubsub/bigquery-sub/versions.tf
  community/modules/pubsub/topic/versions.tf
  community/modules/scheduler/htcondor-access-point/versions.tf
  community/modules/scheduler/htcondor-central-manager/versions.tf
  community/modules/scheduler/htcondor-pool-secrets/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-controller/versions.tf
  community/modules/scheduler/schedmd-slurm-gcp-v6-login/versions.tf
  community/modules/scripts/wait-for-startup/versions.tf
  community/modules/scripts/windows-startup-script/versions.tf
  modules/compute/gke-node-pool/versions.tf
  modules/compute/vm-instance/versions.tf
  modules/file-system/filestore/versions.tf
  modules/file-system/gke-persistent-volume/versions.tf
  modules/file-system/gke-storage/versions.tf
  modules/file-system/managed-lustre/versions.tf
  modules/monitoring/dashboard/versions.tf
  modules/network/firewall-rules/versions.tf
  modules/network/pre-existing-subnetwork/versions.tf
  modules/network/pre-existing-vpc/versions.tf
  modules/scheduler/batch-login-node/versions.tf
  modules/scheduler/gke-cluster/versions.tf
  modules/scheduler/pre-existing-gke-cluster/versions.tf
  modules/scripts/startup-script/versions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

refactored folder structure, added readme and deployemnt file for h4d-slurm
  examples/README.md
  examples/hpc-slurm-h4d/README.md
  examples/hpc-slurm-h4d/hpc-slurm-h4d-deployment.yaml
  examples/hpc-slurm-h4d/hpc-slurm-h4d.yaml
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

updated validation configuraiton
  tools/validate_configs/validate_configs.sh
Due: duplicate-diff, addlicense

nccl tests for G4
  examples/gke-g4/gke-g4.yaml
  examples/gke-g4/nccl-installer.yaml.tftpl
  examples/gke-g4/nccl-jobset-example.yaml
Due: duplicate-diff, addlicense

Merge pull request #4766 from agrawalkhushi18/v7x-blueprint
  modules/compute/gke-node-pool/reservation_definitions.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Updated lustre-slurm.yaml
  tools/cloud-build/daily-tests/blueprints/lustre-slurm.yaml
Due: addlicense

Updated lustre-vm.yaml
  tools/cloud-build/daily-tests/blueprints/lustre-vm.yaml
Due: addlicense

Adding GCS storage support for TPU v6e Making gke-node-pool module, gke-job-template module TPU compliant Adding new tpu v6 blueprint with advanced storage options
  community/examples/gke-tpu-v6/README.md
  community/examples/gke-tpu-v6/gke-tpu-v6-advanced.yaml
  modules/compute/gke-job-template/README.md
  modules/compute/gke-job-template/main.tf
  modules/compute/gke-job-template/templates/gke-job-base.yaml.tftpl
  modules/compute/gke-job-template/variables.tf
  modules/compute/gke-node-pool/README.md
  modules/compute/gke-node-pool/main.tf
  modules/compute/gke-node-pool/outputs.tf
  modules/internal/tpu-definition/README.md
  modules/internal/tpu-definition/main.tf
  modules/internal/tpu-definition/outputs.tf
  modules/internal/tpu-definition/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Removing Maintainence Interval For A3H/A3M
  examples/machine-learning/a3-highgpu-8g/README.md
  examples/machine-learning/a3-highgpu-8g/ml-slurm-a3-2-cluster.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-blueprint.yaml
  examples/machine-learning/a3-megagpu-8g/a3mega-slurm-deployment.yaml
Due: addlicense

update terraform-provider version to >= 6.9.0, <= 7.7.0
  pkg/config/expand.go
  pkg/config/expand_test.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

Update docs with uninstall logging agent
  modules/scripts/startup-script/README.md
Due: addlicense

Adding reservation option to h4d jbvm
  examples/h4d-vm.yaml
Due: addlicense

Fix NCCL test failure.
  modules/scheduler/gke-cluster/main.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update README.md with logging agent uninstallation steps
  modules/scripts/startup-script/README.md
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
