Repository GoogleCloudPlatform/cluster-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

terraform-readme:
  name: terraform-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

packer-readme:
  name: packer-readme
  entry: tools/autodoc/terraform_docs.sh
  language: script
  pass_filenames: true
  require_serial: true

duplicate-diff:
  name: duplicate-diff
  entry: python3 tools/duplicate-diff.py
  language: python
  language_version: python3
  pass_filenames: true
  require_serial: true

module-label-check:
  name: module-label-check
  entry: python3 tools/label-check.py
  language: python
  language_version: python3
  pass_filenames: false
  require_serial: true

addlicense:
  name: addlicense
  language: system
  entry: addlicense
  args:
  - -c
  - '"Google LLC"'
  - -l
  - apache
  pass_filenames: true

docs: update gcluster job guide with --gke-namespace flag (#6090)
  docs/gcluster_job_guide.md
Due: addlicense

removing top level var
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v6e/README.md
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
Due: addlicense

nit
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-v6e/README.md
Due: addlicense

Update kueue config paths for GKE TPU examples (#6057)
  examples/gke-tpu-7x/README.md
  examples/gke-tpu-7x/gke-tpu-7x-advanced.yaml
  examples/gke-tpu-7x/gke-tpu-7x.yaml
  examples/gke-tpu-v6e/README.md
  examples/gke-tpu-v6e/gke-tpu-v6e-advanced.yaml
  examples/gke-tpu-v6e/gke-tpu-v6e.yaml
Due: addlicense

fix: satisfy pre-commit for apptainer modules
  community/modules/container/apptainer-app/README.md
  community/modules/container/apptainer-runtime/README.md
  community/modules/container/apptainer-runtime/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

update terraform-provider version to >= 6.9.0, <= 7.43.0
  pkg/config/expand.go
  tools/validate_configs/golden_copies/expectations/igc_pkr/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_pkr/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/igc_tf/one/versions.tf
  tools/validate_configs/golden_copies/expectations/igc_tf/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/merge_flatten/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/merge_flatten/zero/versions.tf
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/.ghpc/artifacts/expanded_blueprint.yaml
  tools/validate_configs/golden_copies/expectations/versioned_blueprint/primary/versions.tf
Due: addlicense

[Docs] Clarify default dynamic slicing Kueue template usage and custom config path support in docs/gke-advanced-features.md
  docs/gke-advanced-features.md
Due: addlicense

Update TPU v5 and v4 blueprints with kueue config info
  examples/gke-tpu-v4/README.md
  examples/gke-tpu-v4/gke-tpu-v4.yaml
  examples/gke-tpu-v5e/README.md
  examples/gke-tpu-v5e/gke-tpu-v5e.yaml
  examples/gke-tpu-v5p/README.md
  examples/gke-tpu-v5p/gke-tpu-v5p.yaml
Due: addlicense

[Docs] Also update Pathways Kueue config description in docs/gke-advanced-features.md
  docs/gke-advanced-features.md
Due: addlicense

[Docs] Document PR 6057 unified Kueue resource groups and quota behavior in Pathways section
  docs/gke-advanced-features.md
Due: addlicense

cut over daily test suite to Kueue scheduling
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/builds/gke_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/builds/ml-gke_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Add integration test for gke-tpu-v5p (pathways) (#6084)
  tools/cloud-build/daily-tests/builds/gke-tpu-v5p.yaml
  tools/cloud-build/daily-tests/tests/gke-tpu-v5p.yml
Due: addlicense

feat(testing): cut over daily test suite to Kueue scheduling (#6079)
  tools/cloud-build/daily-tests/builds/gcluster-dockerfile.yaml
  tools/cloud-build/daily-tests/builds/gcluster-dockerfile_old.yaml.bak
  tools/cloud-build/daily-tests/builds/hpc-build-slurm-image.yaml
  tools/cloud-build/daily-tests/builds/hpc-build-slurm-image_old.yaml.bak
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm_old.yaml.bak
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

Update TPU v5 and v4 blueprints with kueue config (#6096)
  examples/gke-tpu-v4/README.md
  examples/gke-tpu-v4/gke-tpu-v4.yaml
  examples/gke-tpu-v5e/README.md
  examples/gke-tpu-v5e/gke-tpu-v5e.yaml
  examples/gke-tpu-v5p/README.md
  examples/gke-tpu-v5p/gke-tpu-v5p.yaml
Due: addlicense

feat(a4x-max):Configure GRUB PCIe ACS overrides in A4X-Max
  examples/machine-learning/a4x-maxgpu-4g-metal/a4xmax-bm-slurm-blueprint.yaml
Due: addlicense

TAG=agy CONV=972855a1-29a0-4ab4-9fcd-045455203704 Add paths to telemetry collector
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/telemetry/collector_test.go
Due: addlicense

feat(gke): Add custom templates path override
  cmd/job/gke_template_extract.go
  cmd/job/job.go
  cmd/job/submit.go
  docs/gcluster_job_guide.md
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
  pkg/orchestrator/gke/manifest_generator.go
  pkg/orchestrator/gke/storage.go
  pkg/orchestrator/gke/templates.go
  pkg/orchestrator/gke/templates_test.go
  pkg/orchestrator/gke/types.go
  pkg/orchestrator/orchestrator.go
Due: addlicense

Enhance Terraform version error message (#6032)
  pkg/dependencies/resolver.go
  pkg/dependencies/resolver_test.go
Due: addlicense

patch fix to support TCPXO allowlisting in dev env
  modules/project/service-account/main.tf
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

adding retry mechanism around gcluster creation to fix the service account access issue, removing delay to ensure more robustness
  modules/project/service-account/main.tf
  modules/project/service-account/outputs.tf
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

updated delay in the service account dependency
  modules/project/service-account/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

using inventory alias for controller node
  tools/cloud-build/daily-tests/ansible_playbooks/slurm-integration-test.yml
Due: addlicense

feat(testing): cut over daily test suite to Kueue scheduling (#6093)
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation_old.yaml.bak
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/builds/gke_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e_old.yaml.bak
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/builds/ml-gke_old.yaml.bak
  tools/cloud-build/provision/README.md
  tools/cloud-build/provision/variables.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

fix the dcgm package installation sequence to resolve apt dependency conflicts
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

DCGM version upgrade in A3H
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

Upgrade to 4.6.1 removing apt loop
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

fix yamllint error in blueprint due to trailing whitespace
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

Update workflow trigger to pull_request in dev scan
  .github/workflows/github_actions_scan_dev.yml
Due: addlicense

nit
  pkg/config/config.go
Due: addlicense

Align NVIDIA package installation sequence and methodology across a3u, a4h and a4x
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

fix the dcgm package installation sequence to resolve apt dependency … (#6020)
  examples/machine-learning/a3-highgpu-8g/a3high-slurm-blueprint.yaml
Due: addlicense

remove update cache
  examples/machine-learning/a3-ultragpu-8g/a3ultra-slurm-blueprint.yaml
  examples/machine-learning/a4-highgpu-8g/a4high-slurm-blueprint.yaml
  examples/machine-learning/a4x-highgpu-4g/a4xhigh-slurm-blueprint.yaml
Due: addlicense

refactor: update Cloud Build logsBucket configuration
  tools/cloud-build/daily-tests/builds/ansible-vm.yaml
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop.yaml
  tools/cloud-build/daily-tests/builds/e2e.yaml
  tools/cloud-build/daily-tests/builds/gcluster-dockerfile.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/builds/hcls.yaml
  tools/cloud-build/daily-tests/builds/hpc-build-slurm-image.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/htc-slurm.yaml
  tools/cloud-build/daily-tests/builds/htcondor.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm.yaml
  tools/cloud-build/daily-tests/builds/monitoring.yaml
  tools/cloud-build/daily-tests/builds/packer.yaml
  tools/cloud-build/daily-tests/builds/slurm-flex.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/daily-tests/builds/slurm-gke.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
Due: addlicense

[Telemetry] Add support to collect blueprint names from new paths (#6098)
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/telemetry/collector_test.go
Due: addlicense

refactor: update Cloud Build logsBucket configuration (#6104)
  tools/cloud-build/daily-tests/builds/ansible-vm.yaml
  tools/cloud-build/daily-tests/builds/batch-mpi.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop-ubuntu.yaml
  tools/cloud-build/daily-tests/builds/chrome-remote-desktop.yaml
  tools/cloud-build/daily-tests/builds/e2e.yaml
  tools/cloud-build/daily-tests/builds/gcluster-dockerfile.yaml
  tools/cloud-build/daily-tests/builds/gke-inactive-reservation.yaml
  tools/cloud-build/daily-tests/builds/gke.yaml
  tools/cloud-build/daily-tests/builds/hcls.yaml
  tools/cloud-build/daily-tests/builds/hpc-build-slurm-image.yaml
  tools/cloud-build/daily-tests/builds/hpc-enterprise-slurm.yaml
  tools/cloud-build/daily-tests/builds/htc-slurm.yaml
  tools/cloud-build/daily-tests/builds/htcondor.yaml
  tools/cloud-build/daily-tests/builds/ml-gke-e2e.yaml
  tools/cloud-build/daily-tests/builds/ml-gke.yaml
  tools/cloud-build/daily-tests/builds/ml-slurm.yaml
  tools/cloud-build/daily-tests/builds/monitoring.yaml
  tools/cloud-build/daily-tests/builds/packer.yaml
  tools/cloud-build/daily-tests/builds/slurm-flex.yaml
  tools/cloud-build/daily-tests/builds/slurm-gcp-v6-rocky8.yaml
  tools/cloud-build/daily-tests/builds/slurm-gke.yaml
  tools/cloud-build/daily-tests/builds/spack-gromacs.yaml
Due: addlicense

fix(gke): remove topology nodeLabels from ResourceFlavor and omit exclusiveTopology when slicing
  pkg/orchestrator/gke/gke_job_orchestrator.go
  pkg/orchestrator/gke/gke_job_orchestrator_test.go
  pkg/orchestrator/gke/infra_manager.go
  pkg/orchestrator/gke/infra_manager_test.go
Due: addlicense

feat(ctk): accept a CMEK key in Filestore, images and attached services
  community/modules/container/artifact-registry/main.tf
  community/modules/container/artifact-registry/variables.tf
  community/modules/database/slurm-cloudsql-federation/main.tf
  community/modules/database/slurm-cloudsql-federation/variables.tf
  modules/file-system/filestore/main.tf
  modules/file-system/filestore/variables.tf
  modules/packer/custom-image/image.pkr.hcl
  modules/packer/custom-image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/igc_pkr/one/image/variables.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/image.pkr.hcl
  tools/validate_configs/golden_copies/expectations/text_escape/zero/lime/variables.pkr.hcl
Due: terraform-readme, packer-readme, duplicate-diff, module-label-check, addlicense

feat(ctk): enable cloudkms in the examples and add AR/Cloud SQL use aliases
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key-iam/outputs.tf
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

feat(ctk): add Cloud KMS modules for customer-managed encryption
  community/modules/security/kms-key-iam/README.md
  community/modules/security/kms-key-iam/main.tf
  community/modules/security/kms-key-iam/metadata.yaml
  community/modules/security/kms-key-iam/outputs.tf
  community/modules/security/kms-key-iam/variables.tf
  community/modules/security/kms-key-iam/versions.tf
  community/modules/security/kms-key/README.md
  community/modules/security/kms-key/main.tf
  community/modules/security/kms-key/metadata.yaml
  community/modules/security/kms-key/outputs.tf
  community/modules/security/kms-key/variables.tf
  community/modules/security/kms-key/versions.tf
  community/modules/security/pre-existing-kms-key/README.md
  community/modules/security/pre-existing-kms-key/main.tf
  community/modules/security/pre-existing-kms-key/metadata.yaml
  community/modules/security/pre-existing-kms-key/outputs.tf
  community/modules/security/pre-existing-kms-key/variables.tf
  community/modules/security/pre-existing-kms-key/versions.tf
  modules/README.md
Due: terraform-readme, duplicate-diff, module-label-check, addlicense

docs(ctk): add CMEK example blueprints
  community/examples/kms-key-per-service.yaml
  community/examples/kms-key.yaml
  examples/README.md
Due: addlicense

Path conditions:
  terraform-readme: any of: \.(tf|tfvars)$ and not ((\.terraform|pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  packer-readme: any of: ^.*\.pkr\.hcl$ and not ((pkg\/.*$)|(tools/validate_configs/golden_copies/.*)) and not (tools/validate_configs/golden_copies/.*)
  duplicate-diff: any of: .*(\.sh|\.tf|\.tftpl)$, but not: tools/validate_configs/golden_copies/.*
  module-label-check: any of: .*\.tf$, but not: tools/validate_configs/golden_copies/.*
  addlicense: any of: not (docs/videos/healthcare-and-life-sciences/lysozyme-example/submit.sh), but not: tools/validate_configs/golden_copies/.*
